<div id="top6">
  {{ range .Site.Data.top6.top6 }}
    <!-- Sets the Title -->
    {{ $.Scratch.Set "card_title" .title }}
    <!-- Sets the File -->
    {{ $.Scratch.Set "card_file" .file }}
    <!-- Sets the Summary -->
    {{ $.Scratch.Set "card_summary" .summary }}
    <!-- Sets the type -->
    {{ $.Scratch.Set "card_type" .type }}

    {{ with $.Site.GetPage "page" .file }}
      <!-- Checks to see if the .title exists in the data file.
      If not, it uses the .Title from the referenced file -->
      {{ $card_title := $.Scratch.Get "card_title" }}
      {{ if not $card_title }}
        {{ $.Scratch.Set "card_title" (.Title | markdownify) }}
      {{ end }}
      <!-- Checks to see if the .summary exists in the data file.
      If not, it uses the .Summary from the referenced file -->
      {{ $card_summary := $.Scratch.Get "card_summary" }}
      {{ if not $card_summary }}
        {{ $.Scratch.Set "card_summary" (.Params.summary | markdownify) }}
      {{ end }}

      <!-- sets the $card_type -->
      {{ $card_type := $.Scratch.Get "card_type" }}

      {{ if eq $card_type "post"}}
      <div class="card card-{{ $card_type }}">
        <div class="media">
          <a href="{{ .Permalink }}" title="{{ $.Scratch.Get "card_title" }}">
            {{ partial "img-featured--home.html" . }}
          </a>
        </div>
        <h3><a href="{{ .Permalink }}" title="{{ $.Scratch.Get "card_title" }}">{{ $.Scratch.Get "card_title" }}</a></h3>
        <p class="summary">
          {{ $.Scratch.Get "card_summary" }}
        </p>
      </div>
      {{ end }}

      {{ if eq $card_type "video"}}
      <div class="card {{ $card_type }}">
        <div class="youtube-player" data-id="{{ .Params.youtube_id }}"></div>
        <h3><a href="{{ .Permalink }}" title="{{ $.Scratch.Get "card_title" }}">{{ $.Scratch.Get "card_title" }}</a></h3>
        <p class="summary">
          {{ $.Scratch.Get "card_summary" }}
        </p>
      </div>
      {{ end }}

      {{ if eq $card_type "event"}}
      <div class="card {{ $card_type }}">
        <div class="youtube-player" data-id="{{ .Params.youtube_id }}"></div>
        <h3><a href="{{ .Permalink }}" title="{{ $.Scratch.Get "card_title" }}">{{ $.Scratch.Get "card_title" }}</a></h3>
        <p class="summary">
          {{ $.Scratch.Get "card_summary" }}
        </p>
      </div>
      {{ end }}

    {{ end }}
    <!-- ends the with statement -->
  {{ end }}
  <!-- ends the range -->
</div>
