<body class="{{ $.Scratch.Get "bodyclasses" }}">
  
  <div id="bs"><div><p><strong><span>Due to a lapse in government funding</span>, all digitalgov.gov sites, services and online survey collection requests will be unavailable until further notice.</strong></p><p class="bs_usa">Updates regarding government operating status and resumption of normal operations can be found at <a href="https://usa.gov" title="https://usa.gov">usa.gov</a>.</p><a href="#" title="Close" id="bs_close">Continue to digitalgov.gov »</a></div></div>


  {{ if eq .Section "events" }}
    <script type="text/javascript">(function () {
      if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
      if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
          s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
          var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>
  {{ end }}

  {{ if eq ($.Scratch.Get "env") "site" }}
  {{ else }}
    {{ partial "notice-bar.html" . }}
  {{ end }}

  {{ partial "usa-banner.html" . }}
  {{ partial "nav-fixed-navbar.html" . }}

  <a class="screen-reader-popup" href="#content" title="Skip to page content">Skip to page content</a>


  <div id="outer-wrap">

    {{ partial "nav-top-nav.html" . }}
    {{ partial "header.html" . }}

    <div id="wrap">
      {{ if ($.Scratch.Get "has_sidebar") }}
        <div id="page" class="clearfix">
          <div class="page-border clearfix">
      {{ end }}
