<section id="events">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="events_page">
          <div class="events_current events_list">
            <div class="events_head">
              <h1>Upcoming Events</h1>
              <p>
                <a href="https://www.youtube.com/digitalgov" title="View all DigitalGov videos and training">All training & videos »</a>
              </p>
            </div>

            {{ range where .Data.Pages.ByDate "Section" "events" }}
              {{ if ge .Date.Unix (now.AddDate 0 0 -1) }}
                {{ .Render "li"}}
              {{ end }}
            {{ end }}

          </div>

          <a href="/events" class="btn btn-open">View past events</a>

        </div>
      </div>

    </div>
  </div>
</section>
