
{{ $these := slice "resources" "services" "communities" }}
{{ $findInPages := where .Site.Pages "Section" "in" $these }}

<section id="news">
  <div class="container">
    <div class="row">
      <div class="col featured">
      {{ range $i, $e := first 2 ($.Site.Data.featured_videos.featured) }}

        {{ $c :=add $i 1 }}
        <div class="entry">
          <div class="youtube-player" data-id="{{ .uid }}"></div>
          <h3 class="post-title"><a href="https://www.youtube.com/watch?v={{ .uid }}" title="{{ .title }}">{{ .title }}</a></h3>
        </div>

      {{ end }}
      </div>
      <div class="col featured-news ">
        {{ range first 20 (where .Site.Pages "Section" "posts") }}
        <div class="entry">
          <h3 class="post-title"><a href="{{ .Permalink }}" title="{{ .Title | markdownify }}">{{ .Title | markdownify }}</a></h3>
          <p class="catslide-excerpt">
            {{ .Params.summary | truncate 140 | default .Summary | safeHTML | markdownify  }}
          </p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
