<div id="top6">
  {{ range .Site.Data.top6.top6 }}
    <!-- Sets the Title -->
    {{ $.Scratch.Set "d_title" .title }}
    <!-- Sets the File -->
    {{ $.Scratch.Set "d_file" .file }}
    <!-- Sets the Summary -->
    {{ $.Scratch.Set "d_summary" .summary }}

    {{ with $.Site.GetPage "page" .file }}
      <!-- Checks to see if the .title exists in the data file.
      If not, it uses the .Title from the referenced file -->
      {{ $d_title := $.Scratch.Get "d_title" }}
      {{ if not $d_title }}
        {{ $.Scratch.Set "d_title" (.Title | markdownify) }}
      {{ end }}
      <!-- Checks to see if the .summary exists in the data file.
      If not, it uses the .Summary from the referenced file -->
      {{ $d_summary := $.Scratch.Get "d_summary" }}
      {{ if not $d_summary }}
        {{ $.Scratch.Set "d_summary" (.Params.summary | markdownify) }}
      {{ end }}

      <div class="card card-news">
        <div class="media">
          <a href="{{ .Permalink }}" title="{{ $.Scratch.Get "d_title" }}">
          </a>
        </div>
        <h3><a href="{{ .Permalink }}" title="{{ $.Scratch.Get "d_title" }}">{{ $.Scratch.Get "d_title" }}</a></h3>
        <p class="summary">
          {{ $.Scratch.Get "d_summary" }}
        </p>
      </div>
    {{ end }}
  {{ end }}

</div>

<div id="top6">

  {{ range first 6 (where .Site.Pages "Section" "posts") }}
    {{ partial "news-featured.html" . }}
  {{ end }}
</div>
