<div id="catslide-widget-2" class="widget widget-1 widget-first catslide">
  <div class="widget-wrap">
    <script type="text/javascript">
      //<![CDATA[

      (function() {

        // store the slider in a local variable
        var $window = jQuery(window),
          flexslider;

        function getSlideItems() {
          return (window.innerWidth < 353) ? 1 :
            (window.innerWidth < 801) ? 2 : 3;
        }

        jQuery(window).load(function() {
          jQuery('#featured-cat-thumbnav-8c61').flexslider({
            animationLoop: true,
            animationSpeed: 300,
            animation: 'slide',
            slideshow: false,
            smoothHeight: true,
            controlNav: false,
            useCSS: false,
            itemWidth: 100,
            itemMargin: 0,
            minItems: getSlideItems(),
            maxItems: getSlideItems()
          });
        });

        // check grid size on resize event
        jQuery(window).resize(function() {
          var gridSize = getSlideItems();
        });

      }());

      //]]>
    </script>

    <div class="featured cat clearfix">
      <div class="catslide-intro">
        <h3 class="widgettitle"><span>Latest News</span></h3>
      </div><!-- .catslide-intro -->
      <div id="featured-cat-thumbnav-8c61" class="myflexslider thumbnav 0 clearfix">
        <ul class="slides clearfix">

          {{/* for item.sort(date,desc).limit(6) in recentNews */}}
          {{ range first 6 (where .Site.Pages "Section" "post") }}
            {{ partial "news--item.html" . }}
          {{ end }}

        </ul><!-- .slides -->
      </div><!-- .myflexslider -->
    </div><!-- .featured.cat -->
  </div><!-- .widget-wrap -->
</div><!-- .catslide -->
