<div id="featposts-widget-4" class="widget widget-3 featposts">
  <div class="widget-wrap">
    <h3 class="widgettitle"><span>Programs &#038; Services</span></h3>
    <div class='cat-posts-widget textwidget'>
    </div>
  </div>
</div>


{{ $these := slice "resources" "services" "communities" }}
{{ $findInPages := where .Site.Pages "Section" "in" $these }}

<section id="featured-videos">
  <div class="container">
    <div class="row">
      <div class="col-3">
      {{ range $i, $e := first 6 ($.Site.Data.featured_videos.featured) }}

        {{ $c :=add $i 1 }}
        <div class="entry">
          <div class="youtube-player" data-id="{{ .uid }}"></div>
          <h3 class="post-title"><a href="https://www.youtube.com/watch?v={{ .uid }}" title="{{ .title }}">{{ .title }}</a></h3>
          <p class="catslide-excerpt">
            {{ .summary }}
          </p>
        </div>
        {{ if eq ( mod $c 3 ) (add 0 0) }}
        ====================================
        </div>
        <div class="col-3">
        {{ end }}

      {{ end }}
      </div>
    </div>
  </div>
</section>
