<body class="{{ $.Scratch.Get "bodyclasses" }}">
  {{ if eq .Section "events" }}
    <script type="text/javascript">(function () {
      if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
      if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
          s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
          var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>
  {{ end }}

  {{ partial "notice-bar.html" . }}

  {{ partial "nav-fixed-navbar.html" . }}

  <a class="screen-reader-popup" href="#content" title="Skip to page content">Skip to page content</a>


  <div id="outer-wrap">

    {{ partial "nav-top-nav.html" . }}
    {{ partial "header.html" . }}

    <div id="wrap">
      {{ if ($.Scratch.Get "has_sidebar") }}
        <div id="page" class="clearfix">
          <div class="page-border clearfix">
      {{ end }}
