<div id="featposts-widget-4" class="widget widget-3 featposts">
  <div class="widget-wrap">
    <h3 class="widgettitle"><span>Programs &#038; Services</span></h3>
    <div class='cat-posts-widget textwidget'>
    </div>
  </div>
</div>

{{ $these := slice "resources" "services" "communities" }}
{{ $findInPages := where .Site.Pages "Section" "in" $these }}

{{ range $.Site.Data.featured_programs.featured }}
  {{ $match := first 1 (where $findInPages ".Params.uid" .uid) }}
  {{ if ge (len $match) 1 }}
    {{ range $match }}
      {{ partial "service--featured.html" . }}
    {{ end }}
  {{ end }}
{{ end }}
