{{ $t := (time .Params.end_date) }}

{{ if ($t.After now) eq "true" }}
<div class="event-actions">
  <a class="btn event_register" href="{{ .Params.registration_url }}" onclick="__gaTracker('send', 'event', 'outbound-article', '{{ .Params.registration_url }}', 'REGISTER NOW');">Register</a>
  {{ $event_startDate := dateFormat "2006-01-02 03:04 PM" (time .Params.date) }}
  {{ $event_endDate := dateFormat "2006-01-02 03:04 PM" (time .Params.end_date) }}
  {{ $event_url := (print "\n\nEvent Page: https:" .Permalink) }}
  {{ $.Scratch.Set "event_youtube" "" }}
  {{ if (isset .Params "youtube_id") }}
    {{ $.Scratch.Set "event_youtube" (print "\nYouTube LIVE: https://www.youtube.com/watch?v=" .Params.youtube_id) }}
  {{ end }}
  {{ $event_youtube := $.Scratch.Get "event_youtube" }}
  {{ $event_title := .Title | markdownify }}
  {{ $event_desc := $.Params.summary | default $.Site.Params.description | markdownify }}
  {{ $event_description := (print $event_desc $event_url $event_youtube) }}
  {{ $event_location := .Params.venue.venue_name }}

  <span class="addtocalendar btn">
    <var class="atc_event">
      <var class="atc_date_start">{{ $event_startDate }}</var>
      <var class="atc_date_end">{{ $event_endDate }}</var>
      <var class="atc_timezone">America/New_York</var>
      <var class="atc_title">{{ $event_title }}</var>
      <var class="atc_description">{{ htmlUnescape $event_description | safeHTML }}</var>
      <var class="atc_location">{{ $event_location }}</var>
      <var class="atc_organizer">DigitalGov</var>
      <var class="atc_organizer_email">digitalgov@gsa.gov</var>
    </var>
  </span>
</div>
{{ end }}
