{{ $t := (time .Params.Date) }}
<div class="stage" data-eventdate="{{ dateFormat "2006-01-02" .Date }}">

  <div class="video-box">
  {{ if ($t.After now) eq "true" }}
    <div class="youtube-player">
      <iframe src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?autoplay=1" frameborder="0" allowfullscreen="1"></iframe>
    </div>
  {{ else }}
    <div class="youtube-player" data-id="{{ .Params.youtube_id }}"></div>
  {{ end }}
  </div>

  <!-- Check to see if there is a parameter in the front matter -->
  <!-- chatbox: false -->
  {{ if (not (isset .Params "chatbox")) }}
    <!-- Check to see if the event is in the future -->
    {{ if ($t.After now) eq "true" }}
    <div class="chat-box">
      <iframe allowfullscreen="" height="365px" frameborder="0" src="https://www.youtube.com/live_chat?v={{ .Params.youtube_id }}&embed_domain=www.digitalgov.gov&output=embed" scrolling="auto"></iframe>
    </div>
    {{ end }}
  {{ else }}
    OFF
  {{ end }}

  <p>
    <a href="https://www.youtube.com/watch?v={{ .Params.youtube_id }}" title="Watch on YouTube"><strong>Watch on YouTube</strong></a>
    <!-- <a href="https://www.youtube.com/live_chat?v={{ .Params.youtube_id }}&is_popout=1" title="View Live Chat on YouTube"><strong>Live Chat</strong></a> -->
  </p>

</div>
