{{ $start_time := (time .Params.Date) }}
{{ $end_time := (time .Params.end_date) }}
<div class="stage" data-eventdate="{{ dateFormat "2006-01-02" .Date }}">

  <div class="video-box">
  {{/* If is in future */}}
  {{ if ($end_time.After now) eq "true" }}
    <div class="youtube-player">
      <iframe src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?autoplay=1" frameborder="0" allowfullscreen="1"></iframe>
    </div>
  {{/* If is in past */}}
  {{ else }}
    <div class="youtube-player" data-id="{{ .Params.youtube_id }}"></div>
  {{ end }}
  </div>

  <!-- Check to see if there is a parameter in the front matter -->
  <!-- chatbox: false -->
  {{ if (not (isset .Params "chatbox")) }}
    <!-- If $end_time of the event is after the current time (or in the future) -->
    {{/* If is in future */}}
    {{ if ($end_time.After now) eq "true" }}
    <div class="chat-box">
      <iframe allowfullscreen="" height="400px" frameborder="0" src="https://www.youtube.com/live_chat?v={{ .Params.youtube_id }}&embed_domain=digital.gov&output=embed" scrolling="auto"></iframe>
    </div>
    {{ end }}
  {{ else }}
  {{ end }}

  <p>
    <a href="https://www.youtube.com/watch?v={{ .Params.youtube_id }}" title="Watch on YouTube"><strong>Watch on YouTube</strong></a>
    <!-- <a href="https://www.youtube.com/live_chat?v={{ .Params.youtube_id }}&is_popout=1" title="View Live Chat on YouTube"><strong>Live Chat</strong></a> -->
  </p>

</div>
