{{ partial "event-venue--inPerson.html" . }}
{{ $displaytitle := $.Scratch.Get "displaytitle" }}

<li class="tribe-events-list-widget-events type-tribe_events tribe-clearfix">
  <!-- Event Title -->
  <h4 class="tribe-event-title">
    <a href="{{ .Permalink }}" rel="bookmark">{{ htmlUnescape $displaytitle | safeHTML }}</a>
  </h4>

  <!-- Event Time -->
  <div class="tribe-event-duration">
    <span class="tribe-event-date-start">{{ dateFormat "January _2 @ 3:04 PM" .Params.date }}</span> - <span class="tribe-event-time">{{ dateFormat "3:04 PM" .Params.end_date }}</span>
  </div>
</li>
