{{ $t := (time .Params.end_date) }}

{{ if ($t.After now) eq "true" }}
<div class="event-actions">
  <a class="btn event_register" href="{{ .Params.registration_url }}" onclick="__gaTracker('send', 'event', 'outbound-article', '{{ .Params.registration_url }}', 'REGISTER NOW');">Register</a>
  {{ $event_startDate := dateFormat "2006-01-02 03:04:05" (time .Params.date).UTC }}
  {{ $event_endDate := dateFormat "2006-01-02 03:04:05" (time .Params.end_date).UTC }}
  {{ $event_title := .Title | markdownify }}
  {{ $event_description := .Summary | markdownify }}
  {{ $event_location := .Params.venue.venue_name }}

  <span class="addtocalendar btn">
    <var class="atc_event">
      <var class="atc_date_start">{{ $event_startDate }}</var>
      <var class="atc_date_end">{{ $event_endDate }}</var>
      <var class="atc_timezone">UTC</var>
      <var class="atc_title">{{ $event_title }}</var>
      <var class="atc_description">{{ $event_description }}</var>
      <var class="atc_location">{{ $event_location }}</var>
      <var class="atc_organizer">DigitalGov</var>
      <var class="atc_organizer_email">digitalgov@gsa.gov</var>
    </var>
  </span>
</div>
{{ end }}
