<div id="socialicons-widget-3" class="widget widget-1 widget-first socialicons">
  <div class="widget-wrap">
    <h3 class="widgettitle"><span>Connect</span></h3>
    <div class="textwidget">
      <div class="sub-icons">
        <ul class="clearfix">
          <li><a class="subicon rss" title="Subscribe via RSS Feed" href="https://www.digitalgov.gov/feed/">RSS Feed</a></li>
          <li><a class="subicon facebook" title="Connect on Facebook" rel="external" href="http://www.facebook.com/digitalgov">Facebook</a></li>
          <li><a class="subicon twitter" rel="external" title="Follow Us on Twitter" href="http://www.twitter.com/digital_gov">Twitter</a></li>
          <li><a class="subicon gplus" title="Connect on Google Plus" rel="external" href="https://plus.google.com/109077476228639396954?rel=author">Google</a></li>
          <li><a class="subicon youtube" title="Connect on YouTube" rel="external" href="http://www.youtube.com/user/howtogov">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
