<div id="footer-widgets" class="maincontent">
  <div class="limit clearfix">
    <div class="footer-widget1">

      {{ partialCached "footer--social.html" . }}
      {{ partialCached "footer--info.html" . }}

    </div>
    <div class="footer-widget2">

      {{/* Content missing */}}

    </div>
    <div class="footer-widget3">

      {{ partialCached "footer--recent-posts.html" . }}

    </div>
    <div class="footer-widget4" id="tribe-events-list-widget-7">

      {{ partialCached "sidebar--events.html" . }}

    </div>
  </div>
</div>
