<div id="recent-posts-2" class="widget widget-1 widget-first widget_recent_entries">
  <div class="widget-wrap">
    <h3 class="widgettitle"><span>Recent Posts</span></h3>
    <ul>
      <li>
        <a href="https://www.digitalgov.gov/2017/06/07/the-data-briefing-design-driven-enterprise-architecture-creating-the-new-federal-government-agency/">The Data Briefing: Design-Driven Enterprise Architecture Creating the New Federal Government Agency</a>
      </li>
      <li>
        <a href="https://www.digitalgov.gov/2017/06/06/opening-public-services-to-artificial-intelligence-assistants/">Opening Public Services to Artificial Intelligence Assistants</a>
      </li>
      <li>
        <a href="https://www.digitalgov.gov/2017/06/06/the-new-fec-gov/">The New FEC.gov</a>
      </li>
    </ul>
  </div>
</div>
