<li class="tribe-events-list-widget-events type-tribe_events post-386686 tribe-clearfix tribe-events-category-in-person tribe-events-venue-98072 tribe-events-organizer-2562 tribe-events-first tribe-events-last">

  <!-- Event Title -->
  <h4 class="tribe-event-title">
    <a href="https://www.digitalgov.gov/event/present-with-charisma/" rel="bookmark">In-Person: Present with Charisma</a>
  </h4>

  <!-- Event Time -->
  <div class="tribe-event-duration">
    <span class="tribe-event-date-start">June 14 @ 9:00 AM</span> - <span class="tribe-event-time">11:30 AM</span>
  </div>
</li>
