<div id="tribe-events-list-widget-7" class="widget widget-1 widget-first tribe-events-list-widget">
  <div class="widget-wrap">
    <h3 class="widgettitle"><span>Upcoming Events</span></h3>
    <ol class="tribe-list-widget">

      {{ $now := now }}
      {{ $events := where .Site.Pages "Section" "events" }}
      {{ $events := (where $events ".Params.date" "ge" $now).ByDate }}

      {{ range first 3 $events }}
        <li class="tribe-events-list-widget-events type-tribe_events tribe-clearfix tribe-events-category-in-person">

          <!-- Event Title -->
          <h4 class="tribe-event-title">
            {{/* TODO: apply this more generalized prefix to other instances */}}

            {{ if .Params.venue.is_inperson }}
              {{ if .Params.venue.is_remote }}
                {{ $.Scratch.Set "prefix" "In-Person & Online: " }}
              {{ else }}
                {{ $.Scratch.Set "prefix" "In-Person: " }}
              {{ end }}
            {{ else }}
              {{ $.Scratch.Set "prefix" "Online: " }}
            {{ end }}

            <a href="{{ .URL }}" rel="bookmark">{{ $.Scratch.Get "prefix" }}{{ .Title }}</a>
          </h4>

          <!-- Event Time -->
          <div class="tribe-event-duration">
            <span class="tribe-event-date-start">{{ dateFormat "January 02 @ 3:04 PM" .Params.date }}</span> - <span class="tribe-event-time">{{ dateFormat "3:04 PM" .Params.end_date }}</span>
          </div>
        </li>
      {{ end }}

  </div>
</div>
