<footer class="usa-footer usa-footer--big" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8">
          <nav class="usa-footer__nav">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Learn</h4>
                  <ul class="usa-list usa-list--unstyled">
                    {{- range .Site.Menus.primary -}}
                      <li class="usa-footer__secondary-link"><a href="{{- .URL -}}">{{- .Name -}}</a></li>
                    {{- end -}}
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Contribute</h4>
                  <ul class="usa-list usa-list--unstyled">
                    {{- range .Site.Menus.contribute -}}
                      <li class="usa-footer__secondary-link"><a href="{{- .URL -}}">{{- .Name -}}</a></li>
                    {{- end -}}
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">About</h4>
                  <ul class="usa-list usa-list--unstyled">
                    {{- range .Site.Menus.about -}}
                      <li class="usa-footer__secondary-link"><a href="{{- .URL -}}">{{- .Name -}}</a></li>
                    {{- end -}}
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
        <div class="tablet:grid-col-4">
          <div class="usa-sign-up">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
            	portalId: "1962994",
            	formId: "f8c8ff73-dbc9-4242-90e4-e8cbcee02f6a"
            });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-8 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <div class="display-flex">
              <img class="usa-footer__logo-img" src="{{- "img/gsa-logo-w50.png" | absURL -}}" alt="U.S. General Services Administration logo">
              <div class="supported-by">
                <p><a href="{{- "/" | absURL -}}">{{- .Site.Title -}}</a> is published and supported by</p>
                <h3 class="usa-footer__logo-heading">
                   <a href="https://gsa.gov/?dg">U.S. General Services Administration</a>
                </h3>
              </div>
            </div>


          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-4">
          <div class="usa-footer__social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--facebook" href="https://www.facebook.com/digitalgov/">
                <span>Facebook</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--twitter" href="https://twitter.com/digital_gov">
                <span>Twitter</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link usa-social-link--youtube" href="https://youtube.com/digitalgov">
                <span>YouTube</span>
              </a>
            </div>
            <div class="grid-col-auto">
              {{ with .OutputFormats.Get "rss" -}}{{- printf `<a rel="%s" type="%s" href="%s" title="%s" class="usa-social-link usa-social-link--rss" ><span>RSS</span></a>` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML -}}{{- end }}
            </div>
          </div>
          <h3 class="usa-footer__contact-heading"><a href="{{- "/" | absURL -}}" title="Home" aria-label="Home"><img class="" src="{{- "img/dg-logo-w35.svg" | absURL -}}" alt="{{- .Site.Title -}} Logo" /> <span>{{- .Site.Title -}}</span></a></h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
                <a href="mailto:digitalgov@gsa.gov"><i class="far fa-envelope"></i> digitalgov@gsa.gov</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>

</div><!-- /div#outerwrap -->
{{ partial "footer-end-scripts.html" . }}
{{ partial "footer--custom-js.html" . }}
</body>
</html>
