<div class="guide-nav">

  <!-- If the page specifies a GUIDE -->
  {{- if .Params.guide -}}
    {{- $current_section_url := .CurrentSection.URL -}}
    {{- if ne $current_section_url .URL -}}
    <div class="guide-title">
      <h4><a href="{{- .Parent.Permalink -}}" title="{{- .Parent.Title -}}">{{ .Parent.Title -}}</a></h4>
      <p>{{- .Parent.Params.deck -}}</p>
    </div>
    {{- end -}}

    <ul class="guide-index">

      {{- $current_url := .Permalink -}}
      {{- if not (eq $current_section_url .URL) -}}
        <li><a href="{{- .Parent.Permalink | relURL -}}" title="{{- .Title -}}">Overview</a></li>
      {{- end -}}
      {{- $guidepages := (where .Site.Pages ".Params.guide" .Params.guide) -}}
      {{- range $i, $guidepage := sort ($guidepages) ".Params.weight" "desc" -}}

        {{- if not (eq $current_section_url .URL) -}}
          <li class="{{- if (eq $current_url $guidepage.Permalink) -}}active{{- end -}}"><a href="{{- .Permalink | relURL -}}" title="{{- .Title | markdownify -}}">{{- .Title | markdownify -}}</a></li>
        {{- end -}}

      {{- end -}}
    </ul>
  {{- end -}}

  <div class="toc">
    <h4>In this page</h4>
    {{- .TableOfContents -}}
  </div>

</div>
