<div class="guide-nav">

  {{- if .Params.guide -}}
  <div class="guide-title">
    <h4><a href="{{- .Parent.Permalink -}}" title="{{- .Parent.Title -}}">{{ .Parent.Title -}}</a></h4>
    <p>{{- .Parent.Params.deck -}}</p>
  </div>

  {{- $current_url := .Parent.URL -}}
  <ul>
    <li><a href="{{- .Parent.Permalink | relURL -}}" title="{{- .Title -}}">Overview</a></li>
    {{- $guidepages := (where .Site.Pages ".Params.guide" .Params.guide) -}}
    {{- range sort ($guidepages) ".Params.weight" "desc" -}}

      {{/* If $current_url is equal to the URL, then print the page and give it the title of "Overview" */}}
      {{- if not (eq $current_url .URL) -}}
        <li><a href="{{- .Permalink | relURL -}}" title="{{- .Title | markdownify -}}">{{- .Title | markdownify -}}</a></li>
      {{- end -}}

    {{- end -}}
  </ul>

  {{- end -}}

  <div class="toc">
    <h4>In this page</h4>
    {{- .TableOfContents -}}
  </div>
</div>
