<!-- Logic for featured image -->
{{/* Featured_image call */}}
  {{ $cdnurl := .Site.Params.cdnurl }}
  {{ $featImg := index $.Site.Data.images (default "digital-gov-card" .Params.featured_image.uid) }}
  {{ $featImgBase := $featImg.uid }}
  {{ $featImgExt := $featImg.format }}
  {{ $featImgBaseCDN := printf "%s/%s" $cdnurl $featImgBase }}
  {{ $featImgWidth := $featImg.width }}
  {{ $featImgHeight := $featImg.height }}
  {{ $.Scratch.Set "featImgSuffix" "" }}
  {{ if gt $featImgWidth 1200 }}
   {{ $.Scratch.Set "featImgSuffix" "_w1200" }}
  {{ end }}
  {{ if gt $featImgWidth 800 }}
   {{ $.Scratch.Set "featImgTwitterSuffix" "_w800" }}
  {{ end }}
  {{ $featImgURL := printf "%s%s.%s" $featImgBaseCDN ($.Scratch.Get "featImgSuffix") $featImgExt }}
  {{ $featImgTwitterURL := printf "%s%s.%s" $featImgBaseCDN ($.Scratch.Get "featImgTwitterSuffix") $featImgExt }}
{{/* End featured_image call */}}

<!-- Logic for Page Types -->
{{/* Get Page Type */}}
{{ if .IsPage }}
  {{ $.Scratch.Set "pagetype" "article" }}
{{ else }}
  {{ $.Scratch.Set "pagetype" "website" }}
{{ end }}


<html lang="en-US" itemscope itemtype="http://schema.org/WebSite" prefix="og: http://ogp.me/ns#">

<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  {{ "<!-- Page Title -->" | safeHTML }}
  <title>{{ $.Scratch.Get "headtitle" | default (printf "%s / %s" .Title .Site.Title | markdownify) }}</title>

  {{ "<!-- Meta Description -->" | safeHTML }}
  <meta name="description" content="{{ $.Params.summary | default $.Site.Params.description | markdownify }}" />
  {{ $sitetags := $.Site.Data.tag }}
  {{ with $.Params.tag }}
    {{ $_taxonomy := .}}
    {{ $length := $_taxonomy | len }}

  {{ "<!-- Meta Keywords -->" | safeHTML }}
  <meta name="keywords" content='{{ range $i, $e := $_taxonomy }}{{ $slug := $e | urlize }}{{ $tag := index $sitetags $slug }}{{ if lt (add $i 1) $length }}{{ $tag.display_name }},{{ else }}{{ $tag.display_name }}{{ end }}{{ end }}'>
  {{ end }}

  {{ "<!-- Start of Facebook Open Graph -->" | safeHTML }}
  <meta property="og:title" content="{{ $.Params.title | default $.Site.Title | markdownify }}" />
  <meta property="og:description" content="{{ $.Params.summary | default $.Site.Params.description | markdownify }}">
  <meta property="og:type" content="{{ $.Scratch.Get "pagetype" }}">
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ $featImgURL }}" />
  <meta property="og:image" content="https://s3.amazonaws.com/digitalgov/tile-1.png" />
  <meta property="og:image" content="https://s3.amazonaws.com/digitalgov/tile-2.png" />
  <meta property="og:image:width" content="{{ $featImgWidth }}" />
  <meta property="og:site_name" content="DigitalGov">
  <meta property="fb:admins" content="100000569454928" />
  <meta property="article:publisher" content="https://www.facebook.com/digitalgov" />
  <meta property="article:author" content="willsullivan" />
  <meta property="article:published_time" content="2017-09-25T09:00:15Z" />
  <meta property="article:modified_time" content="2017-09-25T09:00:15Z" />
  {{ "<!-- End of Facebook Open Graph -->" | safeHTML }}

  {{ "<!-- Start of Twitter Card -->" | safeHTML }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Digital_Gov" />
  <meta name="twitter:creator" content="@Digital_Gov" />
  <meta property="twitter:description" content="{{ $.Params.summary | default $.Site.Params.description | markdownify }}">
  <meta property="twitter:title" content="{{ $.Params.title | default $.Site.Title | markdownify }}">
  <meta property="twitter:image" content="{{ $featImgTwitterURL }}">
  <meta itemprop="image" content="{{ $featImgURL }}" />
  {{ "<!-- End of Twitter -->" | safeHTML }}

  {{ "<!-- RSS Feed-->" | safeHTML }}
  <link href="{{ "feed/index.xml" | absURL }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />

  {{ "<!-- Sitemap-->" | safeHTML }}
  <link rel="sitemap" type="application/xml" title="DigitalGov Sitemap" href="{{ "sitemap.xml" | absURL }}" />
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}

  {{ "<!-- CSS -->" | safeHTML }}
  <link rel='stylesheet' href='{{ "css/widget.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/dashicons.min.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/sitesusagov.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/mtphr-tabs.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/mtphr-tabs.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/mtphr-styles.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/mtphr-style.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/enlightened-styles.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/style-font.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/style-responsive.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/wpp.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/shortcodes.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/style-front-end.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/notice-bar.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/tribe-events-full.min.css?ver=4.4.1.1" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/tribe-events-theme.min.css?ver=4.4.1.1" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/entry.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "lib/uswds/css/dg-uswds.min.css" | absURL }}' type='text/css' media='all' />
  <link rel="stylesheet" media="all" href="{{ "css/override.css" | absURL }}" type="text/css" />
  <link rel='stylesheet' href='{{ "css/federalist-additions.css" | absURL }}' type='text/css' media='all' />
  <link rel='stylesheet' href='{{ "css/custom.css" | absURL }}' type='text/css' media='all' />

  {{ if eq .Section "events" }}
  {{ "<!-- Add to Calendar CSS -->" | safeHTML }}
  <link href="https://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
  {{ end }}

  {{ "<!-- jQuery | ver=1.12.4 -->" | safeHTML }}
  <script type='text/javascript' src='{{ "js/jquery.js" | absURL }}'></script>
  <script type='text/javascript' src='{{ "js/jquery-migrate.min.js" | absURL }}'></script>

  {{ "<!-- JS -->" | safeHTML }}
  <script type='text/javascript' src='{{ "js/sitesusagov.js" | absURL }}'></script>
  <script type='text/javascript' src='{{ "js/froogaloop.min.js" | absURL }}'></script>
  <script type='text/javascript' src='{{ "js/flexslider-min.js" | absURL }}'></script>
  <script type='text/javascript' src='{{ "js/flex-script-main.js" | absURL }}'></script>

  {{ "<!-- DAP — Digital Analytics Program | Learn more: https://digitalgov.gov/dap/ -->" | safeHTML }}
  <script language="javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&agency=GSA"></script>

  {{ "<!-- Google Analytics — Global Site Tag (gtag.js) | because our site has been around a lot longer than DAP -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47271808-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-47271808-1');
  </script>

  {{ "<!-- Favicon -->" | safeHTML }}
  <link rel="shortcut icon" href="https://s3.amazonaws.com/digitalgov/favicon.ico" type="image/x-icon" />

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ partial "head--custom-css.html" . }}
</head>
