{{ "<!--" | safeHTML }}
Welcome to DigitalGov

Our goal is to transform how government learns, builds, delivers and measures digital services in the 21st century.

And we are doing this by giving you the tools, training and resources you need to deliver effective and accessible digital services in the government.
Learn more https://digitalgov.gov/about

Get in touch: digitalgov@gsa.gov
Follow us on Twitter: @digital_gov

===
DigitalGov was last updated on {{ now.Format "Jan 2, 2006 at 3:04pm ET" }}

Built by the DigitalGov team in the GSA, using modern development practices.
See the full source code: https://github.com/GSA/digitalgov.gov

DigitalGov is hosted on Federalist
Learn more here: https://federalist.fr.cloud.gov/
.
.
.
.
.
.
.
.
.
.
.
↓↓↓↓↓↓ Scroll down to see the code ↓↓↓↓↓↓
{{ "-->" | safeHTML }}
