<body class="home page-template page-template-page-widgetized page-template-page-widgetized-php page page-id-472 logged-in admin-bar no-customize-support tribe-no-js fwidth unboxed hidetitle centercatnav bodybg1">

  {{ partial "body-fixed-navbar.html" . }}
  <a class="screen-reader-popup" href="#content" title="Skip to page content">Skip to page content</a>

  <div id="outer-wrap">

    {{ partial "body-top-nav.html" . }}
    {{ partial "page-header.html" . }}


    <div id="wrap">
      <div id="page" class="clearfix">
        <div class="page-border clearfix">
          <div id="contentleft" class="clearfix">
            <div id="content" class="clearfix">
              <div id="widgetized-page" class="clearfix">
                <div class="page-widget-wide top clearfix">
                  <div id="catslide-widget-2" class="widget widget-1 widget-first catslide">
                    <div class="widget-wrap">
                      <script type="text/javascript">
                        //<![CDATA[

                        (function() {

                          // store the slider in a local variable
                          var $window = jQuery(window),
                            flexslider;

                          function getSlideItems() {
                            return (window.innerWidth < 353) ? 1 :
                              (window.innerWidth < 801) ? 2 : 3;
                          }

                          jQuery(window).load(function() {
                            jQuery('#featured-cat-thumbnav-8c61').flexslider({
                              animationLoop: true,
                              animationSpeed: 300,
                              animation: 'slide',
                              slideshow: false,
                              smoothHeight: true,
                              controlNav: false,
                              useCSS: false,
                              itemWidth: 100,
                              itemMargin: 0,
                              minItems: getSlideItems(),
                              maxItems: getSlideItems()
                            });
                          });

                          // check grid size on resize event
                          jQuery(window).resize(function() {
                            var gridSize = getSlideItems();
                          });

                        }());

                        //]]>
                      </script>

                      <div class="featured cat clearfix">
                        <div class="catslide-intro">
                          <h3 class="widgettitle"><span>Latest News</span></h3> </div>

                        <div id="featured-cat-thumbnav-8c61" class="myflexslider thumbnav 0 clearfix">

                          <ul class="slides clearfix">


                            <li class="clearfix">

                              <div class="cat-container clearfix">

                                <div class="featpage-image">
                                  <a href="https://www.digitalgov.gov/2017/06/07/the-data-briefing-design-driven-enterprise-architecture-creating-the-new-federal-government-agency/" title="The Data Briefing: Design-Driven Enterprise Architecture Creating the New Federal Government Agency">    <img class="catslide-thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2017/06/featured-301-x-212-Artificial-Intelligence-with-molecular-and-circuit-design-Chinnawat-Ngamsom-iStock-Thinkstock-680054348.jpg" alt="The Data Briefing: Design-Driven Enterprise Architecture Creating the New Federal Government Agency" title="The Data Briefing: Design-Driven Enterprise Architecture Creating the New Federal Government Agency" />
  </a>
                                  <a class="more-link" href="https://www.digitalgov.gov/2017/06/07/the-data-briefing-design-driven-enterprise-architecture-creating-the-new-federal-government-agency/" rel="nofollow">Read More</a>
                                </div>

                                <div class="catslide-content">

                                  <h3 class="post-title"><a href="https://www.digitalgov.gov/2017/06/07/the-data-briefing-design-driven-enterprise-architecture-creating-the-new-federal-government-agency/" title="The Data Briefing: Design-Driven Enterprise Architecture Creating the New Federal Government Agency">The Data Briefing: Design-Driven Enterprise Architecture Creating the New Federal Government Agency</a></h3>


                                  <p class="catslide-excerpt">
                                    It’s been a while since I’ve checked in on enterprise architecture (EA). My last in-depth work with EA was around [...]
                                  </p>
                                </div>

                              </div>

                            </li>


                            <li class="clearfix">

                              <div class="cat-container clearfix">

                                <div class="featpage-image">
                                  <a href="https://www.digitalgov.gov/2017/06/06/opening-public-services-to-artificial-intelligence-assistants/" title="Opening Public Services to Artificial Intelligence Assistants">   <img class="catslide-thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2017/06/featured-301-x-212-Justin-Emerging-Tech-Program-Echo-Dot-American-flag.jpg" alt="Opening Public Services to Artificial Intelligence Assistants" title="Opening Public Services to Artificial Intelligence Assistants" />
  </a>
                                  <a class="more-link" href="https://www.digitalgov.gov/2017/06/06/opening-public-services-to-artificial-intelligence-assistants/" rel="nofollow">Read More</a>
                                </div>

                                <div class="catslide-content">

                                  <h3 class="post-title"><a href="https://www.digitalgov.gov/2017/06/06/opening-public-services-to-artificial-intelligence-assistants/" title="Opening Public Services to Artificial Intelligence Assistants">Opening Public Services to Artificial Intelligence Assistants</a></h3>


                                  <p class="catslide-excerpt">
                                    “Hey, Computer, how do I access my public services?” Citizens will soon be able to ask their Intelligent Personal Assistants [...]
                                  </p>
                                </div>

                              </div>

                            </li>


                            <li class="clearfix">

                              <div class="cat-container clearfix">

                                <div class="featpage-image">
                                  <a href="https://www.digitalgov.gov/2017/06/06/the-new-fec-gov/" title="The New FEC.gov">   <img class="catslide-thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2015/10/featured-301-x-212-US-Federal-Election-Commission-FEC-seal.jpg" alt="The New FEC.gov" title="The New FEC.gov" />
  </a>
                                  <a class="more-link" href="https://www.digitalgov.gov/2017/06/06/the-new-fec-gov/" rel="nofollow">Read More</a>
                                </div>

                                <div class="catslide-content">

                                  <h3 class="post-title"><a href="https://www.digitalgov.gov/2017/06/06/the-new-fec-gov/" title="The New FEC.gov">The New FEC.gov</a></h3>


                                  <p class="catslide-excerpt">
                                    Last week, the Federal Election Commission (FEC) unveiled their new website at FEC.gov. This new site is the result of [...]
                                  </p>
                                </div>

                              </div>

                            </li>


                            <li class="clearfix">

                              <div class="cat-container clearfix">

                                <div class="featpage-image">
                                  <a href="https://www.digitalgov.gov/2017/06/05/federalist-is-out-of-beta-and-open-for-business/" title="Federalist Is out of Beta and Open for Business">   <img class="catslide-thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2017/06/featured-301-x-212-Federalist-CMS-logo.jpg" alt="Federalist Is out of Beta and Open for Business" title="Federalist Is out of Beta and Open for Business" />
  </a>
                                  <a class="more-link" href="https://www.digitalgov.gov/2017/06/05/federalist-is-out-of-beta-and-open-for-business/" rel="nofollow">Read More</a>
                                </div>

                                <div class="catslide-content">

                                  <h3 class="post-title"><a href="https://www.digitalgov.gov/2017/06/05/federalist-is-out-of-beta-and-open-for-business/" title="Federalist Is out of Beta and Open for Business">Federalist Is out of Beta and Open for Business</a></h3>


                                  <p class="catslide-excerpt">
                                    If you’re a program manager or a federal web developer you’ve probably been given a seemingly simple task: Create a [...]
                                  </p>
                                </div>

                              </div>

                            </li>


                            <li class="clearfix">

                              <div class="cat-container clearfix">

                                <div class="featpage-image">
                                  <a href="https://www.digitalgov.gov/2017/05/26/from-launch-to-landing-how-nasa-took-control-of-its-https-mission/" title="From Launch to Landing: How NASA Took Control of Its HTTPS Mission">    <img class="catslide-thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2017/03/featured-301-x-212-NASA-logo.jpg" alt="From Launch to Landing: How NASA Took Control of Its HTTPS Mission" title="From Launch to Landing: How NASA Took Control of Its HTTPS Mission" />
  </a>
                                  <a class="more-link" href="https://www.digitalgov.gov/2017/05/26/from-launch-to-landing-how-nasa-took-control-of-its-https-mission/" rel="nofollow">Read More</a>
                                </div>

                                <div class="catslide-content">

                                  <h3 class="post-title"><a href="https://www.digitalgov.gov/2017/05/26/from-launch-to-landing-how-nasa-took-control-of-its-https-mission/" title="From Launch to Landing: How NASA Took Control of Its HTTPS Mission">From Launch to Landing: How NASA Took Control of Its HTTPS Mission</a></h3>


                                  <p class="catslide-excerpt">
                                    18F Editor’s note: This is a guest post by Karim Said of NASA. Karim was instrumental in NASA’s successful HTTPS [...]
                                  </p>
                                </div>

                              </div>

                            </li>


                            <li class="clearfix">

                              <div class="cat-container clearfix">

                                <div class="featpage-image">
                                  <a href="https://www.digitalgov.gov/2017/05/24/%e2%80%8bwant-to-expand-your-innovation-base-dive-in-run-a-challenge-and-listen-to-your-customers/" title="​Want to Expand Your Innovation Base? Dive In, Run a Challenge, and Listen to Your Customers">    <img class="catslide-thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2015/12/featured-301-x-212-Crowdsourcing-nevarpp-iStock-Thinkstock-467787670.jpg" alt="​Want to Expand Your Innovation Base? Dive In, Run a Challenge, and Listen to Your Customers" title="​Want to Expand Your Innovation Base? Dive In, Run a Challenge, and Listen to Your Customers" />
  </a>
                                  <a class="more-link" href="https://www.digitalgov.gov/2017/05/24/%e2%80%8bwant-to-expand-your-innovation-base-dive-in-run-a-challenge-and-listen-to-your-customers/" rel="nofollow">Read More</a>
                                </div>

                                <div class="catslide-content">

                                  <h3 class="post-title"><a href="https://www.digitalgov.gov/2017/05/24/%e2%80%8bwant-to-expand-your-innovation-base-dive-in-run-a-challenge-and-listen-to-your-customers/" title="​Want to Expand Your Innovation Base? Dive In, Run a Challenge, and Listen to Your Customers">​Want to Expand Your Innovation Base? Dive In, Run a Challenge, and Listen to Your Customers</a></h3>


                                  <p class="catslide-excerpt">
                                    The Office of the National Coordinator (ONC) is a small agency in the Department of Health and Human Services (HHS) [...]
                                  </p>
                                </div>

                              </div>

                            </li>


                            <li class="clearfix">

                              <div class="cat-container clearfix">

                                <div class="featpage-image">
                                  <a href="https://www.digitalgov.gov/2017/05/23/csp-and-3pao-roles-and-responsibilities/" title="CSP and 3PAO Roles and Responsibilities">   <img class="catslide-thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2016/08/featured-301-x-212-FedRAMP_logo_bottom.jpg" alt="CSP and 3PAO Roles and Responsibilities" title="CSP and 3PAO Roles and Responsibilities" />
  </a>
                                  <a class="more-link" href="https://www.digitalgov.gov/2017/05/23/csp-and-3pao-roles-and-responsibilities/" rel="nofollow">Read More</a>
                                </div>

                                <div class="catslide-content">

                                  <h3 class="post-title"><a href="https://www.digitalgov.gov/2017/05/23/csp-and-3pao-roles-and-responsibilities/" title="CSP and 3PAO Roles and Responsibilities">CSP and 3PAO Roles and Responsibilities</a></h3>


                                  <p class="catslide-excerpt">
                                    We wanted to share some high-level guidance for CSPs and 3PAOs we created with the JAB teams to provide insight [...]
                                  </p>
                                </div>

                              </div>

                            </li>


                            <li class="clearfix">

                              <div class="cat-container clearfix">

                                <div class="featpage-image">
                                  <a href="https://www.digitalgov.gov/2017/05/22/how-facebook-live-increased-reach-and-engagement-of-scientific-lectures-at-nih/" title="How Facebook Live Increased Reach and Engagement of Scientific Lectures at NIH">   <img class="catslide-thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2017/05/featured-301-x-212-Screen-capture-of-NCCIH-Facebook-Live-player.jpg" alt="How Facebook Live Increased Reach and Engagement of Scientific Lectures at NIH" title="How Facebook Live Increased Reach and Engagement of Scientific Lectures at NIH" />
  </a>
                                  <a class="more-link" href="https://www.digitalgov.gov/2017/05/22/how-facebook-live-increased-reach-and-engagement-of-scientific-lectures-at-nih/" rel="nofollow">Read More</a>
                                </div>

                                <div class="catslide-content">

                                  <h3 class="post-title"><a href="https://www.digitalgov.gov/2017/05/22/how-facebook-live-increased-reach-and-engagement-of-scientific-lectures-at-nih/" title="How Facebook Live Increased Reach and Engagement of Scientific Lectures at NIH">How Facebook Live Increased Reach and Engagement of Scientific Lectures at NIH</a></h3>


                                  <p class="catslide-excerpt">
                                    Helping patients manage chronic pain has become an increasing challenge for health care providers, particularly in the face of an [...]
                                  </p>
                                </div>

                              </div>

                            </li>


                            <li class="clearfix">

                              <div class="cat-container clearfix">

                                <div class="featpage-image">
                                  <a href="https://www.digitalgov.gov/2017/05/18/the-next-step-towards-a-bug-bounty-program-for-the-technology-transformation-service/" title="The Next Step Towards a Bug Bounty Program for the Technology Transformation Service">   <img class="catslide-thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2017/05/featured-301-x-212-2-72-dpi-Software-development-and-debugging-concept.-Bug-found-in-binary-code-vchal-iStock-Thinkstock-504819900.jpg" alt="The Next Step Towards a Bug Bounty Program for the Technology Transformation Service" title="The Next Step Towards a Bug Bounty Program for the Technology Transformation Service" />
  </a>
                                  <a class="more-link" href="https://www.digitalgov.gov/2017/05/18/the-next-step-towards-a-bug-bounty-program-for-the-technology-transformation-service/" rel="nofollow">Read More</a>
                                </div>

                                <div class="catslide-content">

                                  <h3 class="post-title"><a href="https://www.digitalgov.gov/2017/05/18/the-next-step-towards-a-bug-bounty-program-for-the-technology-transformation-service/" title="The Next Step Towards a Bug Bounty Program for the Technology Transformation Service">The Next Step Towards a Bug Bounty Program for the Technology Transformation Service</a></h3>


                                  <p class="catslide-excerpt">
                                    On May 9, we took a big step toward creating a bug bounty program for our agency by issuing an [...]
                                  </p>
                                </div>

                              </div>

                            </li>


                          </ul>

                        </div>

                      </div>

                    </div>
                  </div>
                  <div id="tribe-events-list-widget-6" class="widget widget-2 tribe-events-list-widget">
                    <div class="widget-wrap">
                      <h3 class="widgettitle"><span>Events</span></h3>
                      <ol class="tribe-list-widget">
                        <li class="tribe-events-list-widget-events type-tribe_events post-386686 tribe-clearfix tribe-events-category-in-person tribe-events-venue-98072 tribe-events-organizer-2562 tribe-events-first tribe-events-last">

                          <!-- Event Title -->
                          <h4 class="tribe-event-title">
          <a href="https://www.digitalgov.gov/event/present-with-charisma/" rel="bookmark">In-Person: Present with Charisma</a>
        </h4>

                          <!-- Event Time -->


                          <div class="tribe-event-duration">
                            <span class="tribe-event-date-start">June 14 @ 9:00 AM</span> - <span class="tribe-event-time">11:30 AM</span> </div>

                        </li>
                        <li class="tribe-events-list-widget-events type-tribe_events post-386694 tribe-clearfix tribe-events-category-plain-language tribe-events-category-webinar-2 tribe-events-venue-2572 tribe-events-organizer-2562 tribe-events-first tribe-events-last">

                          <!-- Event Title -->
                          <h4 class="tribe-event-title">
          <a href="https://www.digitalgov.gov/event/june-2017-plain-meeting/" rel="bookmark">Online: Plain Language Action and Information Network (PLAIN) June Meeting</a>
        </h4>

                          <!-- Event Time -->


                          <div class="tribe-event-duration">
                            <span class="tribe-event-date-start">June 14 @ 2:00 PM</span> - <span class="tribe-event-time">3:00 PM</span> </div>

                        </li>
                        <li class="tribe-events-list-widget-events type-tribe_events post-386369 tribe-clearfix tribe-events-category-challenges-prizes tribe-events-category-in-person tribe-events-category-livestream tribe-events-venue-297812 tribe-events-organizer-2562 tribe-events-first tribe-events-last">

                          <!-- Event Title -->
                          <h4 class="tribe-event-title">
          <a href="https://www.digitalgov.gov/event/june-challenge-and-prize-community-of-practice-meeting/" rel="bookmark">In-Person &amp; Online: June Challenge and Prize Community of Practice Meeting</a>
        </h4>

                          <!-- Event Time -->


                          <div class="tribe-event-duration">
                            <span class="tribe-event-date-start">June 20 @ 9:00 AM</span> - <span class="tribe-event-time">12:00 PM</span> </div>

                        </li>
                        <li class="tribe-events-list-widget-events type-tribe_events post-386719 tribe-clearfix tribe-events-category-in-person tribe-events-category-metrics tribe-events-venue-98072 tribe-events-organizer-2562 tribe-events-first tribe-events-last">

                          <!-- Event Title -->
                          <h4 class="tribe-event-title">
          <a href="https://www.digitalgov.gov/event/in-person-dap-analytics-maturity-workshop/" rel="bookmark">In-Person: DAP Analytics Maturity Workshop</a>
        </h4>

                          <!-- Event Time -->


                          <div class="tribe-event-duration">
                            <span class="tribe-event-date-start">June 21 @ 9:00 AM</span> - <span class="tribe-event-time">4:00 PM</span> </div>

                        </li>
                        <li class="tribe-events-list-widget-events type-tribe_events post-386226 tribe-clearfix tribe-events-category-metrics tribe-events-category-webinar-2 tribe-events-first tribe-events-last">

                          <!-- Event Title -->
                          <h4 class="tribe-event-title">
          <a href="https://www.digitalgov.gov/event/dap-learning-series-next-steps-using-data-for-action/" rel="bookmark">Online: DAP Learning Series &#8211; Next Steps (Using Data for Action)</a>
        </h4>

                          <!-- Event Time -->


                          <div class="tribe-event-duration">
                            <span class="tribe-event-date-start">June 22 @ 2:00 PM</span> - <span class="tribe-event-time">3:00 PM</span> </div>

                        </li>
                        <li class="tribe-events-list-widget-events type-tribe_events post-386722 tribe-clearfix tribe-events-category-metrics tribe-events-organizer-2562 tribe-events-first tribe-events-last">

                          <!-- Event Title -->
                          <h4 class="tribe-event-title">
          <a href="https://www.digitalgov.gov/event/online-digital-analytics-program-dap-101/" rel="bookmark">Online: Digital Analytics Program (DAP) 101</a>
        </h4>

                          <!-- Event Time -->


                          <div class="tribe-event-duration">
                            <span class="tribe-event-date-start">July 26 @ 1:00 PM</span> - <span class="tribe-event-time">4:00 PM</span> </div>

                        </li>
                      </ol>
                      <!-- .tribe-list-widget -->

                      <p class="tribe-events-widget-link">
                        <a href="https://www.digitalgov.gov/events/" rel="bookmark">View All Events</a>
                      </p>

                    </div>
                  </div>
                  <script type="application/ld+json">
                    [{
                      "@context": "http://schema.org",
                      "@type": "Event",
                      "name": "In-Person: Present with Charisma",
                      "description": "&lt;p&gt; In this practical, hands-on course, we will explore the use of flexibility and creativity, the alignment of body language, use of the voice, and the emotional connection through experiential activities.&lt;/p&gt;\\n",
                      "url": "https://www.digitalgov.gov/event/present-with-charisma/",
                      "startDate": "2017-06-14T13:00:00+00:00",
                      "endDate": "2017-06-14T15:30:00+00:00",
                      "location": {
                        "@type": "Place",
                        "name": "GSA Central Office",
                        "description": "",
                        "url": "https://www.digitalgov.gov/venue/gsa-central-office-2/",
                        "address": {
                          "streetAddress": "1800 F Street NW",
                          "addressLocality": "Washington",
                          "addressRegion": "DC",
                          "postalCode": "20405",
                          "addressCountry": "United States"
                        },
                        "telephone": "",
                        "sameAs": ""
                      },
                      "organizer": {
                        "@type": "Person",
                        "name": "DigitalGov University",
                        "description": "",
                        "url": "https://www.digitalgov.gov/organizer/digitalgov-university/",
                        "telephone": "",
                        "email": "",
                        "sameAs": ""
                      }
                    }, {
                      "@context": "http://schema.org",
                      "@type": "Event",
                      "name": "Online: Plain Language Action and Information Network (PLAIN) June Meeting",
                      "description": "&lt;p&gt;This month\\'s meeting features Katherine Spivey on Plain Language Spectrum \u2013 -how to move forward with plain language when you don\\'t necessarily have permission to edit. &lt;/p&gt;\\n",
                      "image": "https://s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2014/09/event-featured-210-x-150-plain-language-chris2766-iStock-Thinkstock-477440077.jpg",
                      "url": "https://www.digitalgov.gov/event/june-2017-plain-meeting/",
                      "startDate": "2017-06-14T18:00:00+00:00",
                      "endDate": "2017-06-14T19:00:00+00:00",
                      "location": {
                        "@type": "Place",
                        "name": "Webinar",
                        "description": "",
                        "url": "https://www.digitalgov.gov/venue/webinar/",
                        "address": {},
                        "telephone": "",
                        "sameAs": ""
                      },
                      "organizer": {
                        "@type": "Person",
                        "name": "DigitalGov University",
                        "description": "",
                        "url": "https://www.digitalgov.gov/organizer/digitalgov-university/",
                        "telephone": "",
                        "email": "",
                        "sameAs": ""
                      }
                    }, {
                      "@context": "http://schema.org",
                      "@type": "Event",
                      "name": "In-Person &amp; Online: June Challenge and Prize Community of Practice Meeting",
                      "description": "&lt;p&gt;Join us for our June meeting, where we\\'ll focus on the dynamics and benefits of public-private partnerships.&lt;/p&gt;\\n",
                      "image": "https://s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2016/10/PC-Toolkit-Brand-FINAL-LOGO.jpg",
                      "url": "https://www.digitalgov.gov/event/june-challenge-and-prize-community-of-practice-meeting/",
                      "startDate": "2017-06-20T13:00:00+00:00",
                      "endDate": "2017-06-20T16:00:00+00:00",
                      "location": {
                        "@type": "Place",
                        "name": "GSA Central Office &amp; Livestream",
                        "description": "",
                        "url": "https://www.digitalgov.gov/venue/gsa-central-office-livestream/",
                        "address": {
                          "streetAddress": "1800 F St NW",
                          "addressLocality": "Washington",
                          "addressRegion": "DC",
                          "postalCode": "20405",
                          "addressCountry": "United States"
                        },
                        "telephone": "",
                        "sameAs": "https://www.gsa.gov/"
                      },
                      "organizer": {
                        "@type": "Person",
                        "name": "DigitalGov University",
                        "description": "",
                        "url": "https://www.digitalgov.gov/organizer/digitalgov-university/",
                        "telephone": "",
                        "email": "",
                        "sameAs": ""
                      }
                    }, {
                      "@context": "http://schema.org",
                      "@type": "Event",
                      "name": "In-Person: DAP Analytics Maturity Workshop",
                      "description": "&lt;p&gt;This all-day workshop facilitated by the DAP Team will help DAP users assess your team/office/division\\'s current analytics maturity.&lt;/p&gt;\\n",
                      "url": "https://www.digitalgov.gov/event/in-person-dap-analytics-maturity-workshop/",
                      "startDate": "2017-06-21T13:00:00+00:00",
                      "endDate": "2017-06-21T20:00:00+00:00",
                      "location": {
                        "@type": "Place",
                        "name": "GSA Central Office",
                        "description": "",
                        "url": "https://www.digitalgov.gov/venue/gsa-central-office-2/",
                        "address": {
                          "streetAddress": "1800 F Street NW",
                          "addressLocality": "Washington",
                          "addressRegion": "DC",
                          "postalCode": "20405",
                          "addressCountry": "United States"
                        },
                        "telephone": "",
                        "sameAs": ""
                      },
                      "organizer": {
                        "@type": "Person",
                        "name": "DigitalGov University",
                        "description": "",
                        "url": "https://www.digitalgov.gov/organizer/digitalgov-university/",
                        "telephone": "",
                        "email": "",
                        "sameAs": ""
                      }
                    }, {
                      "@context": "http://schema.org",
                      "@type": "Event",
                      "name": "Online: DAP Learning Series &#8211; Next Steps (Using Data for Action)",
                      "description": "&lt;p&gt;In this session you\u2019ll learn how to make your data more actionable, and learn best practices for how to leverage and use reporting and insights to make data driven decisions. &lt;/p&gt;\\n",
                      "url": "https://www.digitalgov.gov/event/dap-learning-series-next-steps-using-data-for-action/",
                      "startDate": "2017-06-22T18:00:00+00:00",
                      "endDate": "2017-06-22T19:00:00+00:00"
                    }, {
                      "@context": "http://schema.org",
                      "@type": "Event",
                      "name": "Online: Digital Analytics Program (DAP) 101",
                      "description": "&lt;p&gt;Introductory training on how to use Digital Analytics Program (DAP) data for DAP users.&lt;/p&gt;\\n",
                      "url": "https://www.digitalgov.gov/event/online-digital-analytics-program-dap-101/",
                      "startDate": "2017-07-26T17:00:00+00:00",
                      "endDate": "2017-07-26T20:00:00+00:00",
                      "organizer": {
                        "@type": "Person",
                        "name": "DigitalGov University",
                        "description": "",
                        "url": "https://www.digitalgov.gov/organizer/digitalgov-university/",
                        "telephone": "",
                        "email": "",
                        "sameAs": ""
                      }
                    }]
                  </script>
                  <div id="featposts-widget-4" class="widget widget-3 featposts">
                    <div class="widget-wrap">
                      <h3 class="widgettitle"><span>Programs &#038; Services</span></h3>
                      <div class='cat-posts-widget textwidget'>
                      </div>
                    </div>
                  </div>
                  <div id="featured-page-7" class="widget widget-4 featuredpage">
                    <div class="widget-wrap">
                      <div class="post clearfix">


                        <div class="featpage-image">
                          <a href="https://www.digitalgov.gov/services/dap/" rel="bookmark" title="Permanent Link to DAP: Digital Analytics Program"><img class="thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2015/04/hp-featured-pg-384-x-210-new-DAP-image-No-URL-for-DG-homepage.jpg" alt="DAP: Digital Analytics Program" title="DAP: Digital Analytics Program" /></a>
                        </div>

                        <h3 class="widgettitle"><span><a href="https://www.digitalgov.gov/services/dap/">DAP: Digital Analytics Program</a></span></h3>

                        <span class="featpage-excerpt">&nbsp; The Digital Analytics Program (DAP) offers advanced, easy Web analytics to federal agencies. The program is a hosted shared service provided by GSA&#8217;s Technology Transformation Service. On November 8, 2016, [...]</span>


                        <a href="https://www.digitalgov.gov/services/dap/" rel="nofollow">Read More</a>

                      </div>

                    </div>
                  </div>
                  <div id="featured-page-8" class="widget widget-5 featuredpage">
                    <div class="widget-wrap">
                      <div class="post clearfix">


                        <div class="featpage-image">
                          <a href="https://www.digitalgov.gov/services/mobile-application-testing-program/" rel="bookmark" title="Permanent Link to Federal CrowdSource Mobile Testing Program"><img class="thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2013/12/hp-featured-348-x-226-mobile-devices-testing-app-tilted.jpg" alt="Federal CrowdSource Mobile Testing Program" title="Federal CrowdSource Mobile Testing Program" /></a>
                        </div>

                        <h3 class="widgettitle"><span><a href="https://www.digitalgov.gov/services/mobile-application-testing-program/">Federal CrowdSource Mobile Testing Program</a></span></h3>

                        <span class="featpage-excerpt">Does your mobile application function properly on all devices your users have? Are you able to test your mobile site on all devices that access it? Do you have the [...]</span>


                        <a href="https://www.digitalgov.gov/services/mobile-application-testing-program/" rel="nofollow">Read More</a>

                      </div>

                    </div>
                  </div>
                  <div id="featured-page-9" class="widget widget-6 featuredpage">
                    <div class="widget-wrap">
                      <div class="post clearfix">


                        <div class="featpage-image">
                          <a href="https://www.digitalgov.gov/services/sites-usa-gov/" rel="bookmark" title="Permanent Link to Sites"><img class="thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2015/05/600-x-392-Sites-450x300.jpg" alt="Sites" title="Sites" /></a>
                        </div>

                        <h3 class="widgettitle"><span><a href="https://www.digitalgov.gov/services/sites-usa-gov/">Sites</a></span></h3>

                        <span class="featpage-excerpt">Sites lets federal agencies build websites using a self-service content management platform. It’s a hosted shared service provided by the Digital Services Innovation Center. CMS meets the Digital Strategy. Built on an [...]</span>


                        <a href="https://www.digitalgov.gov/services/sites-usa-gov/" rel="nofollow">Read More</a>

                      </div>

                    </div>
                  </div>
                  <div id="featured-page-11" class="widget widget-7 featuredpage">
                    <div class="widget-wrap">
                      <div class="post clearfix">


                        <div class="featpage-image">
                          <a href="https://www.digitalgov.gov/services/challenge-gov/" rel="bookmark" title="Permanent Link to Crowdsourcing with Challenge.gov"><img class="thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2014/04/hp-Programs-Services-384-x-226-ChallengeGov-logo.jpg" alt="Crowdsourcing with Challenge.gov" title="Crowdsourcing with Challenge.gov" /></a>
                        </div>

                        <h3 class="widgettitle"><span><a href="https://www.digitalgov.gov/services/challenge-gov/">Crowdsourcing with Challenge.gov</a></span></h3>

                        <span class="featpage-excerpt">Post a challenge on Challenge.gov A Primer on Challenges &amp; Prizes Challenges and prize competitions are proven methods to drive innovation in the public sector and beyond. But they aren’t [...]</span>


                        <a href="https://www.digitalgov.gov/services/challenge-gov/" rel="nofollow">Read More</a>

                      </div>

                    </div>
                  </div>
                  <div id="featured-page-13" class="widget widget-8 featuredpage">
                    <div class="widget-wrap">
                      <div class="post clearfix">


                        <div class="featpage-image">
                          <a href="https://www.digitalgov.gov/communities/social-media/" rel="bookmark" title="Permanent Link to Social Media Community of Practice"><img class="thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2015/06/960-x-400-slider-cropped-Social-media-icons-AilverV-iStock-Thinkstock-476494475-450x300.jpg" alt="Social Media Community of Practice" title="Social Media Community of Practice" /></a>
                        </div>

                        <h3 class="widgettitle"><span><a href="https://www.digitalgov.gov/communities/social-media/">Social Media Community</a></span></h3>

                        <span class="featpage-excerpt">The Federal SocialGov Community unites over 1,200 digital managers and specialists at more than 160 agencies and offices in a collaborative program aimed at improving the creation, adoption and evaluation of [...]</span>


                        <a href="https://www.digitalgov.gov/communities/social-media/" rel="nofollow">Read More</a>

                      </div>

                    </div>
                  </div>
                  <div id="featured-page-14" class="widget widget-9 widget-last featuredpage">
                    <div class="widget-wrap">
                      <div class="post clearfix">


                        <div class="featpage-image">
                          <a href="https://www.digitalgov.gov/resources/negotiated-terms-of-service-agreements/" rel="bookmark" title="Permanent Link to Negotiated Terms of Service Agreements"><img class="thumbnail" src="//s3.amazonaws.com/sitesusa/wp-content/uploads/sites/212/2014/01/hp-Programs-Services-384-x-226-Agreement-Terms-of-Service-TOS.jpg" alt="Negotiated Terms of Service Agreements" title="Negotiated Terms of Service Agreements" /></a>
                        </div>

                        <h3 class="widgettitle"><span><a href="https://www.digitalgov.gov/resources/negotiated-terms-of-service-agreements/">Negotiated Terms of Service Agreements</a></span></h3>

                        <span class="featpage-excerpt">Before you decide to use one of the free digital tools below, seek the advice of your agency Terms of Service (TOS) Point of Contact (POC) to be sure your agency has [...]</span>


                        <a href="https://www.digitalgov.gov/resources/negotiated-terms-of-service-agreements/" rel="nofollow">Read More</a>

                      </div>

                    </div>
                  </div>
                </div>
                <!-- End .page-widget-wide div -->

                <div class="page-widget-1">
                </div>
                <!-- End .page-widget-1 div -->

                <div class="page-widget-2">
                </div>
                <!-- End .page-widget-2 div -->

                <div class="page-widget-wide bottom clearfix">
                </div>
                <!-- End .page-widget-wide div -->

              </div>
              <!-- End #widgetized-page div -->


            </div>
            <!-- End #content div -->


            <div style="clear:both;margin-bottom:20px;"></div>


          </div>
          <!-- End #contentleft div -->


        </div>
        <!-- End .page-border div -->

      </div>
      <!-- End #page div -->


    </div>
    <!-- End #wrap div -->









<!-- deleted WP ADMIN BAR -->
