<body class="home page-template page-template-page-widgetized page-template-page-widgetized-php page page-id-472 no-customize-support tribe-no-js fwidth unboxed hidetitle centercatnav bodybg1">

  {{ partial "body-fixed-navbar.html" . }}

  <a class="screen-reader-popup" href="#content" title="Skip to page content">Skip to page content</a>

  <div id="outer-wrap">

    {{ partial "body-top-nav.html" . }}
    {{ partial "page-header.html" . }}


    <div id="wrap">
      <div id="page" class="clearfix">
        <div class="page-border clearfix">
          <div id="contentleft" class="clearfix">
            <div id="content" class="clearfix">
              <div id="widgetized-page" class="clearfix">
                <div class="page-widget-wide top clearfix">

                  {{ partial "body-latest-news.html" . }}
                  {{ partial "body-latest-events.html" . }}
                  {{ partial "body-services.html" . }}

                </div><!-- /div.page-widget-wide -->
                <div class="page-widget-wide bottom clearfix">
                </div><!-- /div.page-widget-wide div -->
              </div><!-- End /div#widgetized-page -->
            </div><!-- /div#content -->
            <div style="clear:both;margin-bottom:20px;"></div>
          </div><!-- /div#contentleft -->
        </div><!-- End /div.page-border -->
      </div><!-- /div#page -->
    </div><!-- div#wrap -->
<!-- deleted WP ADMIN BAR -->
