{{ $cdnurl := .Site.Params.cdnurl }}
{{ if .Params.featured_image.uid }}
  {{ $.Scratch.Set "defaultimg" "default" }}
{{ else }}
  {{ $rand := string (index (seq 8 | shuffle) 0) }}
  {{ $defaultimg := printf "%s%s" "tile-" $rand }}
  {{ $.Scratch.Set "defaultimg" $defaultimg }}
{{ end }}
{{ $thisimg := index $.Site.Data.images (default ($.Scratch.Get "defaultimg") .Params.featured_image.uid | lower) }}
{{ $imgBase := $thisimg.uid }}
{{ $imgExt := $thisimg.format }}
{{ $imgBaseCDN := printf "%s/%s" $cdnurl $imgBase }}
{{ $imgWidth := $thisimg.width }}
{{ $imgHeight := $thisimg.height }}

{{ $.Scratch.Set "imgSuffix" "" }}
{{ if ge $imgWidth 400 }}
 {{ $.Scratch.Set "imgSuffix" "_w400" }}
{{ end }}

<img
  class="catslide-thumbnail"
  src="{{ $imgBaseCDN }}{{ $.Scratch.Get "imgSuffix" }}.{{ $imgExt }}"
  alt="{{ .Title | markdownify }}"
  title="{{ .Title | markdownify }}" />
