
<li class="clearfix">
  <div class="cat-container clearfix">
    <div class="featpage-image">
      {{/* get the post url */}}
      <a class="block--full" href="{{ .Permalink }}" title="{{ .Title | markdownify }}">
        {{/* get the post featured image */}}

        {{ partial "img-featured--home.html" . }}

      </a>
      {{/* get the post url */}}
      <a class="more-link" href="{{ .Permalink }}" rel="nofollow" title="{{ .Title | markdownify }}">Read More</a>
    </div><!-- div.featpage-image-->

    <div class="catslide-content">
      <h3 class="post-title"><a href="{{ .Permalink }}" title="{{ .Title | markdownify }}">{{ .Title | markdownify }}</a></h3>
      <p class="catslide-excerpt">
        {{ .Params.summary | truncate 140 | default .Summary | safeHTML | markdownify  }}
      </p>
    </div><!-- div.catslide-content-->
  </div><!-- div.cat-container-->
</li><!-- .clearfix -->
