{{ $cleanurl := .URL }}
{{ $findbaseurl := printf "^%s" $.Site.BaseURL }}
{{ $cleanurl := replaceRE $findbaseurl "" $cleanurl }}
{{ $cleanurl := replaceRE "(author|event)s/(.)" "$1/$2" $cleanurl }}
{{ $cleanurl := replaceRE "categories/(.)" "category/$1" $cleanurl }}
{{ $cleanurl := replaceRE "^(.)" "/$1" $cleanurl }}
{{ $cleanurl := replaceRE "//" "/" $cleanurl }}
{{ $siteslink := printf "https://%s" (printf "demo.digital.gov%s" $cleanurl) }}
{{ $previewurl := printf "digital.gov%s" $cleanurl }}

<div class="notice">
  <div class="notice-content">
    <p class="notice-text"><a href="{{ $siteslink }}"><strong>We're working on a <em>new</em> Digital.gov</strong> — <span>we'd like your feedback on the new site</span></a></p>
  </div>
</div>
