{{ $cleanurl := .URL }}
{{ $findbaseurl := printf "^%s" $.Site.BaseURL }}
{{ $cleanurl := replaceRE $findbaseurl "" $cleanurl }}
{{ $cleanurl := replaceRE "(author|event)s/(.)" "$1/$2" $cleanurl }}
{{ $cleanurl := replaceRE "categories/(.)" "category/$1" $cleanurl }}
{{ $cleanurl := replaceRE "^(.)" "/$1" $cleanurl }}
{{ $cleanurl := replaceRE "//" "/" $cleanurl }}
{{ $siteslink := printf "https://%s" (printf "www.digitalgov.gov%s" $cleanurl) }}

<div div class="notice">
  <div class="notice-content">
    <p class="notice-text"><span class="notice-text--primary">This is the Federalist version of Digitalgov.</span> Visit the Sites page <a href="{{ $siteslink }}" target="_blank">{{ $cleanurl }}</a></p>
  </div>
</div>
