<div class="entry-meta">
  <p class="feedback">Have feedback or questsions about this page? <a href="mailto:digitalgov@gsa.gov?subject=Feedback%20{{ .Title | markdownify }}">Send us an email »</a></p>

  <!-- Edit file on GitHub -->
  <div class="last_commit" data-filepath="{{.File.Path}}">
    <a target="_blank" class="edit_file" href="https://github.com/GSA/digitalgov.gov" data-filepath="{{.File.Path}}" title="Edit in GitHub"><img src="{{ "img/GitHub-Mark-32px.png" | absURL }}" alt="GitHub Logo"><span>Edit</span></a>
    <p>Last updated by <span class="commit-author"></span> on <span class="commit-date"></span></p>
  </div>

</div>
