<div class="entry-meta">
  <p class="feedback">Have feedback or questions about this {{ .page_type | markdownify }}? <a target="new" href="mailto:digitalgov@gsa.gov?subject=Feedback%3A%20{{ htmlUnescape .page.Title | safeHTML }}&amp;body=%0D%0A---enter%20your%20feedback%2Fquestions%20here---%0D%0A%0D%0A%0D%0A-%20-%20-%20-%20-%20%0D%0APage%3A%20{{ htmlUnescape .page.Title | safeHTML }}%0D%0AURL%3A%20https%3A%2F%2Fwww.digitalgov.gov{{ .page.Permalink | markdownify }}%0D%0A-%20-%20-%20-%20-%0D%0A%0D%0A%0D%0AWe%20value%20your%20feedback%20and%20open%20questions.%20Thank%20you%20for%20helping%20to%20make%20our%20pages%20better.%0D%0A%0D%0Ahttps%3A%2F%2Fwww.digitalgov.gov%0D%0A%40digital_gov%20on%20Twitter{{ if .cc }}&amp;cc={{ .cc }}{{ end }}">Send us an email »</a></p>

  <!-- Edit file on GitHub -->
  <div class="last_commit" data-filepath="{{.page.File.Path}}">

    <a target="_blank" class="edit_file" href="https://github.com/GSA/digitalgov.gov" data-filepath="{{ .page.File.Path }}" title="Edit in GitHub"><img src="{{ "img/GitHub-Mark-Light-32px.png" | absURL }}" alt="GitHub Logo"><span>Edit</span></a>
    <p>Last updated by <span class="commit-author"></span> on <span class="commit-date"></span></p>
  </div>

</div>
