<div class="meta">
  <ul>

    {{ partial "post-meta--author-list.html" . }}
    {{ partial "post-meta--date.html" . }}
    {{ partial "post-meta--categories-list.html" . }}

    {{/* TODO: Remove reply count */}}
    {{/*
    <li class="meta-comments">
      <a href="https://www.digitalgov.gov/2017/04/20/oip-seeks-your-participation-in-the-development-of-the-national-foia-portal/#comments" rel="bookmark" title="Comments for OIP Seeks Your Participation in the Development of the National FOIA Portal">2 Replies</a>
    </li>
    */}}
  </ul>
</div><!-- .meta -->
