<div id="wpp-3" class="widget widget-1 widget-first popular-posts">
  <div class="widget-wrap">
    <h3 class="widgettitle">
      <span>Top 10 Posts</span>
    </h3>
    <ul class="wpp-list">
      <li style="list-style: none;">
        <a href="https://www.digitalgov.gov/2014/03/04/creating-awesome-web-analytics-reports-and-presentations/" title="Creating Awesome Web Analytics Reports and Presentations" class="wpp-post-title" target="_self">Creating Awesome Web Analytics Reports and Prese...</a>
        <br>
      </li>
      <li style="list-style: none;">
        <a href="https://www.digitalgov.gov/2017/06/06/opening-public-services-to-artificial-intelligence-assistants/" title="Opening Public Services to Artificial Intelligence Assistants" class="wpp-post-title" target="_self">Opening Public Services to Artificial Intelligen...</a>
        <br>
      </li>
      <li style="list-style: none;">
        <a href="https://www.digitalgov.gov/2014/10/28/trends-on-tuesday-8-ways-to-format-tables-for-responsive-web-design/" title="Trends on Tuesday: 8 Ways To Format Tables for Responsive Web Design" class="wpp-post-title" target="_self">Trends on Tuesday: 8 Ways To Format Tables for R...</a>
        <br>
      </li>
      <li style="list-style: none;">
        <a href="https://www.digitalgov.gov/2014/07/07/user-experience-ux-vs-customer-experience-cx-whats-the-dif/" title="User Experience (UX) vs. Customer Experience (CX): What’s the Dif?" class="wpp-post-title" target="_self">User Experience (UX) vs. Customer Experience (CX...</a>
        <br>
      </li>
      <li style="list-style: none;">
        <a href="https://www.digitalgov.gov/2014/12/31/the-best-e-gov-websites-in-the-world/" title="The Best E-gov Websites in the World" class="wpp-post-title" target="_self">The Best E-gov Websites in the World</a>
        <br>
      </li>
      <li style="list-style: none;">
        <a href="https://www.digitalgov.gov/2017/06/05/federalist-is-out-of-beta-and-open-for-business/" title="Federalist Is out of Beta and Open for Business" class="wpp-post-title" target="_self">Federalist Is out of Beta and Open for Business</a>
        <br>
      </li>
      <li style="list-style: none;">
        <a href="https://www.digitalgov.gov/2014/06/30/508-accessible-videos-how-to-make-audio-descriptions/" title="508 Accessible Videos – How to Make Audio Descriptions" class="wpp-post-title" target="_self">508 Accessible Videos – How to Make Audio...</a>
        <br>
      </li>
      <li style="list-style: none;">
        <a href="https://www.digitalgov.gov/2014/08/08/design-sketching-the-easiest-prototype-method-ever/" title="Design Sketching: The Easiest Prototype Method Ever" class="wpp-post-title" target="_self">Design Sketching: The Easiest Prototype Method E...</a>
        <br>
      </li>
      <li style="list-style: none;">
        <a
          href="https://www.digitalgov.gov/2013/12/02/whats-your-strategy-operational-excellence-product-leadership-or-customer-intimacy/"
          title="What’s Your Strategy? Operational Excellence, Product Leadership or Customer Intimacy?"
          class="wpp-post-title"
          target="_self">What’s Your Strategy? Operational Excellence, Pr...</a>
        <br>
      </li>
      <li style="list-style: none;">
        <a href="https://www.digitalgov.gov/2012/05/07/find-free-video-stock-footage/" title="Find Free Video Stock Footage" class="wpp-post-title" target="_self">Find Free Video Stock Footage</a>
        <br>
      </li>
    </ul>
  </div><!-- widget-wrap -->
</div><!-- widget.widget-1.widget-first.popular-posts -->
