<div class="box">
  <h4>Upcoming Events</h4>
  <ul class="bulleted">
    {{ $now := now }}
    {{ $events := where .Site.Pages "Section" "events" }}
    {{ $events := (where $events ".Params.date" "ge" $now).ByDate }}

    {{ range first 3 $events }}
      <li>
        <a href="{{ .Permalink }}" title="{{ htmlUnescape .Title | safeHTML }}" target="_self">{{ htmlUnescape .Title | safeHTML }}</a> —
        <span class="tribe-event-date-start">{{ dateFormat "January 2, 3pm ET" .Params.date }}</span>
      </li>
    {{ end }}
  </ul>
  <a href="{{ "events" | absURL }}" rel="bookmark">See all events »</a>
</div>
