{{ with $.Scratch.Get "relatedCommunities" }}
<div class="box">
  <h4>Join a community</h4>
  <p class="sub-hed">Over 11,000 people are collaborating across government to make digital services better in government.</p>
  {{ range $community := . }}
    {{ range where (where $.Site.Pages "Section" "communities") "Params.uid" $community }}
      <div class="community-promo">
        <p><a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a> — {{ .Params.summary | markdownify  }} <a href="{{ .Permalink }}"><strong>Join »</strong></a></p>
      </div>
    {{ end }}
  {{ end }}
  <a href="{{ "communities" | absURL }}" rel="bookmark">See all communities »</a>
</div>
{{ end }}
