<div class="post notthird notsecond post-386618 type-post status-publish format-standard has-post-thumbnail hentry">

  <div class="entry">
    <div class="my-excerpt">
      <h2 class="post-title"><a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title | markdownify }}">{{ .Title | markdownify }}</a></h2>

      {{ partial "post-meta" . }}

      <p>{{ .Summary }}</p>
      <p class="readmore"><a class="more-link" href="{{ .Permalink }}" rel="nofollow" title="{{ .Title }}">Read More &rarr;</a></p>
    </div>

    {{/* What is this? Can we remove it?
    <p class="readmore cols"><a href="{{ .Permalink }}" rel="nofollow" title="{{ .Title }}">Read More &rarr;</a></p>
    */}}

  </div><!-- .entry -->
  <div style="clear:both;"></div>
</div><!-- .post -->
