// Styles for the list of authors generally found on in cards in the news stream
.authors-list-short{
	@include u-margin-top('205');
	@include u-margin-bottom(1);
	@include u-maxw('full');
	@include u-display('flex');
	@include u-flex('wrap');
	.author{
		@include u-margin(0);
		@include u-margin-y('05');
		@include u-margin-right('105');
		@include u-padding(0);
		@include u-display('flex');
		@include u-flex('align-center');
		@include u-border(0);
		@include u-text('indigo-warm-80');
		@include u-text('medium');
		@include u-text('no-underline');
		@include u-font('sans', 'xs');
		@include at-media('tablet') {
			@include u-font('sans', 'xs');
		}
		z-index: 2;
		img{
			@include u-margin-right('05');
			@include u-circle(3);
		}
		span{
			flex: 1;
			white-space: nowrap;
		}
		&:hover{
			@include u-text('underline');
		}
	}
}
