.authors-list{
	@include u-margin-top(0);
	.author{
		@include u-margin-bottom(2);
		@include u-padding-top(1);
		@include u-border-top('1px','solid', 'gray-10');
		img{
			@include u-border('1px','solid', 'indigo-30');
		}
		.photo{
			@include u-margin-right(1);
		}
		.details{
			h5{
				@include u-margin-y('05');
				@include u-font('sans', 'xs');
				@include u-text('bold');
				@include u-line-height('sans', 1);
				a{
					color:#000;
					@include u-text('no-underline');
				}
				a:hover{
					border-bottom: 2px #fc906d solid;
				}
			}
			p{
				@include u-margin(0);
				@include u-font('sans', '3xs');
			}
		}
		&:first-child{
			@include u-border-top(0);
		}
		&:last-child{
			@include u-margin-bottom(0);
		}
	}
}
