.breadcrumbs{
  span.arrow-right{
    @include u-margin-x('05');
    @include u-width('105');
    @include u-height(2);
    @include u-display('inline-block');
    background-image: url('../lib/uswds/img/angle-arrow-right-black.svg');
    background-size: .5rem;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  a{
    @include u-text('underline');
  }
}
