.breadcrumbs{
  span.arrow-right{
    @include u-width('105');
    @include u-height(2);
    @include u-display('inline-block');
    background-image: url('../lib/uswds/img/angle-arrow-right.svg');
    background-size: .5rem;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}
