@use "uswds-core" as *;

.breadcrumbs{
  @include u-margin-bottom(5);
  @include u-padding-y(2);
  @include u-border-bottom('1px', 'solid', 'base-lighter');
  p{
    @include u-maxw('full');
  }
  span.arrow-right{
    @include u-margin-x('05');
    @include u-width('105');
    @include u-height(2);
    @include u-display('inline-block');
    background-image: url('../uswds/img/angle-arrow-right-black.svg');
    background-size: .5rem;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  a{
    @include u-text('underline');
  }
}
