@use "uswds-core" as *;

.card.card-elsewhere {
  grid-template-areas:
    "c-media c-content"
    "c-meta c-meta";
  grid-template-columns: #{units(7)} 1fr;

  .card__summary {
    @include u-margin-top(0);

    p {
      @include u-line-height("sans", 3);
      @include u-font("sans", "md");
      @include u-text("normal");
      max-width: none;
    }
  }

  .card__source {
    @include u-margin-top("05");
    @include u-display("block");

    a {
      @include u-color("blue-50v");

      &::after {
        content: "";
        @include u-position("absolute");
        @include u-top(0);
        @include u-left(0);
        @include u-right(0);
        @include u-bottom(0);
      }
    }
  }

  .card__media {
    @include u-square(7);
    order: -1;

    img {
      @include u-border("1px", "gray-cool-10", "solid");
      @include u-circle(7);
      @include at-media("mobile-lg") {
        @include u-circle(7);
      }
    }
  }

  .card__meta {
    grid-area: c-meta;
  }
}
