@use "uswds-core" as *;

.card-elsewhere {
  display: flex;
  flex-flow: row wrap;
  gap: units("105"); // Vertical spacing on mobile and horizontal on desktop

  .card__content {
    flex-grow: 1;
    flex-basis: 80%;
  }

  .card__summary {
    @include u-margin-top(0);

    p {
      @include u-measure(5);
      @include u-line-height("sans", 3);
      @include u-font("sans", "md");
      @include u-text("normal");
    }
  }
  .card__source {
    @include u-margin-top("05");
    @include u-display("block");

    a {
      @include u-color("blue-50v");

      &::after {
        content: "";
        @include u-position("absolute");
        @include u-top(0);
        @include u-left(0);
        @include u-right(0);
        @include u-bottom(0);
      }
    }
  }

  .card__media {
    @include u-square(7);
    @include at-media("mobile-lg") {
      @include u-square(7);
    }
    flex-grow: 0;
    flex-shrink: 0;
    order: -1;

    img {
      @include u-border("1px", "gray-cool-10", "solid");
      @include u-circle(7);
      @include at-media("mobile-lg") {
        @include u-circle(7);
      }
    }
  }

  .card__meta {
    width: 100%;
  }
}
