.card-event-promo{
	@include u-border-top('05', 'red-cool-30v', 'solid');
	.banner{
		@include u-padding-y('05');
		@include u-padding-x('205');
		@include u-bg('red-cool-20v');
		@include u-text('indigo-warm-80');
		@include u-text('medium');
	}

	.date{
		@include u-margin(0);
		@include u-padding-right(0);
		@include at-media('tablet') {
			@include u-padding-right('205');
			@include u-border-right('1px', 'indigo-warm-80', 'solid');
		}
		span{
			@include u-display('block');
			@include u-text('center');
			@include u-text('medium');
		}
		.date-mo{
			@include u-text('uppercase');
			@include u-font('sans', 'sm');
			@include u-text('bold');
			@include at-media('tablet') {
				@include u-text('medium');
			}
		}
		.date-day{
			@include u-font('sans', '2xl');
			@include u-text('thin');
			@include u-line-height('sans', 2);
			@include at-media('tablet') {
				@include u-font('sans', '3xl');
			}
		}
		.btn-register{
			@include u-display('none');
			@include at-media('tablet') {
				@include u-display('block');
			}
		}
	}
	.btn-register{
		@include u-padding-y(0);
		@include u-padding-x(0);
		@include u-font('sans', 'md');
		@include u-display('block');
		@include u-radius('sm');
		@include u-bg('white');
		@include u-text('indigo-warm-60v');
		@include u-text('center');
		@include u-border('2px', 'indigo-warm-60v', 'solid');
		transition: background-color .25s, color .25s;
		@include at-media('tablet') {
			@include u-display('none');
		}
	}
	&:hover{
		.btn-register{
			@include u-bg('indigo-warm-60v');
			@include u-text('white');
		}
	}

	.host{
		@include u-margin-top('105');
		@include u-text('gray-cool-60');
		@include u-font('sans', 'sm');
	}
	.time{
		@include u-font('sans', 'md');
		@include u-text('bold');
		@include u-text('red-cool-40v');
	}

}
