@use "uswds-core" as *;
@use "sass:map";

.job-board.section {
  .paper {
    @include u-bg("blue-warm-5");
  }
}

.card-job {
  @include at-media("tablet-lg") {
    align-items: start;
    display: grid;
    grid-template-areas:
      "c-content-header c-apply"
      "c-content-summary c-apply"
      "c-meta-date c-meta-date"
      "c-meta-topics c-meta-topics";
    grid-template-columns: 7fr 1fr;
    overflow-wrap: anywhere;
  }
  @media (max-width: units(tablet-lg)) and (min-width: units(tablet)) {
    align-items: start;
    display: grid;
    grid-template-areas:
      "c-content-header c-apply"
      "c-content-summary c-apply"
      "c-meta-date c-meta-date"
      "c-meta-topics c-meta-topics";
    grid-template-columns: 3fr 1fr;
    overflow-wrap: anywhere;
  }

  @include at-media-max("tablet") {
    align-items: start;
    display: grid;
    grid-template-areas:
      "c-content-header"
      "c-content-summary"
      "c-meta-date"
      "c-meta-topics"
      "c-apply";
    // grid-template-rows: 1fr 1fr;
    overflow-wrap: anywhere;
  }

  .h3 {
    margin: 0;
  }

  &__content-header {
    display: flex;
    flex-direction: column;
    grid-area: c-content-header;
    padding-bottom: units(1);
  }

  &__content-summary {
    display: flex;
    flex-direction: column;
    grid-area: c-content-summary;
    margin-top: units(0);

    p {
      line-height: line-height("sans", 3);
      font-size: font-size("sans", "md");
      font-weight: font-weight("normal");
      max-width: none;
    }

    &__department {
      @include u-font("sans", "xs");
      text-wrap: wrap;
    }

    &__location {
      @include u-font("sans", "xs");
      text-wrap: wrap;
    }
  }

  &__apply {
    display: grid;
    grid-area: c-apply;
  }

  $communities-of-practice: (
    "FCN": color("magenta-50"),
    "ML": color("red-50"),
    "PL": color("blue-cool-60v"),
    "SM": color("gold-40v"),
    "UX": color("mint-cool-50"),
    "WAO": color("orange-60"),
    "WCM": color("indigo-60v"),
    "CC": color("blue-60v"),
  );

  &__meta-date {
    display: flex;
    grid-area: c-meta-date;
    font-style: italic;
    margin-right: units(3);
  }

  &__meta-topics {
    grid-area: c-meta-topics;
    display: grid;
    grid-template-columns: repeat(4, auto);
    position: relative;

    @each $community, $color in $communities-of-practice {
      .cop-topic--#{$community} {
        border: map.get($communities-of-practice, $community);
        color: map.get($communities-of-practice, $community);
        margin-bottom: units(1);
        margin-top: units(0);
        margin-right: units(1);
      }
    }
  }
}

#no_job_postings {
  margin-bottom: units(4);
  line-height: line-height("sans", 2);
  font-size: font-size("sans", "lg");
  font-weight: font-weight("light");
  text-align: center;
}
