@use "sass:map";

@use "uswds-core" as *;

// https://digital.gov/communities/

.dg-featured-communities {
  @include u-flex("row", "wrap");
  display: flex;
  justify-content: center;
  padding-top: units(2);

  &__additional-communities {
    @include at-media("tablet") {
      column-gap: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    margin-bottom: units(-5);
    margin-top: units(8);
  }

  .usa-card {
    @include at-media("tablet") {
      max-width: 19em;
    }
  }
}

.usa-card__cop-bar {
  border-radius: 0;
  height: 10px;
  margin: 0 auto;
  margin-top: 1rem;
  width: 84%;
}

$communities-of-practice: (
  "FCN": #c84281,
  "ML": #d73a33,
  "PL": #06648d,
  "SM": #2672de,
  "UX": #40807e,
  "WAO": #775540,
  "WCM": #4a50c4,
);

@each $community, $color in $communities-of-practice {
  .cop-card--#{$community} {
    .usa-card__container {
      border-top: 5px solid $color;
    }
  }
}

.usa-card__footer {
  a.usa-button {
    @include u-display("flex");
    @include u-flex("align-center");
    @include u-flex("justify-center");
    @include u-minh(8);
  }
}

// ==========================================================================
// Cards view
// ==========================================================================
.dg-featured-communities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: units(6) units(2);
  text-align: center;

  .usa-card {
    max-width: none !important;
  }

  .usa-card__container {
    // border-top-color: color("base-lighter");
    // border-top: 2px solid color("base-lighter");

    br {
      display: none;
    }
  }

  .usa-card__img {
    background-color: transparent;
  }

  p {
    font-size: size("sans", "2xs");
  }

  .usa-button {
    font-size: size("sans", "xs");
    line-height: 1.3;
  }

  // Make web managers the featured card.
  .cop-card--WCM {
    grid-column: 1 / 3;
    order: -1;

    .usa-card__container,
    .usa-card__container > * {
      background-color: map.get($communities-of-practice, "WCM");
      color: #fff;
    }

    .usa-button {
      background-color: transparent;
      border: 2px solid currentColor;
      color: white;

      &:hover {
        background-color: #292e90;
      }
    }
  }
}
