@use "uswds-core" as *;

// https://digital.gov/communities/

.dg-communities {
  @include u-flex("row", "wrap");
  display: flex;
  justify-content: center;
  padding-top: units(2);

  &-title {
    margin-bottom: units(-5);
    margin-top: units(8);
  }
}

.usa-card__cop-bar {
  border-radius: 0;
  height: 10px;
  margin: 0 auto;
  margin-top: 1rem;
  width: 84%;
}

$communities-of-practice: (
  "FCN": #c84281,
  "ML": #d73a33,
  "PL": #06648d,
  "SM": #2672de,
  "UX": #40807e,
  "WAO": #775540,
  "WCM": #4a50c4,
);

@each $community, $color in $communities-of-practice {
  .cop-card--#{$community} {
    .usa-card__container {
      border-top: 5px solid $color;
    }
  }
}

.usa-card.communities {
  @include at-media("tablet") {
    width: 20em;
  }
}

.usa-card__footer {
  a.usa-button {
    @include u-display("flex");
    @include u-flex("align-center");
    @include u-flex("justify-center");
    @include u-minh(8);
  }
}
