@use "uswds-core" as *;

// Edit this

.edit-this{
  position: relative;
  @include u-bg('yellow-5');
  .edit_this_btn{
    position: absolute;
    top:-10px;
    right:-10px;
    z-index: 100;
    @include u-margin-top(0);
    @include u-bg('gold-20v');
    @include u-text('white');
    @include u-text('no-underline');
    @include u-radius('lg');
    @include u-padding(0);
    @include u-font('sans', '2xs');
    @include u-circle(2);
    @include u-text('center');
    @include u-shadow(5);
    span{
      @include u-display('none');
    }
    &:hover{
      @include u-bg('gold-20v');
      text-decoration: underline;
    }
  }
  &:hover{
    outline: 4px #ffcb00 solid;
    @include u-outline-color('gold-20v');
    z-index: 100;
    .edit_this_btn{
      @include u-display('block');
      width: 40px;
      height: 40px;
      top:-20px;
      right:-20px;
      span{
        display:block;
        position: relative;
        text-indent: 0;
        padding: 9px 6px;
        border:none;
      }
    }
  }
}

.edit_tools{
  position: relative;
  @include u-display('none');
  @include at-media('tablet') {
    @include u-display('block');
  }
  .edit{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    @include u-border(0);
    @include u-z('top');
    @include u-display('block');
    @include u-font('sans', 'sm');
    @include u-circle(9);
    @include u-bg('blue-50v');
    @include u-text('white');
    @include u-text('center');
    @include u-text('no-underline');
    @include u-shadow(5);
    &:hover{
      @include u-bg('blue-60v');
    }
    i{
      position: relative;
      top:0;
      left: 2px;
    }
    &:focus{
      @include u-bg('blue-60v');
    }
  }

  .edit-issue{
    @include u-display('none');
  }

}

.edit_tools.active{
  .edit{
    // padding: 15px;
    @include u-padding('105');
    @include u-border(1,'blue-50v','solid');
    @include u-text('blue-50v');
    @include u-bg('white');
    @include u-font('sans', 'lg');
    &:hover{
      @include u-bg('gray-3');
    }
    i{
      left: 0;
    }
    &:focus{
      @include u-bg('gray-3');
    }
  }
  .edit-issue{
    @include u-padding('105');
    @include u-display('block');
    bottom:110px;
    @include u-bg('red-40v');
    @include u-text('white');
    @include u-border(1,'red-50v','solid');
    @include u-font('sans', 'lg');
    &:hover{
      @include u-bg('red-50v');
      @include u-border(1,'red-60v','solid');
    }
    &:focus{
      @include u-bg('red-50v');
      @include u-border(1,'red-60v','solid');
    }
  }
}
