@use "uswds-core" as *;

// Edit this

.edit-this {
  position: relative;

  @include u-bg("yellow-5");

  .edit-this-btn {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;

    @include u-margin-top(0);
    @include u-bg("gold-20v");
    @include u-text("white");
    @include u-text("no-underline");
    @include u-radius("lg");
    @include u-padding(0);
    @include u-font("sans", "2xs");
    @include u-circle(2);
    @include u-text("center");
    @include u-shadow(5);

    span {
      @include u-display("none");
    }

    &:hover {
      @include u-bg("gold-20v");

      text-decoration: underline;
    }
  }

  &:hover {
    outline: 4px #ffcb00 solid;

    z-index: 100;

    @include u-outline-color("gold-20v");

    .edit-this-btn {
      @include u-display("block");
      height: 40px;
      right: -20px;
      top: -20px;

      width: 40px;

      span {
        border: none;
        display: block;
        padding: 9px 6px;
        position: relative;
        text-indent: 0;
      }
    }
  }
}

.edit-tools {
  position: relative;

  @include u-display("none");

  @include at-media("tablet") {
    @include u-display("block");
  }

  .edit {
    bottom: 20px;
    padding: 20px;
    position: fixed;
    right: 20px;

    @include u-border(0);
    @include u-z("top");
    @include u-display("block");
    @include u-font("sans", "sm");
    @include u-circle(9);
    @include u-bg("blue-50v");
    @include u-text("white");
    @include u-text("center");
    @include u-text("no-underline");
    @include u-shadow(5);

    &:hover {
      @include u-bg("blue-60v");
    }

    i {
      left: 2px;
      position: relative;
      top: 0;
    }

    &:focus {
      @include u-bg("blue-60v");
    }
  }

  .edit-issue {
    @include u-display("none");
  }
}

.edit-tools.active {
  .edit {
    @include u-padding("105");
    @include u-border(1, "blue-50v", "solid");
    @include u-text("blue-50v");
    @include u-bg("white");
    @include u-font("sans", "lg");

    &:hover {
      @include u-bg("gray-3");
    }

    i {
      left: 0;
    }

    &:focus {
      @include u-bg("gray-3");
    }
  }

  .edit-issue {
    @include u-padding("105");
    @include u-display("block");
    @include u-bg("red-40v");
    @include u-text("white");
    @include u-border(1, "red-50v", "solid");
    @include u-font("sans", "lg");
    bottom: 110px;

    &:hover {
      @include u-bg("red-50v");
      @include u-border(1, "red-60v", "solid");
    }

    &:focus {
      @include u-bg("red-50v");
      @include u-border(1, "red-60v", "solid");
    }
  }
}
