// Header

footer#footer{
	@include u-padding-y(3);
	// tablet-lg and above
	@include at-media('tablet-lg') {
		@include u-padding-y(4);
		@include u-padding-bottom(6);
	}
	@include u-bg('indigo-90');
	color:#fff;
	a{
		color:#fff;
	}
	// Logo
	.logo{
		@include u-margin(0);
		@include u-font('sans', 'xl');
		@include u-line-height('sans', 2);
		a{
			color:#000;
			@include u-text('no-underline');
		}
		img{
			width: 150px;
		}
	}
}
