@use "uswds-core" as *;

.gh-commit-info {
  margin: units("105") 0;

  &__container {
    align-items: center;
    border-top: 1px color("base-light") solid;
    display: flex;
    justify-content: center;
    margin-top: units(2);
    padding: units(2) 0;
  }

  &__description {
    @include u-font("sans", "xs");
    margin: 0;
    padding: 0 units(1);
  }
}
