
// overrides usa-icon with different width and height
.dg-icon {
  display: inline-block;
  fill: currentColor;
  height: 20px;
  position: relative;
  width: 20px;
  vertical-align: middle;
}

// replace __ with -- and use rems
.dg-icon--large {
  display: inline-block;
  fill: currentColor;
  height: 26px;
  position: relative;
  width: 26px;
  vertical-align: middle;
}

.dg-icon--extra-large {
  display: inline-block;
  fill: currentColor;
  height: 30px;
  position: relative;
  width: 30px;
  vertical-align: middle;
}
