// overrides usa-icon with different width and height
$small: 1rem;
$standard: 1.25rem;
$large: 1.625rem;
$extra-large: 1.875rem;

.dg-icon--small {
  display: inline-block;
  fill: currentColor;
  height: $small;
  position: relative;
  width: $small;
  vertical-align: middle;
}

.dg-icon {
  display: inline-block;
  fill: currentColor;
  height: $standard;
  position: relative;
  width: $standard;
  vertical-align: middle;
}

.dg-icon--large {
  display: inline-block;
  fill: currentColor;
  height: $large;
  position: relative;
  width: $large;
  vertical-align: middle;
}

.dg-icon--extra-large {
  display: inline-block;
  fill: currentColor;
  height: $extra-large;
  position: relative;
  width: $extra-large;
  vertical-align: middle;
}
