@use "uswds-core" as *;

.dg-landing__body {
  margin: 0 units(15) units(5) units(15);

  a {
    color: color($theme-link-color);
  }

  a:hover {
    border: none;
    color: color($theme-link-color);
    text-decoration: underline;
  }

  h1 {
    font-size: 3em;
    font-weight: font-weight("heavy");
  }

  p, ul {
    @include u-font("sans", "lg");
    font-weight: font-weight("light");
    max-width: 100%;
  }

  .usa-card__img {
    height: units("card-lg");
  }

  .usa-card__footer a:hover {
    color: color("base-lightest");
  }
}
