@use "uswds-core" as *;

.dg-landing__hero {
  position: relative;
  width: 100%;

  .dg-img-flexible {
    filter: brightness(90%);
    height: 30rem;
    object-fit: cover;
    width: 100%;
  }

  &-text {
    margin-left: units(5);
    position: absolute;
    top: 20%;
    width: 75%;

    a {
      margin-top: units(5);
    }

    h1 {
      color: color("base-lightest");
      font-size: 9vw;
      font-weight: font-weight("heavy");

      @include at-media("tablet") {
        font-size: 5vw;
      }
    }
  }
}
