.list-collection{
  @include u-margin-bottom('105');
  @include u-padding-top(2);
  @include u-border-top('1px', 'gray-cool-40', 'solid');
  h2{
    @include u-margin(0);
    @include u-margin-bottom(2);
    @include u-font('sans', 'md');
    @include u-text('semibold');
  }
  h4{
    @include u-margin(0);
    @include u-margin-top(3);
    @include u-font('sans', 'sm');
    @include u-text('bold');
  }
  p.deck{
    @include u-margin(0);
    @include u-margin-bottom(1);
    @include u-font('sans', 'lg');
    @include u-line-height('sans', 1);
    @include u-text('light');
  }
  .external-link[href^=http]:not([href*=".gov"]):after {
      background: url('../' + $theme-image-path + 'external-link.png') no-repeat 0 0;
      background: url('../' + $theme-image-path + 'external-link.png') no-repeat 0 0;
      background-size: 100%;
      content: "";
      display: inline-block;
      height: .9em;
      margin-bottom: -2px;
      margin-left: .15rem;
      width: .9em;
  }
  ul{
    @include u-margin(0);
    @include u-margin-bottom('105');
    @include u-padding-left(3);
    li{
      @include u-margin-bottom('105');
      @include u-maxw('tablet-lg');
      @include u-font('sans', 'sm');
      @include u-line-height('sans', 3);
      @include u-text-indent(-3);

      .members{
        @include u-font('sans', 'xs');
      }
      img{
        @include u-margin-right(1);
        @include u-width(2);
        position: relative;
        top:1px;
      }
      a{
        @include u-text('no-underline');
        @include u-text('medium');
        &:hover{
          span{
            @include u-border-bottom('1px', 'blue-warm-70v', 'solid');
          }
        }
      }
    }
  }
}
