@use "uswds-core" as *;

.usa-nav__secondary-links {
  .usa-nav__secondary-item {
    @include at-media("desktop") {
      padding-left: units(0.5);
      & + .usa-nav__secondary-item::before {
        background-color: color("base-lighter");
        display: inline-block;
        width: units("1px");
        height: units(2);
        content: "";
        margin-right: units(0.5);
        vertical-align: middle;
        padding-right: 0;
      }
    }
  }
}
