@use "uswds-core" as *;

.usa-nav__secondary-links {
  .usa-nav__secondary-item {
    padding-left: 0; // removed .25rem value, moved to margin-left below for Safari
    & + .usa-nav__secondary-item::before {
      @include at-media("desktop") {
        padding-right: 6px;
        content: "";
        border-left: 1.5px solid color("base-lighter");
        margin-left: .25rem;
      }
    }
  }
}
