@use "uswds-core" as *;

#page-data{
	@include u-margin-y('105');
	.feedback-copy{
		@include u-text('center');
		@include u-maxw('full');
		@include u-font('sans', 'xs');
	}
	.branch{
		@include u-display('none');
	}
	.edit_file{
		@include u-margin-top(2);
		@include u-padding-y(2);
		@include u-border-top('1px','solid','base-light');
		@include u-display('flex');
		@include u-flex('align-center');
		@include u-flex('justify-center');
		.edit_file_link{
			@include u-padding-x(1);
			@include u-padding-y('2px');
			@include u-bg('white');
			@include u-border('2px','solid','blue-warm-50v');
			@include u-font('sans', 'xs');
			@include u-radius('md');
			@include u-text('blue-warm-50v');
			@include u-text('medium');
			@include u-text('no-underline');
			&:hover{
				span{
					@include u-border-bottom('1px','solid','blue-warm-50v');
				}
			}
		}
		p{
			@include u-margin(0);
			@include u-padding-x(1);
			@include u-font('sans', 'xs');
		}
	}
}
