.dg-redirect {
  background-color: #0b4778;
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 3rem;
    width: 100%;
  }

  &__header {
    color: white;
    display: flex;
    // justify-content: center;
    margin-bottom: 0;

    h2 {
      font-weight: 400;
    }
  }

  &__body {
    align-items: center;
    background-color: white;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20rem;

    h2 {
      color: #124670;
      font-weight: 400;
    }
  }

  &__body-buttons {
    padding-top: 1rem;
  }

  &__touchpoints {
    display: flex;
    justify-content: center;
  }
}
