@use "uswds-core" as *;

// Related promos

.related_promos {
  // @include u-margin-top(5);
  header{
		@include u-margin(0);
		h3{
			@include u-margin(0);
      @include u-font('sans', 'xs');
      @include u-text('bold');
		}
	}
  article.promo{
    @include u-margin-bottom(2);
    @include u-bg('gray-1');
    border: 1px #cac9c0 solid;
    h3{
      @include u-font('sans', '2xs');
      @include u-line-height('sans', 2);
      z-index: 1;
    }
    p{
      @include u-font('sans', '3xs');
    }
    &:hover{
      @include u-bg('gray-cool-5');
      h3 a{
        border-bottom: 2px #fc906d solid;
      }
    }
    &:last-child{
      @include u-margin(0);
    }
  }
  footer{
    h5{
      @include u-margin(0);
      a{
        @include u-text('normal');
        @include u-text('no-underline');
        @include u-text('primary-vivid');
        &:hover{
          border-bottom: 2px #967efb solid; // $indigo-40
        }
      }
    }
  }
}
