@use "uswds-core" as *;

.usa-prose .resources__plain-language-table td {
  background-color: #fff;
  border-bottom-color: rgb(27 27 27);
  border-style: solid;
  font-weight: 400;
  @include u-border-right("1px", "gray-90", "solid");
}

.dg-resource-topics-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include at-media("tablet") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include at-media("desktop") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.dg-resource-topics-list {
  &__list-item {
    padding-bottom: units(1);
  }

  &__link {
    color: color("blue-70v");
    text-decoration: none;
    // allows first-letter psuedo element to target anchor tags
    display: inline-block;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
