@use "uswds-core" as *;

// Styles for the main resources page

// .paper sets the background-color for the page
.resources.section {
  .paper{
    @include u-bg('blue-warm-5');
  }
}

.main-resources {
  .in-page{
    @include u-bg('gray-warm-3');
    @include u-text('indigo-80');
  }
}

#resources_by_topic{
  @include u-bg('white');
  @include u-padding-top(1);
  h2 {
    @include u-margin-bottom(2);
    @include u-padding-top(5);
    @include u-text('semibold');
    @include u-font('sans', 'sm');
    @include u-border-top('1px', 'base-light', 'solid');
  }
  .topic-section{
    @include u-margin-top(0);
    @include u-border-top(0);

    h3{
      @include u-margin-top(0);
      @include u-margin-bottom(0);
      @include u-padding-top(1);
      @include u-padding-bottom('105');
      @include u-font('sans', 'lg');
      @include u-text('semibold');
      @include u-position('sticky');
      a{
        @include u-text('black');
        @include u-text('no-underline');
        &:hover{
          @include u-text('underline');
        }
      }
    }
  }
  .topic-section ~ .topic-section{
    @include u-margin-top(4);
    @include u-border-top('1px', 'base-light', 'solid');
  }
}

.usa-prose table.resources__plain-language-table  tr td {
  background-color: #fff;
  border: 1px solid #1b1b1b;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-color: rgb(27, 27, 27);
  border-bottom-style: solid;
  border-left-style: solid;
  font-weight: 400;
}
