@use "uswds-core" as *;

.service-contact {
  margin-bottom: 0;
  padding: units(1.5); // Equivalent to u-padding("105")
  @include u-font("sans", "2xs");
  line-height: line-height("sans", 3);
  background-color: color("white");
  border-bottom: 1px solid color("gray-cool-10"); // Equivalent to u-border-bottom

  @include at-media("tablet") {
    padding: units(1.5) units(2.5); // Equivalent to u-padding-y("105"), u-padding-x("205")
  }

  &__copy {
    display: flex;
    align-items: start;

    p {
      margin-top: 0;
      margin-left: units(3);

      @include at-media("tablet") {
        margin-left: 0;
      }
    }

    &-icon {
      flex: none;

      img {
        margin-right: units(1);
        width: units(2);
        position: relative;
        top: 2px;
      }
    }

    h3 {
      margin: 0;
      @include u-font("sans", "sm");
      line-height: line-height("sans", 3);
      word-break: break-word;

      a {
        text-decoration: none !important;
        font-weight: font-weight("medium");
        color: color("blue-warm-80");

        &:hover {
          span {
            border-bottom: 1px solid color("blue-warm-80");
          }
        }
      }
    }

    .source-url {
      margin-top: 2px;
      margin-left: 0;
      @include u-font("sans", "3xs");
      line-height: line-height("sans", 2);
      word-break: break-all;

      a {
        color: color("base-dark");
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .summary {
      margin: units(1.5) 0; // Equivalent to u-margin-y("105")
      @include u-font("sans", "xs");

      @include at-media("tablet") {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .authors-list-short {
      margin: 0;
      width: units("card-lg");
    }

    .author span {
      white-space: wrap;
      word-break: break-word;
    }
  }

  .copy-contacts {
    margin-left: units(3);

    @include at-media("tablet") {
      margin-left: 0;
    }

    &__contact {
      margin-top: units(1);
      margin-right: units(1.5);
      word-break: unset;
      width: units(15);

      @include at-media("tablet") {
        margin-right: units(2);
      }

      color: color("black");
      text-decoration: none;

      &:hover {
        span {
          border-bottom: 1px solid color("black");
        }
      }
    }
  }
}
