
// List of Topic buttons
.topic-buttons{
  @include u-padding-bottom('105');
  @include at-media('tablet') {
    @include u-padding-bottom(2);
  }
  h2 {
    @include u-margin-bottom(2);
    @include u-font('sans', 'md');
    @include u-text('semibold');
  }
  // Topic button style
  .topic{
    @include u-margin-bottom('105');
    h3{
      @include u-margin(0);
      a{
        @include u-overflow('auto');
        white-space:nowrap;
        @include u-padding-y(1);
        @include u-padding-x(1);
        @include at-media('tablet') {
          @include u-padding-left(2);
    		}
        @include u-font('sans', 'md');
        @include u-text('medium');
        @include u-bg('white');
        @include u-text('primary-vivid');
        @include u-border('1px','primary-vivid','solid');
        @include u-radius('sm');
        @include u-display('block');
        transition: background-color .5s, color .5s;
        span{
          @include u-float('right');
          transition: margin .4s;
          margin-right: 10px;
          @include u-text('gray-1');
          @include u-display('none');
          @include at-media('tablet-lg') {
            @include u-display('block');
      		}
        }
        &:hover{
          @include u-bg('primary');
          @include u-text('gray-1');
          @include u-border('1px','primary','solid');
          span{
            margin-right: 0;
          }
        }
      }
    }
  }
}


article{
  .topics{
    @include u-margin-top(9);
    @include u-margin-bottom(2);
    @include u-font('sans', '2xs');
    @include u-text('normal');
    a{
      @include u-margin-y('2px');
      @include u-margin-left('2px');
      @include u-padding-y('2px');
      @include u-padding-x(1);
      @include u-display('inline-block');
      @include u-text('no-underline');
      @include u-radius('pill');
      @include u-bg('indigo-warm-10');
      @include u-text('indigo-warm-80');
      @include u-line-height('sans', 2);
      z-index: 2;
      @include u-position('relative');
      transition: background-color .2s, color .2s;
    }
    a:hover{
      @include u-bg('indigo-warm-20');
      @include u-text('indigo-warm-80');
    }
  }

}
