@use "uswds-core" as *;

.topics-collection {
  margin-bottom: 0;

  &__summary {
    @include u-font("sans", "lg");
    font-weight: font-weight("light");
    line-height: 1.5;
    padding-bottom: units(4);
  }

  .dg-featured-resource {
    max-width: none;
  }

  // Set element to be aligned justified right with end of content on desktop
  .usa-card-group {
    @include at-media("desktop") {
      left: 0.55rem;
      margin: 0;
      position: relative;
    }

    .usa-card__img {
      background-color: white;
    }

    .usa-card__heading {
      font-size: 1.1rem;
    }

    img {
      object-fit: contain;
    }
  }

  // Reduce vertical spacing between sibling .dg-feature-resource components
  .dg-featured-resource__body {
    margin: 1.5rem 0;
  }

  &__resources {
    padding-bottom: units(4);
  }

  // Adjust svg collection-icon horizontal spacing to be with consistent with default collection-list-item icons
  &__svg-icon {
    margin-right: units(1.5);
  }

  &__events,
  &__news {
    background-color: color("blue-warm-5");
  }

  &__news {
    padding-bottom: units(4);
  }
}
