@use "uswds-core" as *;

// List of Topic buttons
.topic-buttons{
  @include u-bg('white');
  @include u-padding-bottom('105');
  @include at-media('tablet') {
    @include u-padding-bottom(2);
  }
  h2 {
    @include u-margin-bottom(2);
    @include u-font('sans', 'md');
    @include u-text('semibold');
  }
  // Topic button style
  .topic{
    @include u-margin-bottom('105');
    h3{
      @include u-margin(0);
      a{
        @include u-overflow('auto');
        white-space:nowrap;
        @include u-padding-y(1);
        @include u-padding-x(1);
        @include at-media('tablet') {
          @include u-padding-left(2);
    		}
        @include u-font('sans', 'sm');
        @include u-text('medium');
        @include u-text('no-underline');
        @include u-bg('white');
        @include u-text('primary-vivid');
        @include u-border('1px','primary-vivid','solid');
        @include u-radius('sm');
        @include u-display('block');
        transition: background-color .5s, color .5s;
        span{
          @include u-float('right');
          transition: margin .4s;
          margin-right: 10px;
          @include u-text('gray-1');
          @include u-display('none');
          @include at-media('tablet-lg') {
            @include u-display('block');
      		}
        }
        &:hover{
          @include u-bg('primary-vivid');
          @include u-text('gray-1');
          @include u-border('1px','primary-vivid','solid');
          span{
            margin-right: 0;
          }
        }
      }
    }
    p{
      @include u-font('sans', 'md');
      a{
        @include u-text('no-underline');
      }
      .count{
        @include u-padding-x('05');
        @include u-radius('pill');
        @include u-bg('primary-lightest');
        @include u-text('base-darker');
        @include u-font('sans', '2xs');
      }
    }
  }
}


article{
  .topics{
    @include u-margin-top(7);
    @include u-margin-bottom(2);
  }
}
