@use "uswds-core" as *;

.usa-identifier img[alt] {
  @include u-text("white");
}

//overrides for in-page nav component on /resources
.usa-in-page-nav {
  // sets in-page column to be even with content
  margin-top: 0;

  &__nav {
    margin-bottom: units(4);
    padding-left: 0;
    padding-top: units("05");
  }

  &__heading {
    @include u-font("sans", "sm");
  }

  &__item--sub-item {
    @include u-display("none");
  }
}

.cop-table {
  thead tr th:first-child {
    @include u-border-top("05", "green-40v", "solid");
    @include u-color("green-50v");
  }

  thead tr th:last-child {
    @include u-border-top("05", "red-50v", "solid");
    @include u-color("red-50v");
  }

  tbody tr td {
    width: 50%;
  }

  svg {
    @include u-margin-right(1);
  }
}

.test-rule {
  display: block;
  margin: 9px;
  z-index: 1;
}
