/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05'),
----------------------------------------
*/

@use "uswds-core" with (
  $theme-image-path: "../uswds/img",
  $theme-font-path: "../uswds/fonts",
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,
  $theme-focus-color: "blue-50v",
  $theme-grid-container-max-width: "widescreen",
  $theme-site-margins-breakpoint: "widescreen",
  //typography
  $theme-global-paragraph-styles: true,
  $theme-global-link-styles: true,
  $theme-font-type-sans: "public-sans",
  $theme-font-role-heading: "sans",
  $theme-type-scale-lg: 8,
  $theme-type-scale-xl: 11,
  $theme-font-weight-thin: 100,
  $theme-font-weight-light: 200,
  $theme-font-weight-medium: 600,
  $theme-font-weight-semibold: 700,
  $theme-font-weight-bold: 800,
  $theme-font-weight-heavy: 900,
  $theme-body-font-size: "md",
  $theme-body-line-height: 4,
  $theme-style-body-element: true,
  $theme-text-measure: 5,
  //Colors from _uswds_theme-color.scss
  $theme-color-base-lightest: "gray-cool-5",
  $theme-color-primary-light: "blue-30v",
  $theme-color-primary: "blue-warm-50v",
  $theme-color-primary-dark: "blue-70v",
  $theme-color-primary-darker: "blue-warm-80",
  $theme-color-primary-darkest: "blue-warm-90",
  $theme-color-primary-lightest: "blue-5",
  $theme-color-accent-warm-lightest: "gold-5v",
  $theme-color-accent-warm-lighter: "orange-10v",
  $theme-link-color: "blue-warm-60v",
  $theme-link-visited-color: "indigo-warm-60v",
  $theme-link-hover-color: "blue-warm-70v",
  $theme-header-logo-text-width: 50%,
  $theme-header-max-width: "desktop",
  $theme-utility-breakpoints: (
    "card": false,
    "card-lg": false,
    "mobile": false,
    "mobile-lg": true,
    "tablet": true,
    "tablet-lg": true,
    "desktop": false,
    "desktop-lg": false,
    "widescreen": false
  ),
  $output-these-utilities: (
      "add-list-reset",
      "align-items",
      "align-self",
      "border",
      "border-style",
      "border-width",
      "color",
      "display",
      "font",
      "font-weight",
      "margin-vertical",
      "order",
      "text-decoration"
      ),
);
