@use "uswds-core" as *;

// Video & Video Player

.youtube-card,
.youtube-player{
  @include u-margin(0);
  @include u-position('relative');
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  @include u-height(0);
  overflow: hidden;
  @include u-maxw('full');
  @include u-bg('indigo-warm-90');

  img {
    margin: auto;
    @include u-display('block');
    @include u-maxw('full');
    @include u-position('absolute');
    @include u-right(0);
    @include u-top(0);
    @include u-left(0);
    @include u-bottom(0);
    @include u-border(0);
    @include u-height('auto');
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
  }
  iframe {
    @include u-position('absolute');
    @include u-top(0);
    @include u-left(0);
    @include u-width('full');
    @include u-height('full');
    z-index: 100;
    background: transparent;
  }
  .play {
    @include u-left(1);
    @include u-bottom(1);
    @include u-text('indigo-warm-10');
    @include u-text('center');
    @include u-width(7);
    @include u-height(7);
    @include u-radius('lg');
    background-color: rgba(0, 0, 0, .85); // #18161d - indigo-warm-90
    transition: background-color .2s;
    @include u-border('white', 'solid', '2px');
    @include u-position('absolute');
    cursor: pointer;
  }
  .play::after {
    @include u-position('relative');
    @include u-top('105');
    @include u-left('2px');
    content: " ";
    @include u-display('inline-block');
    @include u-width(0);
    @include u-height(0);
    border-style: solid;
    border-width: 14px 0 14px 24px;
    border-color: transparent transparent transparent #fff;
  }

  // See card.scss for card overlay styles
  &:hover .play{
    @include u-bg('primary-vivid');
  }

}
.youtube-player img{
  cursor: pointer;
}
