/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// -------------------------------------
// Import individual theme settings

@import '../uswds/uswds-theme-general';
@import '../uswds/uswds-theme-typography';
@import '../uswds/uswds-theme-spacing';
@import '../uswds/uswds-theme-color';
@import '../uswds/uswds-theme-utilities';
@import '../uswds/uswds-theme-components';

// -------------------------------------
// Import individual USWDS modules...

// @import 'uswds-fonts';
// @import 'uswds-layout-grid';
// @import 'uswds-components';
// @import 'uswds-utilities';

// -------------------------------------
// ...or import all USWDS modules

@import 'uswds';

// -------------------------------------
// Import theme custom styles

@import 'layout';
@import 'gov-banner';
@import 'paper';

@import 'header';
@import 'footer';
@import 'usa_anchor';
@import 'promos';
@import 'newsletter';
@import 'stream';

// Cards
@import 'card';
@import 'card-article';
@import 'card-elsewhere';
@import 'card-event';

@import 'article';
@import 'posts';
@import 'events';
@import 'table-of-contents';
@import 'content';
@import 'images';
@import 'resources';

// Lists of related pages
@import 'list-collection';

@import 'feedback';
@import 'share-tools';

@import 'guides/header';
@import 'guides/guide-nav';
@import 'guides/page-head';

// Authors lists
@import 'authors-list';
@import 'authors-list-short';

// Authors profile
@import 'author-profile';

@import 'notice-bar';

@import 'related_promos';
@import 'video';

// Homepage Styles
@import 'home/home';
@import 'home/events';
@import 'home/topics_featured';
@import 'home/resources_featured';
@import 'home/communities';

@import 'community-info';

@import 'related_communities';
@import 'services';
@import 'related_services';

// Topics styles
@import 'topic-buttons';
@import 'topics-sidebar';


@import 'buttons';

// Edit Tools
@import 'edit-this';

@import 'shortcodes/box';
@import 'shortcodes/note';
@import 'shortcodes/card-policy';
