{{/* Display a news card for internal or external blog links.
  External links use both source and source_url to set the logo and external link.
*/}}

{{/* Flag to display internal or external card styles */}}
{{ $isExternal := false }}
{{ if and (.Params.source) (.Params.source_url) }}
  {{ $isExternal = true }}
{{ end }}

{{/* Get the source to lookup the logo for an external image */}}
{{ $source := $.Site.GetPage "page" (print "source_" .Params.source ) }}
{{/* Unique ID to link article to its title in screen readers */}}
{{ $titleID := (printf "%s%s" "title-" .Title) | urlize }}
{{ $title := .Title }}
{{ $kicker := .Params.kicker }}
{{ $deck := .Params.deck }}
{{ $summary := .Params.summary }}
{{ $link := .Permalink }}
{{ $short_url := .Params.short_url }}
{{ $source_url := .Params.source_url }}


<article
  class="card {{ if $isExternal }}
    card-news--external
  {{ else }}
    card-news--internal
  {{ end }}card-linked"
  {{ if $short_url }}data-short_url="{{- $short_url -}}"{{ end }}
  aria-labelledby="{{ $titleID }}"
>
  <div class="card__content">
    {{ if $isExternal }}
      <div class="card__summary">
        <h3 id="{{ $titleID }}">
          <a href="{{- $link -}}">{{- $title | markdownify -}}</a>
        </h3>
        <p>
          {{- if $deck -}}
            {{- $deck | markdownify | emojify -}}
          {{- end -}}
          {{- if $source -}}
            {{ $url := urls.Parse $source_url }}
            <em class="card__source source"
              >— via
              <a
                href="{{- if $short_url -}}
                  {{- $short_url -}}
                {{- else -}}
                  {{- $source_url -}}
                {{- end -}}"
                title="Read at {{ $source.Params.name -}}"
                >{{- $source.Params.name -}}</a
              ></em
            >
          {{ end }}
        </p>
      </div>
    {{ else }}
      {{- if $kicker -}}
        <div class="kicker">
          <span>{{- $kicker -}}</span>
        </div>
      {{- end -}}
      <h3 id="{{ $titleID }}">
        <a href="{{- $link -}}">{{- $title | markdownify -}}</a>
      </h3>

      {{- if $summary -}}
        <div class="summary">
          <p>{{ $summary | markdownify }}</p>
        </div>
      {{- else -}}
        <div class="deck">
          <p>{{ $deck | markdownify }}</p>
        </div>
      {{- end -}}

      {{- partial "core/get_authors_short.html" . -}}
    {{ end }}
  </div>

  <div class="card__media">
    {{/* Use a custom favicon set in /sources/source_[slug].md */}}
    {{ if $isExternal }}
      {{- if $source.Params.logo -}}
        {{- $src := (printf "logos/%s%s" $source.Params.logo "-logo.png") -}}
        <img src="{{ $src | relURL }}" alt="{{- $source.Params.name }} logo" />
      {{ else }}
        {{/* Otherwise, use the Favicon that Google stores for the site. */}}
        <img
          src="https://www.google.com/s2/favicons?domain={{- .Params.source_url -}}"
          alt="{{- .Params.source }} logo"
        />
      {{ end }}
    {{ else }}
      {{ partial "core/img-featured.html" . }}
    {{ end }}
  </div>

  <div class="card__meta">
    <div class="date">{{ dateFormat "Jan 02, 2006" .Date }}</div>
  </div>
</article>
