{{/* set the href as a variable */}}
{{- $href := "" -}}
{{- if .Params.source_url -}}
  {{- $href = (print .Params.source_url "?dg") -}}
{{- else -}}
  {{- $href = (print .Permalink "?dg") -}}
{{- end -}}

<div class="card card-elsewhere card-linked" data-edit-this="/edit/{{- .Type -}}/?page=https://digital.gov{{- (urls.Parse .Permalink).Path -}}" {{- if .Params.short_url -}}data-short_url="{{- .Params.short_url -}}"{{- end -}}>
  <div>

    {{/* Logos
    See services/card-service.html for the logo template

    Checks to see if there is a service page for this.
    Must be at the path `service_SERVICE-NAME.md` */}}
    {{- $service := $.Site.GetPage "page" (print "service_" .Params.service ) -}}
    {{/* If there is a service page... */}}
    {{- if $service -}}
      {{/* Check if the service logo is set ... */}}
      {{- if $service.Params.logo -}}
        {{- $src := (printf "/logos/%s%s" $service.Params.logo "-logo.png") -}}
        {{- template "logo" dict "src" $src "alt" $service.Params.name "href" $href -}}
      {{/* Service logo is NOT set, use the Digital.gov logo */}}
      {{- else -}}
        {{- template "logo" dict "src" "/logos/digitalgov-logo.png" "alt" "Digital.gov Logo" "href" $href -}}
      {{- end -}}
    {{/* If there is NOT a service page for this, use the Digital.gov logo */}}
    {{- else -}}
      {{- template "logo" dict "src" "/logos/digitalgov-logo.png" "alt" "Digital.gov Logo" "href" $href -}}
    {{- end -}}



    <div class="summary">
      <p>
        {{- if .Params.deck -}}{{- .Params.deck | markdownify | emojify -}}{{- end -}}
        {{- if $source -}}
          {{ $url := urls.Parse .Params.source_url }}
          <em class="source">— via <a href="{{- $source.Params.domain -}}" title="Read at {{ $source.Params.name -}}">{{- $source.Params.name -}}</a></em>
        {{ end }}
      </p>
      {{- if $source -}}
        {{ $url := urls.Parse .Params.source_url }}
        <p class="domain"></p>
      {{ end }}

    </div>

  </div>
  <div class="meta">
    <p class="date">{{ dateFormat "Jan 02, 2006" .Date }}</p>
    {{- partial "core/get_clicks" . -}}
  </div>
  <a class="overlay" href="{{- if .Params.short_url -}}{{- .Params.short_url -}}{{- else -}}{{- .Params.source_url -}}{{- end -}}" title="{{- .Params.source_name -}}"><span></span></a>
</div>
