{{/* Display a news card for internal (card-article) or external (card-elsewhere) links.
  External links use both source and source_url.
*/}}

{{/* Flag to display internal or external card styles */}}
{{ $isExternal := false }}
{{ if and (.Params.source) (.Params.source_url) }}
  {{ $isExternal = true }}
{{ end }}

{{/* Get the source to lookup the logo for an external image */}}
{{ $source := $.Site.GetPage "page" (print "source_" .Params.source ) }}
{{/* Unique ID to link article to its title in screen readers */}}
{{ $titleID := (printf "%s%s" "title-" .Title) | urlize }}


<article
  class="card {{ if $isExternal }}
    card-news-external
  {{ else }}
    card-news-internal
  {{ end }}card-linked"
  {{ if .Params.short_url }}data-short_url="{{- .Params.short_url -}}"{{ end }}
  aria-labelledby="{{ $titleID }}"
>
  <div class="card__content">
    {{ if $isExternal }}
      <div class="card__summary">
        <h3 id="{{ $titleID }}">
          <a href="{{- .Permalink -}}">{{- .Title | markdownify -}}</a>
        </h3>
        <p>
          {{- if .Params.deck -}}
            {{- .Params.deck | markdownify | emojify -}}
          {{- end -}}
          {{- if $source -}}
            {{ $url := urls.Parse .Params.source_url }}
            <em class="card__source source"
              >— via
              <a
                href="{{- if .Params.short_url -}}
                  {{- .Params.short_url -}}
                {{- else -}}
                  {{- .Params.source_url -}}
                {{- end -}}"
                title="Read at {{ $source.Params.name -}}"
                >{{- $source.Params.name -}}</a
              ></em
            >
          {{ end }}
        </p>
      </div>
    {{ else }}
      {{- if .Params.kicker -}}
        <div class="kicker">{{- .Params.kicker -}}</div>
      {{- end -}}
      <h3 id="{{ $titleID }}">
        <a href="{{- .Permalink -}}">{{- .Title | markdownify -}}</a>
      </h3>

      {{- if .Params.summary -}}
        <div class="summary">{{ .Params.summary | markdownify }}</div>
      {{- else -}}
        <div class="deck">{{ .Params.deck | markdownify }}</div>
      {{- end -}}

      {{- partial "core/get_authors_short.html" . -}}
    {{ end }}
  </div>

  <div class="card__media">
    {{/* Use a custom favicon set in /sources/source_[slug].md */}}
    {{ if $isExternal }}
      {{- if $source.Params.logo -}}
        {{- $src := (printf "logos/%s%s" $source.Params.logo "-logo.png") -}}
        <img src="{{ $src | relURL }}" alt="{{- $source.Params.name }} logo" />
      {{ else }}
        {{/* Otherwise, use the Favicon that Google stores for the site. */}}
        <img
          src="https://www.google.com/s2/favicons?domain={{- .Params.source_url -}}"
          alt="{{- .Params.source }} logo"
        />
      {{ end }}
    {{ else }}
      {{ partial "core/img-featured.html" . }}
    {{ end }}
  </div>

  <div class="card__meta">
    <div class="date">{{ dateFormat "Jan 02, 2006" .Date }}</div>
  </div>
</article>
