{{ define "content" }}

<main role="main">

  <div class="grid-container grid-container-desktop">
    <div class="grid-row">
      <div class="grid-col-12" data-edit-this="/edit/{{- .Type -}}/?page=https://digital.gov{{- (urls.Parse .Permalink).Path -}}">
        <header class="header-{{- .Type -}}">

          {{/* Page Title */}}
          <h1>{{- .Title | markdownify -}} </h1>

          {{/* Deck */}}
          {{- if .Params.deck -}}
          <div class="deck">{{- .Params.deck | markdownify -}}</div>
          {{- end -}}

          <div class="join-buttons">
            <a href="{{- "/join" | absURL -}}">Write for us</a>
            <a href="{{- "/join" | absURL -}}">Host an event</a>
          </div>

        </header>
      </div>
    </div>
  </div>


  <section class="stream">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row">

        <div class="grid-col-12">
          {{/* Blog Posts by Topic —
          List all of the blog posts tagged with this topic */}}

          {{/* Gets the past events */}}
          {{- $past_events := where (where .Site.RegularPages.ByDate.Reverse "Section" "events") ".Date.Unix" "<" now.Unix -}}

          {{/* Gets the past events that have youtube_id set  */}}
          {{- $past_events := where $past_events ".Params.youtube_id" "!=" nil -}}

          {{/* Gets the recent blog posts */}}
          {{- $posts := where .Pages "Section" "news" -}}

          {{/* Merges the past events and the recent blog posts */}}
          {{ $stream := union $posts $past_events }}

          {{/* If there are any items at all... */}}
          {{- if $stream -}}

            {{/* Loop through all the pages */}}
            {{/* Also sorting all the items by date and reverse chron */}}
            {{- range (.Paginate ( $stream.ByDate.Reverse )).Pages -}}

              {{- if eq .Type "events" -}}
                {{- .Render "card-event-past" -}}
              {{- end -}}

              {{- if eq .Type "news" -}}
                {{/* External links */}}
                {{- if .Params.source -}}
                  {{/* see /layouts/news/ for card templates */}}
                  {{ .Render "card-elsewhere"}}
                {{ else }}
                  {{/* Blog Posts — Internal links */}}
                  {{- if .Params.deck }}
                    {{/* see /layouts/news/ for card templates */}}
                    {{ .Render "card-article"}}
                  {{ else }}
                    {{/* see /layouts/news/ for card templates */}}
                    {{ .Render "card-article"}}
                  {{ end }}
                {{ end }}
              {{- end -}}

            {{ end }}
          {{ end }}
          {{ partial "core/pagination.html" . }}
        </div>

      </div>
    </div>
  </section>
</main>
{{ end }}
