{{- define "content" -}}
  <main role="main" id="main-content">
    {{ partial "core/blog-date-warning.html" . }}
    <article
      class="grid-container-desktop"
      {{ if .Params.short_url -}}
        data-short_url="{{- .Params.short_url -}}"
      {{- end -}}
    >
      {{- partial "partials/core/usa-breadcrumbs.html" . -}}
      <header>
        {{- partial "partials/core/page-header.html" (dict "data" .) -}}

        {{- partial "core/authors-list.html" (dict "scope" . "authors" .Params.authors "isInline" true) }}


        <div class="meta">
          <div class="date">
            <span title="{{- .Title | markdownify -}} "
              >{{- .Date.Format "Jan _2, 2006" -}}</span
            >
          </div>
        </div>
      </header>

      <section>
        <div class="grid-row tablet-lg:grid-gap-6">
          <div class="grid-col-12 tablet-lg:grid-col-9 tablet-lg:order-last">
            {{/* Main Content */}}
            <div class="content usa-prose">
              {{- .Content -}}
            </div>

            {{ partial "core/last-updated.html" . }}

            {{/* Touchpoints Form */}}
            {{- partial "core/touchpoints-form.html" . -}}
          </div>

          <div class="dg-sidebar grid-col-12 tablet-lg:grid-col-3">
            {{/* Authors */}}
            {{- partial "core/authors-list.html" (dict "scope" . "authors" .Params.authors) }}


            <div class="meta">
              {{/* Date */}}
              <div class="date">
                <span title="{{- .Title | markdownify -}} "
                  >{{- .Date.Format "Jan _2, 2006" -}}
                </span>
              </div>
            </div>

            {{/* Last updated */}}
            {{/* {{- partial "last-updated.html" . -}} */}}
            {{/* Related Communities and Services */}}
            {{- partial "core/get_related.html" . -}}

            {{/* Topics */}}
            {{- partial "core/list-topics.html" . -}}

            {{/* Share Tools */}}
            {{- partial "core/get_sharetools.html" . -}}
          </div>
        </div>
      </section>
    </article>
  </main>
  {{- partial "core/overlay.html" . -}}
{{- end -}}
