{{- define "content" -}}
{{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}

<main role="main" id="main-content">
  <article {{ if .Params.short_url -}}data-short_url="{{- .Params.short_url -}}"{{- end -}}>
    <header>
      <div class="grid-container grid-container-desktop" data-edit-this="{{- $path -}}">
        <div class="grid-row">
          <div class="grid-col-12">
            <p class="breadcrumb">
              <a href="{{- "news" | absURL -}}" aria-label="Back to Latest News">
                <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
                  <use xlink:href="{{ "uswds/img/sprite.svg#arrow_back" | relURL }}"></use>
                </svg>
                <span>Latest News</span>
              </a>
            </p>
            {{- if .Params.kicker -}}
            <p class="kicker">{{- .Params.kicker -}}</p>
            {{- end -}}
            {{/* Page Title */}}
            <h1>{{- .Title | markdownify -}} </h1>

            {{/* Deck */}}
            {{- if .Params.deck -}}
            <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}

            {{- partial "core/get_authors_short.html" . -}}

            <div class="meta">
              <div class="date">
                <span title="{{- .Title | markdownify -}} ">{{- .Date.Format "Jan _2, 2006" -}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="grid-container grid-container-desktop" data-edit-this="{{- $path -}}">
        <div class="grid-row tablet-lg:grid-gap-6">

          <div class="grid-col-12 tablet-lg:grid-col-9 tablet-lg:order-last">

            {{/* Content */}}
            <div class="content usa-prose">
              {{- .Content -}}
            </div>

            {{- partial "core/page-data.html" (dict "page" . "page_type" "post" "branch" ($.Scratch.Get "branch")) -}}

          </div>

          <div class="grid-col-12 tablet-lg:grid-col-3">

            {{/* Authors */}}
            {{- partial "core/get_authors.html" . -}}

            <div class="meta">

              {{/* Date */}}
              <div class="date">
                <span title="{{- .Title | markdownify -}} ">{{- .Date.Format "Jan _2, 2006" -}} </span>
              </div>


            </div>

            {{/* Last updated */}}
            {{/* {{- partial "last-updated.html" . -}}  */}}

            {{/* Related Communities and Services */}}
            {{- partial "core/get_related.html" . -}}

            {{/* Topics */}}
            {{- partial "core/list-topics.html" . -}}

            {{/* Share Tools */}}
            {{- partial "core/get_sharetools.html" . -}}

          </div>

        </div>
      </div>
    </section>

  </article>
</main>

  {{- partial "core/overlay.html" . -}}

{{- end -}}
