@use "uswds-core" as *;

// communities
.communities-of-practice--list {
  @include at-media("tablet") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.usa-card__cop-bar {
  width: 84%;
	margin: 0 auto;
  border-radius: 0px;
  height: 10px;
  margin-top: 1rem;
}

$communities-of-practice: (
  'federal-communicators-network': #FA9441,
  'multilingual': #D73A33,
  'plain-language': #06648D,
  'social-media': #F2938C,
  'user-experience': #73B2E7,
  'web-analytics-and-optimization': #775540,
  'web-content-managers': #4A50C4
);

@each $community, $color in $communities-of-practice {
  .usa-card.cop--#{$community} {
    .usa-card__container {
      border-top: 5px solid $color;
    }
  }
}
