@use "sass:map";
@use "uswds-core" as *;

// https://digital.gov/communities/
.communities-of-practice--list {
  @include at-media("tablet") {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.usa-card__cop-bar {
  border-radius: 0;
  height: 10px;
  margin: 0 auto;
  margin-top: 1rem;
  width: 84%;
}

$communities-of-practice: (
  "FCN": #c84281,
  "ML": #d73a33,
  "PL": #06648d,
  "SM": #2672de,
  "UX": #40807e,
  "WAO": #775540,
  "WCM": #4a50c4,
);

@each $community, $color in $communities-of-practice {
  .cop-card--#{$community} {
    .usa-card__container {
      border-top: 5px solid $color;
    }
  }
}

.usa-card__footer {
  a.usa-button {
    @include u-display("flex");
    @include u-flex("align-center");
    @include u-flex("justify-center");
    @include u-minh(8);
  }
}

// ==========================================================================
// Cards view
// ==========================================================================
.dg-featured-communities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include at-media("tablet") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include at-media("tablet-lg") {
    grid-template-columns: repeat(4, 1fr);
  }

  .usa-card {
    max-width: none !important;

    // Make the first card wider for emphasis
    &:first-child {
      grid-column: 1 / 3;

      .usa-button {
        &:hover {
          background-color: map.get($communities-of-practice, "WCM");
        }
      }

      .usa-button--outline {
        box-shadow: inset 0 0 0 2px map.get($communities-of-practice, "WCM");
        color: map.get($communities-of-practice, "WCM");
        &:hover {
          color: #fff;
        }
      }
    }
  }

  .usa-card__container {
    br {
      display: none;
    }

    // Hide the top color border when on home page
    &-home {
      // border-top: 2px solid color("gray-cool-10");
    }
  }

  .usa-card__media {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  .usa-card__img {
    background-color: transparent;
    max-width: 4rem;
  }

  p {
    font-size: size("sans", "sm");
  }

  .usa-button {
    font-size: size("sans", "xs");
    line-height: 1.3;
  }
}
