@use "sass:map";
@use "uswds-core" as *;

// https://digital.gov/communities/
.communities-of-practice--list {
  @include at-media("tablet") {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.usa-card__cop-bar {
  border-radius: 0;
  height: 10px;
  margin: 0 auto;
  margin-top: 1rem;
  width: 84%;
}

.usa-card__members {
  font-size: size("sans", "xs");
  text-align: center;

  &-icon {
    margin-right: units(1);
  }
}

$communities-of-practice: (
  "CC": color("blue-60v"),
  "FCN": color("magenta-50"),
  "ML": color("red-50"),
  "PL": color("blue-cool-60v"),
  "SM": color("gold-40v"),
  "UX": color("mint-cool-50"),
  "WAO": color("orange-50v"),
  "WCM": color("indigo-60v"),
);

@each $community, $color in $communities-of-practice {
  .cop-card--#{$community} {
    .usa-card__container {
      border-top: 5px solid $color;
    }

    .usa-button {
      &:hover {
        background-color: $color;
      }
    }

    .usa-button--outline {
      &:hover {
        box-shadow: inset 0 0 0 2px $color;
        color: #fff;
      }
    }
  }
}

.usa-card__footer {
  a.usa-button {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: units(8);
  }
}

// ==========================================================================
// Cards view
// ==========================================================================
.dg-featured-communities {
  text-align: center;

  @include at-media("tablet") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @include at-media("tablet-lg") {
    grid-template-columns: repeat(4, 1fr);
  }

  .usa-card {
    max-width: none !important;

    // Make the first card wider for emphasis, commented out if needed in the future
    // &:first-child {
    //   grid-column: 1 / 3;

    //   .usa-button--outline {
    //     box-shadow: inset 0 0 0 2px map.get($communities-of-practice, "WCM");
    //     color: map.get($communities-of-practice, "WCM");
    //     &:hover {
    //       color: #fff;
    //     }
    //   }
    // }
  }

  .usa-card__media {
    display: none;
  }

  p {
    font-size: size("sans", "sm");
  }

  .usa-button {
    font-size: size("sans", "xs");
    line-height: 1.3;
  }

  // has-image variant has svg icon, left justified text, and alternate button styles
  &--has-image {
    text-align: left;

    .usa-card__media {
      align-items: start;
      display: flex;
      flex-direction: column;
      padding-left: units(3);
      padding-right: units(3);
      padding-top: units(4);
    }

    .usa-card__img {
      background-color: transparent;
      max-width: 4rem;
    }

    .usa-card__members {
      padding-left: units(3);
      text-align: left;
    }
  }
}
