// communities

// All posts page — https://digital.gov/posts/
.communities.section{
  .paper{
    // @include u-bg('gold-5v');
  }
}

header.header-communities{
  @include u-padding-bottom(2);
  @include u-text('indigo-warm-80');
  h1, h2{
    @include u-margin-y(1);
    @include u-text('heavy');
    @include u-text('center');
    @include u-line-height('sans', 2);
    @include u-font('sans', 'xl');
    @include at-media('tablet') {
      @include u-font('sans', '2xl');
    }
  }
  .deck, p{
    @include u-margin(0);
    @include u-text('light');
    @include u-text('center');
    @include u-maxw('none');
    @include u-font('sans', 'md');
    @include u-line-height('sans', 3);
    @include at-media('tablet') {
      @include u-font('sans', 'lg');
    }
  }
}

#communities{
  @include u-padding-y(5);
  @include u-padding-bottom(6);
  header{
    h2{}
    p{
      @include u-margin(0);
      @include u-font('sans', 'xl');
      @include u-text('thin');
      @include u-text('center');
      @include u-line-height('sans', 2);
      strong{
        @include u-text('semibold');
        @include u-text('cyan-40v');
      }
    }
    a{
      @include u-margin-top(2);
      @include u-padding-y('05');
      @include u-padding-x(2);
      @include u-bg('mint-20');
      @include u-text('mint-70');
      @include u-text('center');
      @include u-text('medium');
      @include u-radius('md');
      @include u-font('sans', 'md');
      @include u-text('no-underline');
      @include u-display('inline-block');
      &:hover{
        @include u-bg('mint-30');
      }
    }
  }
  .faces{
    @include u-margin-bottom('105');
    position: relative;
    @include u-height(5);
    img{
      border:3px #edeff0 solid;
      @include u-circle(5);
      position: absolute;
      top:0;
      left:0;
      // &:before{
      //   content: " ";
      //   width:23px;
      // }
      &:nth-of-type(2){
        left:25px;
      }
      &:nth-of-type(3){
        left:50px;
      }
      &:nth-of-type(4){
        left:75px;
      }
      &:nth-of-type(5){
        left:100px;
      }
      &:nth-of-type(6){
        left:125px;
      }
      &:nth-of-type(7){
        left:150px;
      }
      &:nth-of-type(8){
        left:175px;
      }
      &:nth-of-type(9){
        left:200px;
      }
      &:nth-of-type(10){
        left:225px;
      }
      &:nth-of-type(11){
        left:250px;
      }
      &:nth-of-type(12){
        left:275px;
      }
    }

  }
}

.communities-list{
  ul{
    @include add-list-reset;
    padding-left: 20px;
    @include u-margin-bottom(2);
    li{
      @include u-margin-bottom('105');
      text-indent: -9px;
      i{
        @include u-margin-right('2px');
      }
      a{
        @include u-text('no-underline');
        @include u-text('bold');
        @include u-font('sans', 'sm');
      }
    }
  }
  article{
    height:90%;
    @include u-margin-bottom(2);
    @include u-padding(2);
    @include u-radius('sm');
    .emails{
      @include u-margin(0);
      @include u-padding-y('05');
      @include u-text('orange-warm-50v');
      @include u-font('sans', '3xs');
      @include u-text('light');
    }
    h4{
      @include u-margin(0);
      @include u-margin-bottom(1);
      @include u-font('sans', 'sm');
      @include u-line-height('sans', 1);
      z-index: 1;
      a{
        @include u-text('no-underline');
        @include u-text('indigo-80');
        &:hover{
          border-bottom: 3px #fc906d solid; // $indigo-40
        }
      }
    }
    p{
      @include u-margin-top('05');
      @include u-font('sans', 'sm');
      @include u-text('indigo-80');
      @include u-line-height('sans', 2);
    }

  }
}

.community-guidelines{
  @include u-bg('gold-10v');
  @include u-padding(3);
  h2{
    @include u-margin(0);
    @include u-margin-bottom(3);
    @include u-font('sans', 'xl');
    @include u-text('heavy');
    @include u-line-height('sans', 1);
  }
  p{

  }
}
