#resources_featured{
  @include u-padding-y(2);
  .list-collection{
    @include u-border(0);
    h2 {
      @include u-margin-bottom(2);
      @include u-font('sans', 'sm');
      @include u-text('semibold');
    }
  }
}
#home #resources_featured{
  @include u-padding-y(5);
  .list-collection{
    @include u-padding-top(0);
  }
}
