{{/* Single Tag + article list */}}
{{/* lists out the articles for a given tag */}}

{{- define "content" -}}

<main role="main" id="topic">
  <header>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12">
          <h6 class="breadcrumb"><a href="{{- "topics/" | absURL -}}"> <i class="fas fa-arrow-left"></i> <span>All Topics</span> </a></h6>
          <h1>{{- .Title -}}</h1>
          {{- $allpages := (where .Pages "Section" "posts") -}}
          <p>{{- .Params.summary -}}</p>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12 tablet:grid-col-8 tablet-lg:grid-col-9">
          {{ if eq .Paginator.PageNumber 1}}

            {{ partial "core/list_related_communities.html" . }}

            {{ partial "core/list_related_resources.html" . }}

          {{- end -}}

          <div class="article-list">
          {{/* Blog Posts by Topic —
          List all of the blog posts tagged with this topic */}}
          {{- $pages := (where .Paginator.Pages "Section" "posts") -}}
          {{/* If there are any blog posts at all... */}}
          {{- if $pages -}}
            <h3>Related news & blog posts</h3>
            <p>{{- len $allpages }} posts</p>

            {{/* Loop through all the pages */}}
            {{- range $pages -}}

              {{/* External links */}}
              {{- if .Params.source -}}
                {{ .Render "card-elsewhere"}}
              {{ else }}
                {{/* Blog Posts — Internal links */}}
                {{- if .Params.deck }}
                  {{ .Render "card-article"}}
                {{ else }}
                  {{ .Render "card-article"}}
                {{ end }}
              {{ end }}

            {{- end -}}
          {{- end -}}

          {{- partial "core/pagination.html" . -}}
          </div>
        </div>

        <div class="grid-col-12 display-none tablet:display-block tablet:grid-col-4 tablet-lg:grid-col-3">

          {{ partial "core/top-topics.html" . }}

        </div>

      </div>
    </div>
  </section>

</main>

{{- end -}}
