{{/* Single Tag + article list */}}
{{/* lists out the articles for a given tag */}}

{{- define "content" -}}

<main role="main" id="topic">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12 tablet:grid-col-8 tablet-lg:grid-col-9">
        <header class="page-header">
          <h6 class="breadcrumb"><a href="{{- "topics/" | absURL -}}"> <i class="fas fa-arrow-left"></i> <span>All Topics</span> </a></h6>
          <h1>{{- .Title -}}</h1>
          {{- $allpages := (where .Pages "Section" "posts") -}}
          <p>{{- .Params.summary -}}</p>
        </header>
        <section>
          {{/* If the first page in a paginated sequence */}}
          {{ if eq .Paginator.PageNumber 1}}
          <div class="list-collection list-collection-resources">
            <h2>Top Resources</h2>
            {{ partial "core/list_related_resources.html" . }}
            <p class="more"><a href="{{ "/resources/" | absURL }}">See all Resources <i class="fas fa-arrow-alt-circle-right"></i></a></p>
          </div>
          <div class="list-collection list-collection-services">
            <h2>Related Services</h2>
            {{ partial "core/list_related_services.html" . }}
            <p class="more"><a href="{{ "/services/" | absURL }}">See all Services <i class="fas fa-arrow-alt-circle-right"></i></a></p>
          </div>
          <div class="list-collection list-collection-communities">
            <h2>Communities</h2>
            {{ partial "core/list_related_communities.html" . }}
            <p class="more"><a href="{{ "/communities/" | absURL }}">See all Communities <i class="fas fa-arrow-alt-circle-right"></i></a></p>
          </div>


          {{- end -}}

          <div class="stream">
          {{/* Blog Posts by Topic —
          List all of the blog posts tagged with this topic */}}
          {{- $pages := (where .Paginator.Pages "Section" "posts") -}}
          {{/* If there are any blog posts at all... */}}
          {{- if $pages -}}
            <h2>Related news & blog posts</h2>
            <p>{{- len $allpages }} posts</p>

            {{/* Loop through all the pages */}}
            {{- range $pages -}}

              {{/* External links */}}
              {{- if .Params.source -}}
                {{ .Render "card-elsewhere"}}
              {{ else }}
                {{/* Blog Posts — Internal links */}}
                {{- if .Params.deck }}
                  {{ .Render "card-article"}}
                {{ else }}
                  {{ .Render "card-article"}}
                {{ end }}
              {{ end }}

            {{- end -}}
          {{- end -}}

          {{- partial "core/pagination.html" . -}}
        </section>
      </div>
      <div class="grid-col-12 display-none tablet:display-block tablet:grid-col-4 tablet-lg:grid-col-3">

        {{ partial "core/topics-sidebar.html" . }}

      </div>
    </div>
  </div>
</main>

{{- end -}}
