{{/* Single Tag + article list */}}
{{/* lists out the articles for a given tag */}}

{{- define "content" -}}

<main role="main" id="topic">
  <header>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12">
          <h6 class="breadcrumb"><a href="{{- "topics/" | absURL -}}"> <i class="fas fa-arrow-left"></i> <span>All Topics</span> </a></h6>
          <h1>{{- .Title -}}</h1>
          {{- $allpages := (where .Pages "Section" "posts") -}}
          <p>{{- .Params.summary -}}</p>
          <p>{{- len $allpages }} pages</p>
        </div>
      </div>
    </div>
  </header>

  <section class="article-list">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12 tablet:grid-col-8 tablet-lg:grid-col-9">
          {{/* Key Resources — 
          A list of the most important resources tagged with the same topic */}}

          {{/* Of the pages that have this topic, this returns the pages in the "Resources" section */}}
          {{- $resources := (where .Pages "Section" "resources") -}}

          {{/* If there are any resources at all... */}}
          {{- if $resources -}}
          <section class="resources">
            <h3>Resources</h3>
            <ul>
              {{- range $resources -}}
                <li><i class="far fa-file"></i> <a href="{{- .Permalink -}}"><strong>{{ .Title | markdownify }}</strong></a> {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}</li>
              {{- end -}}
            </ul>
          </section>
          {{- end -}}

          {{/* Blog Posts by Topic —
          List all of the blog posts tagged with this topic */}}
          {{- $pages := (where .Paginator.Pages "Section" "posts") -}}
          {{/* If there are any blog posts at all... */}}
          {{- if $pages -}}
            <h3>Related blog posts from our community</h3>
            {{/* Loop through all the pages */}}
            {{- range $pages -}}

              {{/* External links */}}
              {{- if .Params.source -}}
                {{ .Render "card-elsewhere"}}
              {{ else }}
                {{/* Blog Posts — Internal links */}}
                {{- if .Params.deck }}
                  {{ .Render "card-blurb"}}
                {{ else }}
                  {{ .Render "card-article"}}
                {{ end }}
              {{ end }}

            {{- end -}}
          {{- end -}}

          {{- partial "core/pagination.html" . -}}
        </div>

        <div class="grid-col-12 display-none tablet:display-block tablet:grid-col-4 tablet-lg:grid-col-3">

          {{ partial "core/top-topics.html" . }}

        </div>

      </div>
    </div>
  </section>

</main>

{{- end -}}
