{{/* All Tags */}}
{{/* lists out the tags for the site */}}
{{- define "content" -}}
{{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}

<main role="main" id="main-content">

  <header>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row tablet-lg:grid-gap-4">
        <div class="grid-col-12">
          {{- $topics := (where .Site.Pages "Section" "topics") -}}
          <h1>Topics</h1>
          <h4 class="display-none">There are {{ len $topics }} topics</h4>
        </div>
      </div>
    </div>
  </header>

  <section class="topic-buttons">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row tablet:grid-gap-2">
        {{- $top_topics := $.Site.Taxonomies.topics -}}
        {{- range $name, $taxonomy := $top_topics -}}
          {{- with $.Site.GetPage (printf "/topics/%s" $name) -}}
            {{- if eq .Params.weight 2 -}}
              <div class="grid-col-12 tablet:grid-col-4">
                <div class="topic" data-edit-this="{{- $path -}}">
                  <h3>
                    <a href="{{- .Permalink | absURL -}}" title="{{- .Title -}}">{{- .Title -}} <span>&#8594;</span></a>
                  </h3>
                </div>
              </div>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </div>
    </div>
  </section>

  <section class="topic-buttons">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row tablet-lg:grid-gap-2">
        <div class="grid-col-auto">
          {{- $topics_tax := $.Site.Taxonomies.topics -}}
          {{- $topics_count := len $topics_tax -}}
          {{- $topics_col := (div $topics_count 3) -}}
          <h2>All {{ $topics_count }} Topics</h2>
        </div>
      </div>
      <div class="grid-row tablet-lg:grid-gap-6">
        <div class="grid-col-12 tablet-lg:grid-col-4">

        {{/*
        How we're dividing all the topics into 4 columns
        Set the counter to 0.
        */}}
        {{- $.Scratch.Set "counter" 0 -}}
        {{/*
        Making sure we don't go over 4 columns
        */}}
        {{- $.Scratch.Set "col_counter" 1 -}}

        {{/*
        Loop through all the terms
        */}}
        {{- range $name, $taxonomy := $topics_tax -}}
          {{- with $.Site.GetPage (printf "/topics/%s" $name) -}}

          {{/*
          Increment the counter for each topic
          */}}
          {{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) -}}
          {{- $count := $.Scratch.Get "counter" -}}

          {{/*
          Output the topic HTML
          */}}
          <div class="topic" data-edit-this="{{- $path -}}">
            <p>
              <a href="{{- .Permalink -}}" title="{{- $name -}}"><span>{{- .Title -}}</span></a> <span class="count">{{- $taxonomy.Count -}}</span>
            </p>
          </div>

          {{/*
          Check if the col_counter is less than 4
          If yes, then:
          - Increment the col_counter
          - output the closing and opening DIV
          */}}
          {{- if lt ($.Scratch.Get "col_counter") 3 -}}
            {{- if modBool $count $topics_col -}}
              {{- $.Scratch.Set "col_counter" (add ($.Scratch.Get "col_counter") 1) -}}
              </div>
              <div class="grid-col-12 tablet-lg:grid-col-4">
            {{- end -}}
          {{- end -}}

        {{- end -}}
      {{- end -}}
      </div>
    </div>
  </section>

  <section class="topic-csv display-none">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row tablet-lg:grid-gap-2">
        <div class="grid-col-auto">
          {{- $topics_tax := $.Site.Taxonomies.topics -}}
          {{- range $name, $topic := $topics_tax }}
            {{- with $.Site.GetPage (printf "/topics/%s" $name) }}
              {{ .Title }}, {{ $name }}, {{ .Params.weight }}
              <br/>
            {{ end -}}
          {{- end -}}
        </div>
      </div>
    </div>
  </section>


  <section class="display-none">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row tablet-lg:grid-gap-2">
        <div class="grid-col-6">
          <table>
            {{- $topics := (where .Site.Pages "Section" "topics") -}}
            {{- range $name, $taxonomy := $topics.ByTitle -}}
              <tr>
                <td class="padding-1 border-bottom-1px border-base-lighter"><a href="{{- .Permalink -}}" title="{{- $name -}}"><span>{{- .Title -}}</span></a></td>
                <td class="padding-1 border-bottom-1px border-base-lighter font-mono-2xs">{{ .Data.Term }}</td>
              </tr>
            {{- end -}}
          </table>

        </div>
        <div class="grid-col-6">
          <table>
            {{- $topics_tax := $.Site.Taxonomies.topics -}}
            {{- range $name, $taxonomy := $topics_tax -}}
              {{- with $.Site.GetPage (printf "/topics/%s" $name) -}}
              <tr>
                <td class="padding-1 border-bottom-1px border-base-lighter"><a href="{{- .Permalink -}}" title="{{- $name -}}"><span>{{- .Title -}}</span></a></td>
                <td class="padding-1 border-bottom-1px border-base-lighter font-mono-2xs">{{ .Data.Term }}</td>
                <td class="display-none padding-1 border-bottom-1px border-base-lighter font-mono-2xs">{{ $taxonomy.Count }}</td>
              </tr>
              {{- end -}}
            {{- end -}}
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
{{- end -}}
