img[alt="Logo"] {
  margin-left: 75px;
  width: 150px;
}

div[class*="LibraryTop"] button[class*="DeleteButton"] {
  display: none;
}

.cms-editor-visual div[role="menu"] ul {
  width: 220px !important;
}
