<div class="card-service">
  {{/* set the href as a variable */}}
  {{- $href := "" -}}
  {{- if .Params.source_url -}}
    {{- $href = (print .Params.source_url "?dg") -}}
  {{- else -}}
    {{- $href = (print .Permalink "?dg") -}}
  {{- end -}}

  {{/* Logos
    Get the "source" in the file and looks up the icon that is used there.
  */}}

  {{ .Scratch.Set "logo_src" "" }}
  {{- $source := $.Site.GetPage "page" (print "source_" .Params.source ) -}}

  {{/* Find the logo source. */}}
  {{/* @TODO: Simplify even further. */}}
  {{- if $source -}}
    {{ .Scratch.Set "logo_src" (printf "logos/%s%s" $source.Params.logo "-logo.png") }}
  {{- else if .Params.logo -}}
    {{ .Scratch.Set "logo_src" (printf "logos/%s%s" .Params.logo "-logo.png") }}
  {{- else -}}
    {{ .Scratch.Set "logo_src" "logos/digit-gold.png" }}
  {{- end -}}

  {{/* Call logo template once with new found source. */}}
  {{- template "logo" dict "src" (.Scratch.Get "logo_src") "href" $href -}}


  <div class="copy">
    <h2 class="card__title">
      <a href="{{- $href -}}" title="{{- .Params.title -}}"
        >{{- .Params.title -}}</a
      >
    </h2>

    <p>{{- .Params.summary | markdownify -}}</p>

    {{- if .Params.topics -}}
      {{- partial "core/list-topics.html" . -}}
    {{- end -}}

  </div>
</div>

{{- define "logo" -}}
  <div class="logo">
    <a href="{{- .href -}}" title="{{- .alt -}}"
      ><img src="{{ .src | relURL }}" alt="{{- .alt }} logo"
    /></a>
  </div>
{{- end -}}
