{{ define "content" }}

<main role="main">

  <div class="grid-container grid-container-desktop">
    <div class="grid-row tablet-lg:grid-gap-4">
      <div class="grid-col-12">
        <header class="page-head page-head-{{- .Type -}}">

          {{/* Page Title */}}
          <h1>{{- .Title | markdownify -}} </h1>

          {{/* Deck */}}
          {{- if .Params.deck -}}
          <div class="deck">{{- .Params.deck | markdownify -}}</div>
          {{- end -}}

          {{/* {{ partial "last-updated" . }} */}}

        </header>
      </div>
    </div>
  </div>

  <section>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row tablet-lg:grid-gap-2">

      {{/* Gets all service pages */}}
      {{- $services := (where .Site.Pages "Section" "services") -}}

      {{/* Gather only the pages with a weight greater than or equal to 1 */}}
      {{- $services := (where $services ".Params.weight" "ge" 1) -}}

      {{- with $services -}}

        {{- range $i, $e := . -}}

          <div class="grid-col-12 tablet:grid-col-6">
            <div class="promo promo-card " data-edit-this="/edit/{{- .Type -}}/?page=https://digital.gov{{- (urls.Parse .Permalink).Path -}}">
              {{- if .Params.icon -}}
              {{- $src := (print "/logos/" .Params.icon) -}}
              <img src="{{- $src | relURL -}}" alt="{{- .Params.name }} Logo">
              {{- end -}}
              <h3><a href="{{- if .Params.source_url -}}{{- .Params.source_url -}}{{- else -}}{{- .Permalink -}}{{- end -}}?dg" title="{{- .Params.title -}}">{{- .Params.title -}}</a></h3>
              <p>{{- .Params.summary | markdownify -}}</p>
              <a class="overlay" href="{{- if .Params.source_url -}}{{- .Params.source_url -}}{{- else -}}{{- .Permalink -}}{{- end -}}?dg" title="{{- .Params.title -}}"><span></span></a>
            </div>
          </div>

        {{- end -}}
      {{- end -}}
      </div>

    </div>
  </section>
</main>

{{- end -}} {{/* end 'content' block */}}
