{{/* set the href and src variables */}}
{{ $href := "" }}
{{ $src := "" }}

{{/* Determine href and src based on conditions */}}
{{ if .Params.source_url }}
  {{/* If an external link */}}
  {{ $href = .Params.source_url }}
  {{ if .Params.source }}
    {{/* If there is a defined source for this page */}}
    {{ with $.Site.GetPage (print "source_" .Params.source) }}
      {{/* Get the source data */}}
      {{ if .Params.logo }}
        {{/* If there is a logo defined in the source */}}
        {{ $src = printf "logos/%s%s" .Params.logo "-icon.png" | relURL }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{/* No specific source, attempt to get favicon from the URL */}}
    {{ $src = printf "https://www.google.com/s2/favicons?domain=%s" $href }}
  {{ end }}
{{ else }}
  {{/* If an internal link */}}
  {{ if .Params.logo }}
    {{/* If there is a logo defined for internal link */}}
    {{ $src = printf "logos/%s%s" .Params.logo "-icon.png" | relURL }}
  {{ else }}
    {{/* Use a default logo for internal link */}}
    {{ $src = "logos/digitalgov-icon.png" | relURL }}
  {{ end }}
{{ end }}

{{/* Calls the the service-contact template once! */}}
{{ template "service-contact" dict "item" . "href" $href "src" $src }}
