{{/* ==========
  Display a 3 column list of GSA services.
*/}}

{{/* Determine href and src based on conditions */}}
{{ $href := "" }}
{{ $src := "" }}
{{ if .Params.source_url }}
  {{/* If an external link */}}
  {{ $href = .Params.source_url }}
  {{ if .Params.source }}
    {{/* If there is a defined source for this page */}}
    {{ with $.Site.GetPage (print "source_" .Params.source) }}
      {{/* Get the source data */}}
      {{ if .Params.logo }}
        {{/* If there is a logo defined in the source */}}
        {{ $src = printf "logos/%s%s" .Params.logo "-icon.png" | relURL }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{/* No specific source, attempt to get favicon from the URL */}}
    {{ $src = printf "https://www.google.com/s2/favicons?domain=%s" $href }}
  {{ end }}
{{ else }}
  {{/* If an internal link */}}
  {{ if .Params.logo }}
    {{/* If there is a logo defined for internal link */}}
    {{ $src = printf "logos/%s%s" .Params.logo "-icon.png" | relURL }}
  {{ else }}
    {{/* Use a default logo for internal link */}}
    {{ $src = "logos/digitalgov-icon.png" | relURL }}
  {{ end }}
{{ end }}


<div class="service-contact">
  <div class="grid-row grid-gap-2">
    <div class="grid-col-12 tablet:grid-col-3">
      <div class="service-contact__copy">
        {{- template "icon-resource" dict "item" . "src" $src "href" $href -}}
        <div>
          <h3>
            <a href="{{- $href -}}" title="{{- .Title | markdownify -}}"
              ><span>{{- .Title | markdownify -}}</span></a
            >
          </h3>
          <p class="source-url">
            <a href="{{- $href -}}" title="{{- .Title | markdownify -}}"
              >{{- .Params.source_url -}}</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="grid-col-12 tablet:grid-col-5">
      <div class="service-contact__copy">
        {{- if .Params.deck -}}
          <p class="summary">{{- .Params.deck | markdownify -}}</p>
        {{- else -}}
          <p class="summary">
            {{- .Params.summary | markdownify | truncate 140 -}}
          </p>
        {{- end -}}
      </div>
    </div>

    <div class="grid-col-12 tablet:grid-col-4">
      <div class="service-contact__copy copy-contacts">
        {{ if .Params.contact }}
          <a
            class="copy-contacts__contact"
            href="mailto:{{- .Params.contact -}}"
            title="Contact"
          >
            <span>
              <svg
                class="usa-icon dg-icon dg-icon--small margin-bottom-05"
                aria-hidden="true"
                focusable="false"
              >
                <use
                  xlink:href="{{ "uswds/img/sprite.svg#mail" | relURL }}"
                ></use>
              </svg>
              Contact</span
            >
          </a>
        {{- end -}}

        {{- partial "core/get_authors_short.html" . -}}
      </div>
    </div>
  </div>
</div>

{{- define "icon-resource" -}}
  {{- $src := .src -}}
  {{- $href := .href -}}
  {{- with .item -}}
    <div class="service-contact__copy-icon">
      <a href="{{- $href -}}" title="{{- .Title | markdownify -}}"
        ><img src="{{ $src | relURL }}" alt="{{- .Params.name }} icon"
      /></a>
    </div>
  {{- end -}}
{{- end -}}
