{{- define "content" -}}
  <main role="main" id="main-content">
    <article class="grid-container-desktop">
      <header>
        {{- if .Parent -}}
          {{- partial "partials/core/usa-breadcrumbs.html" . -}}
        {{- end -}}

        {{- partial "partials/core/page-header.html" (dict "data" .) -}}
        {{- if .Params.source_url -}}
          <p>
            <a
              href="{{- .Params.source_url -}}"
              title="Go to: {{- .Title | markdownify -}}"
              >{{- .Params.source_url -}}</a
            >
          </p>
        {{- end -}}
      </header>

      {{- partial "partials/core/usa-in-page-nav.html" . -}}
    </article>
  </main>
{{- end -}}
