{{- define "content" -}}
  <main role="main" id="main-content">
    <article class="grid-container-desktop">
      {{- partial "partials/core/usa-breadcrumbs.html" . -}}
      <header>
        <div>
          {{/* Kicker */}}
          {{- if .Params.kicker -}}
            <p class="kicker">{{- .Params.kicker -}}</p>
          {{- end -}}

          {{/* Page Title */}}
          <h1>{{- .Title | markdownify -}}</h1>

          {{/* Deck */}}
          {{- if .Params.summary -}}
            <div class="deck">{{- .Params.summary | markdownify -}}</div>
          {{- end -}}

          {{- if .Params.source_url -}}
            <p>
              <a
                href="{{- .Params.source_url -}}"
                title="Go to: {{- .Title | markdownify -}}"
                >{{- .Params.source_url -}}</a
              >
            </p>
          {{- end -}}
        </div>
      </header>

      <div class="usa-in-page-nav-container">
        <aside
          class="usa-in-page-nav"
          data-title-heading-level="h3"
          data-root-margin="-350px 0px -350px 0px"
        ></aside>
        <div>
          {{/* Content */}}
          <div class="content usa-prose">
            {{- .Content -}}
          </div>
        </div>
      </div>
    </article>
  </main>
{{- end -}}
