_site/
site/
public/
dist/
content/images/_working/
content/images/uploaded/
themes/digital.gov/static/uswds/fonts/source-sans-pro/
themes/digital.gov/static/uswds/img/material-icons/
themes/digital.gov/static/uswds/img/material-icons-deprecated/
themes/digital.gov/static/uswds/img/uswds-icons/
themes/digital.gov/static/uswds/img/usa-icons/
.sass-cache/
.jekyll-metadata
node_modules/
.ruby-version
.env
.DS_Store
content/images/_inbox/CoE-team-Nina-Bianchi.png
content/images/_inbox/coe-vision-listen.png
content/images/_inbox/coe-vision-triangulate.png
content/images/_inbox/Inclusive-Vision-Listen.png
content/images/_inbox/Inclusive-Vision-Triangulate.png
content/images/_inbox/Inclusive_Vision_Triangulate.png
content/images/_inbox/Refine_Listen.png
content/images/_inbox/Triangulate.png
static/img/proxy/fedramp-logo-stamp.jpeg
.hugo_build.lock

# Editor settings
.vscode/
assets/s3-images
resources/_gen
themes/digital.gov/static/uswds/img/usa-icons