<ul class="usa-sidenav-list">
  {% for item in site.navigation %}
    {% assign current = '' %}
    {% if page.url == item.url %}
      {% assign current = 'usa-current' %}
    {% endif %}
    <li>
      {% if item.url %}
      <a class="{{ current }}" href="{{ site.baseurl }}{{ item.url }}">{{ item.text }}</a>
      {%else%}
      <strong>{{ item.text }}</strong>
      {% endif %}

      {% if item.sub_nav[0] %}
      <ul class="usa-sidenav-sub_list">
      {% endif %}
      {% for sub_item in item.sub_nav %}
        {% assign subcurrent = '' %}
        {% if page.url == sub_item.url %}
          {% assign subcurrent = 'usa-current' %}
        {% endif %}

        <li> <a class="{{ subcurrent }}" href="{{ site.baseurl }}{{ sub_item.url }}">{{ sub_item.text }}</a></li>

      {% endfor %}
      {% if item.sub_nav[0] %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
