{{/* Single Tag + article list */}}
{{/* lists out the articles for a given tag */}}

{{ define "content" }}

<main role="main" id="topic" class="collection">
  <div class="grid-container padding-x-2">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12 tablet:grid-col-3">
        <nav class="topics-featured">
          <header>
            <h4>Topics</h4>
            <p>Tags / <a href="{{ "/tag/" | absURL }}">See all »</a></p>
          </header>
          <ul class="add-list-reset">
            {{ range $name, $taxonomy := $.Site.Taxonomies.tag }}
              {{ with $.Site.GetPage (printf "/tag/%s" $name) }}
              <li>
                <a href="{{ .Permalink }}" title="{{ $name }}"># <span>{{ $name }}</span></a>
              </li>
              {{ end }}
            {{ end }}
          </ul>
        </nav>
      </div>


      <div class="grid-col-12 tablet:grid-col-9">
        <section class="article-list">
          <header>
            {{/* {{ .Type }} */}}
            {{/* {{ .Name }} */}}
            {{/* {{ .Params.title }} */}}
            {{ $data := $.Site.Data }}
            {{ $taxonomy := .Data.Plural }}
            {{ $taxonomy }}
            {{ $slug := .Title | urlize }}
            {{ $taxdata := index $data $taxonomy }}
            {{ $term := index $taxdata $slug }}
            {{ if eq $taxonomy "categories" }}
              {{ $.Scratch.Set "categories" $slug }}
            {{ end }}
            {{ with $term.communities }}
              {{ $.Scratch.Set "relatedCommunities" . }}
            {{  end }}

            <h1>{{ $term.display_name }}</h1>
            {{ with $term.summary }}
              <p>{{ . | markdownify }}</p>
            {{ end }}
          </header>
          {{ range .Paginator.Pages }}

          <article>
            <div class="grid-row grid-gap-3">
              <div class="grid-col-3">
                <div class="media">
                  <a href="{{ .Permalink }}" title="{{ $.Scratch.Get "card_title" }}">
                    {{ partial "img-featured--home.html" . }}
                  </a>
                </div>
              </div>
              <div class="grid-col-9">
                <header>
                  <h3><a href="{{- .Permalink -}}" title="{{- .Title | markdownify -}}">{{- .Title | markdownify -}}</a></h3>
                  <p>{{- .Params.summary | default .Summary | safeHTML | markdownify -}}</p>

                </header>
                <footer>
                  <a href="{{- .Permalink -}} " rel="nofollow" title="{{- .Title | markdownify -}} ">{{- .Date.Format "Jan _2" -}}</a><span>&#10038;</span>{{- partial "core/get_authors_short" . -}}
                </footer>
              </div>
            </div>
          </article>

          {{ end }}
          {{ partial "pagination.html" . }}
        </section>

      </div>
    </div>
  </div>
</main>

{{ end }}
