{{/* All Tags */}}
{{/* lists out the tags for the site */}}
{{ define "content" }}

<main role="main" class="taxonomy">
  <div class="grid-container padding-x-2">

    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">
        <header>
          {{ $data := $.Site.Data }}
          <h1>Topics</h1>
          <h4>There are {{ len $.Data.Terms }} {{ $.Data.Plural }}</h4>
        </header>
      </div>
    </div>

    {{/* TOPICS / Categories / Tags */}}
    <div class="grid-row">
      <div class="grid-col-12">
        <section>
          <ul class="add-list-reset">
            {{ range $name, $taxonomy := $.Site.Taxonomies.tag }}
              {{ with $.Site.GetPage (printf "/tag/%s" $name) }}
              <li>
                <a href="{{ .Permalink }}" title="{{ $name }}"># <span>{{ $name }}</span></a>
              </li>
              {{ end }}
            {{ end }}
            <hr/>
            {{ range $tag, $title := index $data $.Data.Plural }}
              {{ $link := printf "%s/%s/" $.Data.Plural $tag }}
              {{ $terms := first 1 (where $.Data.Terms.Alphabetical ".Name" $tag) }}
              {{ range $page := $terms }}
                <li>$ <a href="{{ $link | absURL }}">{{ $title.display_name }} ({{ $page.Count }})</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </section>
      </div>
    </div>

    <div class="grid-row">
      <div class="grid-col-12">
        <section>
          <h2>Taxonomy Table</h2>
          <table>
            {{ range $tag, $title := index $data $.Data.Plural }}
              {{ $link := printf "%s/%s/" $.Data.Plural $tag }}
              {{ $terms := first 1 (where $.Data.Terms.Alphabetical ".Name" $tag) }}
              {{ range $page := $terms }}
                <tr>
                  <td><a href="{{ $link | absURL }}">{{ $title.display_name }}</a></td>
                  <td>{{ $tag }}</td>
                  <td>{{ $page.Count }}</td>
                </tr>
              {{ end }}
            {{ end }}
            <tr>

          </table>

          </ul>
        </section>
      </div>
    </div>


  </div>
</main>

{{ end }}
