{{- partial "core/set-env.html" . -}}
{{ block "pagevars" . }}{{ end }}

<!DOCTYPE html>

{{- partial "head-comment.html" . -}}
{{- partial "core/head.html" . -}}

<body class="margin-0 size-sans-6 desktop:size-sans-8 line-height-sans-4 min-height-viewport">

  {{ "<!-- Google Tag Manager (noscript) -->" | safeHTML }}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZCKZPQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {{ "<!-- End Google Tag Manager (noscript) -->" | safeHTML }}

  <a class="screen-reader-popup" href="#wrap" title="Skip to page content">Skip to page content</a>

  {{- partial "usa-banner.html" . -}}

  <main aria-label="Content">
    <div class="font-sans-5 font-300 padding-top-2 padding-bottom-4 tablet:padding-top-2 tablet:padding-bottom-6 text-ink">
      <section class="grid-container-desktop padding-x-4">

        {{- partial "core/notice-bar.html" . -}}

        {{- partial "core/header.html" . -}}

        {{ block "content" . }} The BASE CONTENT didn't load. :/ {{ end }}

      </section>
    </div>
  </main>

</body>

<script src='{{ "lib/uswds/js/uswds.min.js" | absURL }}'></script>

</html>
