{{ define "content" }}

<article class="guide">

  <header>
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col">
          <div class="head">
            <h1 class="font-sans-2xl margin-top-0 margin-bottom-1">{{ .Title | markdownify }}</h1>
            {{- if .Params.deck -}}
            <div class="deck font-sans-xl text-light">{{- .Params.deck -}}</div>
            {{- end -}}
            {{/* {{ partial "last-updated" . }} */}}
          </div>
        </div>
      </div>
    </div>
  </header>


  <section>
    <div class="grid-container margin-bottom-8">


      <div class="grid-row">
        <div class="grid-col-12">

          {{ if .Params.guide }}
            {{/* Gets the current page URL */}}
            {{ $current_url := .URL }}
            {{ range where .Site.Pages.ByWeight ".Params.guide" .Params.guide }}

              {{/* If $current_url is NOT equal to the URL, then print the page */}}
              {{ if not (eq $current_url .URL) }}
              <div class="">
                <h2><a href="{{.Permalink}}" title="{{.Title}}">{{.Title}}</a></h2>
              </div>
              {{ end }}

            {{ end }}
          {{ end }}



        </div>
      </div>

      <div class="grid-row grid-gap-lg">
        {{ range .Params.promo }}
        <div class="grid-col-6">
          <div class="promo bg-accent-warm-lighter padding-2">
            <h3 class="margin-0">{{ .h3 }}</h3>
            <p>{{ .summary }}</p>
          </div>

        </div>
        {{ end }}
      </div>

      {{ .Content }}

    </div>
  </section>

  {{ partial "core/feedback" (dict "page" . "page_type" "guide" "branch" ($.Scratch.Get "branch")) }}

</article>







  {{ partial "core/overlay" . }}

</article>

{{ end }} {{/* end 'content' block */}}
