{{ define "content" }}

<main role="main">

  <article>
    <div class="grid-container grid-container-widescreen">
      <div class="grid-row grid-gap-4">

        <div class="grid-col-12 tablet-lg:grid-col-2">
          {{- partial "core/guides/guide-nav" . -}}
        </div>

        <div class="grid-col-12 tablet-lg:grid-col-8">
          <div class="usa-layout-docs__main usa-prose">

            <div class="page-head">
              {{/* Page Title */}}
              <h1>{{- .Title | markdownify -}} </h1>

              {{/* Deck */}}
              {{- if .Params.deck -}}
              <div class="usa-intro">{{- .Params.deck | markdownify -}}</div>
              {{- end -}}
            </div>

            {{ .Content }}

          </div>

        </div>

      </div>
    </div>
  </article>

</main>
{{- end -}} {{/* end 'content' block */}}
