{{ define "content" }}

<main role="main" id="training">
  <header>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row">
        <div class="grid-col-12">
          <h1>Training</h1>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row">
        <div class="grid-col-12">
          {{ $training_playlist := .Paginate (where .Site.RegularPages.ByDate.Reverse "Section" "training") }}
          {{ range $training_playlist.Pages }}
            <section class="topic">
              <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
              <p>{{ .Params.summary }}</p>
            </section>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
</main>

{{ end }} {{/* end 'content' block */}}
