{{ define "content" }}

<main role="main" id="training">
  <header>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row">
        <div class="grid-col-12">
          <h1>Training</h1>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row">
        <div class="grid-col-12">
          {{ $training_data := $.Site.Data.training.training }}
          {{ range $training_data }}
            <section class="topic">
              <h2>{{ .topic }}</h2>
              <p>{{ .summary }}</p>
              <div class="grid-row grid-gap-1">
                {{ $videos := .youtube_ids }}
                {{ range $videos }}
                  <div class="grid-col-2 tablet:grid-col-3">
                    <div class="youtube-player" data-id="{{ . }}"></div>
                  </div>
                {{ end }}

              </div>

            </section>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
</main>

{{ end }} {{/* end 'content' block */}}
