{{ define "content" }}

<main role="main" id="training">
  <article>
    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            <p class="breadcrumb"><a href="{{ "training/" | absURL }}"> <i class="fas fa-arrow-left"></i> <span>All Training</span> </a></p>
            {{/* Page Title */}}
            <h1>{{- .Title | markdownify -}} </h1>

            {{/* Deck */}}
            {{- if .Params.deck -}}
            <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}
          </div>
        </div>
      </div>
    </header>

    <section class="events-list">
      <div class="grid-container grid-container-desktop">
        <div class="grid-row grid-gap-4">
          <div class="grid-col-12 tablet:grid-col-4" data-edit-this="/edit/{{- .Type -}}/?page=https://demo.digital.gov{{- (urls.Parse .Permalink).Path -}}">
            {{ .Content }}
          </div>
          <div class="grid-col-12 tablet:grid-col-8">
            {{/* Get the file name */}}
            {{/* Filename == topic name */}}
            {{ $topic := .File.BaseFileName }}
            {{/* Get all the pages for that topic */}}
            {{ $topic := (index $.Site.Taxonomies.topics $topic) }}
            {{/* Then get only the past events for that topic */}}
            {{ $topic := (where $topic "Section" "events") }}
            {{/* Now we sort the list and only show the past events */}}
            {{ $topic := (where $topic "Date" "lt" now) }}
            {{ range $topic }}

              {{ .Render "training-card"}}

            {{ end }}
          </div>
        </div>
      </div>
    </section>

  </article>
</main>
{{ end }} {{/* end 'content' block */}}
