{{- define "content" -}}

<main aria-label="Content" role="main" id="home">

  {{/* Spotlight */}}
  <section id="news">
    <div class="grid-container padding-x-2">
      <div class="grid-row grid-gap-4">
        {{- $posts := where .Data.Pages "Section" "posts" -}}
        {{- $spots := where .Data.Pages "Section" "spot" -}}


        {{/* Featured Blog Posts */}}
        <div class="grid-col-12 tablet-lg:grid-col-8 tablet-lg:order-2 order-1">
          <section class="article-list">
            {{- range first 4 $posts.ByWeight -}}
            {{ $editthis := printf "https://github.com/%s/%s/edit/%s/content/%s" $.Site.Params.git_org $.Site.Params.git_repo ($.Scratch.Get "branch") .File.Path }}
            <article data-edit-this="{{ $editthis }}">
              <div class="grid-row grid-gap-3">
                <div class="grid-col-3 tablet:grid-col-4">
                  <div class="media">
                    <a href="{{ .Permalink }}" title="{{ $.Scratch.Get "card_title" }}">
                      {{ partial "img-featured--home.html" . }}
                    </a>
                  </div>
                </div>
                <div class="grid-col-9 tablet:grid-col-8">
                  <header>
                    <h3><a href="{{- .Permalink -}}" title="{{- .Title | markdownify -}}">{{- .Title | markdownify -}}</a></h3>
                    <p>{{- .Params.summary | default .Summary | safeHTML | markdownify -}}</p>

                  </header>
                  <footer>
                    <a href="{{- .Permalink -}} " rel="nofollow" title="{{- .Title | markdownify -}} ">{{- .Date.Format "Jan _2" -}}</a><span>&#10038;</span>{{- partial "core/get_authors_short" . -}}
                  </footer>
                </div>
              </div>
            </article>
            {{- end -}}
          </section>
        </div>

        {{/* Stream of Spots */}}
        <div class="grid-col-12 tablet-lg:grid-col-4 tablet-lg:order-1 order-2">
          <section class="spotlight">

            <header>
              <h2>Spotlight</h2>
              <p>A round-up of relevant news and resources from across our community</p>
            </header>
            <section>
              {{- range first 5 $spots -}}

              <article class="spot">
                {{- .Content -}}
                <p class="source"><a href="{{- .Params.source_url -}}" title="{{- .Params.source_name -}}"><img src="https://www.google.com/s2/favicons?domain={{- .Params.source_url -}}" alt="">{{- .Params.source_name -}}</a></p>
                <a href="{{- .Params.source_url -}}" title="{{- .Params.source_name -}}"><span></span></a>
              </article>

              {{- end -}}
            </section>
            <footer>
              <p><a href="#">Have something to add? Send us a note</a> </p>
              <p><i class="fas fa-envelope"></i> <a href="#newsletter">Subscribe to Spotlight</a></p>
            </footer>
          </section>
        </div>

      </div>
    </div>
  </section>


  {{/* Topics */}}
  {{- partialCached "core/topics_featured" . -}}

  {{/* Communities */}}
  <section id="communities">
    <div class="grid-container padding-x-2">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-6">
          <header>
            <h2>Join a Community of Practice</h2>
          </header>
        </div>
      </div>
      <div class="grid-row grid-gap-4">
        <div class="grid-col-6">
          <p>Copy goes here.</p>
        </div>
        <div class="grid-col-6">
          <h3>Community Name</h3>
          <h3>Community Name</h3>
        </div>
      </div>
    </div>
  </section>

  {{/* Training & Events */}}
  <section id="training-events">
    <div class="grid-container padding-x-2">

      <div class="grid-row grid-gap-2">
        <div class="grid-col-12">
          <header>
            <h2>Learn from the best</h2>
            <p>Training text government-wide elevate your skills text goes here.</p>
          </header>
        </div>
      </div>

      <div class="grid-row grid-gap-2">
        <div class="grid-col-12 tablet:grid-col-6">
          {{- $events := (where .Data.Pages "Section" "events").Reverse -}}
          {{- range $events -}}
            {{- $now := now.Format "2006-01-02" -}}
            {{- $start := .Date.Format "2006-01-02" -}}
            {{- $end := dateFormat "2006-01-02" .Params.End_date -}}

            {{- if or (ge $start $now) (ge $end $now)}}
            <article class="featured_event">
              <div class="grid-row grid-gap-2">
                <div class="grid-col-3">
                  <div class="date">
                    <span class="month">{{- .Date.Format "Jan" -}}</span>
                    <span class="day">{{- .Date.Format "02" -}}</span>
                  </div>
                  <div class="register">
                    <a href="#">Register</a>
                  </div>
                </div>
                <div class="grid-col-9">
                  <header>
                    <h3><a href="{{- .URL -}}" title="{{- .Title | markdownify -}}" rel="bookmark">{{- .Title | markdownify -}}</a></h3>
                    <p>{{- .Params.summary -}}</p>
                  </header>
                </div>
              </div>
            </article>
            {{- end -}}
          {{- end -}}
        </div>

        <div class="grid-col-12 tablet:grid-col-6">
          <div class="events-table">
            <div class="youtube-player" data-id="yo5bsqixpNU"></div>
          </div>
        </div>
        <script type="text/javascript">
          /* Light YouTube Embeds by @labnol */
          /* Web: http://labnol.org/?p=27941 */

          document.addEventListener("DOMContentLoaded",
              function() {
                  var div, n,
                      v = document.getElementsByClassName("youtube-player");
                  for (n = 0; n < v.length; n++) {
                      div = document.createElement("div");
                      div.setAttribute("data-id", v[n].dataset.id);
                      div.innerHTML = labnolThumb(v[n].dataset.id);
                      div.onclick = labnolIframe;
                      v[n].appendChild(div);
                  }
              });

          function labnolThumb(id) {
              var thumb = '<img src="https://i.ytimg.com/vi/ID/hqdefault.jpg">',
                  play = '<div class="play"></div>';
              return thumb.replace("ID", id) + play;
          }

          function labnolIframe() {
              var iframe = document.createElement("iframe");
              var embed = "https://www.youtube.com/embed/ID?autoplay=1";
              iframe.setAttribute("src", embed.replace("ID", this.dataset.id));
              iframe.setAttribute("frameborder", "0");
              iframe.setAttribute("allowfullscreen", "1");
              this.parentNode.replaceChild(iframe, this);
          }
        </script>
      </div>
    </div>
  </section>





  <section id="services">
    <div class="grid-container padding-x-2">

      <div class="grid-row grid-gap-2">
        <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
          <header>
            <h2>Get Started Building</h2>
            <p>Explore services that are user-centered, open-source and built by government for government.</p>
          </header>
        </div>
      </div>
      <div class="grid-row grid-gap-2">
        {{ $promos := .Site.GetPage "page" "promo" }}
        {{ $promos := where ($promos.Resources.ByType "page") ".Params.homepage" true }}
        {{ with $promos }}
          {{ range $i, $e := . }}
            <div class="grid-col-12 tablet:grid-col-4 flex-6">
              <article>
                <img src="/img/promos/{{ .Params.icon }}" alt="{{ .Params.head }} Icon">
                <h3><a href="{{ .Params.src }}?dg" title="{{ .Params.head }}">{{ .Params.head }}</a></h3>
                <p>{{ .Params.summary | markdownify }}</p>
                <a href="{{ .Params.src }}?dg" title="{{ .Params.head }}"><span></span></a>
              </article>
            </div>
          {{ end }}

        {{ end }}
      </div>
      <div class="grid-row grid-gap-2">
        <div class="grid-col-12 tablet:grid-col-4 tablet:grid-offset-4">
          <footer>
            <a class="btn" href="#">See all »</a>
          </footer>
        </div>
      </div>
    </div>
  </section>



</main>

{{- end -}}
