{{/* <!-- prettier-ignore -->
  Communities of Practice Job Board Shortcode
  Formats job posting information from "job_board.yml" into a table, as seen on Communities of Practice Job Board "job-board.md"
  Add new job posting on "job_board.yml" to display in job posting table.
  No params needed
*/}}

{{ define "content" }}
  {{ $job_board_page := ( .Site.Pages ) }}
  {{ $now := now.Format "2006-01-02" }}
  {{ $anyActivePost := false }}

  {{/* Dictionary used to convert CoP names to its acronym for style formatting */}}
  {{ $acronymToCop := dict
    "Communicators" "FCN"
    "Multilingual" "ML"
    "Plain Language" "PL"
    "Social Media" "SM"
    "User Experience" "UX"
    "Web Analytics" "WAO"
    "Web Managers" "WCM"
    "Contact Center" "CC"
  }}


  <main role="main" id="main-content">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row">
        <div class="grid-col-12">
          <header class="page-head page-head-{{- .Type -}}">
            <h1>{{- .Title | markdownify -}}</h1>

            {{/* Deck */}}
            {{- if .Params.deck -}}
              <h2 class="deck">{{- .Params.deck | markdownify -}}</h2>
            {{- end -}}
            <br />
            <!-- <div id="submit_job_postings">To request a job posting to be published, email us at <a href = "mailto: digitalgov@gsa.gov">digitalgov@gsa.gov</a>. Include "Job Posting" in the subject line, the job link, a plain text position description (optional), and the related CoP(s) to the posting.</div> -->
            <!--<div> {{ partial "core/usa-button.html" (dict "href" .RelPermalink "text" "Submit Job Posting") }} </div>-->
          </header>
        </div>
      </div>
    </div>

    <section class="stream">
      <div class="grid-container grid-container-desktop">
        {{ range .Site.Data.job_board }}
          {{ if ge .close_date $now }}
            {{ $anyActivePost = true }}
            {{ $jobLink := .apply_link | safeURL }}
            <article class="card card-job" aria-labelledby="{{ .title }}">
              <div class="card-job__content-header">
                <a href="{{ $jobLink }}" target="__blank"><h3 id="{{ .title }}">{{- .title | markdownify -}}</h3></a>
              </div>
              <div class="card-job__content-summary">
                <div class="card-job__content-summary-department">
                  {{ .department | markdownify }}
                </div>
                <div class="card-job__content-summary-location">
                  {{ .location | markdownify }}
                </div>
                <p>{{ .description | markdownify }}</p>
              </div>
              <div class="card-job__apply">
                <a
                  class="usa-button"
                  href="{{ $jobLink }}"
                  target="__blank"
                >
                  Apply
                </a>
              </div>
              <div class="card-job__meta-date">
                Open {{ .open_date | time.Format ":date_long" }} to
                {{ .close_date | time.Format ":date_long" }}
              </div>
              <div class="card-job__meta-topics">
                {{ range .cop_topics }}
                  {{ $topic := . }}
                  {{ $acronym := index $acronymToCop $topic }}
                  <div class="cop-topic--{{ $acronym }}">
                    {{- $topic -}}
                  </div>
                {{ end }}
              </div>
            </article>
          {{ end }}
        {{ end }}

        {{ if not $anyActivePost }}
          <div id="no_job_postings">
            There are no active job postings at the moment. Please check back
            another time.
          </div>
        {{ end }}

      </div>
      {{- partial "core/pagination.html" . -}}
    </section>
  </main>
{{ end }}
