{{- define "content" -}}
  {{- with site.GetPage "/404" -}}
    <main role="main" id="main-content">
      <article>
        <header>
          <div class="grid-container grid-container-desktop">
            {{/* Page Title */}}
            <h1>{{- .Title | markdownify -}}</h1>

            {{/* Deck */}}
            {{- if .Params.deck -}}
              <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}
          </div>
        </header>

        <section>
          <div class="grid-container grid-container-desktop">
            <div class="grid-row">
              <div class="grid-col-12 tablet:grid-col-9">
                {{/* Content */}}
                <div class="content">
                  {{- .Content -}}
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>
  {{- end -}}
{{- end -}}
