{{- define "content" -}}

<main role="main" id="main-content" aria-label="Content" >

  <section class="usa-section" id="resources_featured">
    <div class="tablet-lg:grid-container tablet-lg:grid-container-desktop">
      <div class="grid-row tablet-lg:grid-gap-4">

        <div class="grid-col-12 tablet-lg:grid-col-4">
          <div class="box">
            <h2>Guidance on building better digital services in government.</h2>
          </div>
        </div>

        <div class="grid-col-12 tablet-lg:grid-col-8">
          <div class="resources-content">
            {{/* Get all of the resources */}}
            {{- $resources := (where .Site.Pages.ByTitle "Section" "resources") -}}

            {{/* Get only the pages that are greater than or equal to 3 */}}
            {{- $resourcesfeatured := (where $resources ".Params.weight" "ge" 3 ) -}}

            {{/* Sort all of the resources by weight */}}
            {{- $resourcesfeatured := (sort $resourcesfeatured "Weight" "desc" ) -}}

            {{- partialCached "core/collection.html" (dict "list" $resourcesfeatured "heading" "Popular Guides and Resources") -}}
            <footer>
              <div class="grid-row tablet-lg:grid-gap-2">
                <div class="grid-col-12">
                  <p class="more">
                    <a href="/resources"><span>See all guides and resources</span>
                      <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
                        <use xlink:href="{{ "uswds/img/sprite.svg#arrow_forward" | relURL }}"></use>
                      </svg>
                    </a>
                  </p>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>


  {{/* News */}}
  {{- partialCached "core/home/news_featured.html" . -}}

</main>

{{- end -}}
