{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "home page-template page-template-page-widgetized page-template-page-widgetized-php page page-id-472 tribe-js fwidth unboxed hidetitle centercatnav bodybg1" }}
  {{ $.Scratch.Set "headtitle" "Digital.gov / Building a modern digital government" }}
{{ end }}

{{ define "content" }}
<div id="widgetized-page" class="clearfix">
  <div class="page-widget-wide top clearfix">

    {{ partial "body-latest-news.html" . }}
    {{ partial "body-latest-events.html" . }}
    {{ partial "body-services.html" . }}

  </div><!-- /div.page-widget-wide -->
  <div class="page-widget-wide bottom clearfix">
  </div><!-- /div.page-widget-wide div -->
</div><!-- End /div#widgetized-page -->
{{ end }}
