{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "top home page-template page-template-page-widgetized page tribe-js fwidth unboxed hidetitle centercatnav bodybg1" }}
  {{ $.Scratch.Set "headtitle" "Digital.gov / Building a modern digital government" }}
{{ end }}

{{ define "content" }}
<div id="widgetized-page" class="clearfix">
  <div class="page-widget-wide top clearfix">

    {{ partial "body-latest-news.html" . }}
    <!-- {{ partial "body-latest-events.html" . }} -->
    {{ partial "body-featured-events.html" . }}
    <!-- {{ partial "body-featured.html" . }} -->

  </div><!-- /div.page-widget-wide -->
  <div class="page-widget-wide bottom clearfix">
  </div><!-- /div.page-widget-wide div -->
</div><!-- End /div#widgetized-page -->
{{ end }}
