<article class="card card-event-promo card-linked" data-edit-this="{{- .File.Path -}}" {{- if .Params.short_url -}}data-short_url="{{- .Params.short_url -}}"{{- end -}}>

  <div class="banner">
    <div class="grid-row grid-gap-2">
      <div class="grid-col-12">
        In the next week
      </div>
    </div>
  </div>

  <div class="paper">
    <div class="grid-row grid-gap-2">
      <div class="grid-col-4 tablet:grid-col-2">

        <div class="date">
          <span class="date-mo">{{- dateFormat "Jan" .Date -}}</span>
          <span class="date-day">{{- dateFormat "02" .Date -}}</span>
          <a class="btn btn-register" href="{{- .Params.registration_url -}}" onclick="__gaTracker('send', 'event', 'outbound-article', '{{- .Params.registration_url -}}', 'REGISTER NOW');">Register</a>
        </div>

      </div>

      <div class="grid-col-8 tablet:grid-col-10">
        <p class="kicker">Community Meeting</p>
        <h3>
          <a href="{{ .Permalink }}" title="{{ .Title | markdownify }}" rel="bookmark">{{ .Title | markdownify }}</a>
        </h3>
        {{- if .Params.deck -}}
        <p class="deck">{{ .Params.deck | markdownify }}</p>
        {{- else -}}
        <p class="summary">{{ .Params.summary | markdownify }}</p>
        {{- end -}}
      </div>
    </div>
    <a class="overlay" href="{{- .Permalink -}}" title="{{- .Title | markdownify -}}"><span></span></a>
  </div>
</article>
