<article class="card card-event card-event-past card-linked" data-edit-this="{{- .File.Path -}}" {{- if .Params.short_url -}}data-short_url="{{- .Params.short_url -}}"{{- end -}}>
  <div class="grid-row grid-gap-2">

    {{ if .Params.youtube_id }}
    <div class="grid-col-12 tablet:grid-col-5 tablet:order-last">
      <div class="image-featured youtube-player" data-id="{{ .Params.youtube_id }}" data-link="{{ .Permalink }}"></div>
    </div>
    {{ end }}

    <div class="grid-col-12 tablet:grid-col-7">
      {{ if .Params.youtube_id }}
      <h6>Video</h6>
      {{ end }}
      <h3>
        <a href="{{ .Permalink }}" title="{{ .Title | markdownify }}" rel="bookmark">{{ .Title | markdownify }}</a>
      </h3>
      {{- if .Params.deck -}}
        <p class="deck">{{ .Params.deck | markdownify -}}</p>
      {{- else -}}
        <p class="deck">{{ .Params.summary | markdownify -}}</p>
      {{- end -}}

      <div class="meta">
        {{- partial "core/get_authors_short" . -}}
        <div class="display-flex flex-align-center">
          {{- partial "core/get_clicks" . -}}
          <p class="date">{{ dateFormat "Jan 02, 2006" .Date }}</p>
          {{- partial "core/get_topics" . -}}
        </div>
      </div>

    </div>

  </div>

  <a class="overlay" href="{{- .Permalink -}}" title="{{- .Title | markdownify -}}"><span></span></a>

</article>
