{{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}

{{/*  Unique ID to link article to its title in screen readers  */}}
{{ $titleID := (printf "%s%s" "title-" .Title) | urlize }}

<article
  class="card card-event card-event-past card-linked {{ if not .Params.youtube_id -}}card-event--no-video{{ end }}"
  data-edit-this="{{- $path -}}"
  {{ if .Params.short_url }}data-short_url="{{- .Params.short_url -}}"{{ end }}
  aria-labelledby="{{ $titleID }}"
>
  <div class="card__content">

    <h2 id="{{ $titleID }}">
      <a href="{{ .Permalink }}" title="{{ .Title | markdownify }}" rel="bookmark">{{ .Title | markdownify }}</a>
    </h2>
    {{- if .Params.summary -}}
      <div class="deck">{{ .Params.summary | markdownify -}}</div>
    {{- else -}}
      <div class="deck">{{ .Params.deck | markdownify -}}</div>
    {{- end -}}

    {{- partial "core/get_authors_short.html" . -}}
    {{- if .Params.kicker -}}
    <div class="kicker flex-align-end">
      <span>{{- .Params.kicker -}}</span>
    </div>
    {{- else -}}
      {{- if .Params.youtube_id -}}
      <div class="kicker">Video</div>
      {{- end -}}
    {{- end -}}

 </div>

  <div class="card__date">
    <div class="date">
      <div class="date-previous-description date-previous-description--desktop">
        <span class="date-mo">{{- dateFormat "Jan" .Date -}}</span>
        <span class="date-day">{{- dateFormat "02" .Date -}}</span>
        <span class="date-previous-description--desktop-box">
          Previous Event
        </span>
      </div>
      <div class="date-previous-description date-previous-description--mobile">
        <span class="date-previous-description--mobile-box">
          Previous Event
        </span>
        <span class="date-mo--mobile">{{ dateFormat "Jan" .Date }}</span>
        <span class="date-day--mobile">{{ dateFormat "02" .Date }}</span>
      </div>
    </div>
  </div>
</article>
