{{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}
<div class="card card-event card-event-past card-linked" data-edit-this="{{- $path -}}" {{ if .Params.short_url }}data-short_url="{{- .Params.short_url -}}"{{ end }}>
  <div class="grid-row tablet:grid-gap-4">

    {{- if .Params.youtube_id -}}
    <div class="grid-col-12 tablet:grid-col-4 tablet:order-last">
      <div aria-role="img" class="media-featured youtube-player" data-id="{{ .Params.youtube_id }}" data-link="{{ .Permalink }}"></div>
    </div>
    {{- else -}}
    <div class="non-youtube-event-card grid-col-12 tablet:grid-col-4 tablet:order-last grid-row">
      <div class="grid-row flex-align-self-center" data-link="{{ .Permalink }}">
        <svg xmlns="http://www.w3.org/2000/svg" role="img" alt="" aria-hidden="true" height="150" width="150" viewBox="0 0 25 25">
          <title id="calendar-title">Calendar Event</title>
          <path d="M0 0h24v24H0z" fill="none"/>
          <path fill="#005ea2" d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"/>
        </svg>
      </div>
    </div>
    {{- end -}}

    <div class="grid-col-12 tablet:grid-col-8">

      {{- if .Params.kicker -}}
      <div class="kicker">{{- .Params.kicker -}}</div>
      {{- else -}}
        {{- if .Params.youtube_id -}}
        <div class="kicker">Video</div>
        {{- end -}}
      {{- end -}}

      <h3>
        <a href="{{ .Permalink }}" title="{{ .Title | markdownify }}" rel="bookmark">{{ .Title | markdownify }}</a>
      </h3>
      {{- if .Params.summary -}}
        <div class="deck">{{ .Params.summary | markdownify -}}</div>
      {{- else -}}
        <div class="deck">{{ .Params.deck | markdownify -}}</div>
      {{- end -}}

      {{- partial "core/get_authors_short.html" . -}}

      <div class="meta">
        <div class="date">{{ dateFormat "Jan 02, 2006" .Date }}</div>
      </div>

    </div>

  </div>
</div>
