<!-- Event  -->
<div class="type-tribe_events tribe-clearfix">

  <!-- Event Cost -->

  <!-- Event Title -->
  <h2 class="tribe-events-list-event-title">
    <a class="tribe-event-url" href="https://www.digitalgov.gov/event/in-person-dap-analytics-maturity-workshop/" title="In-Person: DAP Analytics Maturity Workshop" rel="bookmark">
      In-Person: DAP Analytics Maturity Workshop	</a>
  </h2>

  <!-- Event Meta -->
  <div class="tribe-events-event-meta">
    <div class="author location">

      <!-- Schedule & Recurrence Details -->
      <div class="tribe-event-schedule-details">
        <span class="tribe-event-date-start">June 21 @ 9:00 AM</span> - <span class="tribe-event-time">4:00 PM</span>
      </div><!-- .tribe-event-schedule-details -->

      <!-- Venue Display Info -->
      <div class="tribe-events-venue-details">
        GSA Central Office,
        <span class="tribe-address">
          <span class="tribe-street-address">1800 F Street NW</span>
          <br>
          <span class="tribe-locality">Washington</span><span class="tribe-delimiter">,</span>
          <abbr class="tribe-region tribe-events-abbr" title="District of Columbia">DC</abbr>
          <span class="tribe-postal-code">20405</span>
          <span class="tribe-country-name">United States</span>
        </span><!-- .tribe-address -->
        <a class="tribe-events-gmap" href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=1800+F+Street+NW+Washington+DC+20405+United+States" title="Click to view a Google Map" target="_blank">+ Google Map</a>
      </div><!-- .tribe-events-venue-details -->
    </div><!-- .author.location -->
  </div><!-- .tribe-events-event-meta -->

  {{/* I didn't see any images on this page. Is this disabled? */}}
  <!-- Event Image -->

  <!-- Event Content -->
  <div class="tribe-events-list-event-description tribe-events-content">
    <p>This all-day workshop facilitated by the DAP Team will help DAP users assess your team/office/division's current analytics maturity.</p>
    <a href="https://www.digitalgov.gov/event/in-person-dap-analytics-maturity-workshop/" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a>
  </div><!-- .tribe-events-list-event-description -->
</div><!-- .type-tribe_events -->
