{{ partial "event-venue--inPerson.html" . }}

<!-- Event  -->
<div class="type-tribe_events tribe-clearfix">

  <!-- Event Cost -->

  <!-- Event Title -->
  <h2 class="tribe-events-list-event-title">
    <a class="tribe-event-url" href="{{ .URL }}" title="{{ $.Scratch.Get "displaytitle" }}" rel="bookmark">{{ $.Scratch.Get "displaytitle" }}</a>
  </h2>

  <!-- Event Meta -->
  <div class="tribe-events-event-meta">
    <div class="author location">

      <!-- Schedule & Recurrence Details -->
      <div class="tribe-event-schedule-details">
        <span class="tribe-event-date-start">{{ dateFormat "January 02 @ 3:04 PM" .Params.date }}</span> - <span class="tribe-event-time">{{ dateFormat "3:04 PM" .Params.end_date }}</span>
      </div><!-- .tribe-event-schedule-details -->

      <!-- Venue Display Info -->
      <div class="tribe-events-venue-details">
        {{ if .Params.venue.venue_name }}
          {{ .Params.venue.venue_name }},
        {{ end }}
        <span class="tribe-address">
          <span class="tribe-street-address">{{ .Params.venue.street }}</span>
          <br>
          <span class="tribe-locality">{{ .Params.venue.city }}</span><span class="tribe-delimiter">,</span>
          <abbr class="tribe-region tribe-events-abbr" title="District of Columbia">{{ .Params.venue.state }}</abbr>
          <span class="tribe-postal-code">{{ .Params.venue.zip }}</span>
          <span class="tribe-country-name">{{ .Params.venue.country }}</span>
        </span><!-- .tribe-address -->

        {{ $map := printf "%s+%s+%s+%s+%s" .Params.venue.street .Params.venue.city .Params.venue.state .Params.venue.zip .Params.venue.country}}
        {{ $map := replace $map " " "+" }}

        {{/* Done this strange way to prevent unusual escaping in the url */}}
        {{ $map := printf "<a class=\"tribe-events-gmap\" href=\"https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=%s\" title=\"Click to view a Google Map\" target=\"_blank\">+ Google Map</a>" $map }}
        {{ $map | safeHTML }}

      </div><!-- .tribe-events-venue-details -->
    </div><!-- .author.location -->
  </div><!-- .tribe-events-event-meta -->

  <!-- Event Image -->

  {{ if .Params.featured_image.link }}
    <div class="tribe-events-event-image">
      <a href="{{ .URL }}">
        <img  width="210"
              height="150"
              src="{{ .Params.featured_image.link }}"
              class="attachment-medium size-medium wp-post-image"
              alt="{{ .Params.featured_image.text }}">
      </a>
    </div>
  {{ end }}

  <!-- Event Content -->
  <div class="tribe-events-list-event-description tribe-events-content">
    <p>{{ .Params.event_description.long | markdownify }}</p>
    <a href="{{ .URL }}" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a>
  </div><!-- .tribe-events-list-event-description -->
</div><!-- .type-tribe_events -->
