{{ define "content" }}

<main role="main">
  <header>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row">
        <div class="grid-col-12">

          {{/* Page Title */}}
          <h1>{{- .Title | markdownify -}} </h1>

          {{/* Deck */}}
          {{- if .Params.deck -}}
          <div class="deck">{{- .Params.deck | markdownify -}}</div>
          {{- end -}}

          <div class="more">
            <p><a href="https://www.youtube.com/digitalgov"><span>See our video library</span> <i class="fas fa-arrow-circle-right"></i></a></p>
            <p><a href="#events-past"><span>See past events</span> <i class="fas fa-arrow-circle-right"></i></a></p>
          </div>


        </div>
      </div>
    </div>
  </header>

  <section class="article-list">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row grid-gap-3">
        <div class="grid-col-12">
          {{ range .Data.Pages.Reverse }}
          {{ $now := now.Format "2006-01-02" }}
          {{ $start := .Date.Format "2006-01-02"  }}

          {{ if .Params.End_date }}
            {{ $end := dateFormat "2006-01-02" .Params.End_date }}
            {{ if or (ge $start $now) (ge $end $now)}}
              {{ if .Params.registration_url }}
                {{ .Render "card-event"}}
              {{ end }}
            {{ end }}

            {{ else if ge $start $now }}
              {{ if .Params.registration_url }}
                {{ .Render "card-event"}}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>



  {{/* Past events */}}
  <section id="events-past">
    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            <h2>Past Events</h2>
          </div>
        </div>
      </div>
    </header>
    <div class="article-list">
      <div class="grid-container grid-container-desktop">
        <div class="grid-row grid-gap-3">
          <div class="grid-col-12">
            {{ $events := where .Site.RegularPages.ByDate "Section" "events" }}
            {{ range where $events.Reverse ".Date.Unix" "<" now.Unix }}
              {{ .Render "card-event-past"}}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

</main>


{{ end }}
