{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "top archive post-type-archive post-type-archive-tribe_events tribe-js tribe-filter-live c-sw unboxed centercatnav bodybg1 events-list events-archive tribe-events-style-full tribe-events-style-theme tribe-theme-wp-enlightened tribe-events-page-template tribe-is-responsive" }}
  {{ $.Scratch.Set "headtitle" "Events | Digital.gov" }}
{{ end }}

{{ define "content" }}

<section id="events">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="events-listing">

          <div class="events-current events-list">
            <div class="events-head">
              <h1>Upcoming Training & Events</h1>
              <p>
                <a href="https://www.youtube.com/digitalgov" title="View all Digital.gov videos and training">All training & videos »</a>
              </p>
            </div>

            {{/* Future Events ===========================  */}}
            {{- $events := where .Site.RegularPages.Reverse  "Section" "events" -}}
            {{- $events := $events | intersect (where $events "Date" "ge" (now.AddDate 0 0 0))  -}}

            {{/* Past Events =========================== */}}
            {{- $past_events := where (where .Site.RegularPages.ByDate.Reverse "Section" "events") ".Date.Unix" "<" now.Unix -}}

            {{- with $events -}}
              {{- range $events -}}
                {{ .Render "li"}}
              {{- end -}}
            {{- else -}}
              <div class="box">

                {{- $copy := printf "**There are no scheduled events at this time.** We’re working on scheduling events for the near future.<br /> Contact us about [hosting a training or event]({{< link 'contribute.md' >}})." -}}
                {{- $copy | markdownify -}}

              </div>
            {{- end -}}

          </div>

          <div id="events-past" class=" events-list">

            <div class="events-head">
              <h1>Past Events</h1>
              <p><a href="https://www.youtube.com/digitalgov" title="View all Digital.gov videos and training">All training & videos »</a></p>
            </div>

            {{- with $past_events -}}
              {{- range $past_events -}}
                {{ .Render "li"}}
              {{- end -}}
            {{- end -}}

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
