{{ define "content" }}

<main role="main">
  <article>
    <div class="grid-container">
    </div>
  </article>
</main>

<div class="entry event">
  <div class="event-head">
    <a class="breadcrumb" href="{{ "events/" | absURL }}"> &laquo; All Events </a>
    <h1>{{ .Title | markdownify }}</h1>
    <div class="event-details">

      <span class="event-date">
        {{ with .Date }}
        {{ . | dateFormat "Monday, January 02, 2006" }}
        {{ end }}
        <span>
          {{ with .Date }}
          {{ . | dateFormat "3:04 PM" }}
          {{ end }} –
          {{ with .Params.end_date }}
          {{ . | dateFormat "3:04 PM ET" }}
          {{ end }}
        </span>
      </span>

      {{ partial "event-type.html" . }}

    </div>

    {{ partial "event-actions.html" . }}

  </div>

  <!-- If event_type == "online" -->
  {{ if (isset .Params "youtube_id") }}
    {{ partial "event-stage.html" . }}
  {{ end }}


  <div class="event-content">
    {{ .Content }}
  </div>

  {{ if (isset .Params "venue") }}
    {{ partial "event-location.html" . }}
  {{ end }}

  {{ partial "post-meta--feedback" (dict "page" . "page_type" "event" "cc" "digitalgovu@gsa.gov" "branch" ($.Scratch.Get "branch")) }}
  {{ partial "page-details" . }}

</div>
{{ end }}
