{{ define "content" }}
{{/* This sets $future_event to true or false */}}
{{ $future_event := (time .Params.end_date).After now }}

<main role="main">
  <article>
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <a class="breadcrumb" href="{{ "events/" | absURL }}"> &laquo; All Events </a>
          <h1>{{ .Title | markdownify }}</h1>

          {{/* If is a Future Event */}}
          {{ if eq $future_event true }}

hi
            <!-- If event_type == "online" -->
            {{ if (isset .Params "youtube_id") }}
            <section class="video-box">
              <div class="youtube-player" data-id="{{ .Params.youtube_id }}"></div>
            </section>
            {{ end }}

          {{ end }}

          {{/* If is NOT a Future Event (Past event) */}}
          {{ if eq $future_event false }}
            <!-- If event_type == "online" -->
            {{ if (isset .Params "youtube_id") }}
            <section class="video-box">
              <iframe src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?autoplay=1" frameborder="0" allowfullscreen="1"></iframe>
            </section>
            {{ end }}

          {{ end }}

          <div class="content">
            {{ .Content }}
          </div>


        </div>
      </div>
    </div>
  </article>
</main>

{{ end }}
