{{- define "content" -}}
{{/* This sets $future_event to true or false */}}
{{- $future_event := (time .Params.end_date).After now -}}
{{/* Add to Calendar */}}
{{- $event_startDate := dateFormat "2006-01-02 03:04 PM" (time .Params.date) -}}
{{- $event_endDate := dateFormat "2006-01-02 03:04 PM" (time .Params.end_date) -}}
{{- $event_url := (print "\n\nEvent Page: https:" .Permalink) -}}
{{- $.Scratch.Set "event_youtube" "" -}}
{{- if (isset .Params "youtube_id") -}}
  {{- $.Scratch.Set "event_youtube" (print "\nYouTube LIVE: https://www.youtube.com/watch?v=" .Params.youtube_id) -}}
{{- end -}}
{{- $event_youtube := $.Scratch.Get "event_youtube" -}}
{{- $event_title := .Title | markdownify -}}
{{- $event_desc := $.Params.summary | default $.Site.Params.description | markdownify -}}
{{- $event_description := (print $event_desc $event_url $event_youtube) -}}
{{- $event_location := .Params.venue.venue_name -}}

<main role="main" class="event">
  <article>

    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12" data-edit-this="/edit/{{- .Type -}}/?page=https://demo.digital.gov{{- (urls.Parse .Permalink).Path -}}">
            <p class="breadcrumb"><a href="{{- "events/" | absURL -}}"> <i class="fas fa-arrow-left"></i> <span>All Events</span> </a></p>
            {{- if .Params.kicker -}}
            <p class="kicker">{{- .Params.kicker -}}</p>
            {{- end -}}
            <h1>{{- .Title | markdownify -}}</h1>
            {{/* Deck */}}
            {{- if .Params.deck -}}
            <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}
            {{- if .Params.host -}}

            <p class="datetime"><i class="far fa-calendar"></i>
              {{ with .Date }}
              {{ . | dateFormat "Monday, January 02, 2006" }}
              {{ end }}
              <span>
                {{- with .Date -}}
                {{- . | dateFormat "3:04 PM" -}}
                {{- end }} –
                {{ with .Params.end_date -}}
                {{- . | dateFormat "3:04 PM ET" -}}
                {{- end -}}
              </span>
            </p>

            <p class="host">Hosted by {{ .Params.host }} and {{ .Params.event_organizer }}</p>
            {{- end -}}
          </div>
        </div>
      </div>
    </header>


    {{/* EVENT Actions — REGISTER and Add to Calendar */}}
    {{/* If is a Future Event */}}
    {{- if eq $future_event true -}}
    <div class="grid-container grid-container-desktop">
      <div class="grid-row">
        <div class="grid-col-12">
          <div class="actions">
            {{/* Register */}}
            <a class="btn btn-register" href="{{- .Params.registration_url -}}" onclick="__gaTracker('send', 'event', 'outbound-article', '{{- .Params.registration_url -}}', 'REGISTER NOW');">Register</a>

            <span class="addtocalendar">
              <a class="atcb-link" title="Add to calendar"><i class="far fa-calendar-plus"></i> Add to Cal</a>
              <var class="atc_event">
                <var class="atc_date_start">{{- $event_startDate -}}</var>
                <var class="atc_date_end">{{- $event_endDate -}}</var>
                <var class="atc_timezone">America/New_York</var>
                <var class="atc_title">{{- $event_title -}}</var>
                <var class="atc_description">{{- htmlUnescape $event_description | safeHTML -}}</var>
                <var class="atc_location">{{- $event_location -}}</var>
                <var class="atc_organizer">Digital.gov</var>
                <var class="atc_organizer_email">digitalgov@gsa.gov</var>
              </var>
            </span>
          </div>
        </div>
      </div>
    </div>
    {{- end -}}


    {{/* EVENT Stage
    ==================================== */}}

    {{/* YouTube LIVE Stage */}}
    {{- if (isset .Params "youtube_id") -}}

      {{/* If is a Future Event */}}
      {{- if eq $future_event true -}}

        {{- .Render "stage-youtube-live" -}}

      {{- end -}}

      {{/* PAST EVENT / Video stage  -------------------- */}}
      {{/* If is NOT a Future Event (Past event) */}}
      {{- if eq $future_event false -}}

        {{- .Render "stage-youtube" -}}

      {{- end -}}
    {{- end -}}


    <section>
      <div class="grid-container grid-container-desktop" data-edit-this="/edit/{{- .Type -}}/?page=https://demo.digital.gov{{- (urls.Parse .Permalink).Path -}}">
        <div class="grid-row tablet-lg:grid-gap-4">
          <div class="grid-col-12 tablet:grid-col-9">
            {{- if .Params.zoom_id -}}
              {{/* If is a Future Event */}}
              {{- if eq $future_event true -}}
                {{- .Render "stage-zoom" -}}
              {{- end -}}
            {{- end -}}

            {{/* Content */}}
            <div class="content">
              {{- .Content -}}
            </div>


            {{- partial "core/feedback" (dict "page" . "page_type" "event" "branch" ($.Scratch.Get "branch")) -}}

          </div>

          <div class="grid-col-12 tablet:grid-col-3">
            {{- if eq .Params.event_platform "zoom" -}}
            {{- else -}}
              {{- if eq $future_event true -}}
              <div class="actions actions-stacked">
                {{/* Register */}}
                <a class="btn btn-register" href="{{- .Params.registration_url -}}" onclick="__gaTracker('send', 'event', 'outbound-article', '{{- .Params.registration_url -}}', 'REGISTER NOW');">Register</a>

                <span class="addtocalendar">
                  <a class="atcb-link" title="Add to calendar"><i class="far fa-calendar-plus"></i> Add to Cal</a>
                  <var class="atc_event">
                    <var class="atc_date_start">{{- $event_startDate -}}</var>
                    <var class="atc_date_end">{{- $event_endDate -}}</var>
                    <var class="atc_timezone">America/New_York</var>
                    <var class="atc_title">{{- $event_title -}}</var>
                    <var class="atc_description">{{- htmlUnescape $event_description | safeHTML -}}</var>
                    <var class="atc_location">{{- $event_location -}}</var>
                    <var class="atc_organizer">Digital.gov</var>
                    <var class="atc_organizer_email">digitalgov@gsa.gov</var>
                  </var>
                </span>
              </div>
              {{- end -}}
            {{- end -}}

            {{/* Related Communities and Services */}}
            {{- partial "core/get_related" . -}}

            {{/* Topics */}}
            {{- partial "core/get_topics" . -}}

            {{/* Share Tools */}}
            {{- partial "core/get_sharetools" . -}}
          </div>
        </div>

      </div>
    </section>

  </article>
</main>

{{/* Add to Calendar script */}}
<script type="text/javascript">(function () {
  if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
  if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
      var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
      s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
      s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
      var h = d[g]('body')[0];h.appendChild(s); -}})();
</script>
{{- end -}}
