<section class="stage stage-zoom">
  <div class="icon">
    <p>
      <i class="fas fa-desktop"></i>
    </p>
  </div>
  <div>
    <p><strong>This event will be held and recorded over <a href="https://zoom.us/government">Zoom for Government</a>.</strong> A link and password will be sent via email 24 hours and 1 hour prior to the event start time for those who register. For more info, see the <a href="https://support.zoom.us/hc/en-us/articles/201362023-System-Requirements-for-PC-Mac-and-Linux" title="Zoom computer and device requirements">computer and device requirements</a> and <a href="https://support.zoom.us/hc/en-us/sections/200277708-Frequently-Asked-Questions" title="View the Zoom Frequently Asked Questions">Frequently Asked Questions</a>. If you have specific questions or security concerns about Zoom for Government, please visit  <a href="https://www.zoomgov.com/">ZoomGov.com</a>.  </p><p>Before the event, visit the <a href="https://zoomgov.com/download">Zoom Download Center</a> to install the Zoom web browser client.
    </p>

    {{- if .Params.captions -}}
    <p><a class="captions" href="{{- .Params.captions -}}" title="Captions for the {{- .Title -}}"><strong><i class="far fa-closed-captioning"></i> <span>View captions</span></strong></a></p>
    {{- end -}}

  </div>
</section>
