{{- if .Params.youtube_id -}}
  <section class="dg-youtube">
    <div class="grid-row">
      <div class="grid-col-12">
        <section class="video-box">
          <div class="youtube-player">
            <iframe
              src="https://www.youtube.com/embed/{{- .Params.youtube_id -}}"
              title="{{ .Params.youtube_title }}"
              frameborder="0"
              allowfullscreen="1"
            ></iframe>
          </div>
        </section>
      </div>
    </div>
  </section>
{{- end -}}
