<section class="stage stage-zoom">
  <div class="icon">
    <p>
      <i class="fas fa-desktop"></i>
    </p>
  </div>
  <p><strong>This event will be held over Zoom.</strong> A link to join this event will be sent via email to those who register. <a href="https://www.zoom.us/download" title="Download and run Zoom">Download and install the Zoom Client for Meetings</a>. For more info, see the <a href="https://support.zoom.us/hc/en-us/articles/201362023-System-Requirements-for-PC-Mac-and-Linux" title="Zoom computer and device requirements">computer and device requirements</a> and <a href="https://support.zoom.us/hc/en-us/sections/200277708-Frequently-Asked-Questions" title="View the Zoom Frequently Asked Questions">Frequently Asked Questions</a>.</p>
</section>
