<article class="event card promo" data-edit-this="/edit/{{- .Type -}}/?page=https://demo.digital.gov{{- (urls.Parse .Permalink).Path -}}">
  <div class="grid-row grid-gap-2">
    <div class="grid-col-12 tablet:grid-col-4">
      <div class="youtube-card" data-id="{{ .Params.youtube_id }}" data-link="{{ .Permalink }}"></div>
    </div>
    <div class="grid-col-12 tablet:grid-col-8">
      <header>
        <h2>
          <a href="{{ .Permalink }}" title="{{ .Title | markdownify }}" rel="bookmark">{{ .Title | markdownify }}</a>
        </h2>
        <p>{{ .Params.summary | markdownify }}</p>
      </header>
    </div>
    <a href="{{- .URL -}}" title="{{- .Title | markdownify -}}"><span></span></a>
  </div>
</article>
