{{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}
<article class="event card promo" data-edit-this="{{- $path -}}">
  <div class="grid-row tablet-lg:grid-gap-2">
    <div class="grid-col-12 tablet:grid-col-4">
      <div aria-label="an image from the video" class="youtube-card" data-id="{{ .Params.youtube_id }}" data-link="{{ .Permalink }}"></div>
    </div>
    <div class="grid-col-12 tablet:grid-col-8">
      <header>
        <h2>
          <a href="{{ .Permalink }}" title="{{ .Title | markdownify }}" rel="bookmark">{{ .Title | markdownify }}</a>
        </h2>
        <p>{{ .Params.summary | markdownify }}</p>
      </header>
    </div>
    <a href="{{- .Permalink -}}" title="{{- .Title | markdownify -}}"><span></span></a>
  </div>
</article>
