{% if header %}
<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <div class="box">

          <h1>
            <a href="{{ site.url }}{{ site.baseurl }}/index.html" title="DigitalGov" rel="home">

              {% include components/figure.html
                img="DigitalGov_Horizontal"
                style="full-column"
                alt="digital.gov"
                orignalwidth=2400
                caption=nil
                credit=nil
                title=nil
                %}

            </a>
          </h1>

          {% include components/site-nav.html %}

        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        {% include components/migration-box.html %}
      </div>

    </div>
  </div>
</header>

<div class="usa-overlay"></div>
{% endif %}
