{% if header %}
<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <div class="box">

          <h1>
            <a href="{{ site.url }}{{ site.baseurl }}/index.html" title="DigitalGov" rel="home"><img class="logo" src="{{ site.baseurl }}/assets/img/DigitalGov_Horizontal.png" alt="{{ header.title | default: site.title }}"></a>
            </a>
          </h1>

          {% include components/site-nav.html %}

        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        {% include components/migration-box.html %}
      </div>

    </div>
  </div>
</header>

<div class="usa-overlay"></div>
{% endif %}
