{{ define "content" }}
  {{ $path := "" }}{{ with .File }}
    {{ $path = .Path }}
  {{ else }}
    {{ $path = .Path }}
  {{ end }}
  <main role="main" id="main-content">
    <article class="grid-container grid-container-desktop">
      <header>
        <div class="grid-row">
          <div class="grid-col-6">
            <div class="guide-title" data-edit-this="{{- $path -}}">
              <p class="kicker">Digital.gov Guide</p>
              <h1>{{- .Parent.Title | markdownify -}}</h1>
              {{- if .Params.summary -}}
                <div class="deck">{{- .Params.summary | markdownify -}}</div>
              {{- end -}}
            </div>
          </div>
          <div class="grid-col-6">
            <img src="{{- .Params.image -}}" alt="Guide Header Image" />
          </div>
        </div>
      </header>
    </article>
    <div class="menu-bar">
      <a class="menu-bar-link" href="/guides-new/mobile-principles/"><span>Overview</span></a>
      <a class="menu-bar-link" id = {{ cond (eq .Page.RelPermalink "/guides-new/mobile-principles/javascript/") "current" ""}} href="/guides-new/mobile-principles/javascript"><span>Javascript</span></a>
      <a class="menu-bar-link" id = {{ cond (eq .Page.RelPermalink "/guides-new/mobile-principles/viewport/") "current" ""}} href="/guides-new/mobile-principles/viewport"><span>Viewport</span></a>
      <a class="menu-bar-link" id = {{ cond (eq .Page.RelPermalink "/guides-new/mobile-principles/tap-targets/") "current" ""}} href="/guides-new/mobile-principles/tap-targets"><span>Navigation</span></a>
      <a class="menu-bar-link" id = {{ cond (eq .Page.RelPermalink "/guides-new/mobile-principles/plugins/") "current" ""}} href="/guides-new/mobile-principles/plugins"><span>Plugins</span></a>
      <a class="menu-bar-link" id = {{ cond (eq .Page.RelPermalink "/guides-new/mobile-principles/cache/") "current" ""}} href="/guides-new/mobile-principles/cache"><span>Cache</span></a>
      <a class="menu-bar-link" id = {{ cond (eq .Page.RelPermalink "/guides-new/mobile-principles/optimize-minify-compression/") "current" ""}} href="/guides-new/mobile-principles/optimize-minify-compression/"
        ><span>Optimize</span></a
      >
      <a class="menu-bar-link" id = {{ cond (eq .Page.RelPermalink "/guides-new/mobile-principles/configuration/") "current" ""}} href="/guides-new/mobile-principles/configuration"
        ><span>Configuration</span></a
      >
      <a class="menu-bar-link" id = {{ cond (eq .Page.RelPermalink "/guides-new/mobile-principles/accessibility/") "current" ""}} href="/guides-new/mobile-principles/accessibility"
        ><span>Accessibility</span></a
      >
    </div>
    <div class="usa-in-page-nav-container">
      <aside
        class="usa-in-page-nav guide"
        data-title-text="On this page"
        data-title-heading-level="h3"
        data-root-margin="100px 0px 0px 0px"
        data-scroll-offset="100"
        data-threshold="1"
      ></aside>
      <article class="grid-container grid-container-desktop">
        <div data-edit-this="{{- $path -}}">
          {{/* Content */}}
          <div class="content usa-prose guide">
            {{- .Content -}}
          </div>
          {{- partial "core/guides/guide-prev-next.html" . -}}
          {{- partial "core/page-data.html" (dict "page" . "page_type" "resource" "branch" ($.Scratch.Get "branch")) -}}
          {{/* Touchpoints Form */}}
          {{- partial "core/touchpoints-form.html" . -}}
        </div>
      </article>
    </div>
  </main>
{{- end -}}
