{{ define "content" }}
  {{ $path := "" }}{{ with .File }}
    {{ $path = .Path }}
  {{ else }}
    {{ $path = .Path }}
  {{ end }}
  <main role="main" id="main-content">
    <article class="grid-container grid-container-desktop">
      <header>
        <div class="grid-row">
          <div class="grid-col-6">
            <div class="guide-title" data-edit-this="{{- $path -}}">
              {{- if .Params.kicker -}}
                <p class="kicker">{{- .Params.kicker -}}</p>
              {{- end -}}
              <h1>{{- .Title | markdownify -}}</h1>
              {{- if .Params.deck -}}
                <div class="deck">{{- .Params.deck | markdownify -}}</div>
              {{- end -}}
            </div>
          </div>
          <div class="grid-col-6">
            <img src="{{- .Params.image -}}" alt="Guide Header Image" />
          </div>
        </div>
      </header>
    </article>
    <div class="menu-bar">
      <a class="menu-bar-link" id="current" href=""><span>Section 1</span></a>
      <a class="menu-bar-link" href=""><span>Section 2</span></a>
      <a class="menu-bar-link" href=""><span>Section 3</span></a>
      <a class="menu-bar-link" href=""><span>Section 4</span></a>
      <a class="menu-bar-link" href=""><span>Section 5</span></a>
    </div>
    <div class="usa-in-page-nav-container">
      <aside
        class="usa-in-page-nav guide"
        data-title-text="Section 1"
        data-title-heading-level="h3"
        data-root-margin="100px 0px 0px 0px"
        data-scroll-offset="100"
        data-threshold="1"
      ></aside>
      <article class="grid-container grid-container-desktop">
        <div data-edit-this="{{- $path -}}">
          {{/* Content */}}
          <div class="content usa-prose guide">
            {{- .Content -}}
          </div>
          {{- partial "core/guides/guide-prev-next.html" . -}}
          {{- partial "core/page-data.html" (dict "page" . "page_type" "resource" "branch" ($.Scratch.Get "branch")) -}}
          {{/* Touchpoints Form */}}
          {{- partial "core/touchpoints-form.html" . -}}
        </div>
      </article>
    </div>
  </main>
{{- end -}}
