@import 'variables';

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

h3:before {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

a:hover,
a:active {
  text-decoration: none;
}

// clean up after the WDS list styles
ul li {
  &::before,
  &::after {
    content: "";
    display: none;
  }
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section,
footer {
  padding: 3em 1em;
}

h1 {
  margin: 0;
}

header {
  background-color: $dark-blue;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

  & > .container {
    padding: 2em 0;

    @media all and (max-width:$mobile-width) {
      padding: 0;
    }
  }

  h1 {
    background: $slighty-transparent-blue;
    color: $black;
    font-size: 2rem;
    padding: 1em;
    position: relative;

    .icon {
      width: 2.3em;
      height: 2.3em;
      margin-right: 0.3em;

      // the graph needs to be wider because
      // it has a wider aspect ratio
      &.graph {
        width: 2.5em;
      }
    }
  }

  .flag-container {
    background-color: $medium-blue;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0.625em 1.875em;

    font-family: Lato, "Helvetica Neue", Helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 200;

    img {
      height: 12px;
      width: 19px;
    }

    p {
      font-size: .8em;
      font-weight: 100;
      margin: .1em;
      margin-right: 1em;
    }

    @media all and (min-width: 1200px) {
      background-color: transparent;
      bottom: 2em;
      position: absolute;
      right: 2em;
      z-index: 2;

      img {
        height: 16px;
        width: 26px;
      }

      a:hover + p {
        visibility: visible;
      }

      p {
        visibility: hidden;
      }
    }
  }
}

nav {
  background: #000;
  background: rgba(0, 0, 0, .8);
  position: relative;

  @media all and (max-width: $mobile-width) {
    background: rgba(0, 0, 0, .4);
  }

  ul {
    display: block;
    line-height: 1;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
    text-align: left;
    text-transform: uppercase;

    li {
      display: inline-block;
      list-style: none;
      margin: 0 2em 0 0;
    }
  }

  a:link,
  a:hover,
  a:visited {
    color: $green;
    font-size: .8em;
    letter-spacing: .1em;
  }

  a:hover {
    color: $white;
    text-decoration: none;
  }
}

section h1 {
  border-bottom: 12px solid;
  padding-bottom: .5em;
  position: relative;

  &::after {
    $icon-spacing: 4rem;
    $icon-size: ($left-gutter - $icon-spacing - 2rem);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 65% auto;
    border-radius: $icon-size;
    border: 4px solid;
    content: "";
    display: block;
    height: $icon-size;
    margin-right: $icon-spacing;
    margin-top: -($icon-size / 2);
    position: absolute;
    right: 100%;
    top: 100%;
    width: $icon-size;

    @media all and (max-width: 1150px) {
      display: none;
    }
  }
}


aside {
  position: absolute;
  top: $right-gutter * 3.7;
  right: $right-gutter / 6;

  .download-text {
    strong {
      display: inline-block;
      font-size: .9em;
      font-weight: 400;
    }

    strong:hover {
      text-decoration: underline;
    }

    span {
      display: none;
    }
  }

  .download-image {
    display: none;
  }

  @media all and (min-width: $mobile-width) and (max-width: 1200px) {
    display: none;
  }

  @media all and (max-width: $mobile-width) {
    background-color: $blue;
    margin-bottom: -1px;
    padding: 2em 0;
    position: relative;
    right: auto;
    top: auto;

    h3 {
      margin: 0;
      margin-right: 2em;
      text-align: right;

      span {
        align-items: center;
        background-color: $white;
        height: 2em;
        border-radius: 2em;
        display: flex;
        float: right;
        justify-content: center;
        margin-left: 1em;
        margin-top: -6px;
        width: 2em;
      }

      span:after {
        border: 3px solid $dark-blue;
        border-top: none;
        border-left: none;
        content: "";
        display: inline-block;
        height: 10px;
        margin-top: -5px;
        transform: rotate(45deg);
        width: 10px;
      }
    }

    ul {
      display: none;
    }

    &.open {
      background-color: $black;
      color: $white;
      padding-bottom: 0;

      span:after {
        margin-top: 0;
        transform: rotate(-135deg);
      }

      ul {
        display: block;
        margin-top: 1.3em;
        margin-bottom: 0;
        width: 100%;
      }

      li {
        background-color: $green;
        border-bottom: 2px solid $black;
        display: block;
        margin: 0;
        min-height: 9em;
        padding: 1.7em;
        width: 100%;

        &:last-child {
          border-bottom: none;
        }

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .download-text,
        .download-image {
          display: block;
        }

        .download-text {
          span {
            display: block;
          }
        }

        img {
          width: 70px;
        }
      }
    }
  }
}

#work h1 {
  border-color: $blue;

  &::after {
    background-image: url($cloud-icon);
    border-color: $blue;
  }
}

#report h1 {
  border-color: $red;

  &::after {
    background-image: url($graph-icon);
    border-color: $red;
  }
}

#contact h1 {
  border-color: $green;

  &::after {
    background-image: url($mail-icon);
    border-color: $green;
  }
}

section:nth-child(even) {
  background: #f5f5f5;
}

section .container {
  position: relative;
}

// "What we found" grid
#what-we-found + ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    $icon-size: 3em;

    display: block;
    list-style: none;
    padding: 0 0.5em 1em ($icon-size + 1.5em);
    position: relative;
    margin: 0;
    width: 50%;

    @media all and (max-width: 800px) {
      width: 100%;
    }

    h3 {
      // font-size: inherit;
      margin-top: 0;

      &::before {
        content: "";
        display: block;
        width: $icon-size;
        height: $icon-size;
        background-color: $blue;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 65%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &#planning-for-climate-change::before {
        background-image: url($clipboard-icon);
      }

      &#reliance-on-federal-resources::before {
        background-image: url($federal-icon);
      }

      &#tailorability-and-findability::before {
        background-image: url($search-icon);
      }

      &#curation-and-production-tools::before {
        background-image: url($serve-icon);
      }
    }
  }
}

#report {

  .container:after {
    clear: both;
    content: '';
    display: block;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  h3#methodology + p {
    width: 50%;

    @media all and (max-width: 450px) {
      width: 100%;
    }
  }

  ul p,
  #methodology ~ p {
    font-size: .9em;
    font-weight: 100;
    margin-top: 0;
  }

  .downloads {
    width: 100%;

    li {
      display: block;
    }

    li:after {
      clear: both;
      content: '';
      display: block;
    }

    li + li {
      margin-top: 3rem;
    }

    a {
      width: 45%;

      &:hover {
        text-decoration: underline;
      }

      @media all and (max-width: 450px) {
        width: 100%;
      }
    }

    a + a {
      float: right;
      margin-left: 5%;

      @media all and (max-width: 450px) {
        margin-left: 0;
        margin-top: 2em;
      }
    }
  }

  .cover {
    display: inline-block;
    background: $white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5);

    @media all and (max-width: 450px) {
      width: 100%;

      & > img {
        width: 100%;
      }
    }
  }

}

// report download "button"
.button {
  background: $green;
  border-color: transparent;;
  border-style: solid;
  border-width: 3px;
  color: $black;
  display: block;
  font-size: .8em;
  letter-spacing: .05em;
  padding: 1em;
  text-align: center;
  text-decoration: none;

  &:hover {
    border-color: $black;
    box-sizing: border-box;
    color: $black;
    text-decoration: none;
  }

  strong {
    display: block;
    text-transform: uppercase;
  }
}

footer {
  background: $dark-gray;
  color: $white;
  text-align: center;

  a:link,
  a:visited {
    color: $green;
  }

  & > a {
    display: inline-block;
  }

  img {
    display: inline-block;
    height: 4em;
    margin: 0 0.5em 0.5em 0;
  }

  p + p {
    margin-top: 2em;
  }
}

@media screen and (min-width: 800px) {

  header > .container {
    padding: 6em 0;
  }

  header h1 {
    padding: 3.5em 1.5em 1.5em;
    width: 50%;
  }

  nav ul {
    padding: 2em 0;
  }

  section {
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 0;
  }

  footer {
    text-align: left;

    img {
      height: 5em;
      margin: 0 1em 1em 0;
    }
  }
}
