{{ define "content" }}
  <main role="main" id="main-content">
    <header class="dg-landing__hero">
      {{- partial "core/img-flexible.html" (dict "Site" .Site "src" $.Params.image "small" "false") -}}
      <div class="dg-landing__hero-text">
        <h1>{{- .Params.title -}}</h1>
        <a href="#content-start" class="usa-button usa-button--big"
          >Get Started</a
        >
      </div>
    </header>
    <article class="dg-landing__body grid-container grid-container-desktop">
      <div>
        {{- .Content -}}
      </div>
      <h2 class="dg-landing__body-featured-resources">Featured Resources</h2>
      <ul class="usa-card-group" id="content-start">
        {{- range .Pages -}}
          <li class="usa-card tablet:grid-col-4">
            {{- $image := .Params.image -}}
            {{- $layout := "no-image" -}}
            {{- if $image -}}
              {{- $layout = "has-image" -}}
            {{- end -}}
            {{ $cardData := (dict
              "header" .Title
              "body" .Params.summary
              "link" (.Permalink | absURL)
              "link_title" (print "Explore " (.Title | markdownify | lower))
              "layout" $layout
              "site" .Site
              "image" $image
              )
            }}
            {{- partial "core/usa-card.html" (dict "card_data" $cardData) -}}
          </li>
        {{- end -}}
      </ul>
      {{- if .Params.additional_resources -}}
        {{- partial "core/render-markdown.html" (dict "Site" .Site "file" $.Params.additional_resources) -}}
      {{- end -}}
      {{- partial "core/attribution.html" . -}}
    </article>
    {{- if .Params.glossary -}}
      {{- partial "core/glossary.html" . -}}
    {{- end -}}
  </main>
{{ end }}
