<div class="grid-container grid-container-desktop">
  {{ $path := "" }}{{ with .File }}
    {{ $path = .Path }}
  {{ else }}
    {{ $path = .Path }}
  {{ end }}
  {{- partial "partials/core/usa-breadcrumbs.html" . -}}
  <div class="grid-row tablet-lg:grid-gap-4" data-edit-this="{{- $path -}}">
    <div class="grid-col-12">
      <header class="page-header">
        <h1>{{- .Title -}}</h1>
        {{/* TODO: move to where it is used :81 */}}


        <p class="deck">{{- .Params.summary -}}</p>
      </header>
    </div>
  </div>

  {{/* If the topic page has Content */}}
  {{/* TODO: Confirm output, if not remove. */}}
  {{- if .Content -}}
    <div class="content usa-prose">
      {{- .Content -}}
    </div>
  {{- end -}}

  {{/* Resources, Services, and Communities */}}
  {{ if eq .Paginator.PageNumber 1 }}
    <section>
      {{/* If the first page in a paginated sequence */}}

      {{/* Gets the resource .Pages associated with this topic */}}
      {{- $resources := (where .Pages "Section" "resources") -}}
      {{- $resource_settings := ( dict "header_title" (print "Resources on " .Title) "header_size" 2 "variant" "media" "list_header" 3) -}}
      {{- partial "partials/core/collection/collection.html" (dict "collection_data" $resources "settings" $resource_settings ) -}}

      {{/* Gets the services .Pages associated with this topic */}}
      {{- $services := (where .Pages "Section" "services") -}}
      {{- $services_settings := ( dict "header_title" "Tools and Services" "header_size" 2 "variant" "media" "list_header" 3) -}}
      {{- partial "partials/core/collection/collection.html" (dict "collection_data" $services "settings" $services_settings) -}}

      {{/* Gets the communities .Pages associated with this topic */}}
      {{- $communities := (where .Pages "Section" "communities") -}}
      {{- $community_settings := ( dict "header_title" "Join a Community of Practice" "header_size" 2 "variant" "media" "list_header" 3) -}}
      {{- partial "partials/core/collection/collection.html" (dict "collection_data" $communities "settings" $community_settings) -}}
    </section>
  {{- end -}}

</div>

<section id="news_featured" class="stream">
  <div class="paper">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row tablet-lg:grid-gap-4">
        <div class="grid-col-12 ">
          {{/* Blog Posts by Topic —
            List all of the blog posts and events tagged with this topic
          */}}

          {{/* Gets the past events */}}
          {{- $past_events := where (where .Paginator.Pages.ByDate.Reverse "Section" "events") ".Date.Unix" "<" now.Unix -}}

          {{/* Gets the past events that have youtube_id set */}}
          {{- $past_events := where $past_events ".Params.youtube_id" "!=" nil -}}

          {{/* Gets the recent blog posts */}}
          {{- $posts := where .Paginator.Pages "Section" "news" -}}

          {{/* Merges the past events and the recent blog posts */}}
          {{ $stream := union $posts $past_events }}

          {{/* Sorting all the items by date and reverse chron */}}
          {{ $stream := $stream.ByDate.Reverse }}

          {{/* If there are any blog posts at all... */}}
          {{- if $stream -}}
            {{- $allpages := (where .Pages "Section" "news") -}}
            <h2 class="main-topic__news-featured-header">
              News and Events on
              {{ .Title -}}
            </h2>
            <p>{{- len $allpages }} posts</p>

            {{/* Loop through all the pages */}}
            {{- range $stream -}}
              {{- if eq .Type "events" -}}
                {{- .Render "card-event" -}}
              {{- end -}}

              {{- if eq .Type "news" -}}
                {{/* External links */}}
                {{- if .Params.source -}}
                  {{/* see /layouts/news/ for card templates */}}
                  {{ .Render "card-elsewhere" }}
                {{ else }}
                  {{/* Blog Posts — Internal links */}}
                  {{- if .Params.deck }}
                    {{/* see /layouts/news/ for card templates */}}
                    {{ .Render "card-article" }}
                  {{ else }}
                    {{/* see /layouts/news/ for card templates */}}
                    {{ .Render "card-article" }}
                  {{ end }}
                {{ end }}
              {{- end -}}

            {{- end -}}
          {{- end -}}

          {{- partial "core/pagination.html" . -}}
        </div>
      </div>
    </div>
  </div>
</section>
