{{ $path := "" }}{{ with .File }}
  {{ $path = .Path }}
{{ else }}
  {{ $path = .Path }}
{{ end }}

<article class="grid-container grid-container-desktop topics-collection" data-edit-this="{{- $path -}}">
  {{- partial "partials/core/usa-breadcrumbs.html" . -}}
  <div class="grid-row tablet-lg:grid-gap-4">
    <div class="grid-col-12">
      <header class="page-header">
        <h1>{{- .Title -}}</h1>
        <p class="deck">{{- .Params.deck -}}</p>
      </header>
    </div>
  </div>

  <div class="grid-row tablet-lg:grid-gap-4">
    <div class="grid-col-6 content usa-prose dg-landing__body">
      {{/*  Use same prose styles as HCD guides  */}}
      <p class="">
        {{- .Params.summary -}}
      </p>
    </div>

    <div class="grid-col-6">
      <ul class="usa-card-group">
        <li class="usa-card usa-card--flag">
          <div class="usa-card__container">
            {{/*  <div class="usa-card__header">
              <h2 class="usa-card__heading">Default flag</h2>
            </div>  */}}
            <div class="usa-card__media">
              <div class="usa-card__img">
                <img
                  src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                  alt="A placeholder image"
                />
              </div>
            </div>
            <div class="usa-card__body">
              <p>Executive Order 14058 on Transforming Federal Customer Experience and Service Delivery to Rebuild Trust in Government</p>
            </div>
            <div class="usa-card__footer">
              <a href="https://www.govinfo.gov/app/details/DCPD-202101050" class="usa-button">View Executive Order</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    {{- partial "core/featured-resource.html" (dict "Site" .Site "resourcePath" "/guides/hcd/discovery-concepts" "kicker" "HCD Guides") -}}
  </div>

  {{/* Resources, Services/Tools, Guides  */}}
  <div class="grid-row tablet-lg:grid-gap-4">
    <h2>Resources</h2>
    <div class="grid-col-12">
      {{- partial "core/featured-resource.html" (dict "Site" .Site "resourcePath" "/communities/user-experience" "kicker" "Join a Community") -}}
    </div>
    <div class="grid-col-6">
      <h2>Resources & Guides</h2>
      {{- $resources := (where .Pages "Section" "resources") -}}
      {{- partial "partials/core/collection/collection.html" (dict "data" $resources "header_title" (print "Resources on " .Title) "header_size" 2 "variant" "media" "list_header" 3) -}}
    </div>
    <div class="grid-col-6">
      <h2>Services & Tools</h2>
      {{- $services := (where .Pages "Section" "services") -}}
      {{- partial "partials/core/collection/collection.html" (dict "data" $services "header_title" "Tools and Services" "header_size" 2 "variant" "headings" "list_header" 3) -}}
    </div>
  </div>

  {{/* Resources, Services/Tools, Guides  */}}
  <div class="grid-row tablet-lg:grid-gap-4">
    <h2>News & Events</h2>
    <div class="grid-col-6">
      <h2>Resources & Guides</h2>
      {{- $resources := (where .Pages "Section" "resources") -}}
      {{- partial "partials/core/collection/collection.html" (dict "data" $resources "header_title" (print "Resources on " .Title) "header_size" 2 "variant" "media" "list_header" 3) -}}
    </div>
    <div class="grid-col-6">
      <h2>Services & Tools</h2>
      {{- $services := (where .Pages "Section" "services") -}}
      {{- partial "partials/core/collection/collection.html" (dict "data" $services "header_title" "Tools and Services" "header_size" 2 "variant" "headings" "list_header" 3) -}}
    </div>
  </div>
</article>