header.usa-header{
	.usa-navbar{
		@include u-height('card');
		@include u-flex('align-start');
		@include at-media('desktop') {
			@include u-height('auto');
			@include u-padding-x(4);
		}
	}
	.usa-nav__secondary{
		bottom:7.5rem;
	}
	.usa-logo{
		@include u-margin-top(1);
		@include at-media('desktop') {
			@include u-margin-top(4);
			@include u-margin-bottom('105');
		}
		a{
			@include u-display('flex');
			@include u-text('mint-cool-90');
		}
		img{
			@include u-margin-right(1);
			@include u-width(6);
		}
		.usa-logo__text{
			@include u-font('sans', 'xl');
			@include at-media('desktop') {
				@include u-font('sans', 'xl');
			}
		}
		.sub-head{
			@include u-margin-top(1);
			@include u-margin-bottom('205');
			@include u-font('sans', 'md');
			@include u-line-height('sans', 2);
			@include u-text('no-italic');
			@include u-text('base-dark');
			@include u-text('light');
			// @include u-display('none');
			@include at-media('desktop') {
				@include u-width('mobile');
				@include u-font('sans', 'lg');
				@include u-margin-bottom(4);
				@include u-display('block');
			}
		}
		.agency_refer{
			@include u-margin-bottom(1);
			@include u-font('sans', '3xs');
			@include u-line-height('sans', 2);
			@include u-text('base');
			@include u-display('flex');
			@include u-flex('align-start');
			@include at-media('tablet') {
				@include u-width('205');
				@include u-font('sans', '2xs');
			}
			@include at-media('desktop') {
				@include u-display('flex');
			}
			img{
				@include u-margin-top('2px');
				@include u-margin-right('05');
				@include u-width(2);
				@include at-media('tablet') {
					@include u-margin-top(0);
					@include u-width('205');
				}
			}
		}
	}
	.social-icons {
		@include u-float('right');
		@include add-list-reset;
		@include u-margin-top(1);
		a{
			@include u-margin-x('05');
			@include u-font('sans', 'md');
			@include u-text('base-dark');
			@include u-display('inline-block');
		}
	}
}
