.pagination{
	margin: 3.5em 0;
	padding: 0;
}
.pagination li{
	list-style-type: none;
	display: inline-block;
	text-align: center;
}
.pagination li a{
	padding-top: 1px;
	color:#2673DF;
	width: 28px;
	height: 27px;
	border-radius: 25px;
	display: block;
}
.pagination li a:hover{
	background:#d1e4ff;
}
.pagination li.active a{
	color:#fff;
	background:#2673DF;
}
