.guide-nav {
	margin-bottom: 40px;
}
.guide-nav h6{
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-size: 14px;
}
.entry .guide-nav ul{
	margin-top: 0px;
	margin-bottom: 30px;
	padding: 0;
}
.guide-nav ul li{
	margin-bottom: 0;
	list-style-type: none;
	border-top: 1px #6d91ed solid;
	line-height: 22px;
	color: #1f1c19;
	font-size: 18px;
	font-weight: 800;
}
#TableOfContents ul li{
	font-size: 14px;
	font-weight: 500;
}

.guide-nav li:first-child{
	border-top: none;
}
.guide-nav li:first-child a{
	padding-top:0;
}

.guide-nav ul li a{
	margin:0;
	padding: 12px 0;
	display: block;
	/* color: #1f1c19; */
}
.guide-nav ul li .active{
	font-weight: bold;
}
.guide-nav ul li a:hover{
	text-decoration: underline;
}

#TableOfContents ul li a{
	padding: 5px 0;
}

#TableOfContents li.more a{
	color: #4a70d9;
	font-weight: bold;
}

#TableOfContents li.ex{
	display: none;
}
#TableOfContents li.show{
	display: block;
}

/* Hides all navigation that is below an H2 */
#TableOfContents ul ul{
	display: none;
}

@media only screen and (min-width: 576px) {
	.guide-nav{
	}
}
@media only screen and (min-width: 768px) {
	.guide-nav{
		width: 650px;
	}
}
@media only screen and (min-width: 992px) {
	.guide-nav{
		width: 225px;
		float: right;
	}
	.entry .guide-nav ul{
		margin-bottom: 40px;
	}
}
@media only screen and (min-width: 1200px) {
	.guide-nav{
	}
}
