#top6{
	display: flex;
	flex-wrap: wrap;
}
#top6 .card{
	margin: 0 0 20px 0;
	width: 100%;
}
#top6 .card .youtube-player{
	margin-bottom: 10px;
	-webkit-filter: grayscale(25%); /* Safari 6.0 - 9.0 */
  filter: grayscale(25%);
}
#top6 .card .media{
	margin-bottom: 10px;
	height: 170px;
	overflow: hidden;
}
#top6 .card .media img{
	width: 100%;
	-webkit-filter: grayscale(25%); /* Safari 6.0 - 9.0 */
  filter: grayscale(25%);
}
#top6 .card h3{
	margin-bottom: 5px;
	font-size: 1.2em;
}
#top6 .card h3 a{
	color: #000;
}
#top6 .card h3 a:hover{
	text-decoration: underline;
}
#top6 .card .summary{
	font-size: 1em;
	color: #000;
}


@media screen and (min-width: 575px) {
}
@media screen and (min-width: 768px) {
	#top6 .card{
		margin: 0 22px 15px 0;
		width: 48%;
	}
	#top6 .card:nth-child(2n){
		margin-right: 0;
	}

}
@media screen and (min-width: 992px) {
	#top6{
		width: 960px;
	}
	#top6 .card{
		margin: 0 24px 10px 0;
		width: 304px;
	}
	#top6 .card:nth-child(2n){
		margin-right: 24px;
	}
	#top6 .card:nth-child(3n){
		margin-right: 0;
	}
}
@media screen and (min-width: 1200px) {
}
