{{ define "content" }}

<main role="main" class="taxonomy">
  <div class="grid-container padding-x-2">

    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">
        <header>
          {{ $data := $.Site.Data }}
          <h1>{{ .Title }}</h1>
          <h4>There are {{ len $.Data.Terms }} {{ $.Data.Plural }}</h4>
        </header>
      </div>
    </div>

    {{/* Authors */}}
    <div class="grid-row">
      <div class="grid-col-12">
        <section>
          <ul class="add-list-reset">
            {{/* OUTPUT NAMES THAT MATCH DATA */}}
            {{ range $tax := $.Data.Terms.Alphabetical }}
              {{ $uid := $tax.Name | urlize }}
              {{ $author := index $data.people.authors $uid }}
                {{ $link := printf "authors/%s/" $uid }}
                <li><a href="{{ $link | absURL }}">{{ $author.display_name | default $uid }} ({{ $tax.Count }})</a></li>
            {{ end }}
          </ul>
        </section>
      </div>
    </div>

  </div>
</main>

{{ end }}
