{{ partial "head.html" . }}

<body class="{{ block "bodyclasses" . }}{{ end }} centercatnav bodybg1">

  {{ partial "nav-fixed-navbar.html" . }}

  <a class="screen-reader-popup" href="#content" title="Skip to page content">Skip to page content</a>

  <div id="outer-wrap">

    {{ partial "nav-top-nav.html" . }}
    {{ partial "header.html" . }}

    <div id="wrap">
      <div id="page" class="clearfix">
        <div class="page-border clearfix">
          <div id="contentleft" class="clearfix">
            <div id="content" class="clearfix">

              {{ block "content" . }} the content didn't load {{ end }}
            </div><!-- #content -->
            <div style="clear:both;margin-bottom:20px;"></div>
          </div><!-- #contentleft -->
          {{ block "sidebar" . }}{{ end }}

{{ partial "body-bottom.html" . }}
{{ partial "footer.html" . }}
