{{- partial "core/set-env.html" . -}}
{{ partialCached "core/head-comment.html" . }}


<!DOCTYPE html>
<html
  lang="en-US"
  itemscope
  itemtype="http://schema.org/WebSite"
  prefix="og: http://ogp.me/ns#"
>
  {{- partial "core/head.html" . -}}


  <body class="{{- .Type }} {{ .Kind -}}">
    {{- "<!-- Google Tag Manager (noscript) -->" | safeHTML -}}
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MZCKZPQ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    {{ "<!-- End Google Tag Manager (noscript) -->" | safeHTML }}


    <div class="paper">
      {{- partialCached "core/notice-bar.html" . -}}
      {{- partialCached "core/usa-banner.html" . -}}
      {{- partialCached "core/sitewide-alert.html" . -}}
      {{- partialCached "core/header.html" . -}}

      {{/* Main Content */}}
      {{ block "data" . }}{{ end }}
      {{ block "content" . }}The BASE CONTENT didn't load. :/{{ end }}

      {{- partialCached "core/newsletter-signup.html" . -}}
      {{- partialCached "core/footer.html" . -}}
      {{- partialCached "core/usa-identifier.html" . -}}
    </div>

    <div id="clicks_iframe" class="display-none"></div>

    <!-- Set the glossary terms as a variable -->
    <script type="text/javascript">
      {{- $terms := .Params.glossary -}}
      {{- if (not .IsNode) -}}
        {{- $terms = .Parent.Params.glossary -}}
      {{- end -}}
      {{- $glossaryPath := (printf "%s/%s" "glossary/" $terms | absURL) -}}
      let glossaryPath = null;
      {{- if and ($terms) (os.FileExists (printf "%s/%s" "themes/digital.gov/static/glossary/" $terms)) -}}
        glossaryPath = {{ $glossaryPath | jsonify | safeJS }};
      {{- end -}}
      const glossaryIcon = {{ "uswds/img/sprite.svg#expand_more" | relURL | jsonify | safeJS }};
    </script> {{/* Load USWDS JS */}}
    {{ $uswdsOpts := dict "targetPath" "js/uswds.min.js" }}
    {{ $uswds := resources.Get "js/uswds/uswds.js" | js.Build $uswdsOpts | fingerprint }}
    <script
      src="{{ $uswds.RelPermalink }}"
      integrity="{{ $uswds.Data.Integrity }}"
      crossorigin="anonymous"
    ></script>

    {{/* Load main JS */}}
    {{ $mainOpts := dict "targetPath" "js/main.min.js" }}
    {{ $main := resources.Get "js/stream-images.js" | js.Build $mainOpts | fingerprint }}
    <script
      src="{{ $main.RelPermalink }}"
      integrity="{{ $main.Data.Integrity }}"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
