{{- define "content" -}}
{{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}
<main role="main" id="main-content">
  <article>
    <header>
      <div class="grid-container grid-container-desktop">
        {{- partial "core/breadcrumbs.html" . -}}
        <div class="grid-row">
          <div class="grid-col-12" data-edit-this="{{- $path -}}">
            {{- if .Params.kicker -}}
            <p class="kicker">{{- .Params.kicker -}}</p>
            {{- end -}}
            {{/* Page Title */}}
            <h1>{{- .Title | markdownify -}} </h1>

              {{/* Deck */}}
              {{- if .Params.deck -}}
                <div class="deck">{{- .Params.deck | markdownify -}}</div>
              {{- end -}}
            </div>
          </div>
        </div>
      </header>

      <section>
        <div class="grid-container grid-container-desktop">
          <div class="grid-row">
            <div class="grid-col-12" data-edit-this="{{- $path -}}">
              {{/* Content */}}
              <div class="content">
                {{- .Content -}}
              </div>

              <div id="stream-images" class="stream usa-prose"></div>

              {{- partial "core/page-data.html" (dict "page" . "page_type" "resource" "branch" ($.Scratch.Get "branch")) -}}

              {{/* Touchpoints Form */}}
              {{- partial "core/touchpoints-form.html" . -}}
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
{{- end -}}
