{{- define "content" -}}
  <main role="main" id="main-content">
    <article>
      <header>
        <div class="grid-container grid-container-desktop">
          {{- partial "partials/core/usa-breadcrumbs.html" . -}}
          <div class="grid-row">
            <div class="grid-col-12">
              {{- if .Params.kicker -}}
                <p class="kicker">{{- .Params.kicker -}}</p>
              {{- end -}}
              {{/* Page Title */}}
              <h1>{{- .Title | markdownify -}}</h1>

              {{/* Deck */}}
              {{- if .Params.deck -}}
                <div class="deck">{{- .Params.deck | markdownify -}}</div>
              {{- end -}}
            </div>
          </div>
        </div>
      </header>

      <section>
        <div class="grid-container grid-container-desktop">
          <div class="grid-row">
            <div class="grid-col-12">
              {{/* Content */}}
              <div class="content">
                {{- .Content -}}
              </div>

              {{/* Pass image data to JavaScript */}}
              <script>
                window.DIGITALGOV_IMAGES = {{ $.Site.Data.images | jsonify | safeJS }};
              </script> {{/* Images container - populated by JavaScript */}}
              <div id="stream-images" class="dg-image-stream usa-prose"></div>

              {{/* Pagination container - populated by JavaScript */}}
              <nav aria-label="Pagination" class="usa-pagination">
                <ul class="usa-pagination__list"></ul>
              </nav>

              {{/* Touchpoints Form */}}
              {{- partial "core/touchpoints-form.html" . -}}
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
{{- end -}}
