{{- define "content" -}}
  <main role="main" id="main-content">
    <article>
      <header>
        <div class="grid-container grid-container-desktop">
          <div class="grid-row">
            <div class="grid-col-12">
              {{/* Breadcrumbs */}}
              {{- if .Parent -}}
                {{- partial "partials/core/usa-breadcrumbs.html" . -}}
              {{- end -}}

              {{- if .Params.kicker -}}
                <p class="kicker">{{- .Params.kicker -}}</p>
              {{- end -}}

              {{/* Page  Title */}}
              <h1>{{- .Title | markdownify -}}</h1>

              {{/* Deck */}}
              {{- if .Params.deck -}}
                <div class="deck">{{- .Params.deck | markdownify -}}</div>
              {{- end -}}
            </div>
          </div>
        </div>
      </header>

      <section class="grid-container grid-container-desktop">
        {{- partial "partials/core/usa-in-page-nav.html" . -}}
      </section>
    </article>
  </main>
{{- end -}}
