{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "top archive category c-sw unboxed centercatnav bodybg1" }}
{{ end }}

{{ define "content" }}

<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col">
        {{ $data := $.Site.Data }}
        {{ $taxonomy := .Data.Plural }}
        {{ $slug := .Title | urlize }}
        {{ $taxdata := index $data $taxonomy }}
        {{ $term := index $taxdata $slug }}
        {{ if eq $taxonomy "categories" }}
          {{ $.Scratch.Set "categories" $slug }}
        {{ end }}
        {{ with $term.communities }}
          {{ $.Scratch.Set "relatedCommunities" . }}
        {{  end }}

        <h1>{{ $term.display_name }}</h1>
        {{ with $term.summary }}
          <p>{{ . | markdownify }}</p>
        {{ end }}

      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="list">
          {{ range .Paginator.Pages }}
          <div class="entry{{ if .Params.featured_image.uid }} has-img{{ end }}">
            <div class="entry-content">
              <h3><a href="{{ .Permalink }}" title="{{ .Title | markdownify }}">{{ .Title | markdownify }}</a></h3>
              <p class="date">{{ .Date.Format "Jan _2, 2006" }} {{ partial "post-authors.html" . }}</p>
              <p class="summary">{{ .Params.summary | default .Summary | safeHTML | markdownify  }}&nbsp;<a class="more" href="{{ .Permalink }}" title="{{ .Title | markdownify }}">Read&nbsp;»</a></p>
            </div>
            {{ partial "img-featured.html" . }}
          </div>

          {{ end }}
          {{ partial "pagination.html" . }}
        </div>
      </div>

      <div class="col">
        <div class="sidebar">

          {{ partial "sidebar--relatedCommunities.html" . (dict "list" . "communities" ($.Scratch.Get "relatedCommunities")) }}
          {{ partial "sidebar--topics.html" . }}
          {{ partialCached "sidebar--recentPosts.html" . }}
          {{ partialCached "sidebar--events.html" . }}
        </div>
      </div>

    </div>
  </div>
</section>

{{ end }}
