{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "top archive category c-sw unboxed centercatnav bodybg1" }}
  {{ $.Scratch.Set "has_sidebar" true }}
{{ end }}


{{ define "content" }}
  {{ $data := $.Site.Data }}
  <div id="contentleft" class="clearfix">
    <div id="content" class="clearfix">
      {{ $taxonomy := .Data.Plural }}
      {{ $slug := .Title | urlize }}
      {{ $taxdata := index $data $taxonomy }}
      {{ $term := index $taxdata $slug }}
      {{ if eq $taxonomy "categories" }}
        {{ $.Scratch.Set "categories" $slug }}
      {{ end }}
      {{ with $term.communities }}
        {{ $.Scratch.Set "relatedCommunities" . }}
      {{  end }}
      <h1 class="archive-title">{{ $term.display_name }}</h1>

      {{ with $term.summary }}
        <div class="content">
  				<p>{{ . | markdownify }}</p>
  			</div>
      {{ end }}

      {{ range .Pages }}
        {{ partial "summary-withImage.html" . }}
      {{ end }}

      {{/*
      {{ if gt .Paginator.TotalPages 1}}
        <div class="navigation clearfix">
    			{{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL | absURL }}">« Previous Page</a>{{ end }}{{ if and .Paginator.HasPrev .Paginator.HasNext }} — {{ end }}{{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL | absURL }}">Next Page »</a>{{ end }}
        </div>
      {{ end }}
      */}}

    </div><!-- #content -->
  </div><!-- #contentleft -->
{{ end }}

{{ define "sidebar" }}
  {{ partial "sidebar-common.html" . }}
{{ end }} {{/* end 'sidebar' block */}}
