{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "archive category c-sw unboxed centercatnav bodybg1" }}
{{ end }}


{{ define "content" }}
  {{ $data := $.Site.Data }}
  <h1>{{ .Title }}</h1>

  <ul>
    {{ range $tag, $title := index $data $.Data.Plural }}
      {{ $link := printf "%s/%s/" $.Data.Plural $tag }}
      {{ range $page := first 1 (where $.Data.Terms.Alphabetical ".Name" $tag ) }}
        <li><a href="{{ $link | absURL }}">{{ $title }} <strong>({{ $page.Count }})</strong></li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
