{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "top archive category c-sw unboxed centercatnav bodybg1" }}
{{ end }}


{{ define "content" }}
  {{ $data := $.Site.Data }}
  <h1>{{ .Title }}</h1>
  <h4>There are {{ len $.Data.Terms }} {{ $.Data.Plural }}</h4>

  <ul>
    {{ if eq $.Data.Plural "authors" }}
      {{/* OUTPUT NAMES THAT MATCH DATA */}}
      {{ range $tax := $.Data.Terms.Alphabetical }}
        {{ $uid := $tax.Name | urlize }}
        {{ $author := index $data.people.authors $uid }}
          {{ $link := printf "authors/%s/" $uid }}
          <li><a href="{{ $link | absURL }}">{{ $author.display_name | default $uid }} ({{ $tax.Count }})</li>
      {{ end }}
    {{ else }}
      {{ range $tag, $title := index $data $.Data.Plural }}
        {{ $link := printf "%s/%s/" $.Data.Plural $tag }}
        {{ range $page := first 1 (where $.Data.Terms.Alphabetical ".Name" $tag ) }}
          <li><a href="{{ $link | absURL }}">{{ $title.display_name }} ({{ $page.Count }})</li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
