{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "archive category c-sw unboxed centercatnav bodybg1" }}
{{ end }}


{{ define "content" }}
  {{ $data := .Data }}
  <h1>{{ .Title }}</h1>

  <ul>
    {{ range $i, $e := $.Data.Terms.Alphabetical }}
      {{ $thedestination := $e.Name | urlize }}
      {{ $thepath := printf "/%s/%s/" $.Data.Plural $thedestination }}
      {{ range $term := first 1 (where $.Site.Pages ".URL" $thepath ) }}
        <li><a href="{{ $term.URL }}">{{ $term.Title }} <strong>({{ $e.Count }})</strong>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
