<div class="card card-article card-linked" data-edit-this="{{- .File.Path -}}" {{- if .Params.short_url -}}data-short_url="{{- .Params.short_url -}}"{{- end -}}>
  <div class="paper">
    <div class="grid-row grid-gap-2">
      <div class="grid-col-12">
        {{- if .Params.kicker -}}
        <p class="kicker">{{- .Params.kicker -}}</p>
        {{- end -}}
        <h3>
          <a href="{{- .Permalink -}}">{{- .Title | markdownify -}}</a>
        </h3>

        {{- if .Params.deck -}}
        <p class="deck">{{ .Params.deck | markdownify }}</p>
        {{- else -}}
        <p class="summary">{{ .Params.summary | markdownify }}</p>
        {{- end -}}

        <div class="meta">
          {{- partial "core/get_authors_short" . -}}
          {{- partial "core/get_clicks" . -}}
          <p class="datetime">{{ dateFormat "Jan 02, 2006" .Date }}</p>
        </div>
      </div>
    </div>
    <a class="overlay" href="{{- .Permalink -}}" title="{{- .Title | markdownify -}}"><span></span></a>
  </div>
</div>
