{{ define "content" }}

<main role="main">
  <header>
    <div class="grid-container grid-container-desktop">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12">
          <h1>Spotlight</h1>
          <p>A round-up of recent news and resources from across our community</p>
        </div>
      </div>
    </div>
  </header>

  <section class="article-list">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12 display-none tablet:display-block tablet:grid-col-4 tablet-lg:grid-col-3">

          {{ partial "core/top-topics.html" . }}

        </div>
        <div class="grid-col-12 tablet:grid-col-8 tablet-lg:grid-col-9">
          {{/* Blog Posts by Topic —
          List all of the blog posts tagged with this topic */}}
          {{ $pages := .Paginate (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}

          {{/* If there are any resources at all... */}}
          {{ if $pages }}

            {{/* Loop through all the pages */}}
            {{ range $pages.Pages }}

              {{/* This file is located in /layouts/posts/article-card.html */}}

              {{/* External links */}}
              {{- if .Params.source -}}
                {{ .Render "card-elsewhere"}}
              {{ else }}
                {{/* Blog Posts — Internal links */}}
                {{- if .Params.deck }}
                  {{ .Render "card-blurb"}}
                {{ else }}
                  {{ .Render "card-article"}}
                {{ end }}
              {{ end }}

            {{ end }}
          {{ end }}
          {{ partial "core/pagination.html" . }}
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
