{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "top archive post-type-archive post-type-archive-tribe_events tribe-js tribe-filter-live c-sw unboxed centercatnav bodybg1 events-list events-archive tribe-events-style-full tribe-events-style-theme tribe-theme-wp-enlightened tribe-events-page-template tribe-is-responsive" }}
  {{ $.Scratch.Set "headtitle" "Posts | Digital.gov" }}
{{ end }}

{{ define "content" }}

<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{- .Title -}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list">
          {{ $paginator := .Paginate (where .Site.Pages "Section" "posts") }}
          {{ range $paginator.Pages }}
          <div class="entry{{ if .Params.featured_image.uid }} has-img{{ end }}">
            <div class="entry-content">
              <h3><a href="{{ .Permalink }}" title="{{ .Title | markdownify }}">{{ .Title | markdownify }}</a></h3>
              <p class="date">{{ .Date.Format "Jan _2, 2006" }} {{ partial "post-authors.html" . }}</p>
              <p class="summary">{{ .Params.summary | default .Summary | safeHTML | markdownify  }}&nbsp;<a class="more" href="{{ .Permalink }}" title="{{ .Title | markdownify }}">Read&nbsp;»</a></p>
            </div>
            {{ partial "img-featured.html" . }}
          </div>

          {{ end }}
          {{ partial "pagination.html" . }}
        </div>
      </div>

      <div class="col">
        <div class="sidebar">
          {{ partial "sidebar--topics.html" . }}
        </div>
      </div>

    </div>
  </div>
</section>

{{ end }}
