{{- define "content" -}}

<main role="main">
  <article >
    <header>
      <div class="grid-container grid-container-desktop" data-edit-this="{{- .File.Path -}}">
        <div class="grid-row">
          <div class="grid-col-12">
            <p class="breadcrumb"><a href="{{- "posts/" | absURL -}}"> <i class="fas fa-arrow-left"></i> <span>Latest News</span> </a></p>

            {{/* Page Title */}}
            <h1>{{- .Title | markdownify -}} </h1>

            {{/* Deck */}}
            {{- if .Params.deck -}}
            <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}

            <div class="meta tablet:display-none">
              {{- partial "core/get_authors_short" . -}}
              <div class="display-flex">
                {{- partial "core/get_clicks" . -}}
                <p class="date">{{ dateFormat "Jan 02, 2006" .Date }}</p>
              </div>
              {{- partial "core/get_topics" . -}}
            </div>

          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="grid-container grid-container-desktop" data-edit-this="{{- .File.Path -}}">
        <div class="grid-row margin-y-2 grid-gap-6">

          <div class="grid-col-12 tablet-lg:grid-col-9 tablet-lg:order-last">

            {{/* Content */}}
            <div class="content">
              {{- .Content -}}
            </div>

          </div>

          <div class="grid-col-12 tablet:grid-col-3">

            {{/* Authors */}}
            {{- partial "core/get_authors" . -}}

            {{/* Date */}}
            <div class="date">
              <a href="{{- .Permalink -}} " rel="nofollow" title="{{- .Title | markdownify -}} ">{{- .Date.Format "Jan _2, 2006" -}} </a>
            </div>

            {{/* Last updated */}}
            {{/* {{- partial "last-updated" . -}}  */}}

            {{/* Related Communities */}}
            {{- partial "core/get_communities" . -}}

            {{/* Promos */}}
            {{- partial "core/get_services" . -}}

            {{/* Topics */}}
            {{- partial "core/get_topics" . -}}

            {{/* Share Tools */}}
            {{- partial "core/get_sharetools" . -}}

          </div>

        </div>
      </div>
    </section>

    {{- partial "core/feedback" (dict "page" . "page_type" "guide" "branch" ($.Scratch.Get "branch")) -}}

  </article>
</main>

  {{- partial "core/overlay" . -}}

{{- end -}}
