{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "post-template-default single single-post postid-387118 single-format-standard tribe-js c-sw unboxed centercatnav bodybg1" }}
  {{ $.Scratch.Set "has_sidebar" true }}
{{ end }}

{{ define "content" }}
<div id="contentleft" class="clearfix">
  <div id="content" class="clearfix">
    <div class="post singlepost post-387041 type-post status-publish format-standard has-post-thumbnail hentry category-managing-digital category-strategy-policy tag-cloud tag-gsa tag-security tag-u-s-general-services-administration Managing Digital Strategy &amp; Policy"
      id="single-post-387041">

      <div class="entry">

        <h1 class="post-title single">
          <a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title | markdownify }}">{{ .Title | markdownify }}</a>
        </h1>

        {{ partial "post-meta" . }}
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox"></div>

        {{ .Content }}

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox"></div>
        {{ partial "post-meta--related-posts" . }}
        {{ partial "post-meta--tag-list" . }}

        <!-- Edit file on GitHub -->
        <a target="_blank" class="edit_file" href="https://github.com/GSA/digitalgov.gov" data-filepath="{{.File.Path}}" title="Edit in GitHub"><img src="{{ "img/GitHub-Mark-32px.png" | absURL }}" alt="GitHub Logo"><span>Edit</span></a>

      </div><!-- .entry -->

    </div><!-- .post -->

    {{/* Comments section removed */}}

    {{/*
      ======================================
      PREVIOUS / NEXT POST
      ======================================
    */}}

    <div class="navigation clearfix">
      <div class="alignleft single">
        {{ if .PrevInSection }}
          « <a href="{{ .PrevInSection.URL | absURL }}" rel="prev">{{ .PrevInSection.Title | markdownify }}</a>
        {{ end }}
      </div>
      <div class="alignright single">
        {{ if .NextInSection }}
          <a href="{{ .NextInSection.URL | absURL }}" rel="next">{{ .NextInSection.Title | markdownify }}</a> »
        {{ end }}
      </div>
    </div><!-- .navigation -->
    <div style="clear:both;margin-bottom:20px;"></div>
  </div><!-- #content -->
</div><!-- #contentleft -->
{{ end }} {{/* end 'content' block */}}

{{ define "sidebar" }}
  {{ partial "sidebar-common.html" . }}
{{ end }} {{/* end 'sidebar' block */}}
