<header class="page-head page-head-{{- .Type -}}">

  {{- partial "core/guides/guide-read-time.html" . -}}

  {{- if not .IsNode -}}
    {{- if .Params.kicker -}}
    <p class="kicker">{{- .Params.kicker -}}</p>
    {{- else -}}
    <p class="kicker"><a href="{{- .Parent.Permalink -}}" title="Go to {{- .Parent.Title -}}">{{- .Parent.Title -}}</a></p>
    {{- end -}}



  {{/* Page Title */}}
  <h1>{{- .Title | markdownify -}} </h1>

  {{/* Deck */}}
  {{- if .Params.deck -}}
  <div class="usa-intro">{{- .Params.deck | markdownify -}}</div>
  {{- end -}}
  {{ else}}
  {{- if .Params.kicker -}}
    <p class="kicker">{{- .Params.kicker -}}</p>
    {{- else -}}
    <p class="kicker">{{- .Page.Title -}}</p>
    {{- end -}}
    {{/* Page Title */}}
    <h1>Overview</h1>

  {{- end -}}
</header>
