{{ $path := "" }}{{ with .File }}
  {{ $path = .Path }}
{{ else }}
  {{ $path = .Path }}
{{ end }}

<article class="grid-container grid-container-desktop">
  <div data-edit-this="{{- $path -}}">
    <div class="dg-guide__content usa-prose">
      {{- if .Params.summary_box -}}
        {{- partial "core/usa-summary-box.html" (dict "modifier" "dg-guide-summary") -}}
      {{- end -}}
      {{- .Content -}}
    </div>
  </div>
  {{- partial "core/guides/guide-prev-next.html" . -}}
  {{- partial "core/page-data.html" (dict "page" . "page_type" "resource" "branch" ($.Scratch.Get "branch")) -}}
  {{- partial "core/attribution.html" . -}}
  {{/* Touchpoints Form */}}
  {{- partial "core/touchpoints-form.html" . -}}
</article>
