{{- $guide_data := index $.Site.Data.guidenav -}}
{{ if .Params.guide }}
  {{- $guide_data = index $.Site.Data.guidenav (.Params.guide) -}}
{{ end }}

{{- if $guide_data.showNextPrevious -}}
  {{- $current_page := . -}}
  {{- $current_url := $current_page.Permalink -}}

  {{- $prev_item := 0 -}}
  {{- $point_item := 0 -}}


  <div class="dg-guide__guide-buttons grid-row">
    {{- range $guide_data.nav -}}
      {{- $item := . -}}

      {{- $prev_item = $point_item -}}
      {{- $point_item = $item -}}

      {{- if not (eq $prev_item 0) -}}

        {{- $point_page := $.Site.GetPage $point_item.path -}}
        {{- $prev_page := $.Site.GetPage $prev_item.path -}}

        {{- if eq $current_url $point_page.Permalink -}}
          {{- partial "core/guides/guide-prev-next-button.html" (dict "type" "previous" "item" $prev_item) -}}
        {{- end -}}

        {{- if eq $current_url $prev_page.Permalink -}}
          {{- partial "core/guides/guide-prev-next-button.html" (dict "type" "next" "item" $point_item) -}}
        {{- end -}}

      {{- end -}}

      {{- if $item.subnav -}}
        {{- range $item.subnav -}}
          {{- $sub_item := . -}}

          {{- $prev_item = $point_item -}}
          {{- $point_item = $sub_item -}}

          {{- if not (eq $prev_item 0) -}}

            {{- $point_page := $.Site.GetPage $point_item.path -}}
            {{- $prev_page := $.Site.GetPage $prev_item.path -}}

            {{- if eq $current_url $point_page.Permalink -}}
              {{- partial "core/guides/guide-prev-next-button.html" (dict "type" "previous" "item" $prev_item) -}}
            {{- end -}}

            {{- if eq $current_url $prev_page.Permalink -}}
              {{- partial "core/guides/guide-prev-next-button.html" (dict "type" "next" "item" $point_item) -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}
