{{- $guide_data := index $.Site.Data.guidenav (.Params.guide) -}}
{{- $current_page := .Page.RelPermalink -}}


<nav aria-label="Secondary menu bar">
  <div class="menu-bar-guide">
    {{- if $guide_data.nav -}}
      {{- range $guide_data.nav -}}
        {{- $item := . -}}
        {{- $page := $.Site.GetPage $item.path -}}
        <a
          class="menu-bar-link"
          id="{{ cond (eq $current_page $page.RelPermalink) "current" "" }}"
          href="{{- $page.Permalink -}}"
          title="{{- $item.title -}}"
          >{{- $item.title -}}</a
        >
      {{- end -}}
    {{- end -}}
  </div>
</nav>
