{{- $guideData := index $.Site.Data.guidenav -}}
{{ if .Params.guide }}
  {{- $guideData = index $.Site.Data.guidenav (.Params.guide) -}}
{{ end }}

{{- if $guideData.showNextPrevious -}}
  {{- $currentPage := . -}}
  {{- $currentURL := $currentPage.Permalink -}}

  {{- $prevItem := 0 -}}
  {{- $pointItem := 0 -}}


  <div class="dg-guide__guide-buttons grid-row">
    {{- range $guideData.nav -}}
      {{- $item := . -}}

      {{- $prevItem = $pointItem -}}
      {{- $pointItem = $item -}}

      {{- if not (eq $prevItem 0) -}}

        {{- $pointPage := $.Site.GetPage $pointItem.path -}}
        {{- $prevPage := $.Site.GetPage $prevItem.path -}}

        {{- if eq $currentURL $pointPage.Permalink -}}
          {{- partial "core/guides/guide-prev-next-button.html" (dict "type" "previous" "item" $prevItem "page" $prevPage) -}}
        {{- end -}}

        {{- if eq $currentURL $prevPage.Permalink -}}
          {{- partial "core/guides/guide-prev-next-button.html" (dict "type" "next" "item" $pointItem "page" $pointPage) -}}
        {{- end -}}

      {{- end -}}

      {{- if $item.subnav -}}
        {{- range $item.subnav -}}
          {{- $sub_item := . -}}

          {{- $prevItem = $pointItem -}}
          {{- $pointItem = $sub_item -}}

          {{- if not (eq $prevItem 0) -}}

            {{- $pointPage := $.Site.GetPage $pointItem.path -}}
            {{- $prevPage := $.Site.GetPage $prevItem.path -}}

            {{- if eq $currentURL $pointPage.Permalink -}}
              {{- partial "core/guides/guide-prev-next-button.html" (dict "type" "previous" "item" $prevItem "page" $prevPage) -}}
            {{- end -}}

            {{- if eq $currentURL $prevPage.Permalink -}}
              {{- partial "core/guides/guide-prev-next-button.html" (dict "type" "next" "item" $pointItem "page" $pointPage) -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}
