<header class="page-head-{{- .Type -}}">
  {{- partial "core/guides/guide-read-time.html" . -}}

  {{- if not .IsNode -}}
    {{- if .Params.kicker -}}
      <h1>{{- .Params.kicker -}}</h1>
    {{- else -}}
      <h1>{{- .Parent.Title -}}</h1>
    {{- end -}}

    {{/* Page Title */}}
    <h1>{{- .Title | markdownify -}}</h1>

    {{/* Deck */}}
    {{- if .Params.deck -}}
      <div class="usa-intro">{{- .Params.deck | markdownify -}}</div>
    {{- end -}}
  {{ else }}
    {{- if .Params.kicker -}}
      <h1>{{- .Params.kicker -}}</h1>
    {{- else -}}
      <p>{{- .Page.Title -}}</p>
    {{- end -}}
    {{/* Page Title */}}
    <h1>Overview</h1>
  {{- end -}}
</header>
