<article class="grid-container grid-container-desktop">
  <header class="guide-header">
    <div class="guide-title">
      {{- if .IsNode -}}
        <p class="kicker">Digital.gov Guide</p>
      {{- else -}}
        <p class="kicker">{{- .Parent.Title -}}</p>
      {{- end -}}
      <h1>{{- .Title | markdownify -}}</h1>
      {{- if .Params.summary -}}
        <div class="deck">{{- .Params.summary | markdownify -}}</div>
      {{- end -}}
    </div>
    <div class="guide-image">
      <img
        src="{{ cond .IsNode .Params.Image .Parent.Params.Image }}"
        alt="Guide Header Image"
      />
    </div>
  </header>
</article>
