{{- $guide_data := index $.Site.Data.guidenav -}}
{{ if .Params.guide }}
  {{- $guide_data = index $.Site.Data.guidenav (.Params.guide) -}}
{{ end }}
{{- $current_page := .Page.RelPermalink -}}


<div class="dg-guide__menu-bar">
  <div class="dg-guide__menu-bar-image-container" hidden>
    <a href="{{- "/" | relURL -}}" title="{{- .Site.Title }} Home">
      <picture class="dg-guide__menu-bar-image">
        <source
          srcset="{{- "/img/digitalgov-logo.svg" | relURL -}}"
          media="(min-width: 480px)"
        />
        <img
          src="{{- "/img/digit-100.svg" | relURL -}}"
          alt="Digital Gov Logo"
        />
      </picture>
    </a>
  </div>
  <nav class="dg-guide__menu-bar-links" aria-label="Secondary menu bar">
    {{- if $guide_data.nav -}}
      {{- range $guide_data.nav -}}
        {{- $item := . -}}
        {{- $page := $.Site.GetPage $item.path -}}
        <a
          class="dg-guide__menu-bar-link {{ cond (eq $current_page $page.RelPermalink) "dg-current" "" }}"
          href="{{- $page.Permalink -}}"
          title="{{- $item.title -}}"
          >{{- $item.title -}}</a
        >
      {{- end -}}
    {{- end -}}
  </nav>
</div>
