<aside class="guide-nav-box usa-layout-docs__sidenav">
  <nav aria-label="Secondary navigation">
    <ul class="usa-sidenav guide-nav">
      {{- $current_page := . -}}
      {{ $guide_data := index $.Site.Data.guidenav (.Params.guide) }}
      {{- $guide_files := (where .Site.Pages ".Params.guide" .Params.guide) -}}
      {{- if $guide_data -}}
        {{ template "guidenav-data-driven" (dict "current_page" $current_page "guide_data" $guide_data.nav "guide_files" $guide_files ) }}
      {{- else -}}
        {{ template "guidenav-file-driven" (dict "current_page" $current_page "guide_data" $guide_data.nav "guide_files" $guide_files ) }}
      {{- end -}}
    </ul>
  </nav>
</aside>


{{/* Data driven guide nav — */}}
{{- define "guidenav-data-driven" -}}

  {{/* Gets the URL of the current page in the guide */}}
  {{- $current_url := .current_page.URL -}}
  {{- $guide_data := .guide_data -}}
  {{- range $guide_data -}}
    {{- template "nav_item" (dict "item" . "current_url" $current_url ) -}}
  {{- end -}}

{{- end -}}



{{/* File driven guide nav — */}}
{{- define "guidenav-file-driven" -}}
  {{/* Defines all the pages in this guide */}}
  {{- $pages := . -}}

  {{/* Gets the URL of the current page in the guide */}}
  {{- $current_url := $pages.current_page.Permalink -}}

  {{/* Outputs the "Overview" link to the top of the guide nav */}}
  <li class="usa-sidenav__item">
    <a class="{{- if eq $pages.current_page.Kind "section" -}}usa-current{{- end -}}" href="{{- $pages.current_page.CurrentSection.Permalink | relURL -}}" title="{{- .Title -}}">Overview</a>
  </li>

  {{ $guide_data := .guide_data }}
  {{/* Loops through all the guide pages (files) */}}
  {{- range sort (.guide_files) ".Params.weight" "desc" -}}

    {{/* Skips over the pages that are section index pages (_index.md) */}}
    {{- if not (eq .Kind "section") -}}
      <li class="usa-sidenav__item">
        <a class="{{- if eq $pages.current_page.Permalink .Permalink -}}usa-current{{- end -}}" href="{{- .Permalink | relURL -}}" title="{{- .Title | markdownify -}}">{{- .Title | markdownify -}}</a>
      </li>
    {{- end -}}
  {{- end -}}

{{- end -}}


{{- define "nav_item" -}}
  {{- $current_url := .current_url -}}
  {{- $item := .item -}}
  <li class="usa-sidenav__item">
    {{- template "nav_link" (dict "item" $item "current_url" $current_url) -}}
    {{- if .item.subnav -}}
      <ul class="usa-sidenav__sublist">
        {{- range .item.subnav -}}
          {{- $item := . -}}
          {{- template "nav_item" (dict "item" $item "current_url" $current_url ) -}}
        {{- end -}}
      </ul>
    {{- end -}}
  </li>
{{- end -}}


{{- define "nav_link" -}}
  <a class="{{- if eq .current_url .item.href -}}usa-current{{- end -}}" href="{{- .item.href -}}" title="{{- .item.title -}}">
    {{- .item.title }}
    {{ if .item.subnav -}}<span class="arrow-right"></span>{{- end -}}
  </a>
{{- end -}}
