{{- $guideData := index $.Site.Data.guidenav -}}
{{ if .Params.guide }}
  {{- $guideData = index $.Site.Data.guidenav (.Params.guide) -}}
{{ end }}
{{- $currentPage := .Page.RelPermalink -}}


<div class="dg-guide__menu-bar">
  <div class="dg-guide__menu-bar-image-container">
    <a href="{{- "/" | relURL -}}" title="{{- .Site.Title }} Home">
      <picture class="dg-guide__menu-bar-image" hidden>
        <source
          srcset="{{- "/img/digitalgov-logo.svg" | relURL -}}"
          media="(min-width: 480px)"
        />
        <img
          src="{{- "/img/digit-100.svg" | relURL -}}"
          alt="Digital Gov Logo"
        />
      </picture>
    </a>
  </div>
  <nav class="dg-guide__menu-bar-links" aria-label="Secondary menu bar">
    {{- if $guideData.nav -}}
      {{- range $guideData.nav -}}
        {{- $item := . -}}
        {{- $page := $.Site.GetPage $item.path -}}
        {{- $current := false -}}
        {{- if eq $currentPage $page.RelPermalink -}}
          {{- $current = true -}}
        {{- end -}}
        {{- if $item.subnav -}}
          {{- range $item.subnav -}}
            {{- $subItem := . -}}
            {{- $subPage := $.Site.GetPage $subItem.path -}}
            {{- if eq $currentPage $subPage.RelPermalink -}}
              {{- $current = true -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
        <a
          class="dg-guide__menu-bar-link {{ cond $current "dg-current" "" }}"
          href="{{- $page.Permalink -}}"
          title="{{- $item.title -}}"
          >{{- $item.title -}}</a
        >
      {{- end -}}
    {{- end -}}
  </nav>
</div>
