{{ $parent := .parent }}
{{ $current := .current }}
{{ $parentPage := .Site.GetPage .parent.path }}
<li class="usa-sidenav__item">
  <a
    class="{{- cond (eq $parent $current) "usa-current" "" -}}"
    href="{{- $parentPage.Permalink -}}/#content-start"
    title="{{- $parent.title -}}"
  >
    {{- $parent.title }}
  </a>
</li>
{{- if $parent.subnav -}}
  {{- range $parent.subnav -}}
    {{- $subItem := . -}}
    {{- $subPage := $.Site.GetPage $subItem.path -}}
    <li class="usa-sidenav__item">
      <a
        class="{{- cond (eq $subItem $current) "usa-current" "" -}}"
        href="{{- $subPage.Permalink -}}/#content-start"
        title="{{- $subItem.title -}}"
      >
        {{- $subItem.title -}}
      </a>
    </li>
  {{- end -}}
{{- end -}}
