<aside class="guide-nav-box usa-layout-docs__sidenav">
  <nav aria-label="Secondary navigation">
    <ul class="usa-sidenav guide-nav">
      {{- $current_page := . -}}

      {{/* Guide YML file (optional way of configuring the nav) */}}
      {{- $guide_data := index $.Site.Data.guidenav (.Params.guide) -}}
      {{/* All the guide files */}}
      {{- $guide_files := (where .Site.Pages ".Params.guide" .Params.guide) -}}
      {{/* Check for a guide YML file  */}}
      {{- if and $guide_data $guide_data.nav -}}
        {{/* {{ template "guidenav-data-driven" (dict "current_page" $current_page "guide_data" $guide_data.nav "guide_files" $guide_files ) }} */}}
        {{/* Gets the URL of the current page in the guide */}}
        {{- $current_url := $current_page.Permalink -}}

        {{- range $guide_data.nav -}}
          {{- $item := . -}}
          {{- $page := $.Site.GetPage $item.path }}
          <li class="usa-sidenav__item">
            <a class="{{- if eq $current_url $page.Permalink  -}}usa-current{{- end -}}" href="{{- $page.Permalink -}}" title="{{- $item.title -}}">
              {{- $item.title }}
              {{ if $item.subnav -}}<span class="arrow-right"></span>{{- end -}}
            </a>

            {{/* Sub items — second level down */}}
            {{- if $item.subnav -}}
              <ul class="usa-sidenav__sublist">
                {{- range $item.subnav -}}
                  {{- $sub_item := . -}}
                  {{- $sub_page := $.Site.GetPage $sub_item.path  -}}
                  <li class="usa-sidenav__item">
                    <a class="{{- if eq $current_url $sub_page.Permalink  -}}usa-current{{- end -}}" href="{{- $sub_page.Permalink  -}}" title="{{- $sub_item.title -}}">
                      {{- $sub_item.title }}
                    </a>

                    {{/* Sub-sub items (theird level down) */}}
                    {{- if $sub_item.subnav -}}
                      <ul class="usa-sidenav__sublist">
                        {{- range $sub_item.subnav -}}
                          {{- $subsub_item := . -}}
                          {{- $subsub_page := $.Site.GetPage $subsub_item.path  -}}
                          <li class="usa-sidenav__item">
                            <a class="{{- if eq $current_url $subsub_page.Permalink  -}}usa-current{{- end -}}" href="{{- $subsub_page.Permalink  -}}" title="{{- $subsub_item.title -}}">
                              {{- $subsub_item.title }}
                            </a>
                          </li>
                        {{- end -}}
                      </ul>
                    {{- end -}}

                  </li>
                {{- end -}}
              </ul>
            {{- end -}}

          </li>
        {{- end -}}

      {{- else -}}

        {{- template "guidenav-file-driven" (dict "current_page" $current_page "guide_data" $guide_data.nav "guide_files" $guide_files ) -}}

      {{- end -}}
    </ul>
  </nav>
</aside>



{{/* File driven guide nav — */}}
{{- define "guidenav-file-driven" -}}
  {{/* Defines all the pages in this guide */}}
  {{- $pages := . -}}

  {{/* Gets the URL of the current page in the guide */}}
  {{- $current_url := $pages.current_page.Permalink -}}

  {{/* Outputs the "Overview" link to the top of the guide nav */}}
  <li class="usa-sidenav__item">
    <a class="{{- if eq $pages.current_page.Kind "section" -}}usa-current{{- end -}}" href="{{- $pages.current_page.CurrentSection.Permalink | relURL -}}" title="{{- .Title -}}">Overview</a>
  </li>

  {{ $guide_data := .guide_data }}
  {{/* Loops through all the guide pages (files) */}}
  {{- range sort (.guide_files) ".Params.weight" "desc" -}}

    {{/* Skips over the pages that are section index pages (_index.md) */}}
    {{- if not (eq .Kind "section") -}}
      <li class="usa-sidenav__item">
        <a class="{{- if eq $pages.current_page.Permalink .Permalink -}}usa-current{{- end -}}" href="{{- .Permalink | relURL -}}" title="{{- .Title | markdownify -}}">{{- .Title | markdownify -}}</a>
      </li>
    {{- end -}}
  {{- end -}}

{{- end -}}
