{{ $path := "" }}{{ with .File }}
  {{ $path = .Path }}
{{ else }}
  {{ $path = .Path }}
{{ end }}


<article class="grid-container grid-container-desktop">
  <header class="dg-guide__content-header" id="content-start">
    {{- if not .IsNode -}}
      <h1>{{- .Title | markdownify -}}</h1>
      <div class="deck">
        {{- .Params.summary | markdownify -}}
      </div>
    {{ else }}
      <h1>Overview</h1>
    {{- end -}}
    {{- partial "core/read-time.html" . -}}
    {{- if .Params.summary_box -}}
    {{- partial "core/usa-summary-box.html" (dict "modifier" "dg-guide-summary") -}}
  {{- end -}}
    <hr align="left">
  </header>
  <div data-edit-this="{{- $path -}}">
    <div class="dg-guide__content usa-prose">
      {{- .Content -}}
    </div>
  </div>
  {{- partial "core/guides/guide-prev-next.html" . -}}
  {{- partial "core/page-data.html" (dict "page" . "page_type" "resource" "branch" ($.Scratch.Get "branch")) -}}
  {{- partial "core/attribution.html" . -}}
  {{/* Touchpoints Form */}}
  {{- partial "core/touchpoints-form.html" . -}}
</article>
