<header class="page-head dg-guide__header">
  {{- partial "core/guides/guide-read-time.html" . -}}

  {{- if not .IsNode -}}
    {{- if .Params.kicker -}}
      <p class="dg-guide__header-kicker">{{- .Params.kicker -}}</p>
    {{- else -}}
      <p>
        <a
          class="dg-guide__header-kicker"
          href="{{- .Parent.Permalink -}}"
          title="Go to {{ .Parent.Title }}"
          >{{- .Parent.Title -}}</a
        >
      </p>
    {{- end -}}

    {{/* Page Title */}}
    <h1 class="dg-guide__header-title">{{- .Title | markdownify -}}</h1>

    {{/* Deck */}}
    {{- if .Params.deck -}}
      <div class="dg-guide__header-intro">
        {{- .Params.deck | markdownify -}}
      </div>
    {{- end -}}
  {{ else }}
    {{- if .Params.kicker -}}
      <p class="dg-guide__header-kicker">{{- .Params.kicker -}}</p>
    {{- else -}}
      <p class="dg-guide__header-kicker">{{- .Page.Title -}}</p>
    {{- end -}}
    {{/* Page Title */}}
    <h1>Overview</h1>
  {{- end -}}
</header>
