{{/* Create the side navigation for a guide using the corresponding guideData file */}}


<nav aria-label="Secondary navigation" class="dg-guide__nav-container">
  <ul class="usa-sidenav dg-guide__nav-list">
    {{- $currentPage := . -}}
    {{- $guideData := index $.Site.Data.guidenav (.Params.guide) -}}
    {{- if and $guideData $guideData.nav -}}
      {{- $current_url := $currentPage.Permalink -}}
      {{- range $guideData.nav -}}
        {{- $item := . -}}
        {{- $page := $.Site.GetPage $item.path }}
        {{- if eq $current_url $page.Permalink -}}
          {{- partial "core/guides/guide-subnav" (dict "Site" $.Site "parent" $item "current" $item) -}}
        {{- else -}}
          {{- if $item.subnav -}}
            {{- range $item.subnav }}
              {{- $sub_item := . -}}
              {{- $sub_page := $.Site.GetPage $sub_item.path -}}
              {{- if eq $current_url $sub_page.Permalink -}}
                {{- partial "core/guides/guide-subnav" (dict "Site" $.Site "parent" $item "current" $sub_item) -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </ul>
</nav>
