<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text">
          <a href="{{- "/index.html" | absURL -}}" title="{{- .Site.Title }} Home" aria-label="{{- .Site.Title }} Home">
            <img class="logo-white" src="{{- "img/digit-100-white.svg" | absURL -}}" alt="{{- .Site.Title -}} Logo" />
            <img class="logo-black" src="{{- "img/digit-100-black.svg" | absURL -}}" alt="{{- .Site.Title -}} Logo" />
            <span>{{- .Site.Title -}}</span>
            <span class="home">All guides</span>
          </a>
        </em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>

    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close">
        <img src="{{ "/lib/uswds/img/close.svg" | relURL }}" alt="close">
      </button>

      {{- $currentNode := . -}}
      {{- $menuClasses := "usa-nav__primary-item" -}}
      <ul class="usa-nav__primary usa-accordion">
        {{- range .Site.Menus.primary -}}
          <li class="usa-nav__primary-item {{ if or ($currentNode.IsMenuCurrent "primary" .) ($currentNode.HasMenuCurrent "primary" .) }} usa-current{{ end }}">
            <a class="usa-nav__link" href="{{- .URL -}}"><span>{{- .Name -}}</span></a>
          </li>
        {{- end -}}
      </ul><!-- .nav -->

      <ul class="guide-nav usa-nav__primary usa-accordion">
        <li>
          <a href="{{- .CurrentSection.URL | relURL -}}" title="{{- .Title -}}">Overview</a>
        </li>
        {{- $current := . -}}
        {{- $current_url := .Parent.URL -}}
        {{- $guidepages := (where .Site.Pages ".Params.guide" .Params.guide) -}}
        {{- range sort ($guidepages) ".Params.weight" "desc" -}}
          {{- if not (eq $current_url .URL) -}}
            <li class="usa-nav__primary-item {{- if eq $current.URL .URL -}}usa-current{{- end -}}"><a class="usa-nav__link" href="{{- .Permalink | relURL -}}" title="{{- .Title | markdownify -}}"><span>{{- .Title | markdownify -}}</span></a></li>
          {{- end -}}

        {{- end -}}
      </ul>


      <form class="usa-search usa-search--small ">
        <div role="search">
          <label class="usa-sr-only" for="basic-search-field-small">Search small</label>
          <input class="usa-input" id="basic-search-field-small" type="search" name="search">
          <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
        </div>
      </form>
    </nav>
  </div>

  <div class="hero">

    <div class="grid-container-widescreen">
      <div class="grid-row">
        <div class="grid-col-12">
          {{/* Page Title */}}
          <h1><a href="{{- $current.Parent.Permalink -}}" title="{{- $current.Parent.Title -}}">{{- $current.Parent.Title -}}</a></h1>

          {{/* Deck */}}
          {{- if $current.Parent.Params.deck -}}
          <div class="deck">{{- $current.Parent.Params.deck | markdownify -}}</div>
          {{- end -}}
        </div>
      </div>
    </div>

  </div>
</header>
