<section class="hero hero-{{- .Kind -}}">
  <div class="grid-container grid-container-widescreen">
    <div class="grid-row ">
      <div class="grid-col-12">

        {{- if eq .Kind "section" -}}

          {{/* Page Title */}}
          <h1>{{- .Title | markdownify -}} </h1>

          {{/* Deck */}}
          {{- if .Params.deck -}}
          <div class="deck">{{- .Params.deck | markdownify -}}</div>
          {{- end -}}

        {{- else -}}
          {{/* Page Title */}}
          <h2><a href="{{- .Parent.Permalink -}}" title="{{- .Parent.Title -}}">{{- .Parent.Title -}}</a></h2>

          {{/* Deck */}}
          {{- if .Params.deck -}}
          <div class="deck">{{- .Parent.Params.deck | markdownify -}}</div>
          {{- end -}}

        {{- end -}}

      </div>
    </div>
  </div>
</section>
