// communities

#communities{
  @include u-padding-y(5);
  @include u-padding-bottom(6);
  header{
    h2{}
    p{
      @include u-font('sans', 'xl');
      @include u-text('light');
      @include u-line-height('sans', 2);
      strong{
        @include u-text('light');
        @include u-text('indigo-60v');
      }
    }
    a{
      @include u-padding-y(1);
      @include u-padding-x(3);
      @include u-bg('indigo-50v');
      @include u-text('gray-1');
      @include u-text('center');
      @include u-radius('md');
      @include u-font('sans', 'lg');
      @include u-text('light');
      @include u-text('no-underline');
      @include u-display('inline-block');
      &:hover{
        @include u-bg('indigo-60v');
      }
    }
  }

  article{
    @include u-margin-bottom(2);
    @include u-padding(3);
    @include u-radius('sm');
    .members{
      @include u-margin(0);
      @include u-padding-y('05');
      @include u-text('red-warm-40v');
      @include u-font('sans', 'xs');
      @include u-text('semibold');
      @include u-text('right');
      @include u-float('right');
    }
    h4{
      @include u-margin(0);
      @include u-margin-bottom(1);
      @include u-font('sans', 'md');
      @include u-line-height('sans', 1);
      z-index: 1;
      a{
        @include u-text('no-underline');
        @include u-text('indigo-80');
        &:hover{
          border-bottom: 3px #fc906d solid; // $indigo-40
        }
      }
    }
    p{
      @include u-margin-top('05');
      @include u-font('sans', 'sm');
      @include u-text('indigo-80');
      @include u-line-height('sans', 2);
    }

    &:hover{
      h4 a{
        border-bottom: 2px #fc906d solid;
      }
    }
  }
}
