// News + Spotlight

#home #news{
  @include u-padding-y(1);
  @include u-padding-bottom(5);
}

#home #news .spotlight {

  // Spotlight Header
  header{
    @include u-bg('gray-warm-3');
    @include u-padding('105');
    color: #000;
    h2{
      @include u-margin-y(1);
      @include u-font('sans', 'xl');
      @include u-text('thin');
      @include u-text('center');
      @include u-line-height('sans', 2);
      a{
        @include u-text('no-underline');
        color: #000;
        &:hover{
          border-bottom: 2px #914734 solid; // $indigo-40
        }
      }
    }
    p{
      @include u-margin(0);
      @include u-text('center');
      @include u-text('normal');
      @include u-font('sans', '2xs');
      @include u-line-height('sans', 3);
    }
  }
  section{
    @include u-bg('gray-warm-3');
    @include u-padding('105');

    // Individual spots in Spotlight
    article{
      @include u-margin-bottom('105');
      @include u-padding(1);
      @include u-font('sans', '2xs');

      // To make the whole SPOT clickable, we put and additional <a> tag with a <span> tag in the markup that stretches to the full height and width of the element.
      position: relative;
      span{
        margin: 0;
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left: 0;
        z-index: 1;
        /* fixes overlap error in IE7/8, */
        background-image: url('empty.gif');
      }

      p{
        @include u-line-height('sans', 3);
        strong{
          color: #4d52b0;
        }
        a{
          z-index: 2; // this pops the link out, above the <span> element described above
          position: relative;
          @include u-text('no-underline');
          color: #000;
          img{
            @include u-padding-right('05');
            position: relative;
            top:2px;
            width:16px;
            height:16px;
            background: #fff;
          }
          &:hover{
            @include u-text('underline');
          }
        }
      }
      .source{
        @include u-margin-top(1);
      }
      &:hover{
        @include u-bg('gray-warm-10');
      }
    }
  }


  // Spotlight Footer
  footer{
    @include u-padding-y(2);
    @include u-padding-x('105');
    @include u-bg('indigo-80');
    @include u-text('center');
    @include u-font('sans', '2xs');
    border-top: 1px #4d52b0 solid; // $indigo-40

    p{
      @include u-margin-top(1);
      @include u-text('gray-warm-1');
      &:first-child{
        @include u-margin(0);
      }
    }

    i{
      @include u-text('gray-warm-1');
    }
    a{
      @include u-text('no-underline');
      @include u-text('gray-warm-1');
      &:hover{
        border-bottom: 2px #4d52b0 solid; // $violet-60v
      }
    }
  }
}
