// Spotlight

#spotlight {
  @include u-bg('indigo-80');
  @include u-padding-y(3);
  header{
    h2{
      @include u-margin-y(1);
      @include u-font('sans', '3xl');
      @include u-text('thin');
      @include u-text('gray-1');
      @include u-line-height('sans', 2);
    }
    h4{
      // @include u-margin(0);
      @include u-margin-bottom(1);
      @include u-text('gray-1');
      @include u-text('light');
      @include u-font('sans', 'md');
    }
    p{
      @include u-margin(0);
      @include u-text('normal');
      @include u-font('sans', 'md');
      @include u-line-height('sans', 3);
      @include u-text('gray-1');
    }
    form{
      @include u-margin-bottom(2);
    }
    section{
      @include u-bg('indigo-warm-80');
      @include u-padding-y(1);
      @include u-padding-x(2);
      h5{
        @include u-margin(0);
        @include u-font('sans', 'sm');
        @include u-text('indigo-warm-20');
      }
      p{
        @include u-font('sans', '2xs');
        @include u-text('indigo-warm-20');
      }
    }
  }
  section{
    @include u-bg('gray-warm-30');
    @include u-padding('05');
    article{
      @include u-bg('gray-warm-5');
      @include u-padding-y(1);
      @include u-padding-x(2);
      @include u-margin-bottom('1px');
      @include u-font('sans', 'xs');
      p{
        @include u-margin-bottom('2px');
        @include u-line-height('sans', 2);
        img{
          @include u-margin-right('05');
          position: relative;
          top:2px;
        }
        a{
          @include u-text('no-underline');
          @include u-text('indigo-60');
          strong{
            @include u-text('indigo-60');
          }
        }
        em{
          @include u-text('gray-80');
        }
        strong{
          @include u-text('indigo-60');
        }
      }

      // To make the whole PROMO clickable, we put and additional <a> tag with a <span> tag in the markup that stretches to the full height and width of the element.
      position: relative;
      span{
        margin: 0;
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left: 0;
        z-index: 1;
      }
      &:hover{
        @include u-bg('gray-warm-10');
      }
    }

  }
}
