// topics

.topics-list{
  @include u-padding-y(2);
  @include u-padding-bottom(6);
  header{
    @include u-margin-bottom(4);
    @include u-text('center');
    color:#3d4076;
    h2{
      @include u-margin-top(0);
      @include u-font('sans', '3xl');
      @include u-line-height('sans', 2);
      @include u-margin-bottom(1);
      @include u-text('thin');
    }
    p{
      @include u-margin-top(1);
      @include u-margin-bottom(1);
      @include u-font('sans', 'lg');
      @include u-text('light');
    }
    a{
      @include u-text('no-underline');
      color: #4d52b0;
      @include u-text('blue-50v');
      &:hover{
        border-bottom: 2px #4d52b0 solid; // $violet-60v
      }
    }
  }
  .topic-slim{
    a{
      // @include u-bg('blue-30v');
      // @include u-text('blue-80v');
    }
  }
}

.topic{
  @include u-margin-bottom('105');
  h3{
    @include u-margin(0);
    a{
      @include u-font('sans', 'lg');
      @include u-text('normal');
      @include u-bg('white');
      @include u-text('indigo-warm-60v');
      border: 1px #745fe9 solid;
      @include u-padding(2);
      @include u-radius('sm');
      @include u-display('block');
      transition: background-color .5s, color .5s;
      span{
        float: right;
        transition: margin .4s;
        margin-right: 10px;
        @include u-text('gray-1');
      }
      &:hover{
        @include u-bg('indigo-warm-60v');
        @include u-text('gray-1');
        border: 1px #5942d2 solid;
        span{
          margin-right: 0;
        }
      }
    }
  }
}

.topic-slim{
  h3{
    a{
      @include u-font('sans', 'md');
      @include u-text('medium');
      @include u-padding-y(1);
    }
  }
}


nav.topics-featured{
  @include u-bg('gray-warm-2');
  @include u-text('indigo-80');
  header{
    @include u-padding('105');
    @include u-padding-x(3);
    h4{
      @include u-margin(0);
      @include u-font('sans', 'lg');
      @include u-text('thin');
      i{
        @include u-display('none');
      }
    }
  }

  ul{
    li{
      a{
        @include u-padding-y('05');
        @include u-padding-x(3);
        @include u-text('semibold');
        @include u-text('no-underline');
        @include u-text('indigo-70');
        @include u-display('block');
        &:hover{
          @include u-bg('gray-warm-5');
          span{
            border-bottom: 2px #ff580a solid; // $indigo-40
          }
        }
      }
      .active{
        @include u-text('bold');
        @include u-bg('indigo-20');
      }
    }
  }
  footer{
    @include u-padding-y(3);
    @include u-padding-x(3);
    a{
      @include u-text('bold');
      @include u-text('no-underline');
      @include u-text('gray-1');
      &:hover{
        border-bottom: 2px #fc906d solid; // $indigo-40
      }
    }
  }
}
