// topics

#topics{
  @include u-padding-y(2);
  @include u-padding-bottom(6);
  header{
    @include u-margin-bottom(4);
    @include u-text('center');
    color:#3d4076;
    h2{
      @include u-margin-top(0);
      @include u-font('sans', '3xl');
      @include u-line-height('sans', 2);
      @include u-margin-bottom(1);
      @include u-text('thin');
    }
    p{
      @include u-margin(0);
      @include u-margin-bottom(1);
      @include u-font('sans', 'lg');
      @include u-text('light');
    }
    a{
      @include u-text('no-underline');
      color: #4d52b0;
      @include u-text('blue-50v');
      &:hover{
        border-bottom: 2px #4d52b0 solid; // $violet-60v
      }
    }
  }
  .topic-slim{
    a{
      // @include u-bg('blue-30v');
      // @include u-text('blue-80v');
    }
  }
}

.topic{
  @include u-margin-bottom(1);
  h3{
    @include u-margin(0);
    @include u-font('sans', 'lg');
    @include u-text('semibold');
    a{
      // @include u-bg('gray-1');
      @include u-text('blue-80v');
      @include u-padding(2);
      border: 1px #4150f2 solid;
      @include u-radius('md');
      color:#4150f2;
      @include u-display('block');
      &:hover{
        color:#2b2c40;
        border: 1px #2b2c40 solid;
      }
    }
  }
}

.topic-slim{
  h3{
    @include u-font('sans', 'md');
    @include u-text('medium');
    a{
      @include u-padding-y(1);
    }
  }
}
