<div class="font-sans-5 font-300 padding-top-2 padding-bottom-4 tablet:padding-top-4 tablet:padding-bottom-6 text-ink">

  <section class="grid-container-desktop padding-x-4">
    <div class="grid-row flex-justify flex-align-center padding-bottom-5 border-bottom-1px">
      <div class="grid-col">
        <nav class="add-list-reset font-sans-5">
          <li class="display-inline-block text-800 padding-right-105"><a href="#0" class="padding-y-105 text-black text-no-underline border-bottom-05 border-red-warm-40v">Digital.gov</a></li>
          <li class="display-inline-block padding-x-105"><a href="#0" class="padding-y-105 text-black text-no-underline border-bottom-05 border-transparent hover:border-red-warm-40v">News</a></li>
          <li class="display-inline-block padding-x-105"><a href="#0" class="padding-y-105 text-black text-no-underline border-bottom-05 border-transparent hover:border-red-warm-40v">Topics</a></li>
          <li class="display-inline-block padding-x-105"><a href="#0" class="padding-y-105 text-black text-no-underline border-bottom-05 border-transparent hover:border-red-warm-40v">Events</a></li>
          <li class="display-inline-block padding-x-105"><a href="#0" class="padding-y-105 text-black text-no-underline border-bottom-05 border-transparent hover:border-red-warm-40v">Communities</a></li>
        </nav>
      </div>
      <div class="grid-col-5 grid-row flex-justify-end flex-align-stretch">
        <input class="font-sans-5 padding-105 border-1px grid-col radius-sm">
        <button type="submit" class="font-sans-3 padding-1 bg-blue-warm-50v border-0 padding-105 text-white text-bold margin-left-1 radius-sm hover:bg-blue-warm-80 cursor-pointer is-inverse">Search</button>
      </div>
    </div>
    <div class="grid-row flex-justify flex-align-center padding-y-5">
      <h1 class="font-sans-14 line-height-sans-1 margin-0 text-400">All Articles</h1>
    </div>
    <div class="grid-row grid-gap-4">
      <div class="grid-col">
        <section class="border-top-1px">
          <div class="article grid-row padding-top-4">
            <div class="grid-col-3 order-last">
              <a href="#0" class="display-block">
                <img class="padding-top-05 width-full display-block" src="/preview/uswds/uswds-sandbox/dg-prototype/assets/img/dg/agile-ux-title_w200.jpg" alt="Experiments in Tweaking Agile for UX" title="Experiments in Tweaking Agile for UX">
              </a>
            </div>
            <div class="grid-col-9 padding-right-3">
              <h3 class="font-sans-6 margin-0 padding-0 line-height-sans-2"><a href="#0" class="text-no-underline text-gray-90 hover:text-underline">Tweaking agile for design teams</a></h3>
              <div class="margin-top-1 font-sans-3 line-height-sans-2">
                <p class="display-inline-block margin-y-0 border-right-1px border-gray-30 text-gray-50 padding-right-1 margin-right-05">July 17, 2018</p>
                <p class="display-inline margin-y-0 padding-left-2px"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Meghan Lazier</a>, <a href="#0" class="text-red-warm-50  hover:text-gray-90">Jessica Skretch</a></p>
              </div>
              <p class="margin-top-1 font-sans-3 line-height-sans-5 margin-bottom-0">Designers at the Federal Reserve Board share how they adjusted the agile process to work better for their team.</p>
            </div>
          </div><!-- /article -->

          <div class="article grid-row border-top-1px border-gray-10 padding-top-205 margin-top-205">
            <div class="grid-col-3 order-last padding-top-05">
              <a href="#0" class="display-block">
                <img class="padding-top-05 width-full display-block" src="/preview/uswds/uswds-sandbox/dg-prototype/assets/img/dg/accessibility-for-teams-2_w200.jpg" alt="Experiments in Tweaking Agile for UX" title="Experiments in Tweaking Agile for UX">
              </a>
            </div>
            <div class="grid-col-9 padding-right-3">
              <h3 class="font-sans-6 margin-0 padding-0 line-height-sans-2"><a href="#0" class="text-no-underline text-gray-90 hover:text-underline">Introducing the Accessibility for Teams guide</a></h3>
              <div class="margin-top-1 font-sans-3 line-height-sans-2">
                <p class="display-inline-block margin-y-0 border-right-1px border-gray-30 text-gray-50 padding-right-1 margin-right-05">July 10, 2018</p>
                <p class="display-inline margin-y-0 padding-left-2px"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Maya Benari</a></p>
              </div>
              <p class="margin-top-1 font-sans-3 line-height-sans-5 margin-bottom-0">A quick-start guide for embedding accessibility and inclusive design into a team’s workflow.</p>
            </div>
          </div><!-- /article -->

          <div class="article grid-row border-top-1px border-gray-10 padding-top-205 margin-top-205">
            <div class="grid-col-3 order-last padding-top-05">
              <a href="#0">
                <img class="padding-top-05 width-full display-block" src="/preview/uswds/uswds-sandbox/dg-prototype/assets/img/dg/agile-flow-600_w200.jpg" alt="Experiments in Tweaking Agile for UX" title="Experiments in Tweaking Agile for UX">
              </a>
            </div>
            <div class="grid-col-9 padding-right-3">
              <h3 class="font-sans-6 margin-0 padding-0 line-height-sans-2"><a href="#0" class="text-no-underline text-gray-90 hover:text-underline">How USGS is making the transition to agile</a></h3>
              <div class="margin-top-1 font-sans-3 line-height-sans-2">
                <p class="display-inline-block margin-y-0 border-right-1px border-gray-30 text-gray-50 padding-right-1 margin-right-05">June 26, 2018</p>
                <p class="display-inline margin-y-0 padding-left-2px"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Andrew J. Stauffer</a></p>
              </div>
              <p class="margin-top-1 font-sans-3 line-height-sans-5 margin-bottom-0">A hybrid approach of waterfall and agile practices is helping the USGS make the transition to agile.</p>
            </div>
          </div><!-- /article -->

          <div class="article grid-row border-top-1px border-gray-10 padding-top-205 margin-top-205">
            <div class="grid-col-3 order-last padding-top-05">
              <a href="#0">
                <img class="padding-top-05 width-full display-block" src="/preview/uswds/uswds-sandbox/dg-prototype/assets/img/dg/agile-project-planning_w200.jpg" alt="Experiments in Tweaking Agile for UX" title="Experiments in Tweaking Agile for UX">
              </a>
            </div>
            <div class="grid-col-9 padding-right-3">
              <h3 class="font-sans-6 margin-0 padding-0 line-height-sans-2"><a href="#0" class="text-no-underline text-gray-90 hover:text-underline">Five ways agile methods benefit federal employees</a></h3>
              <div class="margin-top-1 font-sans-3 line-height-sans-2">
                <p class="display-inline-block margin-y-0 border-right-1px border-gray-30 text-gray-50 padding-right-1 margin-right-05">April 3, 2018</p>
                <p class="display-inline margin-y-0 padding-left-2px"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Brian Fox</a></p>
              </div>
              <p class="margin-top-1 font-sans-3 line-height-sans-5 margin-bottom-0">Use agile methodologies to help federal employees improve the quality of their work.</p>
            </div>
          </div><!-- /article -->
          <div class="font-sans-2 line-height-sans-1 margin-top-4">
            <span class="display-inline-block border-1px border-gray-90 bg-gray-90 padding-x-1 padding-y-05 radius-sm text-no-underline text-white">1</span>
            <span class=""><a href="#0" class="display-inline-block border-1px border-gray-50 hover:border-red-warm-50 padding-x-1 padding-y-05 radius-sm hover:bg-red-warm-50 text-gray-90 hover:text-white text-no-underline">2</a></span>
            <span class=""><a href="#0" class="display-inline-block border-1px border-gray-50 hover:border-red-warm-50 padding-x-1 padding-y-05 radius-sm hover:bg-red-warm-50 text-gray-90 hover:text-white text-no-underline">3</a></span>
            <span class=""><a href="#0" class="display-inline-block border-1px border-gray-50 hover:border-red-warm-50 padding-x-1 padding-y-05 radius-sm hover:bg-red-warm-50 text-gray-90 hover:text-white text-no-underline">4</a></span>
            <span class=""><a href="#0" class="display-inline-block border-1px border-gray-50 hover:border-red-warm-50 padding-x-1 padding-y-05 radius-sm hover:bg-red-warm-50 text-gray-90 hover:text-white text-no-underline">5</a></span>
            <span class=""><a href="#0" class="display-inline-block border-1px border-gray-50 hover:border-red-warm-50 padding-x-1 padding-y-05 radius-sm hover:bg-red-warm-50 text-gray-90 hover:text-white text-no-underline">Next</a></span>
            <span class=""><a href="#0" class="display-inline-block border-1px border-gray-50 hover:border-red-warm-50 padding-x-1 padding-y-05 radius-sm hover:bg-red-warm-50 text-gray-90 hover:text-white text-no-underline">Last</a></span>
          </div>
        </section>
      </div>
      <div class="grid-col-auto">
        <section class="border-top-1px padding-top-4 width-mobile">
          <h2 class="font-sans-6 margin-top-0 margin-bottom-2 padding-0 line-height-sans-2">Browse articles by topic</h2>
          <ul class="add-list-reset font-sans-3">
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Accessibility</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Agile</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">APIs</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Code</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Content design</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Design</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Data</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Digital product management</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Metrics</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Mobile</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Research &amp; user testing</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Social media</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Strategy</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">User experience (UX)</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Video</a></li>
            <li class="padding-top-05 margin-top-05 border-top-1px border-gray-10"><a href="#0" class="text-red-warm-50 hover:text-gray-90">Writing and plain language</a></li>
          </ul>
        </section>
      </div>
    </div>
  </section>

  <footer class="grid-container-desktop padding-x-4">
    <div class="grid-row border-top-1px padding-top-4 margin-top-4">
    </div>
    This is the footer.
  </footer>
</div>
