{{ $currentPageUrl := .URL }}
{{ if .Params.tag }}
  {{ $name := index .Params.tag 0 }}
  {{ $name := $name | urlize }}
  {{ $tags := index .Site.Taxonomies.tag $name }}
  {{ $i := $tags | len }}
  {{ if ge $i 2 }}
  <div class="yarpp-related">
    <h3>Related posts:</h3>
    <ol>
      {{ range first 5 $tags.Pages | shuffle }}
        {{ if ne .URL $currentPageUrl }}
          <li><a href="{{ .Permalink }}" rel="bookmark" title="{{ .LinkTitle }}">{{ .LinkTitle | markdownify }}</a></li>
        {{ end }}
      {{end}}
    </ol>
  </div>
  {{ end }}
{{ end }}
