// logo

.logo{
  font-size: 1.6em;
  line-height: 1.4em;
  a{
    color:#000;
    text-decoration: none;
  }
  img{
    width: 30px;
    position: relative;
    top:4px;
  }
}

h3.logo{
  font-size: 1.2em;
  line-height: 1.2em;
  img{
    width: 20px;
    top:2px;
  }
}
