{{/* Collection Icon

  Display agency icon for the media variant

  @param {string} logo_source - Path to agency logo, can be internal or external. Value is calculated from front matter fields to lookup agency logo
*/}}

{{ $logo_source := .logo_source }}
{{ $topic_icon := .topic_icon }}
<div class="usa-collection__img-wrapper">
  {{ if $topic_icon }}
    <svg
      class="usa-icon dg-icon dg-icon--standard margin-bottom-05"
      aria-hidden="true"
      focusable="false"
    >
      <use
        xlink:href="{{ "uswds/img/sprite.svg#arrow_forward" | relURL }}"
      ></use>
    </svg>
  {{ else }}
    <img
      class="usa-collection__img"
      src="{{ $logo_source | relURL }}"
      alt=""
      aria-hidden="true"
    />
  {{ end }}
</div>
