{{/*

  Collection List Item
  Returns a list item variant for USWDS Collection

  @see see collection.html for description of other variables

*/}}

{{ $list_item_data := .list_item_data }}
{{ $settings := .settings }}
{{ $path := $settings.path}}
{{ $variant := .variant }}
{{ $logo_source := .logo_source }}
{{ $list_header := .list_header }}
{{ $title := .title }}
{{ $href := .href }}
{{ $summary := .summary }}
{{ $url := urls.Parse $href }}
{{ $meta_source := .meta_source }}
{{ $list_default_width := .list_default_width }}


{{- with $list_item_data -}}

  <li class="usa-collection__item{{ if not $settings.list_default_width }} usa-collection__item--full-width{{ end }}" data-gh-edit-page="{{- $path -}}">
    {{ if or (eq $settings.variant "media") (eq $settings.variant "custom") }}
      {{- partial "core/collection/collection-icon" (dict "logo_source" $settings.logo_source) -}}
    {{ end }}
    <div class="usa-collection__body">
      <h{{ $settings.list_header | safeHTML }} class="usa-collection__header">
        {{ if .title }}
          <a class="usa-link {{ if $settings.link_external }}usa-link--external{{ end }}" href="{{- .href -}}" title="{{- .title | markdownify -}}">
            {{- .title | markdownify -}}
          </a>
        {{ end }}
      </h{{ $settings.list_header | safeHTML }}>
      {{ if ne $settings.variant "headings" }}
        <p class="usa-collection__description">
          {{ if .summary }}
            {{ .summary | markdownify }}
          {{ end }}
        </p>
      {{ else }}
        {{ if $settings.meta_source }}
          <ul class="usa-collection__meta">
            <li class="usa-collection__meta-item position-relative">
              <svg
                class="usa-icon position-relative bottom-neg-2px"
                aria-hidden="true"
                role="img"
              >
                <use
                  xlink:href="{{ "uswds/img/sprite.svg#public" | relURL }}"
                ></use>
              </svg>
              {{- $settings.meta_source -}}
            </li>
          </ul>
        {{ end }}
      {{ end }}
    </div>
  </li>
{{- end -}}
