{{/*

  Collection Header
  Returns a collection header with an option to wrap in a link

  @param {string} .id - The relative path to the file, for example "v21st-century-idea"
  @param {url} .link - If present will render a link within the header, otherwise just a plain header
  @param {string} .title - Title for the header
  @param {number} .size - Set the header size from 1-6, defaults to 3 if number provided is greater than 6

*/}}

{{ $header := .data }}
{{ $header_size := .data.size }}

{{/*  If header size is greater than 6, default to h3  */}}
{{ if gt $header_size 6 }}
  {{ $header_size = 3 }}
{{ end }}

<h{{ $header_size | safeHTML }} class="dg-collection__header" {{ if $header.id }} id="{{- $header.id -}}"{{ end }}>
  {{ if $header.link }}<a href="{{- $header.link | relURL -}}">{{ end }}
    {{- $header.title -}}
  {{ if $header.link }}</a>{{ end }}
</h{{ $header_size | safeHTML }}>