{{ define "content" }}
{{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}

<main role="main" id="main-content">

  <article>

    {{- partial "core/breadcrumbs.html" . -}}

    <div class="grid-container grid-container-desktop">
      <div class="grid-row grid-gap-4">

        <div class="grid-col-12 tablet-lg:grid-col-2" data-edit-this="{{- $path -}}">
          {{- partial "core/guides/guide-nav.html" . -}}
        </div>

        <div class="grid-col-12 tablet-lg:grid-col-8">
          <div class="guide-content usa-layout-docs__main usa-prose" data-edit-this="{{- $path -}}">

            {{- partial "core/guides/guide-page-head.html" . -}}

            {{/*
              Checks if the page has the "guide-section-nav" shortcode
              If not, it will render the "guide-section-nav".
            */}}
            <!-- {{- if not (.HasShortcode "guide-toc") -}}
              {{- partial "core/guides/guide-toc.html" . -}}
            {{- end -}} -->

            {{ .Content }}

            {{- partial "core/guides/guide-prev-next.html" . -}}

            {{/* Touchpoints Form */}}
            {{- partial "core/touchpoints-form.html" . -}}

          </div>

        </div>

      </div>
    </div>
  </article>

</main>

{{- end -}} {{/* end 'content' block */}}
