{{/* Communities / Featured */}}
<section id="communities">
  <div class="grid-container padding-x-2">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-7">
        <header>
          <p><strong>Over 11,000 people</strong> are collaborating across government in our communities of practice.</p>
          <a href="{{ "/communities" | absURL }}" title="Join a community">Join a community</a>
        </header>
      </div>
      <div class="grid-col-5">
        {{ $communities := (where .Site.Pages "Section" "communities").ByTitle }}
        {{ $communities := shuffle $communities }}
        {{ range $i, $e := first 2 $communities }}
          <article class="promo" data-edit-this="{{- .File.Path -}}">
            <div class="grid-row grid-gap-4">
              <div class="grid-col-9">
                <h4><a href="{{ $e.Permalink }}" title="{{ $e.Title }}"><strong>{{ $e.Title }}</strong></a></h4>
              </div>
              <div class="grid-col-3">
                {{- if .Params.members -}}
                <p class="members"><i class="fas fa-user"></i>&nbsp;{{- .Params.members -}}</p>
                {{- end -}}
              </div>
            </div>
            <div class="grid-row grid-gap-4">
              <div class="grid-col-12">
                <p>{{ $e.Params.summary }}</p>
              </div>
            </div>
            <a href="{{ $e.Permalink }}" title="{{ .Params.head }}"><span></span></a>
          </article>
        {{ end }}
      </div>
    </div>
  </div>
</section>
