{{/* Communities / Featured */}}
<section class="usa-section" id="communities_featured">
  <header class="page-head">
    <h2>Our Communities</h2>
    <p>
      Join over <strong>11,000 people in government</strong> who are
      collaborating to make our digital services better.
    </p>
  </header>
  <div class="grid-container">
    <div class="grid-row tablet-lg:grid-gap-6">
      {{/* Gets all communities pages */}}
      {{ $dg_communities := (where .Site.Pages "Section" "communities").ByTitle }}

      {{/* Gather only the pages with a weight greater than or equal to 1 */}}
      {{ $dg_communities := (where $dg_communities ".Params.weight" "ge" 1) }}

      {{/* Gather only the pages with a dg-emphasis key */}}
      {{ $dg_communities := (where $dg_communities ".Params.dg_highlight" "eq" true) }}

      {{ range $i, $e := $dg_communities }}
        <div class="tablet-lg:grid-col-3 item">
          {{ with $e.Params.logo }}
            <img
              src="{{- (printf "%s/%s" "img/" $e.Params.logo ) | absURL -}}"
              alt="{{- (printf "%s/%s" $e.Params.dg_shortname " Community Logo" ) -}}"
            />
          {{ end }}
          <h2>
            {{- $e.Params.dg_shortname | markdownify -}}
          </h2>
          <p>
            {{- $e.Params.summary | markdownify -}}
          </p>
          <a
            class="usa-button"
            href="{{- $e.Permalink -}}"
            title="{{- $e.Params.dg_shortname -}}"
          >
            Connect
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>
