{{/* Training & Events / Featured */}}
<section id="events_featured">
  <div class="grid-container grid-container-desktop">

    <div class="grid-row grid-gap-2">
      <div class="grid-col-12 tablet:grid-col-5">
        <header>
          <h2>Events</h2>
          <p>Level up your skills and connect with others. We work communities across government to bring you events text goes here.</p>
        </header>
      </div>
      <div class="grid-col-12 tablet:grid-col-7">
        <section>

          {{ $events := where .Site.RegularPages.Reverse  "Section" "events" }}

          {{/* gets the # of news items to display from the config.yml */}}
          {{ $events_count := .Site.Params.events_count }}

          {{ $events := $events | intersect (where $events "Date" "ge" now) | first $events_count }}
          
          {{- range $events -}}
            {{- $now := now.Format "2006-01-02" -}}
            {{- $start := .Date.Format "2006-01-02" -}}
            {{- $end := dateFormat "2006-01-02" .Params.End_date -}}

            {{- if or (ge $start $now) (ge $end $now)}}
            <article class="featured_event promo" data-edit-this="{{- .File.Path -}}">
              <div class="grid-row grid-gap-2">
                <div class="grid-col-4 tablet:grid-col-3">
                  <div class="date">
                    <span class="month">{{- .Date.Format "Jan" -}}</span>
                    <span class="day">{{- .Date.Format "02" -}}</span>
                  </div>
                  <a class="register" href="{{ .Params.registration_url }}" title="Register for {{- .Title | markdownify -}}">Register</a>
                </div>
                <div class="grid-col-8 tablet:grid-col-9">
                  <h3><a href="{{- .URL -}}" title="{{- .Title | markdownify -}}" rel="bookmark">{{- .Title | markdownify -}}</a></h3>
                  <p>{{- .Params.summary | markdownify -}}</p>
                </div>
                <a href="{{- .URL -}}" title="{{- .Title | markdownify -}}"><span></span></a>
              </div>
            </article>
            {{- end -}}
          {{- end -}}
        </section>
      </div>
    </div>
  </div>
</section>
