{{/* News & Updates */}}

<section id="news">
  <div class="grid-container grid-container-desktop">

    <div class="grid-row grid-gap-4">
      <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
        <header>
          <h2>News and Updates</h2>
          <p>A round-up of news, guidance, and notable work from people and teams across government</p>
        </header>
      </div>
    </div>

    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">

        <section class="stream">
          {{- $posts := where .Site.RegularPages.ByDate.Reverse "Section" "posts" -}}
          {{- range first 8 $posts -}}

            {{/* External links */}}
            {{- if .Params.source -}}
              {{/* see /layouts/posts/ for card templates */}}
              {{ .Render "card-elsewhere"}}
            {{ else }}
              {{/* Blog Posts — Internal links */}}
              {{- if .Params.deck }}
                {{/* see /layouts/posts/ for card templates */}}
                {{ .Render "card-article"}}
              {{ else }}
                {{/* see /layouts/posts/ for card templates */}}
                {{ .Render "card-article"}}
              {{ end }}
            {{ end }}

          {{- end -}}
        </section>
      </div>
    </div>
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
        <footer>
          <a class="btn" href="{{ "posts" | absURL }}" title=""><span>See all News</span> <i class="fas fa-arrow-circle-right"></i></a>
          <p>Have a case study to share? Did your team recently launch something?<br/><a href="mailto:digitalgov@gsa.gov" title=""><strong>Send us an email</strong></a></p>
        </footer>
      </div>
    </div>
  </div>
</section>
