<section class="usa-section" id="resources_featured">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap">

      <div class="tablet:grid-col-4">
        <div class="box">
          <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Guidance on making digital services in government better</h2>
          <p>Confidently take steps toward working smarter, iterating more frequently and delivering better, more effective services to the public.</p>
        </div>
      </div>

      <div class="tablet:grid-col-8 usa-prose">
        {{- partial "core/resources_featured" . -}}
      </div>

    </div>
  </div>
</section>
