<section class="usa-section" id="resources_featured">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap-4">

      <div class="grid-col-12 tablet:grid-col-4">
        <div class="box">
          <h2>Guidance on making better digital services in government</h2>
          <p>How-to work smarter, iterate more frequently and deliver better, more effective services to the public.</p>
        </div>
      </div>

      <div class="grid-col-12 tablet:grid-col-7">
        {{- partial "core/resources_featured" . -}}
      </div>

    </div>
  </div>
</section>
