<section id="resources_featured">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">
        {{- $resources := (where .Pages "Section" "resources") ".Params.weight" 3 -}}
        {{/* If there are any resources at all... */}}
        {{- if $resources -}}
        <div class="list-collection list-collection-resources">
          <h2>Popular Resources</h2>
          <ul class="add-list-reset">
            {{- range sort $resources "Title" "asc" -}}
              {{- if eq .Params.weight 3 -}}
              <li data-edit-this="{{- .File.Path -}}"><a href="{{- .Permalink -}}"><i class="far fa-lightbulb"></i> <span>{{ .Title | markdownify }}</span></a> {{- if .Params.deck }}{{- end -}}</li>
              {{- end -}}
            {{- end -}}
          </ul>
          <footer>
            <div class="grid-row grid-gap-2">
              <div class="grid-col-12">
                <p class="more"><a href="/resources"><span>See all resources</span> <i class="fas fa-arrow-circle-right"></i></a></p>
              </div>
            </div>
          </footer>
        </div>
        {{- end -}}
      </div>
    </div>

  </div>
</section>
