{{/* Services / Featured */}}
<section id="services">
  <div class="grid-container padding-x-2">

    <div class="grid-row grid-gap-2">
      <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
        <header>
          <h2>Get Started Building</h2>
          <p>Explore services that are user-centered, open-source and built by government for government.</p>
        </header>
      </div>
    </div>
    <div class="grid-row grid-gap-2">
      {{ $promos := .Site.GetPage "page" "promo" }}
      {{ $promos_count := len ($promos.Resources.ByType "page") }}
      {{ $promos := where ($promos.Resources.ByType "page") ".Params.weight" 3 }}
      {{ $promos := shuffle ($promos) }}
      {{ with $promos }}
        {{ range $i, $e := first 9 . }}
          <div class="grid-col-12 tablet:grid-col-4 flex-6">
            <article class="promo">
              {{ if .Params.icon }}
              {{ $src := (print "/img/promos/" .Params.icon) }}
              <img src="{{ $src | absURL }}" alt="{{ .Params.head }} Logo">
              {{ end }}
              <h3><a href="{{ .Params.src }}?dg" title="{{ .Params.head }}">{{ .Params.head }}</a></h3>
              <p>{{ .Params.summary | markdownify }}</p>
              <a href="{{ .Params.src }}?dg" title="{{ .Params.head }}"><span></span></a>
            </article>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <div class="grid-row grid-gap-2">
      <div class="grid-col-12 tablet:grid-col-4 tablet:grid-offset-4">
        <footer>
          <a class="btn" href="#">See all {{ $promos_count }} »</a>
        </footer>
      </div>
    </div>
  </div>
</section>
