{{/* Services / Featured */}}
<section id="services">
  <div class="grid-container grid-container-desktop">

    <div class="grid-row grid-gap-2">
      <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
        <header>
          <h2>Get Started Building</h2>
          <p>Explore services that are user-centered, open-source, and built by government for government.</p>
        </header>
      </div>
    </div>
    <div class="grid-row grid-gap-2">

    {{/* Gets all service pages */}}
    {{ $services := (where .Site.Pages "Section" "services") }}

    {{/* Gather only the pages with a weight greater than or equal to 2 */}}
    {{ $services := (where $services ".Params.weight" "ge" 2) }}

    {{/* Shuffle the pages (will happen on build) */}}
    {{ $services := shuffle ($services) }}

    {{ with $services }}

      {{/* Show the first 9 services */}}
      {{/* TODO — make the # shown on homepage a config variable */}}
      {{ range $i, $e := first 9 . }}
        <div class="grid-col-12 tablet:grid-col-4 flex-6">
          <article class="promo promo-card" data-edit-this="{{- .File.Path -}}">
            {{ if .Params.icon }}
            {{ $src := (print "/logos/" .Params.icon) }}
            <img class="thumb" src="{{ $src | relURL }}" alt="{{ .Params.name }} Logo">
            {{ end }}
            <h3><a href="{{ .Params.url }}?dg" title="{{ .Params.title }}">{{ .Params.title }}</a></h3>
            <p>{{ .Params.summary | markdownify }}</p>
            <a class="overlay" href="{{ .Params.url }}?dg" title="{{ .Params.title }}"><span></span></a>
          </article>
        </div>
      {{ end }}
    {{ end }}

    </div>
    <div class="grid-row grid-gap-2">
      <div class="grid-col-12 tablet:grid-col-4 tablet:grid-offset-4">
        <footer>
          <a class="btn" href="{{ "/services/" | absURL }}">See all services <i class="fas fa-arrow-circle-right"></i></a>
        </footer>
      </div>
    </div>
  </div>
</section>
