{{/* Spotlight / Featured */}}

<section id="spotlight">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">
        <header>
          <h2>Spotlight & News</h2>
          <p>A weekly round-up of news, ideas and interesting work from people in government</p>
          <p class="spotlight"><a href="#" title="Sign-up for our Spotlight Newsletter"><i class="far fa-envelope"></i> Sign-up for our Spotlight Newsletter</a></p>
        </header>

      </div>
      <div class="grid-col-12">
        <section class="article-list">
          {{- $posts := where .Site.RegularPages.ByDate.Reverse "Section" "posts" -}}
          {{- range first 8 $posts -}}

            {{/* External links */}}
            {{- if .Params.source -}}
              {{ .Render "card-elsewhere"}}
            {{ else }}
              {{/* Blog Posts — Internal links */}}
              {{- if .Params.deck }}
                {{ .Render "card-article"}}
              {{ else }}
                {{ .Render "card-article"}}
              {{ end }}
            {{ end }}

          {{- end -}}
        </section>
        <a class="all-posts" href="" title="">See all</a>
      </div>

      <footer>
        <p>Have a case-study to share? Did your team recently launch something? <a href="" title=""><strong>Submit to Spotlight</strong></a> or send us an email <a href="mailto:digitalgov@gsa.gov">digitalgov@gsa.gov</a></p>
      </footer>
    </div>
  </div>
</section>
