{{/* Spotlight / Featured */}}

<section id="spotlight">
  <div class="grid-container padding-x-2">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12 tablet-lg:grid-col-5">
        <header>
          <h2>Spotlight</h2>
          <p>A round-up of recent news and resources from across our community</p>
          <h4><i class="fas fa-envelope"></i> Sign up for our newsletter</h4>
          <form id="newsletter_signup" class="display-flex" action="index.html" method="post">
            <input type="text" name="" value="" placeholder="Enter your email address">
            <button type="submit"><img src="{{ "img/love-letter.png" | absURL }}" alt="Search"></button>
          </form>
          <section>
            <h5>Submit to Spotlight</h5>
            <p>Have a case-study to share? Did your team recently launch something? We'd like to talk to you.</p>
          </section>
        </header>


      </div>
      <div class="grid-col-12 tablet-lg:grid-col-7">
        <section>
          {{- $posts := where .Site.RegularPages.ByDate.Reverse "Section" "posts" -}}
          {{- range first 10 $posts -}}
            {{- if .Params.source -}}
              {{- $source := $.Site.GetPage "page" (print "source_" .Params.source ) -}}
            {{- end -}}

            {{ if eq .Params.type "spot" }}
              {{/* Spots — External links */}}

              <article data-edit-this="{{- partial "core/edit-this" (dict "branch" ($.Scratch.Get "branch") "filepath" .File.Path) -}}">
                <p>
                  {{/* Favicon
                  If the there is a custom favicon set in /sources/source_[slug].md, then use that... */}}
                  {{- if .Params.source -}}

                    {{- $source := $.Site.GetPage "page" (print "source_" .Params.source ) -}}
                    {{- if $source.Params.icon -}}
                      <img src="{{ $source.Params.icon }}" alt="">
                    {{- else -}}
                      <img src="https://www.google.com/s2/favicons?domain={{- .Params.source_url -}}" alt="">
                    {{- end -}}

                  {{/* Otherwise, use the Favicon that Google stores for the site. */}}
                  {{- else -}}
                    <img src="https://www.google.com/s2/favicons?domain={{- .Params.source_url -}}" alt="">
                  {{- end -}}

                  {{- .Params.deck | markdownify }} <em>(via&nbsp;<a href="{{- .Params.source_url -}}">{{ .Params.source_name }}</a>)</em> <i class="fas fa-external-link-alt"></i></p>

                <a href="{{- .Params.source_url -}}" title="{{- .Params.source_name -}}"><span></span></a>
              </article>
            {{ else }}
              {{/* Blog Posts — Internal links */}}
              <article data-edit-this="{{- partial "core/edit-this" (dict "branch" ($.Scratch.Get "branch") "filepath" .File.Path) -}}">
                <p><img src="{{ "img/digit-16.png" | absURL }}" alt=""><a href="{{- .Permalink -}}"><strong>{{- .Title | markdownify -}}</strong></a>{{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}</p>
                <a href="{{- .Permalink -}}" title="{{- .Title | markdownify -}}"><span></span></a>
              </article>
            {{ end }}


          {{- end -}}
        </section>
      </div>

    </div>
  </div>
</section>
