{{/* Spotlight / Featured */}}

<section id="spotlight">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
        <header>
          <h2>Spotlight</h2>
          <p>A weekly round-up of news, case studies, and interesting work from people in government</p>
          <p>
            <a class="btn" href="#" title="Sign-up for our Spotlight Newsletter"><i class="fas fa-envelope"></i> Sign-up for our Newsletter</a>
            <a class="btn" href="#" title=""><i class="fas fa-plus"></i>  Contribute to Spotlight</a>
          </p>
        </header>

      </div>
    </div>
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">
        <section class="article-list">
          {{- $posts := where .Site.RegularPages.ByDate.Reverse "Section" "posts" -}}
          {{- range first 8 $posts -}}

            {{/* External links */}}
            {{- if .Params.source -}}
              {{ .Render "card-elsewhere"}}
            {{ else }}
              {{/* Blog Posts — Internal links */}}
              {{- if .Params.deck }}
                {{ .Render "card-article"}}
              {{ else }}
                {{ .Render "card-article"}}
              {{ end }}
            {{ end }}

          {{- end -}}
        </section>
      </div>
    </div>
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
        <footer>
          <a class="btn" href="{{ "posts" | absURL }}" title="">See all Spotlight</a>
          <p>Have a case-study to share? Did your team recently launch something?<br/><a href="" title=""><strong>Submit to Spotlight</strong></a> or send us an email <a href="mailto:digitalgov@gsa.gov">digitalgov@gsa.gov</a></p>
        </footer>
      </div>
    </div>
  </div>
</section>
