{{/* Topics / Featured */}}
<section class="topics-list">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap-2">
      {{- $top_topics := $.Site.Taxonomies.topics -}}
      {{- range $name, $taxonomy := $top_topics -}}
        {{- with $.Site.GetPage (printf "/topics/%s" $name) -}}
          {{- if eq .Params.weight 3 -}}

            <div class="grid-col-12 tablet:grid-col-4 tablet:flex-6">
              <div class="topic topic-slim" data-edit-this="{{- .File.Path -}}">
                <h3>
                  <a class="text-no-underline text-ink" href="{{- .URL | absURL -}}" title="{{- .Title -}}">{{- .Title -}} <span>&#8594;</span></a>
                </h3>
              </div>
            </div>

          {{- end -}}
        {{- end -}}
      {{- end -}}
    </div>
    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
        <footer>
          <p class="checklist-promo"><a href="{{- "" | absURL -}}resources/checklist/"><i class="fas fa-check-circle"></i> Checklist of Requirements for Federal Digital Services</a></p>
          <p><a class="btn" href="{{- "topics" | absURL -}}" title="All Topics">View our Topics</a> | <a class="btn" href="{{- "resources" | absURL -}}">Browse our Resources</a></p>

        </footer>
      </div>
    </div>
  </div>
</section>
