{{/* Topics / Featured */}}
<section id="topics_featured" class="topic-buttons">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap-2">
      <div class="grid-col-12">
        <h2>Popular Topics</h2>
      </div>
    </div>
    <div class="grid-row grid-gap-1 tablet:grid-gap-2">
      {{- $top_topics := $.Site.Taxonomies.topics -}}
      {{- range $name, $taxonomy := $top_topics -}}
        {{- with $.Site.GetPage (printf "/topics/%s" $name) -}}
          {{- if eq .Params.weight 3 -}}

            <div class="grid-col-6 tablet:grid-col-4 ">
              <div class="topic topic-slim" data-edit-this="{{- .File.Path -}}">
                <h3>
                  <a class="text-no-underline text-ink" href="{{- .URL | absURL -}}" title="{{- .Title -}}">{{- .Title -}} <span>&#8594;</span></a>
                </h3>
              </div>
            </div>

          {{- end -}}
        {{- end -}}
      {{- end -}}

    </div>
  </div>
</section>
