{{/* Topics / Featured */}}
<section id="topics_featured" class="topic-buttons">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row tablet-lg:grid-gap-2">
      <div class="grid-col-12">
        <h2>Featured Topics</h2>
      </div>
    </div>
    <div class="grid-row tablet-lg:grid-gap-1 tablet:grid-gap-2">
      {{- $top_topics := $.Site.Taxonomies.topics -}}
      {{- range $name, $taxonomy := $top_topics -}}
        {{- with $.Site.GetPage (printf "/topics/%s" $name) -}}
          {{- if eq .Params.weight 3 -}}

            <div class="grid-col-6 tablet:grid-col-4 ">
              <div class="topic topic-slim" data-edit-this="/edit/{{- .Type -}}/?page=https://digital.gov{{- (urls.Parse .Permalink).Path -}}">
                <h3>
                  <a href="{{- .URL | absURL -}}" title="{{- .Title -}}">{{- .Title -}} <span>&#8594;</span></a>
                </h3>
              </div>
            </div>

          {{- end -}}
        {{- end -}}
      {{- end -}}

    </div>
    <footer>
      <div class="grid-row tablet-lg:grid-gap-2">
        <div class="grid-col-12">
          <p class="more"><a href="/topics"><span>See all topics</span> <i class="fas fa-arrow-circle-right"></i></a></p>
        </div>
      </div>
    </footer>
  </div>
</section>
