.usa-banner {
  background-color: $color-gray-lightest;
  padding-bottom: size(7px);

  @include media($small-screen) {
    font-size: $h6-font-size;
    padding-bottom: 0;
  }
}

.usa-banner-content {
  @include padding(null $site-margins-mobile 3px $site-margins-mobile);
  background-color: transparent;
  font-size: $h5-font-size;
  padding-top: size(20px);
  width: 100%;

  @include media($medium-screen) {
    padding-bottom: size(23px);
    padding-top: size(40px);
  }

  @include media($nav-width) {
    @include padding(null $site-margins);
  }

  p {
    &:first-child {
      margin-top: size(10px);

      @include media($medium-screen) {
        margin-top: 0;
      }
    }
  }
}

.usa-banner-inner {
  @include outer-container();
  @include padding(null $site-margins-mobile);
  max-width: $site-max-width;

  @include media($nav-width) {
    @include padding(null $site-margins);
  }
}

.usa-banner-header {
  @include padding(size(5.5px) null);
  font-size: size(12px);
  font-weight: $font-normal;

  @include media($small-screen) {
    @include padding(0 null);
  }

  p {
    @include margin(0 null);
    display: inline;
    overflow: hidden;
    vertical-align: middle;

    @include media($small-screen) {
      @include margin(2px null);
      display: inline-block;
    }
  }

  img {
    float: left;
    margin-right: size(10px);
    margin-top: size(10px);
    width: size(24px);

    @include media($small-screen) {
      margin-right: size(7px);
      width: size(20px);
    }
  }
}

.usa-banner-header-expanded {
  align-items: center;
  border-bottom: 1px solid $color-gray-light;
  display: flex;
  font-size: $h5-font-size;
  min-height: size(56px);
  padding-right: size(30px);

  @include media($small-screen) {
    border-bottom: none;
    display: block;
    font-size: size(12px);
    font-weight: $font-normal;
    min-height: 0;
    padding-right: 0;
  }

  > .usa-banner-inner {
    margin-left: 0;

    @include media($small-screen) {
      margin-left: auto;
    }
  }

  img {
    margin-right: size(24px);

    @include media($small-screen) {
      margin-right: size(7px);
    }
  }

  p {
    line-height: $heading-line-height;
    vertical-align: top;

    @include media($small-screen) {
      line-height: $base-line-height;
      vertical-align: middle;
    }
  }
}

.usa-banner-button {
  @include button-unstyled;
  @include padding(size(13px) null null size(48px));
  background-position-x: right;
  color: $color-primary;
  display: block;
  font-size: size(12px);
  height: size(43px);
  left: 0;
  position: absolute;
  text-decoration: underline;
  top: 0;
  width: 100%;

  @include media($small-screen) {
    @include padding(0 null null 0);
    /* stylelint-disable declaration-block-no-ignored-properties */
    display: inline;
    height: initial;
    margin-left: 3px;
    position: relative;
    vertical-align: middle;
    width: initial;
    /* stylelint-enable */
  }

  &:hover {
    color: $color-primary-darker;
    text-decoration: underline;
  }

  &[aria-expanded=false] {
    @include display-icon(angle-arrow-down-primary, after, size(10px), 0, hover);
    background-image: none;

    &::after {
      background-position-y: 1px;
    }
  }

  &[aria-expanded=true] {
    @include display-icon(close, after, size(13px), 0, no-hover);
    background-image: none;
    height: size(56px);

    @include media($small-screen) {
      @include display-icon(angle-arrow-up-primary, after, size(10px), 0, hover);
      height: initial;
      padding: 0;
      position: relative;

      &::after {
        background-position-y: 1px;
      }
    }

    &::after {
      position: absolute;
      right: size(15px);
      top: size(21.5px);

      @include media($small-screen) {
        position: static;
      }
    }

    .usa-banner-button-text {
      display: none;

      @include media($small-screen) {
        display: inline;
      }
    }
  }
}

.usa-banner-icon {
  width: size(38px);
}
