$base-rem: 16px; // a new value distinct from USWDS static var;
$sans-normalize-multiplier: 1.0; // multiplier for trebuchet; taking Source Sans as 1.0

@import 'dg-functions';

// Typography
// Removing the from $em-base so we are not inheriting that
// value from Bourbon.
//$em-base:              10px;
$base-font-size-px:      17px;
$small-font-size-px:     14px;
$lead-font-size-px:      20px;
$title-font-size-px:     52px;
$h1-font-size-px:        40px;
$h2-font-size-px:        30px;
$h3-font-size-px:        20px;
$h4-font-size-px:        17px;
$h5-font-size-px:        15px;
$h6-font-size-px:        13px;


$base-font-size:      size($base-font-size-px);
$small-font-size:     size($small-font-size-px);
$lead-font-size:      size($lead-font-size-px);
$title-font-size:     size($title-font-size-px);
$h1-font-size:        size($h1-font-size-px);
$h2-font-size:        size($h2-font-size-px);
$h3-font-size:        size($h3-font-size-px);
$h4-font-size:        size($h4-font-size-px);
$h5-font-size:        size($h5-font-size-px);
$h6-font-size:        size($h6-font-size-px);
// $base-line-height:    1.5;
// $heading-line-height: 1.3;
// $lead-line-height:    1.7;

$font-sans:           Trebuchet,Tahoma,sans-serif;
// $font-serif:          'Merriweather', $georgia;

// TODO these should be called font-weight-${}
// $font-normal:         400;
// $font-bold:           700;

// Color
// $color-blue:                 #0071bc;
// $color-blue-darker:          #205493;
// $color-blue-darkest:         #112e51;

// $color-aqua:                 #02bfe7;
// $color-aqua-dark:            #00a6d2;
// $color-aqua-darkest:         #046b99;
// $color-aqua-light:           #9bdaf1;
// $color-aqua-lightest:        #e1f3f8;

// $color-red:                  #e31c3d;
// $color-red-dark:             #cd2026;
// $color-red-darkest:          #981b1e;
// $color-red-light:            #e59393;
// $color-red-lightest:         #f9dede;

// $color-white:                #ffffff;
// $color-black:                #000000;
// $color-black-light:          #212121;

// $color-gray-dark:            #323a45;
// $color-gray:                 #5b616b;
// $color-gray-medium:          #757575;
// $color-gray-light:           #aeb0b5;
// $color-gray-lighter:         #d6d7d9;
// $color-gray-lightest:        #f1f1f1;

// $color-gray-warm-dark:       #494440;
// $color-gray-warm-light:      #e4e2e0;
// $color-gray-cool-light:      #dce4ef;

// $color-gold:                 #fdb81e;
// $color-gold-light:           #f9c642;
// $color-gold-lighter:         #fad980;
// $color-gold-lightest:        #fff1d2;

// $color-green:                #2e8540;
// $color-green-light:          #4aa564;
// $color-green-lighter:        #94bfa2;
// $color-green-lightest:       #e7f4e4;

// $color-cool-blue:            #205493;
// $color-cool-blue-light:      #4773aa;
// $color-cool-blue-lighter:    #8ba6ca;
// $color-cool-blue-lightest:   #dce4ef;

// $color-purple:               #4c2c92;

// Functional colors
// $color-primary:              $color-blue;
// $color-primary-darker:       $color-blue-darker;
// $color-primary-darkest:      $color-blue-darkest;

// $color-primary-alt:          $color-aqua;
// $color-primary-alt-dark:     $color-aqua-dark;
// $color-primary-alt-darkest:  $color-aqua-darkest;
// $color-primary-alt-light:    $color-aqua-light;
// $color-primary-alt-lightest: $color-aqua-lightest;

// $color-secondary:            $color-red;
// $color-secondary-dark:       $color-red-dark;
// $color-secondary-darkest:    $color-red-darkest;
// $color-secondary-light:      $color-red-light;
// $color-secondary-lightest:   $color-red-lightest;

// $color-base:                 $color-black-light;
// $color-focus:                $color-gray-light;
// $color-visited:              $color-purple;

// $color-shadow:               rgba(#000, 0.3);
// $color-transparent:          rgba(#000, 0);

// Mobile First Breakpoints
// $small-screen:  481px;
$medium-screen: 801px;
$large-screen:  1025px;

// Grid column counts by screen size
// $grid-columns-small: 1;
// $grid-columns-medium: 6;
// $grid-columns-large: 12;

// @media single-keyword helpers
// $small: new-breakpoint(min-width $small-screen $grid-columns-small);
// $medium: new-breakpoint(min-width $medium-screen $grid-columns-medium);
// $large: new-breakpoint(min-width $large-screen $grid-columns-large);

// Relative font and image file paths
// $font-path:   '../fonts';
// $image-path:  '../img';

// Set $asset-pipeline to true if you're using the Rails Asset Pipeline
// $asset-pipeline:      false;

// Magic Numbers
$text-max-width-px:          530px;
$lead-max-width-px:          770px;
$site-margins-px:            30px;
$site-margins-mobile-px:     16px;
$input-max-width-px:         460px;

$text-max-width:          size($text-max-width-px);
$lead-max-width:          size($lead-max-width-px);
$site-max-width:          960px;
$site-margins:            size($site-margins-px);
$site-margins-mobile:     size($site-margins-mobile-px);
// $article-max-width:       600px;
$input-max-width:         size($input-max-width-px);
// $label-border-radius:     2px;
// $checkbox-border-radius:  2px;
// $border-radius:           3px;
// $button-border-radius:    5px;
// $box-shadow:              0 0 2px $color-shadow;
// $focus-outline:           2px dotted $color-gray-light;
// $focus-spacing:           3px;
// $nav-width:               951px;

// 44 x 44 pixels hit target following Apple iOS Human Interface
// Guidelines
// $hit-area: 4.4rem;

// $spacing-x-small: 0.5rem;
// $spacing-small: 1rem;
// $spacing-md-small: 1.5rem;
// $spacing-medium: 2rem;
// $spacing-large: 3rem;
