@if $scope-uswds == false {
  html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

  body {
    margin: 0;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  audio,
  canvas,
  progress,
  video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  [hidden],
  template {
    display: none;
  }

  a {
    background-color: transparent;
  }

  a:active,
  a:hover {
    outline: 0;
  }

  abbr[title] {
    border-bottom: 1px dotted;
  }

  b,
  strong {
    font-weight: bold;
  }

  dfn {
    font-style: italic;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  mark {
    background: #ff0;
    color: #000;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  img {
    border: 0;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  figure {
    margin: 1em 40px;
  }

  hr {
    box-sizing: content-box;
    height: 0;
  }

  pre {
    overflow: auto;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
  }

  button {
    overflow: visible;
  }

  button,
  select {
    text-transform: none;
  }

  button,
  html input[type="button"], /* 1 */
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
  }

  button[disabled],
  html input[disabled] {
    cursor: default;
  }

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  input {
    line-height: normal;
  }

  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    box-sizing: content-box; /* 2 */
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
  }

  textarea {
    overflow: auto;
  }

  optgroup {
    font-weight: bold;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td,
  th {
    padding: 0;
  }
} @else {
  .uswds html, html.uswds {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  .uswds body, body.uswds {
    margin: 0;
  }

  .uswds article, article.uswds,
  .uswds aside, aside.uswds,
  .uswds details, details.uswds,
  .uswds figcaption, figcaption.uswds,
  .uswds figure, figure.uswds,
  .uswds footer, footer.uswds,
  .uswds header, header.uswds,
  .uswds hgroup, hgroup.uswds,
  .uswds main, main.uswds,
  .uswds menu, menu.uswds,
  .uswds nav, nav.uswds,
  .uswds section, section.uswds,
  .uswds summary, summary.uswds {
    display: block;
  }

  .uswds audio, audio.uswds,
  .uswds canvas, canvas.uswds,
  .uswds progress, progress.uswds,
  .uswds video, video.uswds {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }

  .uswds audio:not([controls]), audio:not([controls]).uswds {
    display: none;
    height: 0;
  }

  .uswds [hidden], [hidden].uswds,
  .uswds template, template.uswds {
    display: none;
  }

  .uswds a, a.uswds {
    background-color: transparent;
  }

  .uswds a:active, a:active.uswds,
  .uswds a:hover, a:hover.uswds {
    outline: 0;
  }

  .uswds abbr[title], abbr[title].uswds {
    border-bottom: 1px dotted;
  }

  .uswds b, b.uswds,
  .uswds strong, strong.uswds {
    font-weight: bold;
  }

  .uswds dfn, dfn.uswds {
    font-style: italic;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  .uswds mark, mark.uswds {
    background: #ff0;
    color: #000;
  }

  .uswds small, small.uswds {
    font-size: 80%;
  }

  .uswds sub, sub.uswds,
  .uswds sup, sup.uswds {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  .uswds sup, sup.uswds {
    top: -0.5em;
  }

  .uswds sub, sub.uswds {
    bottom: -0.25em;
  }

  .uswds img, img.uswds {
    border: 0;
  }

  .uswds svg:not(:root), svg:not(:root).uswds {
    overflow: hidden;
  }

  .uswds figure, figure.uswds {
    margin: 1em 40px;
  }

  .uswds hr, hr.uswds {
    box-sizing: content-box;
    height: 0;
  }

  .uswds pre, pre.uswds {
    overflow: auto;
  }

  .uswds code, code.uswds,
  .uswds kbd, kbd.uswds,
  .uswds pre, pre.uswds,
  .uswds samp, samp.uswds {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  .uswds button, button.uswds,
  .uswds input, input.uswds,
  .uswds optgroup, optgroup.uswds,
  .uswds select, select.uswds,
  .uswds textarea, textarea.uswds {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
  }

  .uswds button, button.uswds {
    overflow: visible;
  }

  .uswds button, button.uswds,
  .uswds select, select.uswds {
    text-transform: none;
  }

  .uswds button, button.uswds,
  html input[type="button"], /* 1 */
  .uswds input[type="reset"], input[type="reset"].uswds,
  .uswds input[type="submit"], input[type="submit"].uswds {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
  }

  .uswds button[disabled], button[disabled].uswds,
  html input[disabled] {
    cursor: default;
  }

  .uswds button::-moz-focus-inner, button::-moz-focus-inner.uswds,
  .uswds input::-moz-focus-inner, input::-moz-focus-inner.uswds {
    border: 0;
    padding: 0;
  }

  .uswds input, input.uswds {
    line-height: normal;
  }

  .uswds input[type="checkbox"], input[type="checkbox"].uswds,
  .uswds input[type="radio"], input[type="radio"].uswds {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }

  .uswds input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-inner-spin-button.uswds,
  .uswds input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-outer-spin-button.uswds {
    height: auto;
  }

  .uswds input[type="search"], input[type="search"].uswds {
    -webkit-appearance: textfield; /* 1 */
    box-sizing: content-box; /* 2 */
  }

  .uswds input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-cancel-button.uswds,
  .uswds input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-decoration.uswds {
    -webkit-appearance: none;
  }

  .uswds fieldset, fieldset.uswds {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  .uswds legend, legend.uswds {
    border: 0; /* 1 */
    padding: 0; /* 2 */
  }

  .uswds textarea, textarea.uswds {
    overflow: auto;
  }

  .uswds optgroup, optgroup.uswds {
    font-weight: bold;
  }

  .uswds table, table.uswds {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .uswds td, td.uswds,
  .uswds th, th.uswds {
    padding: 0;
  }
}
