/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
CUSTOM PROJECT SASS
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

html {
  font-size: $theme-root-font-size;
}

.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited {
  padding: px(10px) px(20px);
}

.usa-banner {
  position: relative;
}

.usa-banner-inner {
  @include media($medium-screen) {
    padding: 0 calc(2% + 8px);
    width: 96%;
  }
  @include media($large-screen) {
    margin: 0 auto;
    padding: 0 px(8px);
    width: 960px;
  }
}

.usa-banner-content {
  @include media($medium-screen) {
    padding-left: calc(2% + 8px);
    padding-right: calc(2% + 8px);
    width: 96%;
  }
  @include media($large-screen) {
    padding-left: px(8px);
    padding-right: px(8px);
    width: 960px;
  }
}

.usa-banner-header {
  font-size: px(10px);
  @include media($small-screen) {
    font-size: px(12px);
    @include padding(0 0 3px 0);
  }
  img {
    display: block;
    float: left;
    margin-right: px(10px);
    margin-top: 0;
    vertical-align: middle;
    width: px(24px);

    @include media($small-screen) {
      display: inline-block;
      float: none;
      margin-right: px(10px);
      width: px(20px);
    }
  }
  p {
    @include position(1px null null -2px);
    display: block;
    line-height: 1.15;
    position: relative;
    @include media($small-screen) {
      @include position(auto null null auto);
      display: inline;
      line-height: 1;
      overflow: visible;
      margin: 0;
    }
  }
  &-expanded {
    img {
      margin-right: px(10px);
    }
  }
}

.usa-accordion-button[aria-expanded=false],
.usa-accordion-button[aria-expanded=true] {
  background-size: px(15px);
  &:after {
    height: px(10px);
    width: px(10px);
  }
  @include media($small-screen) {
    top: 1px;
    padding-left: 4px;
  }
}

.usa-media_block {
  &-img {
    float: left;
    margin-right: 1rem;
  }
  &-body {
    overflow: hidden;
  }
}
