{{- $list := .Site.Data.tag -}}
{{- $length := (len $list) -}}
{
  "version" : "https://jsonfeed.org/version/1",
  "title" : "Tags | {{- .Site.Title -}}",
  "home_page_url" : "{{- .Site.BaseURL -}}",
  "count" : "{{- $length -}}",
  "items" : [
    {{- range $index, $value := $list -}} {
      "{{- $index -}}" : {
        {{- range $key, $v := $value -}}
          "display_name" : "{{- $v -}}"
        {{- end -}}
      }
      {{- $.Scratch.Add "i" 1 -}}
      {{- $i := $.Scratch.Get "i" -}}
    }{{- if not (eq $length $i) -}}, {{- end -}}
    {{- end -}}
  ]
}
