{{- partial "core/set-env.html" . -}}
{{- $list := where .Site.Pages "Section" "authors" -}}
{{- $list := where $list "with .File.Path" "ne" "authors/_index.md" -}}
{{- $length := len $list -}}
{
  "version" : "https://jsonfeed.org/version/1",
  "content" : "authors",
  "type" : "list",
  "title" : "Authors | {{ .Site.Title }}",
  "home_page_url" : "{{- .Site.BaseURL -}}",
  "count" : "{{- $length }}",
  {{ with .Site.Author.name -}}
  "author" : {
      "name" : "{{- . -}}"{{- with $.Site.Author.Params.url -}},
      "url": "{{- . -}}"{{- end -}}{{- with $.Site.Author.avatar -}},
      "avatar": "{{- . | absURL -}}"{{- end -}}
  },
  {{- end -}}
  "items" : [{
  {{ range $index, $author := $list -}}
    {{ with $author }}
      "{{- .Params.slug -}}" : {
        {{- if .Params.display_name -}}
        "display_name" : "{{- .Params.display_name -}}",
        {{- end -}}
        {{- if .Params.first_name -}}
        "first_name" : "{{- .Params.first_name -}}",
        {{- end -}}
        {{- if .Params.last_name -}}
        "last_name" : "{{- .Params.last_name -}}",
        {{- end -}}
        {{- if .Params.pronoun -}}
        "pronoun" : "{{- .Params.pronoun -}}",
        {{- end -}}

        {{- partial "api/slug.html" . -}}

        {{- if .Params.email -}}
        "email" : "{{- .Params.email -}}",
        {{- end -}}
        {{- if .Params.location -}}
        "location" : "{{- .Params.location -}}",
        {{- end -}}

        {{- partial "api/bio.html" . -}}

        {{- if .Params.bio_url -}}
        "bio_url" : "{{- .Params.bio_url -}}",
        {{- end -}}
        {{- if .Params.agency -}}
        "agency" : "{{- .Params.agency -}}",
        {{- end -}}
        {{- if .Params.agency_full_name -}}
        "agency_full_name" : "{{- .Params.agency_full_name -}}",
        {{- end -}}
        {{- if .Params.github -}}
        "github" : "{{- .Params.github -}}",
        {{- end -}}
        {{- if .Params.profile_source -}}
        "profile_source" : "{{- .Params.profile_source -}}",
        {{- end -}}
        {{- if .Params.twitter -}}
        "twitter" : "{{- .Params.twitter -}}",
        {{- end -}}
        {{- if .Params.facebook -}}
        "facebook" : "{{- .Params.facebook -}}",
        {{- end -}}
        {{- if .Params.linkedin -}}
        "linkedin" : "{{- .Params.linkedin -}}",
        {{- end -}}
        {{- if .Params.youtube -}}
        "youtube" : "{{- .Params.youtube -}}",
        {{- end -}}
        "branch" : {{- $.Scratch.Get "branch" | jsonify -}},
        {{- with .File -}}
          "filename" : {{- .LogicalName | jsonify -}},
        {{- end -}}
        {{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}
        "filepath" : {{ with .File -}}{{- $path | jsonify -}}{{- end -}},
        "filepathURL" : {{- with .File -}}{{- printf "https://github.com/%s/%s/blob/%s/content/%s" $.Site.Params.git_org $.Site.Params.git_repo ($.Scratch.Get "branch") $path | jsonify -}}{{- end -}},
        "editpathURL" : {{- with .File -}}{{- printf "https://github.com/%s/%s/edit/%s/content/%s" $.Site.Params.git_org $.Site.Params.git_repo ($.Scratch.Get "branch") $path | jsonify -}}{{- end -}},
        {{- if .Params.aliases -}}
        "aliases" : {
          {{- $aliaslen := .Params.aliases | len -}}
          {{- $.Scratch.Set "aliascount" 1 -}}
          {{- range $i, $e := .Params.aliases -}}
            {{- with $e -}}
              {{- $aliascount := $.Scratch.Get "aliascount" -}}
              {{- if eq $aliascount $aliaslen -}}
                "{{- $i -}}" : "{{- $e -}}"
              {{- else -}}
                "{{- $i -}}" : "{{- $e -}}",
              {{- end -}}
              {{- $.Scratch.Add "aliascount" 1 -}}
            {{- end -}}
          {{- end -}}
        },
        {{- end -}}
        {{- if .Params.weight -}}
        "weight" : "{{- .Params.weight -}}",
        {{- end -}}
        "url" : "{{- .Permalink -}}"
      }{{- $.Scratch.Add "i" 1 -}}
      {{- $iterator := $.Scratch.Get "i" -}}
      {{- if not (eq $length $iterator) -}}, {{- end -}}
    {{- else -}}
      {{- $.Scratch.Add "i" 1 -}}
    {{- end -}}

  {{ end }}
  }]
}
