{{- $.Scratch.Add "index" slice -}}
{{- range $image := sort $.Site.Data.images ".date" "desc" -}}
  <!-- Only process images with a non-empty uid and image format -->
  {{- if (and .uid $image.format) }}
    {{- $sourceURL := printf "https://s3.amazonaws.com/digitalgov/%s.%s" $image.uid $image.format -}}
    {{- $.Scratch.Add "index" (dict
      "uid" $image.uid
      "date" $image.date
      "height" $image.height
      "width" $image.width
      "format" $image.format
      "alt" ($image.alt | default "" | plainify)
      "caption" ($image.caption | default "" | plainify)
      "credit" ($image.credit | default "" | plainify)
      "source-url" $sourceURL
      )
    -}}
  {{- end }}
{{- end -}}
{{- $.Scratch.Get "index" | jsonify -}}
