{{- partial "core/set-env.html" . -}}
{{- $list := where .Site.Pages "Section" "authors" -}}
{{- $list := where $list "with .File.Path" "ne" "authors/_index.md" -}}
{{- $length := len $list -}}
{ "content" : "authors", "count" : "{{- $length }}", "items" : [
{{ range $index, $author := $list -}}
  {{ with $author }}
    {
    {{- partial "api/author-profile.html" . -}}
    {{- partial "api/metadata.html" . -}}
    {{- partial "api/aliases.html" . -}}
    {{- partial "api/file-info.html" . -}}
    {{- partial "api/slug.html" . -}}
    }
    {{- $.Scratch.Add "i" 1 -}}
    {{- $iterator := $.Scratch.Get "i" -}}
    {{- if not (eq $length $iterator) -}},{{- end -}}
  {{- else -}}
    {{- $.Scratch.Add "i" 1 -}}
  {{- end -}}

{{ end }}
] }
