{{- partial "core/set-env.html" . -}}
{{- $list := (where .Site.Pages "Section" "topics") -}}
{{- $length := len $list -}}
{
  "version" : "https://jsonfeed.org/version/1",
  "content" : "topics",
  "type" : "list",
  "title" : "Topics | {{- .Site.Title -}}",
  "home_page_url" : "{{- .Site.BaseURL -}}",
  "count" : "{{- $length -}}",
  "items" : [
  {{- range $topic := $list.ByTitle -}}
    {{- with $topic -}}
      {
        {{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}
        "slug" : "{{- with .File -}}{{- $path | replaceRE "^topics/([^/]+).*" "$1" -}}{{- end -}}",
        "title" : "{{- .Title -}}",
        "summary" : "{{- replace .Params.summary "\n" "\\n" -}}",
        {{- if .Params.aliases -}}
        "aliases" : {
          {{- $aliaslen := .Params.aliases | len -}}
          {{- $.Scratch.Set "aliascount" 1 -}}
          {{- range $i, $e := .Params.aliases -}}
            {{- with $e -}}
              {{- $aliascount := $.Scratch.Get "aliascount" -}}
              {{- if eq $aliascount $aliaslen -}}
                "{{- $i -}}" : "{{- $e -}}"
              {{- else -}}
                "{{- $i -}}" : "{{- $e -}}",
              {{- end -}}
              {{- $.Scratch.Add "aliascount" 1 -}}
            {{- end -}}
          {{- end -}}
        },
        {{- end -}}
        {{- if .Params.weight -}}
        "weight" : "{{- .Params.weight -}}",
        {{- end -}}
        "branch" : {{- $.Scratch.Get "branch" | jsonify -}},
        "filename" : {{- with .File -}}{{- .LogicalName | jsonify -}}{{- end -}},
        "filepath" : {{- with .File -}}{{- $path | jsonify -}}{{- end -}},
        "filepathURL" : {{- with .File -}}{{- printf "https://github.com/%s/%s/blob/%s/content/%s" $.Site.Params.git_org $.Site.Params.git_repo ($.Scratch.Get "branch") $path | jsonify -}}{{- end -}},
        "editpathURL" : {{- with .File -}}{{- printf "https://github.com/%s/%s/edit/%s/content/%s" $.Site.Params.git_org $.Site.Params.git_repo ($.Scratch.Get "branch") $path | jsonify -}}{{- end -}},
        "length" : {{- $length -}},
        "iterator" : "{{- $.Scratch.Get "i" -}}"
      }
      {{- $.Scratch.Add "i" 1 -}}
      {{- $iterator := $.Scratch.Get "i" -}}
      {{- if not (eq $length $iterator) -}}, {{- end -}}

    {{- end -}}
  {{- end -}}
  ]
}
