{{- partial "set-env.html" . -}}
{{ $promos := .Site.GetPage "page" "promo" }}
{{ $promos := where ($promos.Resources.ByType "page") ".Params.weight" ">=" 1 }}
{{ $promos_count := len $promos }}
{{ with $promos }}
{
  "version" : "https://jsonfeed.org/version/1",
  "title" : "Topics | {{- $.Site.Title -}}",
  "home_page_url" : "{{- $.Site.BaseURL -}}",
  "count" : "{{- $promos_count -}}",
  "items" : [
  {{ range $index, $element := . }}
    {
      {{- if (isset .Params "head") -}}
      "head" : "{{- .Params.head -}}",
      {{- end -}}
      {{- if (isset .Params "summary") -}}
      "summary" : "{{- .Params.summary -}}",
      {{- end -}}
      {{- if (isset .Params "src") -}}
      "src" : "{{- .Params.src -}}",
      {{- end -}}
      {{- if (isset .Params "icon") -}}
      "icon" : "{{- .Params.icon -}}",
      {{- end -}}
      {{- if (isset .Params "weight") -}}
      "weight" : "{{- .Params.weight -}}",
      {{- end -}}
      {{- if (isset .Params "topics") -}}
        "topics" : {
        {{/* Sets the taxonomy we're pulling here */}}
        {{- $taxonomy := "topics" -}}
        {{- $topics := .Param $taxonomy -}}
        {{/* Gets the number of topics that are applied */}}
        {{- $length := $topics | len -}}

        {{/* For each of the topics,... */}}
        {{- range $i, $e := sort $topics -}}
          {{- $slug := . -}}
          {{/* Gets the Topics page */}}
          {{- with $.Site.GetPage (printf "/%s/%s" $taxonomy $slug) -}}
            {{ if lt (add $i 1) $length }}
            "{{- $slug -}}" : "{{- .Title }}",
            {{- else }}
            "{{- $slug -}}" : "{{- .Title }}"
            {{ end }}
          {{- end -}}

        {{- end -}}
        },
      {{- end -}}
      "branch" : {{ $.Scratch.Get "branch" | jsonify }},
      "filename" : {{ .File.LogicalName | jsonify }},
      "filepath" : {{ .File.Path | jsonify }},
      "filepathURL" : {{ printf "https://github.com/%s/%s/blob/%s/content/%s" $.Site.Params.git_org $.Site.Params.git_repo ($.Scratch.Get "branch") .File.Path | jsonify }},
      "editpathURL" : {{ printf "https://github.com/%s/%s/edit/%s/content/%s" $.Site.Params.git_org $.Site.Params.git_repo ($.Scratch.Get "branch") .File.Path | jsonify }}
    }
    {{- $.Scratch.Add "i" 1 -}}
    {{- $iterator := $.Scratch.Get "i" -}}
    {{- if not (eq $promos_count $iterator) -}}, {{- end -}}
  {{- end -}}
  ]
}
{{- end -}}
