{{- partial "core/set-env.html" . -}}
{{- $list := (where .Site.Pages "Section" "topics") -}}
{{- $length := len $list -}}
{
  "version" : "https://jsonfeed.org/version/1",
  "content" : "topics",
  "type" : "list",
  "title" : "Topics | {{- .Site.Title -}}",
  "home_page_url" : "{{- .Site.BaseURL -}}",
  "count" : "{{- $length -}}",
  "items" : [
  {{- range $topic := $list.ByTitle -}}
    {{- with $topic -}}
      {
        "slug" : "{{- .File.Path | replaceRE "^topics/([^/]+).*" "$1" -}}",
        "title" : "{{- .Title -}}",
        "summary" : "{{- .Params.summary -}}",
        {{- if .Params.aliases -}}
        "aliases" : {
          {{- $aliaslen := .Params.aliases | len -}}
          {{- $.Scratch.Set "aliascount" 1 -}}
          {{- range $i, $e := .Params.aliases -}}
            {{- with $e -}}
              {{- $aliascount := $.Scratch.Get "aliascount" -}}
              {{- if eq $aliascount $aliaslen -}}
                "{{- $i -}}" : "{{- $e -}}"
              {{- else -}}
                "{{- $i -}}" : "{{- $e -}}",
              {{- end -}}
              {{- $.Scratch.Add "aliascount" 1 -}}
            {{- end -}}
          {{- end -}}
        },
        {{- end -}}
        {{- if .Params.weight -}}
        "weight" : "{{- .Params.weight -}}",
        {{- end -}}
        "branch" : {{- $.Scratch.Get "branch" | jsonify -}},
        "filename" : {{- .File.LogicalName | jsonify -}},
        "filepath" : {{- .File.Path | jsonify -}},
        "filepathURL" : {{- printf "https://github.com/%s/%s/blob/%s/content/%s" $.Site.Params.git_org $.Site.Params.git_repo ($.Scratch.Get "branch") .File.Path | jsonify -}},
        "editpathURL" : {{- printf "https://github.com/%s/%s/edit/%s/content/%s" $.Site.Params.git_org $.Site.Params.git_repo ($.Scratch.Get "branch") .File.Path | jsonify -}}
      }
      {{- $.Scratch.Add "i" 1 -}}
      {{- $iterator := $.Scratch.Get "i" -}}
      {{- if not (eq $length $iterator) -}}, {{- end -}}
    {{- end -}}
  {{- end -}}
  ]
}
