{{/* For rendering static files that are stored in S3. */}}
{{/*
  Example:
  {{< asset-static file="2021-ux-summit-designing-with-people-of-all-abilities.pptx" label="View the slides (PowerPoint, 5.7 MB, 26 pages)" >}}

  If link is a button link, use button="true":
  {{< asset-static button="true" file="2021-ux-summit-designing-with-people-of-all-abilities.pptx" label="View the slides (PowerPoint, 5.7 MB, 26 pages)" >}}
*/}}


{{- $cdnurl := .Site.Params.cdnurl -}}

{{- if .Get "file" -}}
  {{- $file := .Get "file" -}}
  {{- $label := .Get "label" -}}

  {{- $fileBaseCDN := printf "%s/static/%s" $cdnurl $file -}}

  <a href="{{ $fileBaseCDN }}" {{- if .Get "button" -}}class="usa-button usa-button--outline"{{- end -}}>{{ $label }}</a>
{{ end }}
