<!-- Card -->

{{- $title := (.Get "title") -}}
{{- $summary := (.Get "summary") -}}
{{- $src := (.Get "src") -}}
{{- $layout := (.Get "layout") -}}

{{- if eq $layout "inline" -}}
<div class="card bg-base-lighter radius-md padding-3 margin-bottom-2 width-card">
{{- else -}}
<div class="card bg-base-lighter radius-md padding-3 margin-bottom-2">
{{- end -}}

  {{- if $title -}}
    <h3 class="margin-0"><a href="{{ $src }}">{{- $title -}}</a></h3>
  {{- end -}}

  {{- if $summary -}}
    <p class="margin-0">{{- $summary -}}</p>
  {{- end -}}
</div>
