<div class="usa-accordion card-policy">

  {{- .Page.Scratch.Add "count" 1 -}}

  <h3 class="usa-accordion__heading">
    <button class="usa-accordion__button"
      title="View {{ .Get "name" | plainify -}}"
      aria-expanded="false"
      aria-controls="card-policy-{{- .Page.Scratch.Get "count" -}}">
      <span class="scroll">
        <svg class="dg-icon dg-icon__margin-bottom-4" aria-hidden="true" focusable="false" role="img"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
        </svg>
      </span>
      <span class="src">
        {{ if (.Get "kicker") -}}<strong class="kicker">{{- .Get "kicker" -}}</strong>{{- end -}}
        {{- .Get "title" | markdownify }}
        {{ if (.Get "pdf") -}}<em>{{- .Get "pdf" -}}</em>{{- end -}}</span>
    </button>
  </h3>

  {{- if .Inner -}}
  <div id="card-policy-{{- .Page.Scratch.Get "count" -}}" class="card-policy-body usa-accordion__content usa-prose">
    {{- .Inner | markdownify -}}

    <a class="src" href="{{- .Get "src" }}" title="View {{ .Get "name" | plainify -}}">
      View the full legislation 
      <svg class="dg-icon dg-icon__margin-bottom-4" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/uswds/img/sprite.svg#arrow_forward"></use>
      </svg>
    </a>
  </div>
  {{- end -}}

</div>
