{{/* Checks is there is inner contet in the shortcode */}}
{{- if .Inner -}}
<div class="card-prompt">
  {{- if (.Get "intro") -}}
    <div class="intro">
      <div class="icon">
        <i class="fas fa-comment-alt fa-flip-horizontal"></i>
      </div>
      <p>{{ .Get "intro" | markdownify -}}</p>
    </div>
  {{- end -}}

  {{- if .Inner -}}
  <div class="prompt">
    {{- .Inner | markdownify -}}
  </div>
  {{- end -}}

  {{- if (.Get "button-text") -}}
  <div class="submit">
    <button class="usa-button"><a href="{{- .Get "button-url" -}}" title="{{- .Get "button-text" -}}">{{- .Get "button-text" -}}</a></button>
    <span></span>
  </div>
  {{- end -}}

  {{/* Fallback text */}}
  {{- if (.Get "fallback") -}}<p class="fallback">{{- .Get "fallback" | markdownify -}}</p>{{- end -}}
</div>
{{- end -}}
