{{/* =========

  See themes/digital.gov/layouts/partials/core/featured-resource.html for documentation notes


  @example with internal link:
  {{< featured-resource link="/guides/dap/" kicker="kicker to display"
>}}
@example with external link:
{{< featured-resource link="https://www.ai.gov" kicker="Visit ai.gov" title="Check out ai.gov" summary="ai.gov is the go to reference for all artifical intelligence in the federal government" >}}

*/}}
{{ $title := (.Get "title") }}
{{ $summary := (.Get "summary") }}
{{ $link := (.Get "link") }}
{{ $kicker := (.Get "kicker") }}

{{ $data := (dict "title" $title "summary" $summary "link" $link "kicker" $kicker ) }}

{{- partial "core/featured-resource.html" (dict "Site" .Site "resource_data" $data ) -}}
