<!-- image -->
{{ $cdnurl := .Site.Params.cdnurl }}
{{ $imgBase := replaceRE "\\.(png|jpg)$" "" (.Get "src") }}
{{ $imgExt := replaceRE "^.+\\.(png|jpg)$" "$1" (.Get "src") }}
{{ $imgBaseCDN := printf "%s/%s" $cdnurl $imgBase }}
{{ $imgLocalProxy := printf "%s/%s" "static/img/proxy" (.Get "src") }}
{{ $imgProxy := printf "%s/%s" "img/proxy" (.Get "src") }}
{{ $imgProxy := absURL $imgProxy }}
{{ $imgWidth := (imageConfig $imgLocalProxy).Width }}
{{ $imgHeight := (imageConfig $imgLocalProxy).Height }}

<picture>
  <source
    srcset="
      {{ $imgBaseCDN }}__gray.webp {{ $imgWidth }}w{{ if gt $imgWidth 200 }},
        {{ if gt $imgWidth 400 }}
          {{ if gt $imgWidth 600 }}
            {{ if gt $imgWidth 800 }}
              {{ if gt $imgWidth 1200 }}
                {{ if gt $imgWidth 1600 }}
                  {{ if gt $imgWidth 2400 }}
                    {{ $imgBaseCDN }}__gray_w2400.webp 2400w,
                  {{ end }}
                  {{ $imgBaseCDN }}__gray_w1600.webp 1600w,
                {{ end }}
                {{ $imgBaseCDN }}__gray_w1200.webp 1200w,
              {{ end }}
              {{ $imgBaseCDN }}__gray_w800.webp 800w,
            {{ end }}
            {{ $imgBaseCDN }}__gray_w600.webp 600w,
          {{ end }}
          {{ $imgBaseCDN }}__gray_w400.webp 400w,
        {{ end }}
        {{ $imgBaseCDN }}__gray_w200.webp 200w
      {{ end }}
      "
    type="image/webp"
    sizes="600px"
    >
  <source
    srcset="
    {{ $imgBaseCDN }}__gray.{{ $imgExt }} {{ $imgWidth }}w{{ if gt $imgWidth 200 }},
      {{ if gt $imgWidth 400 }}
        {{ if gt $imgWidth 600 }}
          {{ if gt $imgWidth 800 }}
            {{ if gt $imgWidth 1200 }}
              {{ if gt $imgWidth 1600 }}
                {{ if gt $imgWidth 2400 }}
                  {{ $imgBaseCDN }}__gray_w2400.{{ $imgExt }} 2400w,
                {{ end }}
                {{ $imgBaseCDN }}__gray_w1600.{{ $imgExt }} 1600w,
              {{ end }}
              {{ $imgBaseCDN }}__gray_w1200.{{ $imgExt }} 1200w,
            {{ end }}
            {{ $imgBaseCDN }}__gray_w800.{{ $imgExt }} 800w,
          {{ end }}
          {{ $imgBaseCDN }}__gray_w600.{{ $imgExt }} 600w,
        {{ end }}
        {{ $imgBaseCDN }}__gray_w400.{{ $imgExt }} 400w,
      {{ end }}
      {{ $imgBaseCDN }}__gray_w200.{{ $imgExt }} 200w
    {{ end }}
      "
    type="image/jpeg"
    sizes="600px"
    >
  <img
    src="{{ $imgBaseCDN }}__bu.{{ $imgExt }}"
    alt="Alt Text!"
    >
</picture>

{{/*
<div {{ if or (.Get "align") (.Get "caption")}}class="{{ with .Get "caption" }}wp-caption{{ end }} {{ with .Get "align" }}align{{.}}{{ end }}"{{ end }}>
  {{ if isset .Params "title" }}
    <h6 class='figure-title'>{{ .Get "title" }}</h6>
  {{ end }}
  {{ with .Get "link"}}<a href="{{ . | absURL }}">{{ end }}
  <img src="{{ if (findRE "^http" (.Get "src")) }}{{ else }}{{ $cdnurl }}{{ .Get "src" }}{{ end }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
  {{ if .Get "link"}}</a>{{ end }}
  {{ with .Get "attr"}}
    <div class="figure-credit">{{ .Get "attr" }}</div>
  {{ end }}
  {{ with .Get "caption" }}
    <p class="wp-caption-text">
      {{ . | markdownify }}
    </p>
  {{ end }}
</div>
*/}}
<!-- image -->
