{{/* Communities of Practice Job Board Shortcode*/}}
{{/* Custom html formatting on communities job board page, connects to job-board.md*/}}
{{/* Job posting information comes from job_board.yml*/}}

<table class="usa-table usa-table--striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Department</th>
            <th scope="col">Description</th>
            <th scope="col">Open Date</th>
            <th scope="col">Close Date</th>
            <th scope="col">Apply</th>
        </tr>
    </thead>
    <tbody>
    {{ range .Site.Data.job_board }}
        <tr>
            <th scope="row">{{ .title }}</th>
            <th scope="row">{{ .department }}</th>
            <th scope="row">{{ .description }}</th>
            <th scope="row">{{ .open_date }}</th>
            <th scope="row">{{ .close_date }}</th>
            <th scope="row">{{ .apply_link }}</th>
        </tr>
    {{ end }}
    </tbody>    
</table>



