<div class="box box-law">
  <div class="law-head">
    <a class="scroll" href="{{- .Get "src" -}}" title="View {{- .Get "name" -}}">
      <i class="fas fa-scroll"></i>
    </a>
    <div class="src">
      <p>
        <a  href="{{- .Get "src" -}}" title="View {{- .Get "name" -}}">{{- .Get "name" | markdownify -}}</a> 
        <span>{{- if (.Get "pdf") -}}{{- .Get "pdf" -}}{{- end -}}</span>
      </p>
    </div>
    </a>
  </div>
  {{- if .Inner -}}
  <div class="law-body">
    {{- .Inner | markdownify -}}
  </div>
  {{- end -}}
</div>
