<!-- image -->
{{ $cdnurl := .Site.Params.cdnurl }}

<div {{ if or (.Get "align") (.Get "caption")}}class="{{ with .Get "caption" }}wp-caption{{ end }} {{ with .Get "align" }}align{{.}}{{ end }}"{{ end }}>
  {{ if isset .Params "title" }}
    <h6 class='figure-title'>{{ .Get "title" }}</h6>
  {{ end }}
  {{ with .Get "link"}}<a href="{{ . | absURL }}">{{ end }}
  <img src="{{ if (findRE "^http" (.Get "src")) }}{{ else }}{{ $cdnurl }}{{ end }}{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
  {{ if .Get "link"}}</a>{{ end }}
  {{ with .Get "attr"}}
    <div class="figure-credit">{{ .Get "attr" }}</div>
  {{ end }}
  {{ with .Get "caption" }}
    <p class="wp-caption-text">
      {{ . | markdownify }}
    </p>
  {{ end }}
</div>
<!-- image -->
