{{ $thisHref := .Get 0 }}
{{ $thisHref := replaceRE "^/" "" $thisHref }}
{{ $.Scratch.Set "thisHref" $thisHref }}
{{ $prefix := replaceRE "^(http[s]://).+$" "$1" $thisHref }}
{{ $suffix := replaceRE "^.+(.{3,3})$" "$1" $thisHref }}
{{ $anchorlink := replaceRE "^.+\\.md(#).+$" "$1" $thisHref }}

{{ if ne $prefix $thisHref }}
  {{/* Process the link as is */}}
{{ else if or (eq $suffix ".md") (eq $anchorlink "#") }}
  {{ if .Site.Params.devmode }}
    {{ $year := replaceRE "^([0-9]{4,4}).+$" "$1" $thisHref }}
    {{ if ne 4 (len $year) }}
      {{ $.Scratch.Set "thisHref" (relref $.Page $thisHref) }}
    {{ else }}
      {{ if ge (int $year) 2017 }}
        {{ $.Scratch.Set "thisHref" (relref $.Page $thisHref) }}
      {{ else }}
        {{ $.Scratch.Set "thisHref" "#0" }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $.Scratch.Set "thisHref" (relref $.Page $thisHref) }}
  {{ end }}
{{ else }}
    {{ $.Scratch.Set "thisHref" ($thisHref | absURL) }}
{{ end }}
{{ $thisHref := $.Scratch.Get "thisHref" }}

{{ $thisHref }}
