{{- $page := .Page -}}

<section class="usa-section" id="resources_by_topic">
  <div class="grid-row">
    <div class="grid-col-12">
      <h2>Related resources</h2>
    </div>
  </div>

{{/* Loops through the parameters passed through the shortcode */}}
{{- range .Params -}}
  {{- $topic := $.Site.GetPage (printf "/topics/%s/_index.md" . ) -}}
  <div class="topic-section">
    <div class="grid-row">
      <div class="grid-col-12">
        <h3>
          <a href="{{- $topic.Permalink | absURL -}}" title="{{- $topic.Title -}}">{{- $topic.Title }}</a>
        </h3>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-12 tablet-lg:grid-col-10">
        {{- $related_pages := $.Site.Pages.RelatedTo ( keyVals "topics" . ) -}}
        {{- $resources := where $related_pages "Section" "resources" -}}
        {{- partial "core/list_related_resources.html" (dict "Page" $page "Resources" $resources) -}}
      </div>
    </div>
    <footer>
      <div class="grid-row">
        <div class="grid-col-12">
          <p class="more">
            <a href="{{- $topic.Permalink -}}">
              <span>More on {{ $topic.Title -}}</span>
              <svg class="dg-icon dg-icon__margin-bottom-4" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-10 1H8v-2h4V8l4 4-4 4v-3z"/>
              </svg>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </div>
  {{- end -}}
</section>
