{{ $variant := (.Get "variant") }}
{{ $icon := "" }}

{{ if eq $variant "Activity" }}
  {{ $icon = "assessment" }}
{{ else if eq $variant "Action" }}
  {{ $icon = "campaign" }}
{{ else if eq $variant "Alert" }}
  {{ $icon = "report" }}
{{ else if eq $variant "Comment" }}
  {{ $icon = "comment" }}
{{ else if eq $variant "Video" }}
  {{ $icon = "fast_forward" }}
{{ else if eq $variant "Who can Join?" }}
  {{ $icon = "groups" }}
{{ else if eq $variant "Note" }}
  {{ $icon = "notifications" }}
{{ else if eq $variant "Disclaimer" }}
  {{ $icon = "info" }}
{{ end }}

{{- $iconPath := (printf "uswds/img/sprite.svg#%s" $icon) -}}


<article class="dg-note {{ if $variant }}{{- $variant | lower -}}{{ end }}">
  <h4 class="dg-note__title">
    <svg
      class=" dg-note__icon usa-icon dg-icon dg-icon--large margin-bottom-05"
      aria-hidden="true"
      focusable="false"
    >
      <use xlink:href="{{ $iconPath | relURL }}"></use>
    </svg>
    {{ $variant }}
  </h4>
  {{- .Inner | markdownify -}}
</article>
