{{/*

Note Shortcode — the following are all the iterations of the "note" shortcode and how to use them.

Note —
{{< note >}}
text goes here...
{{< /note >}}

Activity —
{{< note "activity" >}}
Activity text goes here...
{{< /note >}}

Alert —
{{< note "alert" >}}
Alert text goes here...
{{< /note >}}

Action —
{{< note "action" >}}
Action text goes here...
{{< /note >}}

Comment —
{{< note "alert" >}}
> Comment goes here as a blockquote

additional text goes here...
{{< /note >}}

*/}}

<div class="note {{ if .Get 0 -}}{{- .Get 0 -}}{{- end -}}">
  {{- if and (.Get 0) (eq (.Get 0) "activity") -}}
    <h4>
      <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
        <use xlink:href="{{ "uswds/img/sprite.svg#assessment" | relURL }}"></use>
      </svg> Activity
    </h4>
  {{- else if and (.Get 0) (eq (.Get 0) "action") -}}
    <h4>
      <svg class="usa-icon dg-icon dg-icon--large margin-bottom-05" aria-hidden="true" focusable="false">
        <use xlink:href="{{ "uswds/img/sprite.svg#campaign" | relURL }}"></use>
      </svg> Action
    </h4>
  {{- else if and (.Get 0) (eq (.Get 0) "alert") -}}
    <h4>
      <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
        <use xlink:href="{{ "uswds/img/sprite.svg#report" | relURL }}"></use>
      </svg> Alert
    </h4>
  {{- else if and (.Get 0) (eq (.Get 0) "comment") -}}
    <h4>
      <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
        <use xlink:href="{{ "uswds/img/sprite.svg#comment" | relURL }}"></use>
      </svg> Comment
    </h4>
  {{- else -}}
    <h4>
      <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
        <use xlink:href="{{ "uswds/img/sprite.svg#notifications" | relURL }}"></use>
      </svg> Note
    </h4>
  {{- end -}}

  {{- .Inner | markdownify -}}

  {{- if (.Get "button-text") -}}
  <div class="submit">
    <button class="usa-button"><a href="{{- .Get "button-url" -}}" title="{{- .Get "button-text" -}}">{{- .Get "button-text" -}}</a></button>
    <span></span>
  </div>
  {{- end -}}

</div>
