<!-- prettier-ignore-start -->
{{/* Displays a blue ring around a piece of content in order to highlight it

Can accept nested text based shortcodes like note and box.
Img shortcodes will not render, do not use within ring shortcode

Shortcode usage:
{{< ring title="Case in point">}}
This is a ring shortcode
{{< /ring >}}

With nested shortcodes, text based only:
{{< ring title="Nested text only shortcodes" >}}
{{< note "plain" >}}
**Note Goes Here** More note content goes into here
{{< /note >}}
{{< /ring >}}
*/}}
<!-- prettier-ignore-end -->

{{- $title := (.Get "title") -}}
{{/* Generate a random ID for ally using the md5 function */}}
{{ $randomHeaderID := delimit (shuffle (split (md5 $title) "" )) "" }}


<article class="dg-ring" aria-labelledby="{{ $randomHeaderID }}">
  <h2 id="{{ $randomHeaderID }}" class="dg-ring__title">
    {{- $title -}}
  </h2>
  {{ .Inner | markdownify }}
</article>

<script>
  (function () {
    const resourceContainer = document.querySelector(
      ".usa-in-page-nav-container"
    );
    if (!resourceContainer) return;

    const summaryBox = document.createElement("div");
    summaryBox.classList.add("usa-summary-box");
    summaryBox.setAttribute("role", "region");
    summaryBox.setAttribute("aria-labelledby", "summary-box-key-information");

    const summaryBoxBody = document.createElement("div");
    summaryBoxBody.classList.add("usa-summary-box__body");

    const summaryBoxHeading = document.createElement("h2");
    summaryBoxHeading.classList.add("usa-summary-box__heading");
    summaryBoxHeading.id = "summary-box-key-information";
    summaryBoxHeading.textContent = "On this page";

    const summaryBoxText = document.createElement("div");
    summaryBoxText.classList.add("usa-summary-box__text");

    const tocList = document.createElement("ul");
    tocList.classList.add("usa-list");
    summaryBoxText.appendChild(tocList);

    summaryBoxBody.appendChild(summaryBoxHeading);
    summaryBoxBody.appendChild(summaryBoxText);
    summaryBox.appendChild(summaryBoxBody);

    resourceContainer.insertBefore(summaryBox, resourceContainer.firstChild);

    /**
     * Return a list of h2's and ring shortcode titles to display in the summary box
     * and filter out h2's we do not want to show with the :not selector
     */
    const pageHeaders = document.querySelectorAll(
      "h2:not(.usa-summary-box__heading), .dg-ring__title"
    );

    /**
     * Populate the summary box with bulleted list of links created from the current page's h2's and ring shortcode titles
     */
    function createSummaryBox() {
      const summaryBoxFragment = document.createDocumentFragment();
      pageHeaders.forEach((link) => {
        const summaryListItem = document.createElement("li");
        const summaryLink = Object.assign(document.createElement("a"), {
          class: "usa-summary-box__link",
          href: `#${link.id || link.firstElementChild.id}`,
          innerHTML: `${
            link.textContent || link.firstElementChild.textContent
          }`,
        });
        summaryListItem.appendChild(summaryLink);
        summaryBoxFragment.appendChild(summaryListItem);
      });
      tocList.appendChild(summaryBoxFragment);
    }

    createSummaryBox();
  })();
</script>
