{{ $cdnurl := .Site.Params.cdnurl }}
{{ $legacyPath := "_legacy-img" }}
<table class="tos-list" data-filepath="termsofservice">
  <tr>
    <th>Tool / Service</th>
  </tr>
  {{ range where .Site.Data.termsofservice.termsofservice "status" "==" "inactive" }}
  <tr>
    <td><a href="{{ .url }}" title="{{ .name }}"><img class="favicon" src="https://www.google.com/s2/favicons?domain={{ .url }}" alt="{{ .name }}"> <strong><span>{{ .name }}</span></strong></a> {{ if .description }} — {{ .description -}}{{- end -}}</td>
  </tr>
  {{ end }}
</table>
