// Article

main{

	// Base Article Header Styles
	header.page-header,
	> header,
 	> article > header{
		// @include u-bg('red-10');
		@include u-margin-bottom(4);

		// Breadcrumbs
   	.breadcrumb{
     	@include u-margin-y(2);
     	@include u-text('bold');
     	@include u-font('sans', 'md');
     	a{
       	span{
         	@include u-padding-bottom('2px');
       	}
       	@include u-text('no-underline');
       	&:hover span{
         	border-bottom: 3px #656bd7 solid; // $indigo-40
       	}
     	}
   	}

   	// Page Titles
   	h1{
     	@include u-margin(0);
     	@include u-margin-bottom('2px');
     	@include u-text('heavy');
     	@include u-line-height('sans', 2);
			@include at-media('tablet') {
				@include u-line-height('sans', 2);
			}
   	}

   	// Deck
   	.deck{
			@include u-margin(0);
     	@include u-font('sans', 'lg');
     	@include u-text('light');
     	@include u-text('indigo-warm-80');
			@include u-line-height('sans', 2);
			@include at-media('tablet') {
				@include u-font('sans', 'xl');
				@include u-line-height('sans', 2);
			}
   	}

		p{
			@include u-margin(0);
			@include u-font('sans', 'lg');
		}

 	}


	// Base Article Styles
	article{
		@include u-margin-bottom(5);

		.date{
			@include u-margin-top(3);
			@include u-font('sans', '2xs');
			a{
				@include u-text('gray-cool-60');
				@include u-text('semibold');
				@include u-text('no-underline');
			}
			a:hover{
				border-bottom: 2px #8889db solid; // $indigo-40
			}
		}


		.topics{
			@include u-margin-top(9);
			@include u-margin-bottom(2);
			@include u-font('sans', '2xs');
			@include u-text('normal');
			a{
				@include u-margin-left('2px');
				@include u-text('no-underline');
				@include u-margin-bottom('05');
				@include u-padding-y('2px');
				@include u-padding-x(1);
				@include u-display('inline-block');
				@include u-radius('pill');
				@include u-bg('orange-warm-10');
				@include u-text('orange-warm-80');
				@include u-line-height('sans', 2);
				z-index: 2;
				@include u-position('relative');
				transition: background-color .2s, color .2s;
			}
			a:hover{
				@include u-bg('orange-warm-20');
				@include u-text('orange-warm-80');
			}
		}
	}

}
