// Page lists

.article-list{

  article{
    @include u-margin(0);
    @include u-margin-bottom('105');
    @include u-bg('white');
    @include u-padding(2);
    @include u-radius('md');
    border:1px #e6e6e2 solid;
    border-bottom:1px #afaea2 solid;
    transition: border .2s;

    & > div:first-of-type{
      @include u-margin(0);
      @include u-display('flex');
    }

    .icon{
      @include u-margin-right(2);
      @include u-width(5);
    }

    .content{
      width:91%;
      h3{
        @include u-margin(0);
        @include u-margin-bottom('05');
        @include u-font('sans', 'md');
        @include u-text('bold');
        a{
          @include u-text('no-underline');
          @include u-text('indigo-60');
        }
      }
      h5{
        @include u-margin(0);
        @include u-margin-bottom('05');
        @include u-font('sans', 'sm');
        @include u-text('medium');
        @include u-text('orange-warm-50v');
        span{
          @include u-margin-x('05');
          @include u-text('orange-warm-50v');
        }
      }
      p{
        @include u-margin(0);
        @include u-font('sans', 'md');
        @include u-line-height('sans', 3);
        @include u-measure(3);
        a{
          @include u-text('no-underline');
          @include u-text('black');
        }
        em{
          @include u-text('gray-50');
          @include u-font('sans', '3xs');
        }
        strong{
          @include u-text('indigo-60');
        }
      }
      .deck{
        @include u-text('light');
        @include u-measure(4);
      }
      .authors{
        @include u-margin-top('05');
        @include u-margin-bottom(1);
        @include u-display('inline-block');
      }

      .meta{
        @include u-margin-top(1);
        @include u-font('sans', '3xs');

        .source{
          @include u-margin-right(2);
          @include u-text('medium');
          @include u-text('indigo-60');
          @include u-text('no-underline');
          i{
            @include u-text('gray-60');
          }
          em{
            @include u-text('no-italic');
          }
        }
        .clicks{
          i{
            @include u-text('gold-30v');
          }
          @include u-width(10);
          @include u-display('inline-block');
          @include u-text('gold-40v');
        }
        // Looking for more specifics on the styling?
        // Additional styles are in article.scss
        .topics{
          @include u-margin(0);
          @include u-margin-top('05');
          @include u-font('sans', '3xs');
          @include u-text('left');
          @include u-display('inline-block');
          // max-width: 65%;
          z-index: 2;
        }
      }
    }




    // To make the whole PROMO clickable, we put and additional <a> tag with a <span> tag in the markup that stretches to the full height and width of the element.
    position: relative;
    a span{
      margin: 0;
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left: 0;
      z-index: 1;
    }
    &:hover{
      border:1px #cac9c0 solid;
      border-bottom:1px #929285 solid;
      .content h3 a{
        border-bottom:2px #3d4076 solid;
      }
      .source em{
        border-bottom:1px #3d4076 solid;
      }
    }
    &:last-child{
      // @include u-margin-bottom(0);
    }
  }

  .pagination{
    @include add-list-reset;
    @include u-margin-y(3);
    li{
      @include u-display('inline-block');
      @include u-text('center');
      a{
        padding-top: 6px;
        @include u-text('no-underline');
        @include u-text('indigo-warm-50v');
      	width: 33px;
      	height: 33px;
        @include u-radius('pill');
        @include u-display('block');
        &:hover{
        	background:#e7e3fa; //indigo-warm-10
        }
      }
    }
    li.active a{
    	color:#fff;
    	background:#745fe9; //indigo-warm-50v
    }
  }


}


.list-related{
  @include u-margin-bottom(5);
  h2{
    @include u-margin(0);
    @include u-margin-bottom(2);
    @include u-font('sans', 'lg');
    @include u-text('light');
  }
  h3{
    @include u-margin(0);
    @include u-margin-bottom(2);
    @include u-font('sans', 'lg');
    @include u-text('light');
  }
  h4{
    @include u-margin(0);
    @include u-margin-bottom(1);
    @include u-font('sans', 'sm');
    @include u-text('bold');
  }
  ul{
    @include add-list-reset;
    padding-left: 20px;
    @include u-margin-bottom('05');
    li{
      @include u-margin-bottom('105');
      text-indent: -9px;
      i{
        @include u-margin-right('2px');
      }
      a{
        @include u-text('no-underline');
        @include u-text('bold');
        @include u-font('sans', 'sm');
        &:hover{
          span{
            border-bottom: 1px #e66f0e solid;
          }
        }
      }
    }
  }
  footer{
    p{
      @include u-margin(0);
      @include u-margin-bottom(1);
      @include u-font('sans', 'xs');
      @include u-line-height('sans', 1);
      @include u-text('medium');
      a{
        @include u-text('no-underline');
        @include u-text('indigo-warm-60');
        &:hover{
          span{
            border-bottom: 2px #e66f0e solid;
          }
        }
      }
    }
  }
}
.list-related-communities{
  @include u-bg('gold-5v');
  @include u-padding(2);
  @include u-margin-bottom('05');
}
