// Page lists

.article-list{

  .resources{
    @include u-margin-bottom(5);
    h3{
      @include u-margin(0);
    }
    ul{
      @include add-list-reset;
      padding-left: 20px;
      li{
        @include u-margin-bottom(2);
        text-indent: -9px;
        i{
          @include u-margin-right('2px');
        }
        a{
          @include u-text('no-underline');
          @include u-text('bold');
          @include u-font('sans', 'sm');
        }
      }
    }
  }

  article{
    @include u-bg('gray-warm-5');
    @include u-padding-y(2);
    @include u-padding-x(2);
    @include u-margin-bottom('05');
    h3{
      @include u-margin(0);
      @include u-margin-bottom(1);
      a{
        @include u-text('no-underline');
      }
    }
    h5{
      @include u-margin(0);
      @include u-margin-bottom('05');
      @include u-font('sans', 'sm');
      @include u-text('medium');
      @include u-text('orange-warm-50v');
      span{
        @include u-margin-x('05');
        @include u-text('orange-warm-50v');
      }
    }
    p{
      @include u-margin(0);
      @include u-margin-bottom('2px');
      @include u-font('sans', 'md');
      @include u-line-height('sans', 3);
      @include u-maxw('none');
      img{
        @include u-margin-right('05');
        position: relative;
        top:2px;
        width: 16px;
        height: 16px;
      }
      a{
        @include u-text('no-underline');
        @include u-text('black');
      }
      em{
        @include u-text('gray-50');
        @include u-font('sans', '3xs');
      }
      strong{
        @include u-text('indigo-60');
      }
      .clicks{
        i{
          @include u-text('gold-30v');
        }
        @include u-margin-left('2px');
        @include u-font('sans', '3xs');
        @include u-text('gold-40v');
      }
    }
    .source{
      @include u-font('sans', 'xs');
    }
    .topics{
      @include u-margin(0);
      @include u-margin-top('05');
      @include u-font('sans', '3xs');
      @include u-text('right');
      @include u-display('block');
      // max-width: 65%;
      z-index: 2;
    }

    // To make the whole PROMO clickable, we put and additional <a> tag with a <span> tag in the markup that stretches to the full height and width of the element.
    position: relative;
    a span{
      margin: 0;
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left: 0;
      z-index: 1;
    }
    &:hover{
      @include u-bg('gray-warm-10');
    }
    &:last-child{
      @include u-margin-bottom(0);
    }


    // div{
    //   // @include u-display('flex');
    //   // @include u-flex('align-start');
    //   // @include u-flex('justify');
    //   p{
    //     @include u-font('sans', 'xs');
    //   }
    //   .topics{
    //     @include u-margin(0);
    //     @include u-margin-top('05');
    //     @include u-font('sans', '3xs');
    //     @include u-text('right');
    //     @include u-display('block');
    //     // max-width: 65%;
    //     z-index: 2;
    //   }
    // }

  }
  .pagination{
    @include u-margin-y(3);
    @include add-list-reset;
    li{
      @include u-display('inline-block');
      @include u-text('center');
      a{
        padding-top: 6px;
        @include u-text('no-underline');
        @include u-text('indigo-warm-50v');
      	width: 33px;
      	height: 33px;
        @include u-radius('pill');
        @include u-display('block');
        &:hover{
        	background:#e7e3fa; //indigo-warm-10
        }
      }
    }
    li.active a{
    	color:#fff;
    	background:#745fe9; //indigo-warm-50v
    }
  }


}
