// Page lists


nav.topics-featured{
  @include u-bg('gray-warm-3');
  @include u-text('indigo-80');
  header{
    @include u-padding('105');
    // @include u-bg('indigo-80');
    // @include u-text('gray-1');
    @include u-padding-x(3);
    h4{
      @include u-margin(0);
      @include u-font('sans', 'lg');
      @include u-text('light');
    }
  }

  ul{
    li{
      a{
        @include u-padding-y('2px');
        @include u-padding-x(3);
        @include u-text('semibold');
        @include u-text('no-underline');
        @include u-text('indigo-70');
        @include u-display('block');
        &:hover{
          @include u-bg('indigo-20');
          span{
            border-bottom: 2px #fc906d solid; // $indigo-40
          }
        }
      }
      .active{
        @include u-text('bold');
        @include u-bg('indigo-20');
      }
    }
  }
}

.article-list{
  header{
    @include u-margin-bottom(2);
    h1{
      @include u-margin(0);
      @include u-text('heavy');
    }
    p{
      
    }
  }
  article{
    @include u-padding-y(2);
    border-bottom: 1px #ccc solid;
    &:first-child{
      @include u-padding-top(0);
    }
    &:last-child{
      @include u-padding-bottom(0);
      border-bottom: none;
    }
    header{
      h3{
        @include u-margin(0);
        @include u-margin-bottom(1);
        @include u-font('sans', 'md');
        color:#000;
        @include u-text('heavy');
        @include u-line-height('sans', 2);
        a{
          color:#000;
          @include u-text('no-underline');
        }
      }
      p{
        @include u-margin(0);
        @include u-font('sans', 'xs');
        @include u-line-height('sans', 3);
        @include u-text('light');
      }
    }
    .media {
      img{
        // filter: grayscale(100%);
      }
      &::after {
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #8889db 100%);
        margin-top: -66px;
        height: 60px;
        width: 100%;
        content: '';
      }
    }
    &:hover{
      .media {
        img{
          // -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
          // filter: grayscale(0);
        }
        &::after {
          margin-top: -66px;
          height: 60px;
        }
      }
    }
    footer{
      @include u-margin-top(2);
      @include u-margin-bottom(1);
      @include u-font('sans', '3xs');
      color:#888;
      a{
        color:#888;
        @include u-text('no-underline');
        &:hover{
          @include u-text('underline');
        }
      }
      span{
        @include u-padding-x(1);
      }
    }
  }
}
