// Authors



.authors{
	@include u-margin-top(1);
	.author{
		@include u-margin-bottom(2);
		@include u-padding-top(1);
		border-top: 1px #999 solid;
		.photo{
			@include u-margin-right(1);
		}
		.details{
			h5{
				@include u-margin-y('05');
				@include u-font('sans', 'xs');
				@include u-text('bold');
				@include u-line-height('sans', 1);
				a{
					color:#000;
					@include u-text('no-underline');
				}
				a:hover{
					border-bottom: 2px #fc906d solid;
				}
			}
			p{
				@include u-margin(0);
				@include u-font('sans', '3xs');
			}
		}

	}
}

.community-info{
	.author{
		border-top: none;
	}
}

#author{
	header{
		img.profile{
			@include u-margin-right('105');
			@include u-circle(10);
			border:5px #f0f0ec solid;
		}
		h1{
			@include u-margin-top('105');
			@include u-margin-bottom(0);
		}
		.bio{
			p{
				@include u-margin-top(0);
				@include u-font('sans', 'lg');
			}
			ul{
				li{
					@include u-margin-right(1);
					@include u-font('sans', 'xl');
					@include u-display('inline-block');
					a{
						@include u-text('indigo-80');
					}
				}
			}
		}


	}

}
