.more{
	a{
		@include u-text('no-underline');
		&:hover{
			@include u-border-bottom('2px', 'solid', 'orange-warm-30v');
		}
	}
}
div.more{
	@include u-margin-y(2);
}
p.more {
	@include u-margin-top('05');
	@include u-margin-bottom('105');
	@include u-font('sans', 'sm');
	@include u-text('medium', !important);
}

a.btn{
	@include u-padding-y('105');
	@include u-padding-bottom(2);
	@include u-padding-x(3);
	@include u-display('inline-block');
	@include u-font('sans', 'lg');
	@include u-color('white');
	@include u-text('medium');
	@include u-text('center');
	@include u-text('no-underline');
	@include u-radius('md');
	@include u-bg('indigo-60v');
	i{
		@include u-margin-left('05');
	}
	transition: background-color .2s, border-color .2s;
	&:hover{
		@include u-bg('indigo-70');
	}
}


.actions{
  @include u-margin-bottom(3);
  @include u-display('flex');
  .btn{
    @include u-radius(0);
    @include u-width('auto');
    @include u-font('sans', 'md');
    @include u-padding-x(4);
  }
  .btn-register{
    @include u-text('light');
    @include u-text('uppercase');
  }
	.btn-details{
    @include u-bg('indigo-70');
  }
  .addtocalendar{
    @include u-display('inline-block');
    var{
      @include u-display('none');
    }
    a{
      @include u-padding-x(4);
      @include u-padding-y('105');
      @include u-padding-bottom(2);
      @include u-bg('indigo-80');
      @include u-display('inline-block');
      @include u-text('white');
      @include u-text('no-underline');
      @include u-text('center');
      @include u-font('sans', 'md');
      @include u-text('light');
    }
    ul{
      border: none;
      width: 160px;
      box-shadow: 0 0 5px #AAA;
      @include u-padding(0);
      li{
        @include u-margin(0);
        @include u-text('indigo-90');
        background: none;
        list-style-type: none;
        a{
          @include u-padding-y(1);
          @include u-padding-x(2);
          @include u-text('indigo-80');
          @include u-text('normal');
          @include u-font('sans', 'xs');
          @include u-bg('indigo-10');
          &:hover{
            @include u-bg('indigo-50');
            @include u-text('gray-1');
          }
        }
      }
    }
  }
}

.actions-stacked{
  @include u-display('block');
  .btn{
    @include u-display('block');
    @include u-padding-x(1);
  }
  .addtocalendar {
    @include u-display('block');
    a{
      @include u-display('block');
      @include u-padding-x(1);
    }
  }
}
