// Edit this

.edit-this{
  position: relative;
  @include u-bg('yellow-5');
  .edit_this_btn{
    position: absolute;
    top:-10px;
    right:-10px;
    z-index: 100;
    @include u-bg('gold-20v');
    @include u-text('white');
    @include u-text('no-underline');
    border-radius: 25px;
    padding: 0;
    font-size: 14px;
    width: 15px;
    height: 15px;
    text-align: center;
    -webkit-box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.5);
    box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.5);
    span{
      display: none;
    }
    &:hover{
      background: #fbc036;
      text-decoration: underline;
    }
  }
  &:hover{
    outline: 4px #ffcb00 solid;
    @include u-outline-color('gold-20v');
    z-index: 100;
    .edit_this_btn{
      @include u-display('block');
      width: 40px;
      height: 40px;
      top:-20px;
      right:-20px;
      span{
        display:block;
        position: relative;
        text-indent: 0;
        padding: 9px 6px;
        border:none;
      }
    }
  }
}

.edit_tools{
  position: relative;
  .editor{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    width:70px;
    height:70px;
    display: block;
    border-radius: 40px;
    text-align: center;
    font-size:18px;
    background: #00bde3;
    color: #fff;
    text-decoration: none;
    -webkit-box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.5);
    box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.5);
    &:hover{
      background: #009ec1;
    }
    i{
      position: relative;
      top:0;
      left: 2px;
    }
    &:focus{
      outline: none;
    }
  }
  .active{
    padding: 15px;
    border: 5px #0076d6 solid;
    color: #0076d6;
    background: #fff;
    font-size: 22px;
    &:hover{
      background: #eff6fb;
    }
    i{
      left: 0;
    }
  }
}
