// Events

.events-list{
  .event{
    @include u-margin-bottom(5);
    h2,h3{
      @include u-margin(0);
      @include u-margin-bottom('05');
      @include u-text('bold');
      @include u-font('sans', 'lg');
      a{
        @include u-text('no-underline');
        @include u-text('indigo-90');
        &:hover{
          border-bottom: 3px #656bd7 solid; // $indigo-40
        }
      }
    }
    h5{
      @include u-margin(0);
      @include u-font('sans', 'sm');
      @include u-text('medium');
      @include u-text('orange-warm-50v');
      span{
        @include u-margin-x('05');
        @include u-text('orange-warm-50v');
      }
    }
    p{
      @include u-margin-top(1);
      @include u-font('sans', 'sm');
      @include u-text('light');
      @include u-measure(2);
    }
    .actions{
      .btn{

      }
    }
  }
  .event-past{

  }
}

.event{

  .datetime{
    @include u-margin-y('2');
    @include u-text('semibold');
    span{
      @include u-display('block');
      @include at-media('tablet') {
        @include u-margin-left('105');
  			@include u-display('inline');
  		}
    }

  }
  .host{
    @include u-text('gray-warm-60');
  }
  .stage{
    @include u-margin-bottom(5);
    @include u-bg('gray-warm-5');
    @include u-padding(3);
    .chat-box{
      iframe{
        width:322px;
      }
    }
    .event-tools{
      @include u-padding(1);
      @include u-bg('gray-warm-2');
      .youtube{
        @include u-padding-y(1);
        @include u-padding-x(1);
        @include u-font('sans', 'xs');
        @include u-text('no-underline');
        @include u-radius('md');
        @include u-text('red-50');
        // border:2px #d83933 solid;
        &:hover{
          span{
            border-bottom:2px #d83933 solid;
          }
        }
      }
      .captions{
        @include u-padding-y(1);
        @include u-padding-x(1);
        @include u-font('sans', 'xs');
        @include u-text('no-underline');
        @include u-radius('md');
        @include u-text('indigo-60');
        &:hover{
          span{
            border-bottom:2px #4d52af solid;
          }
        }
      }
      .notice{
        @include u-padding-x(1);
        @include u-font('sans', '3xs');
      }
    }
  }
}

#events-past{
  header h2{
    @include u-margin-y(2);
    @include u-font('sans', 'xl');
    @include u-text('heavy');
  }
}
