// Header

header#header{
	@include u-padding-y(1);
	@include u-border-bottom('1px', 'gray-warm-20', 'solid');
	@include at-media('tablet-lg') {
		@include u-padding-y(1);
	}
	@include u-position('sticky');
	@include u-top(0);
	@include u-z(100);
	@include u-bg('white');

	// Logo
	.logo{
		@include u-margin(0);
		@include u-line-height('sans', 1);
		@include u-display('block');
		@include at-media('tablet-lg') {
		}
		img{
			width:182px;
		}
	}

	#explore{
		@include u-padding-x(2);
		@include u-padding-y(1);
		@include u-border('2px','solid','indigo-warm-60v');
		@include u-radius('sm');
		@include u-text('no-underline');
		@include u-font('sans', 'md');
		@include u-text('semibold');
		@include u-text('indigo-warm-60v');
		@include at-media('desktop') {
			@include u-display('none');
		}
	}

	.contribute{
		@include u-bg('indigo-warm-60v');
		@include u-text('white');
		@include u-border(0);
		@include u-padding-x(2);
		@include u-padding-y(1);
		@include u-radius('md');
		@include u-text('semibold');
		@include u-text('no-underline');
		@include u-font('sans', 'md');
		&:hover{
			span{
				@include u-border-bottom('2px','solid','white');
			}
		}
	}

	// Main Navigation
	nav{
		@include u-margin-top('05');
		@include u-font('sans', 'md');
		@include u-text('normal');
		@include u-text('right');

		// tablet and smaller
		@include u-flex('align-start');
		@include u-flex('justify-start');
		@include u-display('none');

		// tablet and above
		@include at-media('mobile-lg') {
		}
		// tablet-lg and above
		@include at-media('desktop') {
			@include u-margin-top('05');
			@include u-flex('align-start');
			@include u-flex('justify-start');
			@include u-display('block');
			@include u-text('left');
		}
		// tablet-lg and above
		// @include at-media('desktop'){
		// 	@include u-text('right');
		// 	@include u-flex('justify-end');
		// }

		ul{
			@include u-margin(0);
			@include add-list-reset;
			li{
				@include u-display('inline-block');
				@include u-padding-x(2);
				a{
					@include u-padding-bottom(2px);
					@include u-text('indigo-warm-80');
					@include u-text('no-underline');
				}
				a:hover{
					border-bottom: 3px #fc906d solid;
				}
			}
			li:first-child{
				@include u-padding-left(0);
			}
			li:last-child{
				@include u-padding-right(0);
			}
		}

	}
}
