// mobile-nav


#mobile-nav{
  @include u-bg('indigo-80');
  @include u-padding-bottom(10);
  z-index: 20;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  width: 80%;
  color:#fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  @include at-media('tablet'){
    max-width: 325px;
    display: none;
  }
  .close{
    @include u-padding-y(1);
    @include u-padding-x(2);
    @include u-text('white');
    @include u-radius('sm');
    @include u-display('inline-block');
    border: 2px #fff solid;
  }
  header{
    @include u-bg('indigo-90');
    @include u-padding-x(3);
    @include u-padding-y(4);
    .logo{
      @include u-bg('indigo-90');
      @include u-margin-y(0);
      img{
        width: 60%;
      }
    }
  }


  section{
    @include u-bg('indigo-80');
    @include u-font('sans', 'md');
    h4{
      @include u-margin-y(0);
      @include u-padding-x(3);
      @include u-padding-y(3);
      @include u-font('sans', 'lg');
      @include u-text('thin');
    }
    ul{
      @include u-margin-y(0);
      @include u-list-reset;
      li{
        a{
          @include u-padding-x(3);
          @include u-padding-y('105');
          @include u-display('block');
          color:#f7bca2;
          @include u-text('no-underline');
          // span:hover{
          //   border-bottom: 3px #656bd7 solid;
          // }
        }
      }
      li:last-child a{
        border-bottom: none; // $indigo-60
      }
    }


  }
  .main_nav{
    @include u-font('sans', 'md');
    @include u-text('semibold');
    @include u-bg('indigo-80');
    ul{
      li{
        a{
          @include u-padding-y(2);
          color:#fff;
        }
      }
    }
  }
}

#mobile-nav.open{
  width:325px;
  display: block;
}
