// mobile-nav

.mobile-nav{
  @include u-bg('indigo-80');
  @include u-padding-bottom(10);
  z-index: 1;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  margin-left: -85%;
  width: 85%;
  @include u-text('white');
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: margin .2s;
  transition: margin .2s;
  @include at-media('tablet'){
    margin-left: -40%;
    width: 40%;
  }
  > header{
    @include u-bg('indigo-90');
    @include u-padding-x(3);
    @include u-padding-top(5);
    @include u-padding-bottom(4);
    @include u-flex('row');
    @include u-flex('justify-start');
    .logo{
      @include u-bg('indigo-90');
      @include u-margin-y(0);
      img{
        width: 60%;
      }
    }
    .close{
      @include u-padding-y(1);
      @include u-padding-x(1);
      @include u-text('white');
      @include u-radius('sm');
      @include u-display('inline-block');
      @include u-font('sans', 'lg');
      position: absolute;
      top:0;
      right: 0;
    }
  }

  nav{
    @include u-margin-y(2);
    @include u-bg('indigo-80');
    @include u-text('gray-1');
    @include u-font('sans', 'md');
    h4{
      @include u-margin-y(0);
      @include u-font('sans', 'md');
      @include u-text('normal');
      i{
        @include u-display('inline');
      }
    }
    ul{
      @include u-margin-y(0);
      @include add-list-reset;
      li{
        a{
          @include u-padding-x(3);
          @include u-padding-y(1);
          @include u-display('block');
          @include u-text('light');
          @include u-text('orange-warm-20v');
          @include u-text('no-underline');
          @include u-font('sans', 'sm');
          &:hover{
            @include u-bg('indigo-80');
          }
          // span:hover{
          //   border-bottom: 3px #656bd7 solid;
          // }
        }
      }
      li:last-child a{
        border-bottom: none; // $indigo-60
      }
    }


  }
  .main_nav{
    @include u-bg('indigo-80');
    ul{
      @include u-margin-y('105');
      li{
        a{
          @include u-font('sans', 'md');
          @include u-text('medium');
          @include u-padding-y('105');
          color:#fff;
        }
      }
    }
  }
}
