// Newsletter

#newsletter{
  // @include u-bg('gray-10');
  .blurb{
    @include u-font('sans', 'lg');
    @include u-text('light');
    @include u-line-height('sans', 3);
  }
  .info{
    @include u-font('sans', '2xs');
    @include u-text('medium');
    @include u-line-height('sans', 2);
    color:#888;
  }
  form{
    // @include u-margin-y(3);
    input{
      @include u-width('full');
  		@include u-height(6);
  		@include u-font('sans', 'lg');
  		@include u-text('light');
  		@include u-border(1px);
  		@include u-border-right(0);
  		@include u-padding-left('105');
  		// @include u-radius('sm');
  		border-radius: 2px 0 0 2px;
    }
    button{
  		@include u-margin-top(0);
  		padding: 0 12px;
  		vertical-align: top;
  		@include u-font('sans', 'md');
  		@include u-height(6);

  		// @include u-border(1px);
  		border: 1px #000 solid;
  		@include u-border-left(0);
  		// @include u-radius('sm');
  		border-radius: 0 2px 2px 0 ;


  		// tablet-lg and above
  		@include at-media('tablet-lg') {
  			position:inherit;
  			left:0;
  		}
  		img{
  			width: 36px;
  			position: relative;
  			top:3px;
  		}
  	}
  	button:hover{
  		background: #efefef;
  	}
  }
}
