// Newsletter

#newsletter{
  @include u-bg('indigo-70');
  section{
    @include u-padding-y(5);
  }
  h2{
    @include u-margin(0);
    @include u-margin-bottom('105');
    @include u-font('sans', 'lg');
    color:#fff;
  }
  .blurb{
    @include u-font('sans', 'lg');
    @include u-text('light');
    @include u-line-height('sans', 3);
    color:#fff;
  }
  .info{
    @include u-font('sans', '2xs');
    @include u-text('medium');
    @include u-line-height('sans', 2);
    color:#fff;
    a{
      color:#fff;
    }
  }
}

#newsletter_signup{
  // @include u-margin-y(3);
  input,
  button{
    @include u-height(5);
    @include u-font('sans', 'md');
  }
  input{
    @include u-width('full');
    @include u-text('light');
    border-color: #3d4076;
    @include u-border(1px);
    @include u-border-right(0);
    @include u-padding-left('105');
    // @include u-radius('sm');
    border-radius: 2px 0 0 2px;
    color: #4d52af;
  }
  button{
    @include u-margin-top(0);
    padding: 0 12px;
    vertical-align: top;
    @include u-font('sans', 'md');

    // @include u-border(1px);
    border: 1px #000 solid;
    @include u-border-left(0);
    // @include u-radius('sm');
    border-radius: 0 2px 2px 0 ;

    &:hover{
      @include u-bg('blue-30v');
    }

    // tablet-lg and above
    @include at-media('tablet-lg') {
      position:inherit;
      left:0;
    }
    img{
      width: 36px;
      position: relative;
      top:3px;
    }
  }
}
