
.paper{
  @include u-bg('white');
  -webkit-transition: margin .2s;
  transition: margin .2s;
  z-index: 5;
  position: relative;
}
.paper.open{
  width: 100%;
  position: fixed;
  margin-left: 85%;
  @include at-media('tablet') {
    margin-left: 40%;
  }
}

.paper .mobile-nav{
  margin-left: -85%;
  @include at-media('tablet') {
    margin-left: -40%;
  }
  -webkit-transition: margin .2s;
  transition: margin .2s;
}

.paper.open .mobile-nav{
  margin-left: 0;
}

.paper .screen{
  display: none;
  -webkit-box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.5);
}
.paper.open .screen{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: block;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
}


body > .paper.testing{
  @include u-bg('white');

  @include at-media('card'){
    @include u-bg('red-warm-20');
  }
  @include at-media('card-lg'){
    @include u-bg('red-20');
  }
  @include at-media('mobile'){
    @include u-bg('red-cool-20');
  }
  @include at-media('mobile-lg'){
    @include u-bg('blue-warm-20');
  }
  @include at-media('tablet'){
    @include u-bg('orange-20');
  }
  @include at-media('tablet-lg'){
    @include u-bg('gold-20');
  }
  @include at-media('desktop'){
    @include u-bg('yellow-20');
  }
  @include at-media('desktop-lg'){
    @include u-bg('green-warm-20');
  }
}
