// Homepage — https://digital.gov/
.home, .topics.taxonomy{
  #posts_featured{
    .paper{
      @include u-padding-y(1);
      @include at-media('tablet') {
        @include u-padding-y(3);
      }
      @include u-bg('gray-warm-5');
    }
    header.header-posts{
      @include u-padding-y(2);
      h2{
        @include u-font('sans', 'xl');
        @include at-media('tablet') {
          @include u-font('sans', '2xl');
        }
      }

      .newsletter{
        // @include u-margin-top(0);
        // @include u-padding-y(1);
        p{
          @include u-font('sans', 'md');
        }
        a{
          // @include u-padding('105');
          @include u-radius('md');
          // @include u-border('2px', 'indigo-warm-60v', 'solid');
        }
      }

    }
  }
}

// All posts page — https://digital.gov/posts/
.posts.section{
  .paper{
    @include u-bg('gray-warm-5');
  }
}

// header styles that apply to both places
header.header-posts{
  @include u-padding-bottom(2);
  @include u-text('indigo-warm-80');
  h1, h2{
    @include u-margin-y(1);
    @include u-text('heavy');
    @include u-text('center');
    @include u-line-height('sans', 2);
    @include u-font('sans', 'xl');
    @include at-media('tablet') {
      @include u-font('sans', '2xl');
    }
  }
  .deck, p{
    @include u-margin(0);
    @include u-text('light');
    @include u-text('center');
    @include u-maxw('none');
    @include u-font('sans', 'md');
    @include u-line-height('sans', 3);
    @include at-media('tablet') {
      @include u-font('sans', 'lg');
    }
  }

  .newsletter{
    p{
      @include u-padding-x(0);
      @include u-font('sans', 'xs');
      @include at-media('tablet') {
        @include u-padding-x('205');
        @include u-font('sans', 'sm');
      }
      a{
        @include u-text('no-underline');
        @include u-text('indigo-warm-60v');
        @include u-text('bold');
        img{
          @include u-position('relative');
          @include u-top('05');
          @include u-width(3);
          @include at-media('tablet'){
            @include u-top(1);
            @include u-width(4);
          }
        }
        &:hover{
          span{
            @include u-border-bottom('2px', 'orange-warm-30v', 'solid');
          }
        }
      }
    }


  }
}
