// Related Communities

#related_communities {
  @include u-margin-top(5);
	header{
		@include u-margin(0);
		h3{
			@include u-margin(0);
      @include u-font('sans', 'xs');
		}
	}

  article.promo{
    @include u-margin-bottom(1);
		// @include u-bg('gray-warm-4');
		h3{
			@include u-font('sans', '2xs');
      @include u-text('gold-30v');
      z-index: 1;
      a{
        @include u-text('orange-warm-90');
      }
		}
    .members{
      @include u-margin(0);
      @include u-padding-y('05');
      @include u-text('violet-warm-50v');
      @include u-font('sans', '3xs');
      @include u-text('semibold');
      @include u-text('right');
      vertical-align:middle;
      display: table-cell;
    }
  }
  footer{
    h5{
      @include u-margin(0);
      a{
        @include u-text('normal');
        @include u-text('no-underline');
        &:hover{
          border-bottom: 2px #914734 solid; // $indigo-40
        }
      }
    }
  }
}
