// Related Communities

.related_communities{
	@include u-bg('gold-20v');
	@include u-padding(2);
	@include u-padding-bottom(3);
	h5{
		@include u-margin(0);
		@include u-font('sans', 'md');
		color: #914734; // orange-warm-60
	}
	ul{
		@include u-margin(0);
		@include u-list-reset;
		.community{
			@include u-margin-bottom('05');
			@include u-font('sans', '2xs');
			@include u-text('semibold');
			color: #633a32; // orange-warm-60
			a{
				color: #633a32; // orange-warm-40
				@include u-text('no-underline');
			}
			a:hover{
				border-bottom: 2px #8889db solid; // $indigo-40
			}
		}
	}

}
