// Serach Bar

.search-bar{
	@include u-margin-bottom(4);
	h3{
		@include u-margin(0);
		@include u-margin-bottom(2);
		@include u-font('sans', '2xl');
		@include u-text('thin');
		@include u-text('center');
		@include u-text('indigo-warm-80');
	}
	.search-promo{
		@include u-margin-y('05');
		@include u-margin-x('05');
		@include u-font('sans', '3xs');
		strong{
			@include u-text('indigo-warm-60');
		}
		@include u-text('orange-40');
	}
}

.search_form{
	// box-shadow: 0 0 2pt 1pt #9287d8;
	@include u-width('full');
	@include u-margin-top(3);
	// tablet and smaller
	// tablet and above
	@include at-media('tablet') {
		@include u-margin-top(0);
	}
	// tablet-lg and above
	@include at-media('tablet-lg') {
		// @include u-maxw('mobile-lg');
	}

	.search_field{
		// box-shadow: 0 0 2pt 1pt #9287d8;
		@include u-width('full');
		@include u-height(6);
		@include u-font('sans', 'lg');
		@include u-text('light');
		@include u-text('black');
		@include u-padding-left('105');
		@include u-padding-bottom('05');
		@include u-radius-left('lg');
		@include u-border('2px');
		@include u-border-right(0);
		@include u-border('solid');
		@include u-border-color('indigo-warm-70');

		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		  @include u-text('gray-cool-70');
		  opacity: 1; /* Firefox */
		}

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  @include u-text('gray-cool-70');
		}

		&::-ms-input-placeholder { /* Microsoft Edge */
		  @include u-text('gray-cool-70');
		}
	}

	button{
		@include u-margin-top(0);
		padding: 0 12px;
		vertical-align: top;
		@include u-font('sans', 'md');
		@include u-height(6);

		@include u-radius-right('lg');
		@include u-border('2px');
		@include u-border-left(0);
		@include u-border('solid');
		@include u-border-color('indigo-warm-70');

		&:hover{
			@include u-bg('indigo-warm-40v');
		}

		// tablet-lg and above
		@include at-media('tablet-lg') {
			position:inherit;
			left:0;
		}
		img{
			width:1.62em;
			position: relative;
			top:2px;
		}
	}
}
