

.stream{
	article{
		@include u-padding(4);
		@include u-radius('lg');
		@include u-bg('gray-warm-5');
		h3{
			@include u-font('sans', 'lg');
			a{
				@include u-color('black');
				@include u-text('no-underline');
			}
		}
		.deck{
			@include u-margin-top(1);
			@include u-font('sans', 'md');
			@include u-text('light');
		}
		.meta{
			@include u-margin-top(1);
			.authors{
				@include u-margin-top(0);
				@include u-maxw('full');
				@include u-display('flex');
				@include u-flex('wrap');
				a.author{
					@include u-margin-top(1);
					@include u-margin-right('105');
					z-index: 2;
				}
			}
			.topics{
				@include u-margin-top(0);
			}
			.clicks{
				@include u-margin-top(1);
				@include u-font('sans', 'xs');
				@include u-display('inline-block');
				@include u-text('gold-40v');
				i{
					@include u-text('gold-30v');
				}
			}
		}

		// To make the whole PROMO clickable, we put and additional <a> tag with a <span> tag in the markup that stretches to the full height and width of the element.
    position: relative;
    & > a span{
      margin: 0;
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left: 0;
      z-index: 1;
    }
    &:hover{
      .content h3 a{
				@include u-border-bottom('05', 'orange-warm-30v', 'solid');
      }
      .topics{
        a{
          @include u-bg('orange-warm-10');
          &:hover{
            @include u-bg('orange-warm-20');
          }
        }

      }
    }

	}
}
