
.stream{
	article{
		@include u-padding(4);
		@include u-radius('lg');
		@include u-bg('gray-warm-4');
		h3{
			@include u-font('sans', 'lg');
			a{
				@include u-color('black');
				@include u-text('no-underline');
			}
		}
		.deck{
			@include u-margin-top(1);
			@include u-font('sans', 'md');
			@include u-text('light');
		}
		.meta{
			@include u-margin-top(1);
			.authors{
				@include u-margin-top(0);
				@include u-maxw('full');
				@include u-display('flex');
				@include u-flex('wrap');
				a.author{
					@include u-margin-top(1);
					@include u-margin-right('105');
					z-index: 2;
				}
			}
			.topics{
				@include u-margin-y(0);
			}
			.clicks{
				@include u-padding-x('05');
				@include u-font('sans', 'xs');
				@include u-display('inline-block');
				@include u-text('gold-40v');
				i{
					@include u-text('gold-30v');
				}
			}
		}
		.entry-featured::after {
			@include u-display('block');
		  @include u-position('relative');
		  background-image: linear-gradient(to bottom, transparent 0%, rgba(165, 168, 232, 0.6) 100%);
		  margin-top: -154px;
		  height: 150px;
		  @include u-width('full');
		  content: '';
		}

		// To make the whole PROMO clickable, we put and additional <a> tag with a <span> tag in the markup that stretches to the full height and width of the element.
		@include u-position('relative');
    & > a span{
      @include u-margin(0);
			@include u-position('absolute');
			@include u-width('full');
			@include u-height('full');
			@include u-top(0);
			@include u-left(0);
      z-index: 1;
    }
    &:hover{
      .content h3 a{
				@include u-border-bottom('05', 'orange-warm-30v', 'solid');
      }
      .topics{
        a{
          @include u-bg('orange-warm-20');
          &:hover{
            @include u-bg('orange-warm-30');
          }
        }
      }
    }
	}
}
