
// List of Topic buttons
.topic-buttons{
  @include u-padding-bottom(2);
  // Topic button style
  .topic{
    @include u-margin-bottom('105');
    h3{
      @include u-margin(0);
      a{
        @include u-padding-y(1);
        @include u-padding-x(2);
        @include u-padding-right('105');
        @include u-font('sans', 'md');
        @include u-text('medium');
        @include u-bg('white');
        @include u-text('indigo-warm-60v');
        border: 1px #745fe9 solid;
        @include u-radius('sm');
        @include u-display('block');
        transition: background-color .5s, color .5s;
        span{
          float: right;
          transition: margin .4s;
          margin-right: 10px;
          @include u-text('gray-1');
        }
        &:hover{
          @include u-bg('indigo-warm-60v');
          @include u-text('gray-1');
          border: 1px #5942d2 solid;
          span{
            margin-right: 0;
          }
        }
      }
    }
  }
}
