// topics


.topic{
  @include u-margin-bottom(1);
  // @include u-bg('indigo-10');
  h3{
    @include u-margin(0);
    @include u-font('sans', 'lg');
    @include u-text('semibold');
    a{
      @include u-padding(2);
      border: 1px #656bd7 solid;
      @include u-radius('md');
      color:#656bd7;
      @include u-display('block');
      &:hover{
        color:#2b2c40;
        border: 1px #2b2c40 solid;
      }
    }
  }
}

.topic-slim{
  h3{
    @include u-font('sans', 'md');
    @include u-text('medium');
    a{
      @include u-padding-y(1);
    }
  }
}
