
// List of Topic buttons
.topic-buttons{
  @include u-padding-bottom('105');
  @include at-media('tablet') {
    @include u-padding-bottom(2);
  }
  h2 {
    @include u-margin-bottom(2);
    @include u-font('sans', 'md');
    @include u-text('semibold');
  }
  // Topic button style
  .topic{
    @include u-margin-bottom('105');
    h3{
      @include u-margin(0);
      a{
        @include u-overflow('auto');
        white-space:nowrap;
        @include u-padding-y(1);
        @include u-padding-x(1);
        @include at-media('tablet') {
          @include u-padding-left(2);
    		}
        @include u-font('sans', 'md');
        @include u-text('medium');
        @include u-bg('white');
        @include u-text('indigo-warm-60v');
        border: 1px #745fe9 solid;
        @include u-radius('sm');
        @include u-display('block');
        transition: background-color .5s, color .5s;
        span{
          @include u-float('right');
          transition: margin .4s;
          margin-right: 10px;
          @include u-text('gray-1');
          @include u-display('none');
          @include at-media('tablet-lg') {
            @include u-display('block');
      		}
        }
        &:hover{
          @include u-bg('indigo-warm-60v');
          @include u-text('gray-1');
          border: 1px #5942d2 solid;
          span{
            margin-right: 0;
          }
        }
      }
    }
  }
}
