// training and events

#training-events{
  @include u-padding-y(5);
  @include u-padding-bottom(6);
  @include u-bg('gray-warm-1');


  .featured_event{
    @include u-bg('indigo-5');
    @include u-margin-bottom(1);
    @include u-padding(1);
    .date{
      @include u-bg('gray-1');
      @include u-text('center');
      @include u-padding-y('05');
      .month{
        @include u-display('block');
        @include u-font('sans', '2xs');
        @include u-text('bold');
        @include u-text('uppercase');
      }
      .day{
        @include u-display('block');
        @include u-font('sans', 'xl');
        @include u-line-height('sans', 2);
        @include u-text('thin');
      }
    }
    .register{
      @include u-text('center');
      @include u-text('uppercase');
      @include u-font('sans', '2xs');
      a{
        @include u-bg('indigo-50v');
        @include u-display('block');
        @include u-padding-y('2px');
        @include u-text('no-underline');
        color: #fff;
        &:hover{
          @include u-bg('indigo-60v');
        }
      }
    }
    header{
      h3{
        @include u-margin(0);
        @include u-font('sans', 'xs');
        @include u-line-height('sans', 3);
        a{
          @include u-text('no-underline');
          color: #000;
          &:hover{
            border-bottom: 2px #914734 solid; // $indigo-40
          }
        }
      }
      p{
        @include u-margin(0);
        @include u-font('sans', '2xs');
      }
    }

  }
}
