<div class="row team-listing">
  <div class="col-xs-12 col-sm-6">
    <strong>Justin Herman</strong>, SocialGov, Artificial Intelligence, Virtual/Augmented Reality <br/>
    <strong>Jacob Parcell</strong>, MobileGov <br/>
    <strong>Amy Wilson</strong>, Better Government <br/>
    <strong>Katherine Spivey</strong>, Plain Language and Information Network <br/>
    <strong>Simchah Suveyke-Bogin & Annabel Berman</strong>, Customer Experience <br/>
    <strong>Jean Fox & Silvia Salazar</strong>, User Experience <br/>
    <strong>Alycia Piazza</strong>, Web Content Managers
  </div>
  <div class="col-xs-12 col-sm-6">
    <strong>Tammy White</strong>, Challenges & Prizes <br/>
    <strong>Jay Benforado & Sophia B. Liu</strong>, Crowdsourcing & Citizen Science <br/>
    <strong>Logan Powell & Bill Brantley</strong>, Agile/Lean<br/>
    <strong>Bryce Spivey</strong>, Video Production Pros<br/>
    <strong>Tim Cossairt</strong>, Government Contact Center Council (G3C) <br/>
    <strong>Carolyn Fleming-Williams</strong>, Community Solutions
    <strong>Laura Godfrey</strong>, Multilingual Digital Group
  </div>
</div>
