
{% capture img-base-url %}{{ site.baseurl }}/assets/img/dist/{{ include.img }}{% endcapture %}

<picture>
  <!-- webp images -->
  <source type="image/webp" srcset="{{ img-base-url }}-1200w.webp, {{ img-base-url }}-2400w.webp 2x" media="(min-width: 1200px)">
  <source type="image/webp" srcset="{{ img-base-url }}-800w.webp, {{ img-base-url }}-1600w.webp 2x" media="(min-width: 800px)">
  <source type="image/webp" srcset="{{ img-base-url }}-600w.webp, {{ img-base-url }}-600w.webp 2x">
  <!-- jpeg images -->
  <source srcset="{{ img-base-url }}-1200w.jpg, {{ img-base-url }}-2400w.jpg 2x" media="(min-width: 1200px)">
  <source srcset="{{ img-base-url }}-800w.jpg, {{ img-base-url }}-1600w.jpg 2x" media="(min-width: 800px)">
  <img srcset="{{ img-base-url }}-600w.jpg, {{ img-base-url }}-600w.jpg 2x" alt="{{ include.alt }}">
</picture>
