<section id="search-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <div class="box-row">
          <form accept-charset="UTF-8" action="https://find.digitalgov.gov/search" id="search_form" method="get" class="usa-search usa-search-big">
            <div role="search">
              <input name="utf8" type="hidden" value="✓">
              <input id="affiliate" name="affiliate" type="hidden" value="digitalgov">
              <input autocomplete="off" class="usagov-search-autocomplete" id="search-field-big" name="query" type="search">
              <input name="commit" type="submit" value="Search">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
