<section id="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <a class="btn-share btn-share-twitter" href="#" title=""><i class="fa fa-twitter"></i></a>
          <a class="btn-share btn-share-facebook" href="#" title=""><i class="fa fa-facebook"></i></a>
          <a class="btn-share btn-share-youtube" href="#" title=""><i class="fa fa-youtube"></i></a>
          <a class="btn-share btn-share-rss" href="#" title=""><i class="fa fa-rss"></i></a>
          <span></span> 
          <a class="btn-share btn-share-question" href="#" title=""><i class="fa fa-question"></i></a>
          <a class="btn-share btn-share-envelope-o" href="#" title=""><i class="fa fa-envelope-o"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>