.card-policy{
	@include u-margin-bottom(1);
	button{
		@include u-padding-y('105');
		@include u-padding-left(7);
		@include u-text('medium');
		@include u-text('gold-80');
		@include u-line-height('serif', 3);
		@include u-position('relative');
		@include u-bg('gold-10');
		@include u-font('sans', 'xs');
		@include u-radius('sm');
		.scroll{
			@include u-padding-x('105');
			@include u-position('absolute');
			@include u-top(0);
			@include u-left(0);
			@include u-height('full');
			@include u-display('flex');
			@include u-flex('align-center');
			@include u-text('white');
			@include u-bg('gold-50');
			@include u-radius-left('sm');
		}
		.kicker{
			@include u-margin-bottom('05');
			@include u-display('block');
			@include u-text('uppercase');
			@include u-text('light');
			@include u-font('sans', '2xs');
		}
		.src{
			em{
				@include u-margin-left('2px');
				@include u-text('base-dark');
				@include u-text('italic');
				@include u-text('normal');
			}
		}
		&:hover{
			@include u-bg('gold-20');
			.scroll{
				@include u-bg('gold-60');
			}
		}
	}
	.card-policy-body{
		@include u-padding-y(2);
		@include u-padding-x(4);
		@include u-padding-left(8);
		@include u-bg('gold-5');
		@include u-text('gold-80');
		@include u-radius-bottom('sm');
		@include u-font('serif', '2xs');
		@include u-line-height('serif', 5);
		@include at-media('tablet-lg') {
			@include u-padding-x(7);
		}
		blockquote{
			@include u-margin(0);
			@include u-padding(0);
			@include u-padding-left(2);
			@include u-border-left('2px', 'base', 'solid');
			@include u-text('base');
			@include u-bg('gold-5');
		}
		.src{
			@include u-font('sans', '2xs');
			@include u-text('gold-80');
			@include u-text('medium');
		}
	}
}
