{{ define "content" }}
  {{/* Gets all communities pages */}}
  {{ $communities := (where .Site.Pages "Section" "communities").ByTitle }}
  {{ $communities = (where $communities ".Params.weight" "ge" 1) }}
  {{ $dg_communities := (where $communities ".Params.dg_highlight" "eq" true) }}
  {{ $other_communities := (where $communities ".Params.dg_highlight" "!=" true) }}


  <main role="main" id="main-content">
    <div class="grid-container grid-container-desktop usa-section">
      <div class="grid-row tablet-lg:grid-gap-4">
        <div class="grid-col-12">
          <header class="page-head page-head-{{- .Type -}}">
            <h1>{{- .Title | markdownify -}}</h1>
            {{- if .Params.deck -}}
              <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}
          </header>
        </div>
      </div>
    </div>

    {{/* Digital.gov Communities of Practice */}}
    <section class="grid-container-desktop">
      {{ partial "core/featured-communities.html" (dict "data" $dg_communities ) }}
    </section>

    <section class="usa-section">
      <div class="grid-container-desktop">
        <div class="grid-row tablet-lg:grid-gap-2">
          <div class="grid-col-12">
            <ul class="usa-card-group">
              {{ range $dg_communities }}
                <li
                  class="usa-card tablet:grid-col-4 {{ if .Params.dg_acronym }}
                    cop-card--{{ .Params.dg_acronym }}
                  {{ end }}"
                >
                  <div class="usa-card__container">
                    <div class="usa-card__header">
                      <h2 class="usa-card__heading">
                        {{- .Params.dg_shortname | markdownify -}}
                      </h2>
                    </div>
                    <div class="usa-card__body">
                      <p>{{- .Params.summary | markdownify -}}</p>
                    </div>
                    <div class="usa-card__footer">
                      <a
                        class="usa-button"
                        href="{{- .Permalink -}}"
                        title="{{- .Params.dg_shortname -}}"
                      >
                        Connect with <br />{{ .Params.dg_shortname }}
                      </a>
                    </div>
                  </div>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </section>

    {{/* Other Communities of Practice */}}
    <div class="grid-container grid-container-desktop">
      <div class="grid-row tablet-lg:grid-gap-4">
        <div class="grid-col-12">
          <header class="page-head page-head-{{- .Type -}}">
            {{/* Page Title */}}
            <h2>Other Communities of Practice</h2>

            <div class="deck">
              These communities are not managed by Digital.gov, but are listed
              here <br />because they overlap with
              <a class="usa-link" href="{{- "/about/" | relURL -}}"
                >our mission</a
              >.
            </div>
          </header>
        </div>
      </div>
    </div>

    <section class="usa-section">
      <div class="grid-container-desktop">
        <ul class="communities-of-practice--list usa-collection">
          {{ range $other_communities }}
            <li class="usa-collection__item">
              <div class="usa-collection__body">
                <h2 class="usa-collection__heading">
                  <a
                    class="usa-link {{ if .Params.redirectto }}
                      usa-link--external
                    {{ end }}"
                    href="{{- .Permalink -}}"
                    title="{{- .Title | markdownify -}}"
                  >
                    {{- .Title | markdownify -}}
                  </a>
                </h2>
                <p class="usa-collection__description">
                  {{- .Params.summary | markdownify -}}
                </p>
              </div>
            </li>
          {{ end }}
        </ul>
      </div>
    </section>
  </main>
{{ end }}
