{{ define "content" }}

<main role="main" class="page">

  <article>
    <div class="grid-container grid-container-desktop">

      <div class="grid-row">
        <div class="grid-col-12">
          <header>

            <h6 class="breadcrumb"><a href="{{ .Parent.Permalink }}" title="{{ .Parent.Title }}"><i class="fas fa-arrow-left"></i> <span>{{ .Parent.Title }}</span></a></h5>
            {{/* Page Title */}}
            <h1>{{ .Title | markdownify }}</h1>

            {{/* Deck */}}
            {{- if .Params.deck -}}
            <div class="deck font-sans-xl text-light">{{- .Params.deck -}}</div>
            {{- end -}}
            {{/* {{ partial "last-updated" . }} */}}
          </header>
        </div>
      </div>

      <div class="grid-row grid-gap-4">

        <div class="grid-col-12 tablet-lg:grid-col-8">
          <div class="content">
            {{ .Content }}
          </div>
        </div>

        <div class="grid-col-12 tablet-lg:grid-col-4">
          <section class="community-info {{ .Params.community_type -}}">

            {{ if eq .Params.community_type "listserv" }}
            <a href="#" class="join"><i class="fas fa-envelope"></i> Join by email</a>
            <div>
              <p>To join, send an email to <strong>{{ .Params.subscribe_email }}</strong> with <code>{{ .Params.subscribe_subject }}</code> in the subject.</p>
              {{ if .Params.community_terms }}
              <p class="terms"><em>{{ .Params.community_terms }}</em></p>
              {{ end }}
            </div>
            {{ end }}

            {{ if eq .Params.community_type "google-group" }}
            <a href="#" class="join"><i class="fab fa-google"></i> Join the Google Group</a>
            <div>
              <p>To join, visit the <a href="{{ .Params.subscribe_url }}" title="{{ .Title }}">Google Group</a> and sign up for the mailing list.</p>
              {{ if .Params.community_terms }}
              <p class="terms"><em>{{ .Params.community_terms }}</em></p>
              {{ end }}
            </div>
            {{ end }}

          </section>
        </div>

      </div>

      <div class="grid-row grid-gap-6">
        <div class="grid-col-12">
          {{ partial "core/feedback" (dict "page" . "page_type" "guide" "branch" ($.Scratch.Get "branch")) }}
        </div>
      </div>

    </div>
  </article>
</main>

{{ end }} {{/* end 'content' block */}}
