{{- define "content" -}}
  {{ $community_acronym := .Params.dg_acronym }}
  {{ $community_join_copy := "" }}
  {{ range .Params.community_list }}
    {{ $community_join_copy = .subscribe_email_subject }}
  {{ end }}
  <main role="main" id="main-content">
    <article class="grid-container-desktop">
      {{- partial "partials/core/usa-breadcrumbs.html" . -}}
      <header>
        {{- partial "partials/core/page-header.html" (dict "title" .Params.title "deck" .Params.deck "append_title_text" "Community") -}}
      </header>

      <section class="usa-in-page-nav-container">
        <aside
          class="usa-in-page-nav"
          data-title-heading-level="h3"
          data-root-margin="-350px 0px -350px 0px"
        ></aside>
        <div>
          {{- if .Params.summary -}}
            <div class="content usa-prose">
              <p>{{- .Params.summary | markdownify -}}</p>

              {{- if .Params.community_list -}}
                <section
                  class="join-community-form join-community-form--{{ $community_acronym }}"
                >
                  <div class="join-community-form__header">
                    <img
                      src="{{ (printf "%s/%s" "img" .Params.dg_logo | relURL) }}"
                      alt=""
                    />
                    <h3>Connect with us</h3>
                  </div>
                  <div class="join-community-form__body">
                    <p>
                      Federal, state, territorial, tribal, and local government employees and contractors are eligible to join.
                    </p>
                    <p>
                      Select "{{ $community_join_copy }}," then a form will ask
                      for your name and email address. The form should take most
                      people a minute or less to complete.
                    </p>
                    {{/* Get the form link */}}
                    <a
                      class="usa-button"
                      href="https://feedback.gsa.gov/jfe/form/SV_3dwvggn0tq8HIzk"
                    >
                      {{ $community_join_copy }}
                    </a>
                  </div>
                </section>
              {{- end -}}

              {{/* Main Content */}}
              <div class="content">
                {{- .Content -}}
              </div>

              {{/* Community Events */}}
              {{- partial "core/get-upcomingevents.html" . -}}


              <div class="community_conduct">
                <h2 id="community-conduct">Community Conduct</h2>
                {{- partial "core/community_pagefooter.html" . -}}
              </div>
            </div>
          {{- end -}}
        </div>
      </section>
    </article>
  </main>
{{ end }}
