---
title: "USAGov: Usability Test Reports"
kicker: USER EXPERIENCE AND MULTILINGUAL
summary: Join us for an overview of usability test reports on the next version
  of USA.gov.
host: User Experience Community of Practice and Multilingual Community of Practice
event_organizer: Digital.gov
cop_events:
  - user-experience
  - multilingual
registration_url: https://www.eventbrite.com/e/usagov-usability-test-reports-tickets-464623089167
captions: https://www.streamtext.net/player?event=BIS-GSA-JY
date: 2022-11-15 14:00:00 -0500
end_date: 2022-11-15 15:00:00 -0500
# See all topics at https://digital.gov/topics
topics:
  - user-experience
  - multilingual
  - usability
  - usability-testing
  - usa-gov
# See all authors at https://digital.gov/authors
authors:
  - joanne-mcgovern
  - jean-fox
slug: usagov-usability-test-reports
# zoom, youtube_live, adobe_connect, google
event_platform: zoom
primary_image: usagov-ux-test-reports-title-card

---

{{< asset-static file="usagov-usability-test-reports.pptx" label="View the slides (PowerPoint, 5.7 MB, 26 pages)" >}}

Join us as Joanne McGovern shares reports from usability tests on the next English and Spanish  versions of USA.gov — beta.USA.gov and beta.usa.gov/es.

In this session, you'll learn about the parameters of USA.gov’s usability test and the importance of providing multilingual content in our digital services and solutions.

## Speaker

* **Joanne McGovern**&mdash;General Services Administration (GSA)

## Moderator

* **Jean Fox**&mdash;Bureau of Labor Statistics (BLS)

- - -

*The [UX Community of Practice](https://digital.gov/communities/user-experience/) is a group of managers, subject matter experts, designers, developers, writers and others interested in creating efficient, effective and useful technologies.*

*The [Multilingual Community of Practice](https://digital.gov/communities/multilingual/) is a group of federal, state, and local government digital professionals working to expand and improve digital content in languages other than English.*
