#all-images{}
#all-images .img-card{
  margin: 20px 0;
}
#all-images .img-card::after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
#all-images .img-card .img-file{
  float: left;
  width:400px;
}
#all-images .img-card .img-data{
  padding: 0 0 0 20px;
  float: left;
  width:500px;
}

#all-images .img-card .img-data pre{
  overflow: scroll;
  background-color: #f9f9f9;
}
