/* CUSTOM STYLESHEET
---------------------------------------------------------------------------------
Instructions: Add your custom styles in this file instead of style.css,
so it's easier to update the theme. Simply copy an existing style from
style.css to this file, and modify it as you like.
--------------------------------------------------------------------------------- */



/* GLOBAL STYLES
---------------------------------------------------------------------------------
Add styles beneath this line that you want to be applied across your entire site */

#wrap {
	margin-top: 32px;
}

.tribe-events-list .tribe-events-event-image img {
	max-width: 250px;
}


/* DESKTOP ONLY STYLES
---------------------------------------------------------------------------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 801px) {
	/* Desktop styles go here */
}



#search-form .usagov-search-autocomplete{
	padding: 10px;
}


/* All Events Page */

#events_page{
	margin-bottom: 120px;
	color:#000 !important;
}
#events_page a{
	color: #2673DF;
}

.events_head{
	margin-bottom: 55px;
}
.events_head h1{
	margin-top:0;
	margin-bottom: 18px;
	font-size: 30px;
	color:#000;
}
.events_head p{
	font-size: 18px;
	font-weight: 200;
	/* font-weight: bold; */
}

.events_list{
	max-width: 650px;
}

.event{
	margin-top: 0;
	margin-bottom: 48px;
}
.event h3{
	margin-bottom: 8px;
	font-size: 21px;
	line-height: 28px;
}
.event h3 a{
	color: #000 !important;
}
.event_details{
	margin-top:0;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
}

.event_details .summary{
	margin: 8px 0;
}
.event_type{
	margin-bottom: 7px;
	color: #000 !important;
	padding: 1px 8px 2px 8px;
	border: #9DA2A6 1px solid;
	border-radius: 2px;
	font-size: 14px;
	margin-right: 4px;
	display: inline-block;
}

.event_date{
	color:#666;
	display: block;
}

.btn{
	display: inline-block;
	color: #fff !important;
	padding:10px 16px;
	line-height: 22px;
	background: #2673DF;
	border-radius: 2px;
	font-weight: bold;
}

.btn-open{
	background: #fff;
	border:3px solid #2673DF;
	color:#2673DF !important;
}
.event_register{
	background: #000;
}


#events_past{
	margin-top: 80px;
	border-top: 1px #000 solid;
	padding-top: 22px;
}
#events_past h2{
	color:#000;
	margin-bottom: 32px;
}
#events_past {
	display: none;
}


.event_past{
	margin-top: 0;
	margin-bottom: 30px;
}

#event_past h3{
	margin-bottom: 0;
}


@media only screen and (min-width: 475px) {
	/* Desktop styles go here */
	.event_type{
		margin-bottom:0;
	}
	.event_date{
		display: inline-block;
	}
}
