/* CUSTOM STYLESHEET
---------------------------------------------------------------------------------
Instructions: Add your custom styles in this file instead of style.css,
so it's easier to update the theme. Simply copy an existing style from
style.css to this file, and modify it as you like.
--------------------------------------------------------------------------------- */



/* GLOBAL STYLES
---------------------------------------------------------------------------------
Add styles beneath this line that you want to be applied across your entire site */

#wrap {
	margin-top: 32px;
}

.tribe-events-list .tribe-events-event-image img {
	max-width: 250px;
}


/* DESKTOP ONLY STYLES
---------------------------------------------------------------------------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 801px) {


	/* Desktop styles go here */


}


/*Edit File button on posts/pages/events*/
a.edit_file{
	/*margin-bottom: 20px;*/
	padding: 7px 10px 1px 9px;
	display: inline-block;
	background: #f5f5f5;
	border-radius: 5px;
	color:#222 !important;
	border: 1px #f3f3f3 solid;
}
a.edit_file span{
	position: relative;
	top:-4px;
	font-family: Ariel, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
#wrap a.edit_file img{
	display: inline;
	margin-right: 7px;
	height: 21px;
}
a.edit_file:hover{
	background: #e9e9e9;
}
