.entry{

}

.entry-head{
	margin-bottom: 32px;
}
.entry-head h1{
	margin: 0;
}
.entry-head .breadcrumb{
	margin-bottom: 15px;
}
.entry-head .breadcrumb p{
	margin: 0;
}

.entry-content{
	margin-bottom: 50px;
	width: 650px;
}

.entry-content p{
	margin-bottom: 24px;
}

.entry-meta{
	margin-bottom: 120px;
}
.entry-meta .rule{
	margin: 0 0 15px 0;
	border:1px #555 solid;
	width:80px;
}
.entry-meta .last_commit{
	margin: 0;
	font-style: italic;
	display: none;
}
.entry-meta .last_commit a{
	color:#555;
	text-decoration: underline;
}
.entry-meta .feedback{
	font-style: italic;
}

@media only screen and (max-width:480px) {
	#wrap{
		margin: 0;
		padding: 15px;
	}
	.entry-content{
		width:auto;
	}
}

@media only screen and (max-width:800px) {
	#wrap{
		margin: 0;
		padding: 15px;
		width:auto;
	}
	.entry-content{
		width:auto;
	}
}

/*Edit File button on posts/pages/events*/
a.edit_file{
	/*margin-bottom: 20px;*/
	padding: 7px 10px 1px 9px;
	display: inline-block;
	background: #f5f5f5;
	border-radius: 5px;
	color:#222 !important;
	border: 1px #f3f3f3 solid;
}
a.edit_file span{
	position: relative;
	top:-4px;
	font-family: Ariel, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
#wrap a.edit_file img{
	display: inline;
	margin-right: 7px;
	height: 21px;
}
a.edit_file:hover{
	background: #e9e9e9;
}
