.page .entry{
	width: 650px;
}

.entry-head{
	margin-bottom: 32px;
}
.entry-head h1{
	margin: 0;
}
.entry-head .breadcrumb{
	margin-bottom: 15px;
}
.entry-head .breadcrumb p{
	margin: 0;
}

.entry-content{
	margin-bottom: 50px;
}

.entry-content .deck{
	margin-bottom: 21px;
	font-size: 22px;
	line-height: 32px;
}

.entry .video{
	margin-bottom: 20px;
}

.entry-content p{
	margin-bottom: 24px;
}

.entry-meta{
	margin-bottom: 120px;
	padding: 20px;
	background: #E9E9FA;
	color: #000;
	border-radius: 2px;
	max-width: 600px;
}

.entry-meta .last_commit p{
	margin: 0;
	display: none;
	position: relative;
	top: -3px;
}
.entry-meta .last_commit p a{
	text-decoration: underline;
}
.entry-meta .feedback{
	font-weight: bold;
	margin-bottom: 16px;
}


/*Edit File button on posts/pages/events*/
.entry-meta .last_commit a.edit_file{
	margin-right: 2px;
	padding: 4px 7px 1px 6px;
	line-height: 16px;
	display: inline-block;
	background: #222;
	border-radius: 4px;
	color:#fff !important;
}
.entry-meta .last_commit a.edit_file span{
	position: relative;
	top:-4px;
	font-weight: bold;
	font-family: Ariel, sans-serif;
	font-size: 14px;
}
#wrap .entry-meta .last_commit a.edit_file img{
	display: inline;
	margin-right: 5px;
	height: 18px;
}
.entry-meta .last_commit a.edit_file:hover{
	background: #000;
}


@media only screen and (max-width:480px) {
	#wrap{
		margin: 0;
		padding: 15px;
	}
	.page .entry{
		width:auto;
	}
	.entry-meta .last_commit a.edit_file{
		display: none;
	}
}

@media only screen and (max-width:800px) {
	#wrap{
		margin: 0;
		padding: 15px;
		width:auto;
	}
	.page .entry{
		width:auto;
	}
}
