.subicon.github { background-image:url(images/github.png); }
.subicon.github:hover { background-color:#222; }
.featpage-image .block--full {
  width: 100%;
  height: 100%;
}

.featpage-image .catslide-thumbnail {
  object-fit: cover;
}

.align-right {
  float: right;
  clear: right;
  margin: 0 0 10px 20px;
  width: 33%;
}

.align-left {
  float: left;
  clear: left;
  margin: 0 20px 10px 0;
  width: 33%;
}

#wrap img {
  display: block;
  color: springgreen;
}

.home .featpage-image, .page-id-244882 .featpage-image {
  -webkit-box-shadow: 0 1px 10px #aaa;
  -moz-box-shadow: 0 1px 10px #aaa;
  box-shadow: 0 1px 10px #aaa;
}

.meta, .catslide-meta, p.sitemap-meta {
  height: auto;
  overflow: visible;
}

.addthis_inline_share_toolbox {
  padding-bottom: 8px;
}

.image + p {
  padding-top: 20px;
}
