.subicon.github { background-image:url(images/github.png); }
.subicon.github:hover { background-color:#222; }
.featpage-image .block--full {
  width: 100%;
  height: 100%;
}

.featpage-image .catslide-thumbnail {
  object-fit: cover;
}
