.matter-container{
  margin: 50px 0;
  display: grid;
  grid-template-columns: auto auto
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}
form#matter-maker{
  margin-top: 0;
  grid-area: row2-start / 1 / 2 / 1;
}
form#matter-maker label,
form#matter-maker input{
  margin:0;
  font-size: 1em;
  display: block;
}
form#matter-maker label{
  margin-bottom: 18px;
}
form#matter-maker label:last-child{
  margin-bottom: 0;
}
form#matter-maker input{
  padding: 10px;
  width:90% ;
  border:1px #ccc solid;
}

.matter-container div{
  grid-area: row2-start / 2 / 2 / 2;
}
.matter-container pre{
  margin: 0;
  padding: 10px 15px;
  background:#f8f8f8;
  font-size: 1em;
  border:1px #555 solid;
}
.matter-container pre#filename{
  border-bottom: none;
}
