.list .container{
	max-width: 700px;
}
.list .entry{
	margin-bottom: 2em;
	padding: 0;
	display: flex;
	flex-flow: row wrap-reverse;
}
.list .entry .entry-content{
	margin: 0;
}
.list .featured .entry-content{
	width: 65%;
}
.list .featured .entry-featured{
	width: 35%;
}
.list .entry .entry-featured img{
	float: right;
}
.list .entry h3{
	margin-bottom: .25em;
	font-size: 1.3em;
	line-height: 1.3em;
}
.list .entry h3 a{
	color: #222;
}
.list .entry h3 a:hover{
	text-decoration: underline;
}

.list .entry .summary{
	margin-bottom: 0;
	color: #000;
}
.list .entry .date{
	margin-bottom: 0.5em;
	color: #666;
	font-size: .9em;
}
