#posts .row{
	display: flex;
	flex-flow: row wrap;
}

#posts h1{
	margin-top: 0;
	margin-bottom: 1em;
	color: #000;
	font-size: 2.3em;
	font-weight: normal;
}

.list{
	padding-top: .75em;
	width: auto;
	border-top: 1px #000 solid;
}
.sidebar{
	width: 300px;
}
.sidebar .box{
	margin-bottom: 3em;
	padding-top: .75em;
	border-top: 1px #000 solid;
	font-size: .9rem;
	line-height: 1.5em;
}
.sidebar .box h4{
	font-size: 1.3em;
	color: #000;
	margin-bottom: .35em;
}
.box .community-promo{

}
.sidebar .box ul.bulleted{
	padding-left: 1.4em;
}

.sidebar .box ul.bulleted li{
	margin-bottom: .5em;
}
.list .entry{
	margin-bottom: 2em;
	padding: 0;
	display: flex;
	flex-flow: row wrap-reverse;
}
.list .entry .entry-content{
	margin: 0;
}
.list .has-img .entry-content{
	width: 70%;
}
.list .has-img .entry-featured{
	padding-left: 1em;
	width: 25%;
}
.list .entry .entry-featured img{
	float: right;
	width: 120px;
}
.list .entry h3{
	margin-bottom: .15em;
	font-size: 1.2em;
	line-height: 1.4em;
}
.list .entry h3 a{
	color: #222;
}
.list .entry h3 a:hover{
	text-decoration: underline;
}

.list .entry .summary{
	margin-bottom: 0;
	color: #000;
	font-size: 1em;
	line-height: 1.4em;
}
.list .entry .date{
	margin-bottom: 0.5em;
	color: #666;
	font-size: .9em;
}


@media only screen and (min-width: 576px) {

}
@media only screen and (min-width: 768px) {

	.list{
		width: 630px;
	}
	.list .has-img .entry-content{
		width: 77%;
	}
	.list .has-img .entry-featured{
		padding: 0;
		width: 23%;
	}
	.list .entry .summary{
		font-size: 0.9em;
	}
}
@media only screen and (min-width: 992px) {
	#posts .row{
		flex-flow: row wrap-reverse;
	}
}
@media only screen and (min-width: 1024px) {

}
