#posts .row{
	display: flex;
	flex-flow: row wrap-reverse;
}
.list{
	max-width: 600px;
}
.sidebar{
	max-width: 330px;
}
.list .entry{
	margin-bottom: 2em;
	padding: 0;
	display: flex;
	flex-flow: row wrap-reverse;
}
.list .entry .entry-content{
	margin: 0;
}
.list .featured .entry-content{
	width: 77%;
}
.list .featured .entry-featured{
	width: 23%;
}
.list .entry .entry-featured img{
	float: right;
	width: 120px;
}
.list .entry h3{
	margin-bottom: .15em;
	font-size: 1.2em;
	line-height: 1.4em;
}
.list .entry h3 a{
	color: #222;
}
.list .entry h3 a:hover{
	text-decoration: underline;
}

.list .entry .summary{
	margin-bottom: 0;
	color: #000;
	font-size: 0.9em;
}
.list .entry .date{
	margin-bottom: 0.5em;
	color: #666;
	font-size: .9em;
}
