#dg_newsletter_form{
	/* background: pink; */
	padding: 30px 0;
}
#dg_newsletter_form form div{
	margin: 0;
}
#dg_newsletter_form form label,
#dg_newsletter_form form input {
	font-size: 16px;
	font-family: Trebuchet,Tahoma,sans-serif;
}
#dg_newsletter_form form input{
	padding: 3px 12px;
	height: 35px;
	color: #222;
}
#dg_newsletter_form form ul{
	margin-bottom: 10px;
	padding: 0;
}
#dg_newsletter_form form li input{
	padding: 0;
	height: 15px;
}

#dg_newsletter_form form .actions{
	padding-left: 0;
}
#dg_newsletter_form form .actions .hs-button{
	background: #2673DF;
	border:none;
	border-radius: 2px;
	box-shadow:none;
	text-shadow: none;
	padding: 10px 16px;
	line-height: 22px;
	height: auto;
	color: #fff;
}
