#topicnav{

}
#topicnav ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

#topicnav li{
	margin-right: 2px;
	margin-bottom: 8px;
	list-style-type: none;
	font-size: 15px;
	display: inline-block;
}

#topicnav li a{
	background: #2673DF;
	color: #fff;
	padding: 3px 12px 5px 12px;
	border-radius: 15px;
}
