/* Topics */
.topics{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.topics li{
	padding: .25em 0;
	border-top: 1px #ddd solid;
	line-height: 2em;
	color: #222;
}
.topics li:first-child{
	border: none;
}
.topics li a{
	display: block;
}
.topics li a:hover{
	text-decoration: underline;
}
.topics li span{
	float: right;
	color:#222;
}
