#topicnav{

}
#topicnav ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

#topicnav li{
	margin-right: 3px;
	margin-bottom: 10px;
	list-style-type: none;
	font-size: 15px;
	display: inline-block;
}

#topicnav li a{
	background: #DEEDF7;
	color: #000;
	padding: 3px 10px 5px 10px;
	border-radius: 15px;
}
