section{
	display: table;
	width: 100%;
}
section .container{
	margin: 0 auto;
	/* padding-left: 15px; */
	/* padding-right: 15px; */
	width: 100%;
	box-sizing: border-box;
}
section .container:before, section .container:after{
	content: " ";
	display: table;
}
section .row{
	margin-left:-15px;
	margin-right:-15px;
}
section .row:before, section .row:after{
	content: " ";
	display: table;
}
section .row .col{
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	min-height: 1px;
}

.hed{
	margin-bottom: 10px;
	padding: 10px 0;
	border-bottom: 1px #ccc solid;
}
.hed h4{
	color: #000;
	display: inline;
}
.hed a{
	display: none;
}

.featured{
}
.featured .entry{
	width: 100%;
}
.featured-news{
}
.featured-news .wrap{
	height: 650px;
	overflow: scroll;
}
.featured-news .foot{
}
.featured-news .foot a{
	padding: 10px 0;
	text-align: center;
	display: block;
	font-weight: bold;
	color: #2673DF;
	border:3px #2673DF solid;
}
.featured-news .entry{
	margin: 0;
	margin-bottom: 5px;
	padding: 10px 0;
	color: #000;
	width: 100%;
	border-top: 1px #ccc solid;
}
.featured-news .wrap .entry:first-child{
	padding-top: 0;
	border:none;
}

.featured-news .entry .date{
	margin-top: 8px;
	color:#777;
	font-size: 13px;
	line-height: 18px;
	display: block;
}
.featured-news .entry a{
	color:#000;
}
.featured-news .entry p{
	margin: 0;
	font-size: 16px;
}
.featured-news .entry .more{
	color: #2673DF;
	font-weight: bold;
	text-decoration: underline;
}


.featured-grid .youtube-player{
	margin-bottom: 5px;
}





@media only screen and (min-width: 576px) {

}
@media only screen and (min-width: 768px) {
	.container{
		max-width: 720px;
	}
	.featured{
		width: 385px;
		float: left;
	}
	.featured-news{
		width: 275px;
		float: left;
	}
}
@media only screen and (min-width: 992px) {
	.container{
		max-width: 960px;
	}
	.featured{
		width: 535px;
	}
	.featured-news{
		width: 365px;
	}
}
@media only screen and (min-width: 1024px) {
	.container{
	}

}




/* ====================== */
.youtube-player {
	margin: 0;
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}
