{{- define "content" -}}

<main id="resources" role="main">
  <article>
    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12" data-edit-this="/edit/{{- .Type -}}/?page=https://demo.digital.gov{{- (urls.Parse .Permalink).Path -}}">

            {{/* Page Title */}}
            <h1>{{- .Title | markdownify -}} </h1>

            {{/* Deck */}}
            {{- if .Params.deck -}}
            <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}

            {{/* {{ partial "last-updated" . }} */}}
          </div>
        </div>
      </div>
    </header>

    {{/* Popular Resources */}}
    <section class="usa-section" id="resources_featured">
      <div class="grid-container grid-container-desktop">
        {{- partialCached "core/resources_featured" . -}}
      </div>
    </section>

    <section class="topic-buttons">
      <div class="grid-container grid-container-desktop">
        <div class="grid-row tablet-lg:grid-gap-2">
          <div class="grid-col-12">
            <h2>Resources by Topic</h2>
          </div>
        </div>
        <div class="grid-row tablet:grid-gap-2">
          {{- $top_topics := $.Site.Taxonomies.topics -}}
          {{- range $name, $taxonomy := $top_topics -}}
            {{- with $.Site.GetPage (printf "/topics/%s" $name) -}}
              {{- if or (eq .Params.weight 2) (eq .Params.weight 3) -}}
                <div class="grid-col-12 tablet:grid-col-4">
                  <div class="topic topic-slim" data-edit-this="/edit/{{- .Type -}}/?page=https://demo.digital.gov{{- (urls.Parse .Permalink).Path -}}">
                    <h3>
                      <a href="{{- .URL | absURL -}}" title="{{- .Title -}}">{{- .Title -}} <span>&#8594;</span></a>
                    </h3>
                  </div>
                </div>
              {{- end -}}
            {{- end -}}
          {{- end -}}
        </div>
        <footer>
          <div class="grid-row tablet-lg:grid-gap-2">
            <div class="grid-col-12">
              <p class="more"><a href="/topics"><span>See all topics</span> <i class="fas fa-arrow-circle-right"></i></a></p>
            </div>
          </div>
        </footer>
      </div>
    </section>

  </article>
</main>

{{- end -}}
