{{ define "content" }}


<main id="resources" role="main">
  <article>
    \
    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">

            {{/* Page Title */}}
            <h1>{{- .Title | markdownify -}} </h1>

            {{/* Deck */}}
            {{- if .Params.deck -}}
            <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}

            {{/* {{ partial "last-updated" . }} */}}
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row grid-gap-4">
          <div class="grid-col-12">
            {{/* Top / Popular Resources */}}
            {{- $resources := (where .Pages "Section" "resources") ".Params.weight" 3 -}}
            {{/* If there are any resources at all... */}}
            {{- if $resources -}}
            <div class="list-collection">
              <h2>Popular Resources</h2>
              <ul class="add-list-reset">
                {{- range sort $resources "Title" "asc" -}}
                  {{- if eq .Params.weight 3 -}}
                  <li data-edit-this="{{- .File.Path -}}">
                    <a href="{{- .Permalink -}}">
                      <i class="far fa-lightbulb"></i>
                      <span>{{ .Title | markdownify }}</span>
                    </a>
                  </li>
                  {{- end -}}
                {{- end -}}
              </ul>
            </div>
            {{- end -}}

          </div>
        </div>
      </div>
    </section>

    <section class="topic-buttons">
      <div class="grid-container grid-container-desktop">
        <div class="grid-row grid-gap-2">
          <div class="grid-col-12">
            <h2>Resources by Topic</h2>
          </div>
        </div>
        <div class="grid-row grid-gap-1 tablet:grid-gap-2">
          {{- $top_topics := $.Site.Taxonomies.topics -}}
          {{- range $name, $taxonomy := $top_topics -}}
            {{- with $.Site.GetPage (printf "/topics/%s" $name) -}}
              {{- if or (eq .Params.weight 2) (eq .Params.weight 3) -}}
                <div class="grid-col-6 tablet:grid-col-4">
                  <div class="topic topic-slim" data-edit-this="{{- .File.Path -}}">
                    <h3>
                      <a class="text-no-underline text-ink" href="{{- .URL | absURL -}}" title="{{- .Title -}}">{{- .Title -}} <span>&#8594;</span></a>
                    </h3>
                  </div>
                </div>
              {{- end -}}
            {{- end -}}
          {{- end -}}
        </div>
      </div>
    </section>

  </article>
</main>

{{ end }} {{/* end 'content' block */}}
