{{- define "content" -}}
  {{ $path := "" }}{{ with .File }}
    {{ $path = .Path }}
  {{ else }}
    {{ $path = .Path }}
  {{ end }}
  <article id="main-content" class="grid-container-desktop">
    {{- partial "partials/core/usa-breadcrumbs.html" . -}}
    <header data-gh-edit-page="{{- $path -}}">
      {{- if .Params.kicker -}}
        <p class="kicker">{{- .Params.kicker -}}</p>
      {{- end -}}


      <h1>{{- .Title | markdownify -}}</h1>

      {{- if .Params.deck -}}
        <div class="deck">{{- .Params.deck | markdownify -}}</div>
      {{- end -}}
    </header>

    <section class="usa-in-page-nav-container">
      <main data-gh-edit-page="{{- $path -}}">
        <div class="content usa-prose">
          {{- .Content -}}
        </div>

        {{- partial "core/gh-commit-info.html" . -}}
        {{- partial "core/touchpoints-form.html" . -}}
      </main>
      <aside
        class="dg-sidebar usa-in-page-nav"
        data-title-heading-level="h4"
        data-root-margin="-350px 0px -350px 0px"
        aria-label="Related content"
      >
        <div class="dg-related-items" data-related-items>
          {{/* Related Communities and Services */}}
          {{- partial "core/get_related.html" . -}}
        </div>
      </aside>
    </section>
  </article>
{{- end -}}
