{{- define "content" -}}

<main role="main">
  <article>
    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            <h6 class="breadcrumb"><a href="{{- "resources/" | absURL -}}"> <i class="fas fa-arrow-left"></i> <span>All Resources</span> </a></h6>

            {{/* Page Title */}}
            <h1>{{- .Title | markdownify -}} </h1>

            {{/* Deck */}}
            {{- if .Params.deck -}}
            <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row margin-y-2 grid-gap-6">

          <div class="grid-col-9">

            {{/* Content */}}
            <div class="content">
              {{- .Content -}}
            </div>

          </div>

          <div class="grid-col-3">


            {{/* Last updated */}}
            {{/* {{- partial "last-updated" . -}}  */}}

            {{/* Related Communities */}}
            {{- partial "core/get_communities" . -}}

            {{/* Promos */}}
            {{- partial "core/get_services" . -}}

            {{/* Topics */}}
            {{- partial "core/get_topics" . -}}

            {{/* Share Tools */}}
            {{- partial "core/get_sharetools" . -}}

            {{- partial "core/toc" . -}}

          </div>

        </div>
      </div>
    </section>

  </article>
</main>
{{- end -}}
