body{
  color:#444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
  margin:0;
  color:#444;
  a{
    text-decoration: none;
  }
}

a{
  color:#3B69FF;
}
a:hover{
  color:#2E54CA;
}


/*Break Points*/
$break-xs: "screen and (max-width: 767px)";
$break-sm: "screen and (min-width: 768px)";
$break-md: "screen and (min-width: 992px)";
$break-lg: "screen and (min-width: 1200px)";

.hidden{
  display: none !important;
}


header, section {
  padding: 30px 0;
}
.container{
  @media #{$break-xs} {
  }
  @media #{$break-sm} {
    width:80rem;
  }
  @media #{$break-md} {
    width:90rem;
  }
  @media #{$break-lg} {
    width:100rem;
  }
}

#search-area{
  #search_form{
    #search-field-big{
      max-width: none;
    }
  }
}
