
// Type
// font-family: 'Lato', sans-serif;
// font-family: 'Libre Franklin', sans-serif;
// $font-sans:           'Libre Franklin', 'Lato', Helvetica, Arial, sans-serif;
// $font-sans:           'Lato', Helvetica, Arial, sans-serif;
$font-sans:           "18Franklin-webfont",system,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
$font-serif:          'Georgia', serif;

// Colors
// $color-primary: #2c3e50;
// $color-secondary: #ad2020;
// $color-secondary-dark: #b0392e;

$color-primary: #003333;
$color-secondary: #006873;
$color-secondary-dark: #009999;

// left teal 'D' swoop
// medium #006873
// dark #003333
// light #009999

// right salmon/peach 'G' swoop
// medium #ff685f
// dark #ff3333
// light #ff9999


// Digital #0b545d
// Gov #ff3333

// Grid/breakpoints
$small-screen:  540px !default;
$medium-screen: 620px !default;
$large-screen:  1120px !default;

/*Break Points*/
$break-xs: "screen and (max-width: 767px)";
$break-sm: "screen and (min-width: 768px)";
$break-md: "screen and (min-width: 992px)";
$break-lg: "screen and (min-width: 1200px)";

.hidden{
  display: none;
}

section {
  padding: 30px 0;
}

.container{
  padding: 0 15px;
  @media #{$break-xs} {
    padding: 0 15px;
  }
  @media #{$break-sm} {
    width:80rem;
  }
  @media #{$break-md} {
    width:90rem;
  }
  @media #{$break-lg} {
    width:100rem;
  }
  
}

// @import "dg/top-bar";
// @import "dg/header";
// @import "dg/site-nav";

h1{
  font-family: $font-sans;
}

#search-area{
  #search_form{
    #search-field-big{
      max-width: none;
    }
  }
}

footer{
  padding: 20px 0;
  border-top: 2px $color-primary solid;
  .logo{
    width:20rem;
  }
}
