header{
  padding: 55px 0 0 0;
  h1{
    margin: 0;
    a{
      display: inline-block;
      outline:none;
      img{
        width:40rem;
      }
    }
  }
  h2 {
    margin: 10px 0;
    font-family: $font-sans;
    font-size: 24px;
    font-weight: 300;
    display: none;
  }
}