.homepage-tree{
  ul{
    padding: 0;
    li{
      list-style-type: none;
      font-size: 20px;
      font-weight: 700;
      ul{
        padding-left: 20px;
        li{
          list-style-type: disc;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
}
