.migration-box{
  padding: 15px 20px;
  border: 1px #efefef solid;
  background-color: #f9f9f9;
  font-size: 14px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  p{
    margin: 0;
  }
  a{
    text-decoration: none;
  }
}
