.nav-area{
  ul{
    padding:0;
    li{
      padding-right: 20px;
      display: inline-block;
      a{
        padding:0;
        text-decoration: none;
        color:$color-secondary;
        font-weight: 500;
        font-size: 18px;
        span:hover{
          border:none;
        }
      }
      a:hover{
        border-bottom: 2px solid $color-secondary;
      }
      button{
        font-weight: 500;
        font-size: 18px;
        span:hover{
          padding: 0;
          border:none;
        }
      }
      button[aria-expanded=true] span,
      button[aria-expanded=true] span:hover{
        padding: 0;
        border:none;
      }
    }
  }
}