@use "uswds-core" as *;

.dg-guide__header {
  @include at-media("tablet") {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &-title {
    margin-top: units(5);
    @include at-media("tablet") {
      margin-right: units(5);
      width: units("desktop");
    }
  }

  &-image {
    margin-top: units(5);
    max-width: 100%;
  }
}
