@use "uswds-core" as *;

.page-head-guides{
	@include u-margin-bottom(8);

	// Kicker
	.kicker{
		@include u-margin-bottom('05');
		@include u-font('sans', 'sm');
		@include u-text('uppercase');
		@include u-text('medium');
		@include u-text('primary-vivid');
		a{
			@include u-text('no-underline');
			&:hover{
				@include u-border-bottom('2px', 'primary-vivid', 'solid');
			}
		}
	}
	// Page Title
	h1{
		@include u-margin-top(0);
		@include u-margin-bottom(2);
		@include u-font('sans', '3xl');
		@include u-text('thin');
		@include u-text('primary-darker');
	}
	// Deck
	.usa-intro{
		@include u-margin(0);
		@include u-margin-top('05');
		@include u-margin-bottom(5);
		@include u-text('light');
		@include u-text('primary-darker');
		@include u-font('sans', 'lg');
		@include u-line-height('sans', 3);
	}
}
