@use "uswds-core" as *;

// Guide page Table of Contents or TOC
// See also table-of-contents.scss for more .toc styles
.guide-toc{
	@include u-border-y('1px', 'base-lighter', 'solid');
	@include u-margin-y(5);
	@include u-padding-y(5);
	@include u-padding-x(0);
	h2{
		@include u-margin(0);
		@include u-padding(0);
		@include u-font('sans', 'lg');
		@include u-text('medium');
	}
	ul{
		li{
			@include u-margin-y(1);
			@include u-font('sans', 'sm');
			a{
				@include u-text('underline');
			}
		}
	}
}
