@use "uswds-core" as *;

.dg-guides {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: units(4);

  @include at-media("tablet") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include at-media("desktop") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.dg-guides-card {
  border: 2px color("gray-cool-10") solid;
  border-radius: units(1);
  display: grid;
  grid-template-rows: max-content 1fr;
  margin: units(1);
  padding: units(2);
  position: relative;

  &:first-child {
    grid-column: 1 / 2;

    @include at-media("tablet") {
      grid-column: 1 / 3;
      grid-template-columns: 2fr 1fr;
    }

    @include at-media("desktop") {
      grid-column: 1 / 4;
    }

    .dg-guides-card__media {
      margin-top: 0;
    }
  }

  &__kicker {
    color: color("blue-70v");
    font-weight: font-weight(200);
    text-transform: uppercase;
  }

  &__title {
    margin: 0;
    text-transform: capitalize;
  }

  &__title a {
    color: color("gray-90");
    text-decoration: none;
  }

  &__summary {
    font-size: font-size("sans", "lg");
    font-weight: font-weight(400);
  }

  &__media {
    align-self: end;
    display: flex;
    height: max-content;
    justify-content: center;

    @include at-media("desktop") {
      margin-top: units(6);
    }
  }
}
