@use "uswds-core" as *;

.dg-guide__content {
  margin: units(5) 0;
  overflow: hidden;
  p {
    max-width: none;
  }
}

.dg-guide__nav.usa-in-page-nav {
  margin-top: units(6);
  top: units(15);
}

html {
  scroll-padding-top: units(10);
}
