@use "uswds-core" as *;

.dg-guide__menu-bar {
  @include u-border-y("1px", "gray-cool-30", "solid");
  align-items: center;
  background-color: color("gray-10");
  display: flex;
  justify-content: center;
  padding: units(3) 0;
  position: sticky;
  top: -1px;
  white-space: nowrap;
  z-index: 1;

  &-link {
    @include u-font("sans", "md");
    @include u-text("light", "black");
    text-decoration: none;
    margin: 0 units(3);

    &:hover {
      text-decoration: underline color("primary") units("05");
      text-underline-offset: units("05");
    }
    &:visited {
      color: color("black");
    }
  }

  &-links {
    overflow-x: scroll;
  }

  #current {
    @include u-text("medium");
    text-decoration: underline color("primary") units("05");
    text-underline-offset: units("05");
  }
}
