@use "uswds-core" as *;

.dg-guide__nav {
  @include u-display("none");

  @include at-media("tablet-lg") {
    @include u-display("block");
  }

  &-list {
    @include u-font("sans", "xs");
    margin-bottom: units(3);

    // Hides any nested ul that is not part of the current tree
    ul {
      @include u-display("none");
    }
  }

  // Override usa-sidenav styles for digitial.gov styles
  li.usa-sidenav__item {
    @include u-text("medium");

    a {
      @include u-padding-y(1);
      @include u-text("black");
      @include u-text("normal");
      @include u-text("no-underline");

      // Flex for the arrows
      @include u-display("flex");
      @include u-flex("align-center");

      &:hover {
        @include u-text("underline");
      }
    }

    .usa-current {
      @include u-bg("primary");
      @include u-text("white");
      @include u-text("semibold");

      &:hover {
        @include u-text("white");
        @include u-bg("primary-dark");
      }
    }

    .dg-guide__nav-list--current-item {
      background-image: url("../uswds/img/angle-arrow-right-white.svg");
    }

    // When any child item is selected, the top-most parent li gets the .dg-guide__nav-list--current class (via javascript)
    li.dg-guide__nav-list--current {
      @include u-position("relative");

      a.usa-current {
        @include u-text("semibold");
        @include u-position("static");
      }

      ul {
        @include u-display("block");
      }
    }

    // Adding arrows to any li that has child elements.
    li {
      @include u-text("normal");
      @include u-font("sans", "xs");

      .dg-guide__nav-list-arrow-right {
        background-size: 0.42rem;
        margin-left: units("05");
      }

      li {
        @include u-font("sans", "2xs");
      }
    }
  }
}
