@use "uswds-core" as *;

.page-head-guides {
  @include u-margin-bottom(5);

  // Page Title
  h1 {
    @include u-font("sans", "2xl");
    @include u-line-height("sans", 1);
    @include u-text("heavy");
    @include u-text("primary-darker");
  }
}

.read-time {
  @include u-font("sans", "2xs");
  display: inline-block;
  background-color: color("indigo-10");
  border-radius: units(2);
  padding: units("05") units("105");
  margin: 0;
}
