{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "archive author c-sw unboxed centercatnav bodybg1" }}
{{ end }}

{{ define "content" }}
  {{ $data := $.Site.Data }}
  <div id="contentleft" class="clearfix">
    <div id="content" class="clearfix">
      {{ $slug := .Title | urlize }}
      {{ $person := index $.Site.Data.people.authors $slug }}

      <div class="auth-bio clearfix">
    		<h1><span>{{ $person.full_name | default .Title }}</span></h1>
        {{ with $person.gravatar_email }}
          <img alt=''
            src='https://www.gravatar.com/avatar/{{ md5 . }}?s=48&d=identicon'
            srcset='https://www.gravatar.com/avatar/{{ md5 . }}?s=96&d=identicon 2x'
            class='avatar avatar-48 photo' height='48' width='48' />
        {{ end }}
        {{ with $person.bio }}
      		<p>{{ . | markdownify }}</p>
        {{ end }}
        <div class="sub-icons auth-icons">
        	<ul class="clearfix">
        		<li><a class="subicon rss" rel="external" title="RSS Feed for {{ $person.full_name | default .Title }}" href="{{ .RSSLink }}">RSS Feed</a></li>
        	</ul>
        </div>
      </div>

      {{ range .Pages }}
        {{ partial "summary-withImage.html" . }}
      {{ end }}

      {{/*
      {{ if gt .Paginator.TotalPages 1}}
        <div class="navigation clearfix">
    			{{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL | absURL }}">« Previous Page</a>{{ end }}{{ if and .Paginator.HasPrev .Paginator.HasNext }} — {{ end }}{{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL | absURL }}">Next Page »</a>{{ end }}
        </div>
      {{ end }}
      */}}
    </div><!-- #content -->
  </div><!-- #contentleft -->
{{ end }}

{{ define "sidebar" }}
  {{ partial "sidebar-common.html" . }}
{{ end }} {{/* end 'sidebar' block */}}
