{{ define "pagevars" }}
  {{ $.Scratch.Set "bodyclasses" "top archive author c-sw unboxed centercatnav bodybg1" }}
{{ end }}

{{ define "content" }}
  {{ $data := $.Site.Data }}
  <div id="contentleft" class="clearfix">
    <div id="content" class="clearfix">
      {{ $slug := .Title | urlize }}
      {{ $person := index $.Site.Data.people.authors $slug }}
      {{ $person_name := $person.display_name | default .Title }}

      <div class="auth-bio clearfix">
    		<h1><span>{{ $person_name }}</span></h1>

        {{if $person.featured_image.uid }}
          {{ $cdnurl := .Site.Params.cdnurl }}
          {{ $thisuid := $person.featured_image.uid }}
          {{ $thisuid := replaceRE "\\.[jpegpn]{3,4}$" "" $thisuid }}
          {{ $thisimg := index $.Site.Data.images $thisuid  }}
          {{ $imgBase := $thisimg.uid }}
          {{ $imgExt := $thisimg.format }}
          {{ $imgBaseCDN := printf "%s/%s" $cdnurl $imgBase }}
          {{ $imgWidth := $thisimg.width }}
          {{ $imgHeight := $thisimg.height }}
          {{ $prefix := replaceRE "^(http[s]://).+$" "$1" $thisuid }}
          {{ $.Scratch.Set "imgSuffix" "" }}
          {{ if ge $imgWidth 200 }}
           {{ $.Scratch.Set "imgSuffix" "_w200" }}
          {{ end }}

          <img alt='author photo'
            src='{{ $imgBaseCDN }}{{ $.Scratch.Get "imgSuffix" }}.{{ $imgExt }}'
            class='avatar avatar-48 photo' height='48' width='48' />
        {{ else }}
          {{ with $person.github }}
            <img alt=''
              src='https://www.github.com/{{ . }}.png?size=48'
              srcset='https://www.github.com/{{ . }}.png?size=96 2x'
              class='avatar avatar-48 photo' height='48' width='48' />
          {{ end }}
        {{ end }}

        {{ with $person.bio }}
      		<div>{{ . | markdownify }}</div>
        {{ end }}

        {{ with $person.website }}
          <p class="auth-website"><a rel="external" title="Author Website" href="{{ . }}">Author's Website</a></p>
        {{ end }}

        <div class="sub-icons auth-icons">
        	<ul class="clearfix">
            <li><a class="subicon rss" rel="external" title="RSS Feed for {{ $person_name }}" href="{{ .RSSLink }}">RSS Feed</a></li>

            {{ with $person.facebook }}
          		<li><a class="subicon facebook" rel="external" title="{{ $person_name }} on Facebook" href="http://www.facebook.com/{{ $person.facebook }}/">Facebook</a></li>
            {{ end }}

            {{ with $person.twitter }}
          		<li><a class="subicon twitter" rel="external" title="{{ $person_name }} on Twitter" href="http://www.twitter.com/{{ $person.twitter }}/">Twitter</a></li>
            {{ end }}

            {{ with $person.linkedin }}
          		<li><a class="subicon linkedin" rel="external" title="{{ $person_name }} on LinkedIn" href="http://www.linkedin.com/in/{{ $person.linkedin }}/">LinkedIn</a></li>
            {{ end }}

            {{ with $person.youtube }}
          		<li><a class="subicon youtube" rel="external" title="{{ $person_name }} on YouTube" href="http://www.youtube.com/user/{{ $person.youtube }}">YouTube</a></li>
            {{ end }}

            {{ with $person.github }}
          		<li><a class="subicon github" rel="external" title="{{ $person_name }} on GitHub" href="http://www.github.com/{{ $person.github }}">GitHub</a></li>
            {{ end }}

        	</ul>
        </div>
      </div>

      {{ range .Pages }}
        {{ partial "summary-withImage.html" . }}
      {{ end }}

      {{/*
      {{ if gt .Paginator.TotalPages 1}}
        <div class="navigation clearfix">
    			{{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL | absURL }}">« Previous Page</a>{{ end }}{{ if and .Paginator.HasPrev .Paginator.HasNext }} — {{ end }}{{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL | absURL }}">Next Page »</a>{{ end }}
        </div>
      {{ end }}
      */}}
    </div><!-- #content -->
  </div><!-- #contentleft -->
{{ end }}

{{ define "sidebar" }}
  {{ partial "sidebar-common.html" . }}
{{ end }} {{/* end 'sidebar' block */}}
