{{ define "content" }}
<main role="main">
  <article>
    <div class="grid-container grid-container-desktop">

      {{/* header */}}
      <div class="grid-row">
        <div class="grid-col-12">
          <header>
            {{ $slug := .Title | urlize }}
            {{ $person := index $.Site.Data.people.authors $slug }}
            {{ $person_name := $person.display_name | default .Title }}

            {{/* Page Title */}}
            <h1>{{ $person_name }}</h1>

            {{- with $person.github -}}
              <img alt='Photo: {{ $person_name }}'
                src='https://www.github.com/{{ . }}.png?size=100'
                srcset='https://www.github.com/{{ . }}.png?size=200 2x'
                class='profile' />
            {{- end -}}

            {{ with $person.bio }}
          		<div>{{ . | markdownify }}</div>
            {{ end }}

            {{ with $person.website }}
              <p class="auth-website"><a rel="external" title="Author Website" href="{{ . }}">Author's Website</a></p>
            {{ end }}

            <ul>

            {{ with $person.facebook }}
          		<li><a class="subicon facebook" rel="external" title="{{ $person_name }} on Facebook" href="http://www.facebook.com/{{ $person.facebook }}/">Facebook</a></li>
            {{ end }}

            {{ with $person.twitter }}
          		<li><a class="subicon twitter" rel="external" title="{{ $person_name }} on Twitter" href="http://www.twitter.com/{{ $person.twitter }}/">Twitter</a></li>
            {{ end }}

            {{ with $person.linkedin }}
          		<li><a class="subicon linkedin" rel="external" title="{{ $person_name }} on LinkedIn" href="http://www.linkedin.com/in/{{ $person.linkedin }}/">LinkedIn</a></li>
            {{ end }}

            {{ with $person.youtube }}
          		<li><a class="subicon youtube" rel="external" title="{{ $person_name }} on YouTube" href="http://www.youtube.com/user/{{ $person.youtube }}">YouTube</a></li>
            {{ end }}

            {{ with $person.github }}
          		<li><a class="subicon github" rel="external" title="{{ $person_name }} on GitHub" href="http://www.github.com/{{ $person.github }}">GitHub</a></li>
            {{ end }}

            <li><a class="subicon rss" rel="external" title="RSS Feed for {{ $person_name }}" href="{{ .RSSLink }}">RSS Feed</a></li>
            </ul>

          </header>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-col-12">
          <section class="article-list">
            {{/* Blog Posts by Author —
            List all of the blog posts by this author */}}
            {{ $pages := (where .Paginator.Pages "Section" "posts") }}
            {{/* If there are any pages/posts at all... */}}
            {{ if $pages }}
              <h3>News and resources from across our community</h3>
              {{/* Loop through all the pages */}}
              {{ range $pages }}

                {{/* If the source is identified in the article */}}
                {{- if .Params.source -}}
                  {{- $source := $.Site.GetPage "page" (print "source_" .Params.source ) -}}
                {{- end -}}

                {{/* If the type is a SPOT (means it links to another publication) */}}
                {{ if eq .Params.type "spot" }}
                  {{/* Spots — External links */}}

                  <article data-edit-this="{{- .File.Path -}}">
                    <p>
                      {{/* Favicon
                      If the there is a custom favicon set in /sources/source_[slug].md, then use that... */}}
                      {{- if .Params.source -}}

                        {{- $source := $.Site.GetPage "page" (print "source_" .Params.source ) -}}
                        {{- if $source.Params.icon -}}
                          <img src="{{ $source.Params.icon }}" alt="">
                        {{- else -}}
                          <img src="https://www.google.com/s2/favicons?domain={{- .Params.source_url -}}" alt="">
                        {{- end -}}

                      {{/* Otherwise, use the Favicon that Google stores for the site. */}}
                      {{- else -}}
                        <img src="https://www.google.com/s2/favicons?domain={{- .Params.source_url -}}" alt="">
                      {{- end -}}

                      {{- .Params.deck | markdownify }} <em>(via&nbsp;<a href="{{- .Params.source_url -}}">{{ .Params.source_name }}</a>)</em> <i class="fas fa-external-link-alt"></i></p>

                    <a href="{{- .Params.source_url -}}" title="{{- .Params.source_name -}}"><span></span></a>
                  </article>

                {{/* If the type is a digital.gov Blog Post */}}
                {{ else }}

                  <article data-edit-this="{{- .File.Path -}}">
                    <p><img src="{{ "img/digit-16.png" | absURL }}" alt=""><a href="{{- .Permalink -}}"><strong>{{- .Title | markdownify -}}</strong></a>{{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}&nbsp;<em class="date">({{ .Date.Format "Jan _2, 2006" -}})</em></p>
                    <a href="{{- .Permalink -}}" title="{{- .Title | markdownify -}}"><span></span></a>
                  </article>
                {{ end }}

              {{ end }}
            {{ end }}
          </section>
        </div>
      </div>


    </div>
  </article>
</main>
{{ end }}
