{{/* =========

  Displays an authors github image as a circle profile and name next to it.
  The default layout is a stacked vertical list used on events and news single.html templates.
  Allows an optional override to display a inline list on card-*.html templates.

  @param {object} scope (required) - the parent scope
  @param {array} authors (required) - an array of strings of author names in the format of "firstname-lastname"
  @param {boolean} isInline (optional)- flag to display an inline list of authors

  @example
  {{- partial "core/authors-list.html" (dict "scope" . "authors" $authors "isInline" true)
-}}

======== */}}
{{ $scope := .scope }}
{{ $authors := .authors }}
{{ $isInline := default false .isInline }}

{{ if $authors }}
  <div class="authors-list {{ if $isInline }}authors-list--inline{{ end }}">
    {{ range $i, $e := uniq (sort $authors) }}
      {{/* urlize with ensure there is a hyphen between the firstname and lastname to read firstname-lastname */}}
      {{ $uid := $e | urlize }}
      {{ $author := $scope.Site.GetPage (printf "/%s/%s" "authors" $uid) }}
      {{ with $author }}
        {{ $authorSlug := $author.Params.slug }}
        {{ $authorDisplayName := $author.Params.display_name }}
        {{ $authorAgency := $author.Params.agency }}


        <div class="author usa-media-block">
          {{ partial "core/author-image.html" (dict "author" . ) }}
          <div class="usa-media-block__body">
            <a
              class="author__name"
              href="{{ .Permalink }} "
              title="Posts by {{ $authorDisplayName | default $authorSlug }}"
              rel="author"
              aria-label="Read more articles by {{ $authorDisplayName | default $authorSlug }}"
              >{{ $authorDisplayName }}</a
            >
            {{ if and (not $isInline) $authorAgency }}
              <p class="author__details-agency">
                {{ $authorAgency }}
              </p>
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
