{{/* =========

  Displays an authors github image as a circle profile and name next to it.
  The default layout is a stacked vertical list used on events and news single.html templates.
  Allows an optional override to display a inline list on card-*.html templates.

  @param {object} scope - the current template page scope used to get the associated authors
  @param {boolean} isInline - optional flag to display an inline list of authors

  @example
  {{- partial "core/authors_list.html" (dict "scope" . "isInline" true)
-}}
*/}}
{{ $scope := .scope }}
{{ $isInline := default false .isInline }}
{{/* Returns the list of authors from the parent scope */}}
{{ $authors := $scope.Param "authors" }}

{{ if $authors }}
  <div class="authors-list {{ if $isInline }}authors-list--inline{{ end }}">
    {{ range $i, $e := uniq (sort $authors) }}
      {{ $uid := $e | urlize }}
      {{ $author := $scope.Site.GetPage (printf "/%s/%s" "authors" $uid) }}
      {{ with $author }}
        {{ $authorSlug := $author.Params.slug }}
        {{ $authorDisplayName := $author.Params.display_name }}
        {{ $authorAgency := $author.Params.agency }}


        <div class="author usa-media-block">
          {{ partial "core/author_image.html" (dict "author" . ) }}
          <div class="usa-media-block__body">
            <a
              class="author__name"
              href="{{ .Permalink }} "
              title="Posts by {{ $authorDisplayName | default $authorSlug }}"
              rel="author"
              aria-label="Read more articles by {{ $authorDisplayName | default $authorSlug }}"
              >{{ $authorDisplayName }}</a
            >
            {{ if and (not $isInline) $authorAgency }}
              <p class="author__details-agency">
                {{ $authorAgency }}
              </p>
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
