<!-- <div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <h4 class="usa-alert__heading">Old Information</h4>
    <p class="usa-alert__text">
      This article was published more than 5 years ago. Links may not function
      and information on the page may be out of date.
    </p>
  </div>
</div> -->

<div class="usa-alert usa-alert--info usa-alert--slim">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      This article was published more than 5 years ago. Links may not function
      and information on the page may be out of date.
    </p>
  </div>
</div>
