<nav class="breadcrumbs">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row">
      <div class="grid-col-auto">
        <p>
          <a href="/" aria-label="Back to Homepage">Home</a>
          {{- template "breadcrumb" dict "current" . "id" .File.UniqueID -}}
        </p>
      </div>
    </div>
  </div>
</nav>

<!-- Breadcrumb template -->
{{- define "breadcrumb" -}}
  {{- if .current.Parent -}}
    <!-- If the Parent is not HOME -->
    {{- if ne .current.Parent .IsHome -}}
      <!-- Call this template again -->
      {{- template "breadcrumb" dict "current" .current.Parent -}}
    {{- end }}

    {{- if eq .id .current.File.UniqueID }}
    <span class="arrow-right"></span> {{ .current.Title -}}
    {{ else }}
    <span class="arrow-right"></span> <a href="{{- .current.Permalink -}}" aria-label="Back to {{- .current.Title -}}">{{- .current.Title -}}</a>
    {{- end -}}

  {{- end -}}
{{- end -}}
