<nav class="breadcrumbs">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row">
      <div class="grid-col-auto">
        <p>
          <a href="/" aria-label="Back to Homepage">Home</a>
          {{- template "breadcrumb" dict "current" . "id" .File.UniqueID -}}
        </p>
      </div>
    </div>
  </div>
</nav>

<nav class="usa-breadcrumb" aria-label="Breadcrumbs">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="/" class="usa-breadcrumb__link">
        <span>Home</span>
      </a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="" class="usa-breadcrumb__link">
        <span>
          {{- template "breadcrumb" dict "current" . "id" .File.UniqueID -}}
        </span>
      </a>
    </li>
  </ol>
</nav>

<!-- Breadcrumb template -->
{{- define "breadcrumb" -}}
  {{- if .current.Parent -}}
    <!-- If the Parent is not HOME -->
    {{- if ne .current.Parent .IsHome -}}
      <!-- Call this template again -->
      {{- template "breadcrumb" dict "current" .current.Parent -}}
    {{- end }}

    {{- if eq .id .current.File.UniqueID }}
    <li class="usa-breadcrumb__list-item">
      <a href="{{- .current.Permalink -}}" class="usa-breadcrumb__link">
        <span>
          {{ .current.Title -}}
        </span>
      </a>
    </li>
    {{ else }}
    <!-- <li class="usa-breadcrumb__list-item usa-current">
      <a href="{{- .current.Permalink -}}" class="usa-breadcrumb__link" aria-current="page" aria-label="Back to {{ .current.Title }}">
        <span>
          {{ .current.Title -}}
        </span>
      </a>
    </li> -->
    <!-- <span class="arrow-right"></span> <a href="{{- .current.Permalink -}}" aria-label="Back to {{- .current.Title -}}">{{- .current.Title -}}</a> -->
    {{- end -}}

  {{- end -}}
{{- end -}}
