{{/*

  Collection List Item
  Returns a list item variant for USWDS Collection

  $href: collection header link
  $logo_source: logo path or url
  $variant: default, media, headings, calendar
  $meta_source: is the referring source link for headings variant
  $list_header: accepts a header value
    3 = h3
    4 = h4

*/}}
{{ $variant := .variant }}
{{ $meta_source := .meta_source }}
{{ $href := .href }}
{{ $logo_source := .logo_source }}
{{ $list_header := .list_header }}

{{- with .item -}}
  {{ $path := "" }}{{ with .File }}
    {{ $path = .Path }}
  {{ else }}
    {{ $path = .Path }}
  {{ end }}

  {{ if eq $variant "default" }}
    <li class="usa-collection__item">
      <div class="usa-collection__body">
        {{- template "list-item-header" dict "title" .Title "href" $href "list_header" $list_header -}}
        {{- template "list-item-description" dict "summary" .Params.summary "deck" .Params.deck -}}
      </div>
    </li>
  {{ else if eq $variant "media" }}
    <li class="usa-collection__item" data-edit-this="{{- $path -}}">
      {{- partial "partials/core/collection-icon" (dict "item" . "logo_source" $logo_source) -}}
      <div class="usa-collection__body">
        {{- template "list-item-header" dict "title" .Title "href" $href "list_header" $list_header -}}
        {{- template "list-item-description" dict "summary" .Params.summary "deck" .Params.deck -}}
      </div>
    </li>
  {{ else if eq $variant "headings" }}
    <li class="usa-collection__item">
      <div class="usa-collection__body">
        {{- template "list-item-header" dict "title" .Title "href" $href "list_header" $list_header -}}
        <ul class="usa-collection__meta" aria-label="More information">
          <li class="usa-collection__meta-item position-relative">
            <svg
              class="usa-icon position-relative bottom-neg-2px"
              aria-hidden="true"
              role="img"
            >
              <use
                xlink:href="{{ "uswds/img/sprite.svg#public" | relURL }}"
              ></use>
            </svg>
            {{ $meta_source }}
          </li>
        </ul>
      </div>
    </li>
  {{ end }}
{{- end -}}


{{- define "list-item-header" -}}
  {{ if eq .list_header 3}}
    <h3 class="usa-collection__header">
      <a
        class="usa-link"
        href="{{- .href -}}"
        title="{{- .title | markdownify -}}"
      >
        {{- .title | markdownify -}}
      </a>
    </h3>
  {{ else if eq .list_header 4}}
    <h4 class="usa-collection__header">
      <a
        class="usa-link"
        href="{{- .href -}}"
        title="{{- .title | markdownify -}}"
      >
        {{- .title | markdownify -}}
      </a>
    </h4>
  {{ end }}
{{- end -}}


{{- define "list-item-description" -}}
  <p class="usa-collection__description">
    {{- if .summary -}}
      {{- .summary | markdownify | truncate 140 -}}
    {{- else -}}
      {{- .deck | markdownify -}}
    {{- end -}}
  </p>
{{- end -}}
