{{/*

  Collection Header
  Return a h2, h3, h4 with an option to include a link, see "link" template at bottom

  $header_id is the relative path to the file — "v21st-century-idea", accepts a string
  $header_link accepts a url if present will render a link within the header, otherwise just a plain header
  $header_title title text for the header
  $header_size choose header size
    1 = h1
    2 = h2
    3 = h3
    4 = h4
    5 = h5
*/}}

{{ $header_id := .header_id }}
{{ $header_link := .header_link }}
{{ $header_title := .header_title }}
{{ $header_size := .header_size }}

<!-- prettier-ignore -->
<h{{- $header_size | safeHTML -}} class="dg-collection__header" {{ if $header_id }}id="{{- $header_id -}}"{{ end }}>
  {{ if $header_link }}
    <a href="{{- $header_link -}}">
      {{- $header_title -}}
    </a>
  {{ else }}
    {{- $header_title -}}
  {{ end }}
</h{{- $header_size | safeHTML -}}>