{{/* Gets the full array of items passed into the partial

  @list list of elements, can be single?
  @href link to resource — "//localhost:1313/resources/how-test-websites-for-accessibility/?dg"
  @src set true to display images —
  @link set to false, make h2 a link to something
  @limit set a limit to the number of items displayed
  @variant uswds collection variant type

  header_title
  header_size
  header_link url 
  header_id is the relative permalink paths ("v21st-century-idea")
*/}}
{{ $list := .list }}
{{ $header_title := .header_title }}
{{ $header_size := .header_size }}
{{ $header_link := .header_link }}
{{ $header_id := .header_id }}

{{ $footer_text := .footer_text }}
{{ $variant := .variant }}
{{ $limit := or .limit 10 }}
{{ $meta_source := .meta_source }}

{{/* Remove from this partial?  */}}
{{ $href := "" }}
{{ $src := "" }}

{{/* If there are any items in the array at all... */}}
{{ if $list }}
  <div class="dg-collection">
    <div class="grid-row">
      <div class="grid-col-12 tablet-lg:grid-col-10">
      {{/* Checks if there a heading is set in the partial */}}
      {{ if $header_title }}
        {{ partial "partials/core/collection-header" (dict "header_title" $header_title "header_size" $header_size "header_link" $header_link "header_id" $header_id) }}
      {{ end }}
      {{ partial "partials/core/collection-uswds" (dict "list" $list "limit" $limit "href" $href "src" $src "variant" $variant) }}
      </div>
    </div>

    {{ if $footer_text }}
      <footer class="dg-collection__footer">
        <p class="more">
          <a href="{{- $header_link -}}">
            <span>More on {{ $footer_text }}</span>
            <svg
              class="usa-icon dg-icon dg-icon--standard margin-bottom-05"
              aria-hidden="true"
              focusable="false"
            >
              <use
                xlink:href="{{ "uswds/img/sprite.svg#arrow_forward" | relURL }}"
              ></use>
            </svg>
          </a>
        </p>
      </footer>
    {{ end }}
  </div>
{{ end }}
