{{/* Gets the full array of items passed into the partial

  @list list of elements, can be single?
  @href link to resource — "//localhost:1313/resources/how-test-websites-for-accessibility/?dg"
  @src set true to display images —
  @link set to false, make h2 a link to something
  @limit set a limit to the number of items displayed
  @variant uswds collection variant type
*/}}
{{ $list := .list }}
{{ $heading := .heading }}
{{ $header_size := .header_size }}
{{ $topic_link := .topic_link }}
{{ $id := .id }}
{{ $variant := .variant }}
{{ $limit := or .limit 10 }}
{{/* use value passed in or default to 10 items, use count or length instead of limit */}}
{{ $meta_source := .meta_source }}
{{ $href := "" }}
{{ $src := "" }}

{{/* If there are any items in the array at all... */}}
{{ if $list }}
  <div class="dg-collection">
    {{/* Checks if there a heading is set in the partial */}}

    {{ if $heading }}
      <h3 id="{{ $id }}" class="dg-collection__heading">
        <a href="{{ $topic_link }}">
          {{- $heading -}}
        </a>
      </h3>
    {{ end }}

    {{/* wrapper div/section dg-collection__body */}}
    {{ partial "partials/core/collection-uswds" (dict "list" $list "limit" $limit "href" $href "src" $src "variant" $variant) }}

    {{/* Move footer here ? */}}
  </div>
{{ end }}
