{{/* 
  
  1. 41,53 should be used once, same code
  2. $src on 38 outputs "/logos/digitalgov-icon.png" "/logos/uswds-icon.png"
  3. $src on 66 outputs "https://www.google.com/s2/favicons?domain=https://www.section508.gov/manage/laws-and-policies/far-update-comparison/" to fetch icon
  4. write a check that sets via google or hosted logo for $src
  5. wrote more like factory pattern versus
  6. 35 prints "Page(/sources/source_digitalgov.md)"
  7. content/sources/source_*
  8. logo params ? use it : google lookup
  9. move out to separate templates
  if an external link, display external link logo
  else use digital.gov logo

*/}}


{{/* Gets the full array of items passed into the partial */}}
{{- $list := .list -}}

{{/* If there are any items in the array at all... */}}
{{- if $list -}}
  <div class="collection">
    {{/* Checks if there a heading is set in the partial */}}
    {{- if .heading -}}
      <h2>{{- .heading -}}</h2>
    {{- end -}}


    <ul>
      {{- range $list -}}

        {{/* A. If an  external link, source_url: content/{news,resources, services} */}}
        {{- if or .Params.source_url .Params.source -}}

          {{/* B. Check if need to get source logo or google lookup */}}
          {{/* If there is a defined source for this page, these are content/resources */}}
          {{- if .Params.source -}}

            {{/* Get the source data from the resource */}}
            {{- $source := .Site.GetPage (print "source_" .Params.source ) -}}

            {{/* If there is a logo defined in the source */}}
            {{- if $source.Params.logo -}}

              {{/* get the path for the icon — e.g. 18f-icon.png ( "/logos/digitalgov-icon.png" ) */}}
              {{- $src := (printf "/logos/%s%s" $source.Params.logo "-icon.png") -}}
              {{/* Pass these vars into the collection template
                (see bottom of collection.html partial)
              */}}
              {{- partial "partials/core/collection-list-item" (dict "item" . "href" (print .Params.source_url "?dg") "src" $src) -}}

            {{- end -}}

            {{/* No source? let's attempt to get the favicon for the URL */}}
          {{- else -}}

            {{/* get the Favicon via Google Favicon service */}}
            {{- $src := (print "https://www.google.com/s2/favicons?domain=" .Params.source_url) -}}
            {{/* Pass these vars into the collection template
              (see bottom of collection.html partial)
            */}}

            {{- partial "partials/core/collection-list-item" (dict "item" . "href" (print .Params.source_url "?dg") "src" $src) -}}

          {{- end -}}

          {{/* If an internal link... */}}
        {{- else -}}

          {{/* Use the digital.gov logo */}}
          {{/* Pass these vars into the collection template
            (see bottom of collection.html partial)
          */}}

          {{- $src := (print "/img/digit-50.png") -}}
          {{- $href := (print .Permalink "?dg") -}}
          {{- partial "partials/core/collection-list-item" (dict "item" . "href" $href "src" $src) -}}

        {{- end -}}
      {{- end -}}
    </ul>
  </div>
{{- end -}}