{{/*

  Collection Header
  Return a h2, h3, h4 with an option to include a link, see "link" template at bottom

  $header_id is the relative path to the file — "v21st-century-idea", accepts a string
  $header_link accepts a url if present will render a link within the header, otherwise just a plain header
  $header_title title text for the header
  $header_size choose header size
    2 = h2
    3 = h3
    4 = h4
*/}}

{{ $header_id := .header_id }}
{{ $header_link := .header_link }}
{{ $header_title := .header_title }}
{{ $header_size := .header_size }}

{{ if eq $header_size 2 }}
  <h2 id="{{- $header_id -}}" class="dg-collection__header">
    {{- template "link" dict "header_title" $header_title "header_link" $header_link -}}
  </h2>
{{ else if eq $header_size 3 }}
  <h3 id="{{- $header_id -}}" class="dg-collection__header">
    {{- template "link" dict "header_title" $header_title "header_link" $header_link -}}
  </h3>
{{ else if eq $header_size 4 }}
  <h4 id="{{- $header_id -}}" class="dg-collection__header">
    {{- template "link" dict "header_title" $header_title "header_link" $header_link -}}
  </h4>
{{ end }}

{{- define "link" -}}
  {{ if .header_link }}
    <a href="{{- .header_link -}}">
      {{- .header_title -}}
    </a>
  {{ else }}
    {{- .header_title -}}
  {{ end }}
{{- end -}}
