{{/*


  USWDS Collection Component — https://designsystem.digital.gov/components/collection/
  Renders a USWDS unordered list wrapped around dg-collection component

  $data
  $length
  $href
  $log_source
  $variant type maps to uswds variants
  $meta_source, for the headings only variant

*/}}

{{ $data := .data }}
{{ $length := or .length 10 }}
{{ $href := "" }}
{{ $logo_source := "" }}
{{ $variant := .variant }}
{{ $meta_source := .meta_source }}
{{ $list_header := .list_header }}

<ul class="usa-collection">
  {{ if $data }}
    {{ range first $length $data }}

      {{/*
        check .Params.source_url first to get hi quality icon, then .Params.source for local backup icon  
        if neither exist, then use default digital.gov logo
      */}}

      {{/*  $logo_source returns a url: https://www.google.com/s2/favicons?domain=https://designsystem.digital.gov/maturity-model/  */}}
      {{ if .Params.source_url }}
        {{ $logo_source = (print "https://www.google.com/s2/favicons?domain=" .Params.source_url) }}
        {{ $href = .Params.source_url}}
      {{ end }}

      {{/* Is the link external, look up in sources for a logo, provide a sample value expected "uswds" => "/logos/uswds-icon.png" */}}
      {{ if .Params.source }}
        {{ $source := .Site.GetPage (print "source_" .Params.source ) }}
        {{ if $source.Params.logo }}
          {{ $logo_source = (printf "/logos/%s%s" $source.Params.logo "-icon.png") }}
        {{ end }}
      {{ end }}

      {{/* will catch if both are empty, then display default digital.gov logo for link — /img/digit-50.png */}}
      {{ if eq .Params.source_url .Params.source }}
        {{ $logo_source = (print "/img/digit-50.png") }}
        {{ $href = (print .Permalink "?dg") }}
      {{ end }}

      {{- partial "partials/core/collection-list-item" (dict "item" . "href" $href "logo_source" $logo_source "variant" $variant "meta_source" .Params.source "list_header" $list_header) -}}
    {{ end }}
  {{ else }}
    {{ .Inner }}
  {{ end }}
</ul>
