{{/* Digital.gov Community Card Component
  Renders a single digital.gov community in a standalone card

  @param {object} community - A singular community with:
  - dg_shortname - A short name for the digital.gov community
  - summary - A description of the community
  - Permalink - A link to the community
*/}}

{{ $path := .community.Path }}

<div data-edit-this="{{- $path -}}" class="usa-card__container">
  <div class="usa-card__header">
    <h2 class="usa-card__heading">
      {{- .community.Params.dg_shortname | markdownify -}}
    </h2>
  </div>
  <div class="usa-card__body">
    <p>{{- .community.Params.summary | markdownify -}}</p>
  </div>
  <div class="usa-card__footer">
    <a
      class="usa-button"
      href="{{- .community.Permalink -}}"
      title="{{- .community.Params.dg_shortname -}}"
    >
      Connect with <br />{{ .community.Params.dg_shortname }}
    </a>
  </div>
</div>
