{{/* Digital.gov Communities Component
  Renders a list of Digital.gov communities on both the home page and communities page

  @param {string} community_title - Title of the community
  @param {string} community_deck - Short description of the community page.
  @param {string} community_page - Either "list" for the community page or "home" for the home page. Dictates the layout of the community cards.
*/}}

{{/* Gets all communities pages */}}
{{ $dg_communities := (where .context.Site.Pages "Section" "communities").ByTitle }}

{{/* Gather only the pages with a weight greater than or equal to 1 */}}
{{ $dg_communities := (where $dg_communities ".Params.weight" "ge" 1) }}

{{/* Gather only the pages with a dg-emphasis key */}}
{{ $dg_communities := (where $dg_communities ".Params.dg_highlight" "eq" true) }}


<header
  class="page-head {{ cond (eq .community_page "home") "dg-featured-communities__title" "" }} grid-container-desktop"
>
  {{- with .community_title -}}
    <h2>{{ . | markdownify }}</h2>
  {{- end -}}
  {{- with .community_deck -}}
    <p>
      {{ . | markdownify }}
    </p>
  {{- end -}}
</header>
<section class="usa-section">
  <div class="dg-featured-communities">
    {{ range $e := $dg_communities }}
      {{ $path := "" }}
      {{ with .File }}
        {{ $path = .Path }}
      {{ else }}
        {{ $path = .Path }}
      {{ end }}

      {{- $image := cond (isset $e.Params "logo") (printf "%s/%s" "img/" $e.Params.logo | absURL) "" -}}
      {{- $alt := $e.Params.dg_shortname -}}
      {{- $summary := cond (isset $e.Params "short") $e.Params.short $e.Params.summary -}}

      {{- if eq $.community_page "home" -}}
        <a
          class="dg-featured-communities__home-container {{ $e.Params.dg_acronym }}"
          href="{{- $e.Permalink -}}"
          title="View {{- " " -}} {{- $e.Params.dg_shortname -}} {{- " " -}} Community"
        >
          {{- if $e.Params.logo }}
            <img
              class="dg-featured-communities__home-logo"
              src="{{- $image -}}"
              alt="{{- $alt -}} {{- " " -}} Community"
            />
          {{- end -}}
          <p class="dg-featured-communities__home-description">
            {{- $summary | markdownify -}}
          </p>
        </a>
      {{ else }}
        <div
          class="usa-card{{ if $e.Params.dg_acronym }}
            cop-card--{{ $e.Params.dg_acronym }}
          {{ end }}"
        >
          {{- partial "core/usa-card.html" (dict "header" $e.Params.dg_shortname "image" $image "alt" $alt "body" $e.Params.summary "link" $e.Permalink "link_title" (printf "%s%s" "Connect with <br/>" $e.Params.dg_shortname) "path" $path) -}}
        </div>
      {{ end }}
    {{ end }}
  </div>
</section>
