<table class="usa-table usa-table--borderless cop-table usa-table--stacked">
  <caption>When participating in the community, community members must follow the ground rules for discussions.</caption>
  <thead>
    <tr scope="row">
      <th scope="col">
        <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
          <use xlink:href="{{ "uswds/img/sprite.svg#check_circle" | relURL }}"></use>
        </svg>
        What you should do
      </th>
      <th scope="col">
        <svg class="usa-icon dg-icon dg-icon--standard margin-bottom-05" aria-hidden="true" focusable="false">
          <use xlink:href="{{ "uswds/img/sprite.svg#cancel" | relURL }}"></use>
        </svg>
        What you shouldn't do
      </th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row">
      <td data-label="Do">
        Use your official .gov or .mil email account.
      </td>
      <td data-label="Don't">
        Don’t use your personal email.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Understand that you are acting in your official capacity and representing the government.
      </td>
      <td data-label="Don't">
        Don’t conduct yourself in a way that’s unbecoming of a government employee or contractor.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Follow your agency’s policies, including policies about using government equipment and IT systems and managing records.
      </td>
      <td data-label="Don't">
        Don’t violate your agency’s policies.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Respect your colleagues. Always assume the best of others.
      </td>
      <td data-label="Don't">
        Don’t make personal attacks.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Be patient. Understand that community members have various experience levels.
      </td>
      <td data-label="Don't">
        Don’t be condescending or talk down to other people.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Listen carefully and actively. Listen as much as you speak. 
      </td>
      <td data-label="Don't">
        Don’t disrupt meetings, talks, or discussions, including mailing lists and chats.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Review your message before pressing send.
      </td>
      <td data-label="Don't">
        Don’t use inappropriate language, images, or emojis. Don’t reply-all if your message may clutter other members’ inboxes.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Share government links and resources. 
      </td>
      <td data-label="Don't">
        Don't name (endorse) commercial products or services or appear to recommend them in your professional capacity or on behalf of your agency.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Keep the conversation relevant and stay on point. Start a new thread if needed. Give others the time and space to participate.
      </td>
      <td data-label="Don't">
        Don’t dominate conversations. Don’t interrupt or talk over other people.
     </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Respect members’ real, lived experiences. Recognize that people face systemic discrimination in a multitude of ways.
      </td>
      <td data-label="Don't">
        Don’t belittle others to make your point.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Take legal questions to your agency’s lawyers.
      </td>
      <td data-label="Don't">
        Don’t seek legal advice from the community. Don’t take conversations or shared experiences as interpretations of federal laws and policies.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Treat other people's identities and cultures with respect. Spell and say their name correctly and use their pronouns.
      </td>
      <td data-label="Don't">
        Don’t make derogatory comments on race, color, sex, sexual orientation, gender identity, religion, national origin, age, disability, genetic information, marital status, parental status, political affiliation, or appearance.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Ensure the community is free from harassment, including sexual harassment and sexual misconduct.
      </td>
      <td data-label="Don't">
        Don’t harass anyone. This includes, but is not limited to, retaliating against anyone who files a complaint.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Remember that everything you write on the mailing list is a federal record and subject to release under FOIA.
      </td>
      <td data-label="Don't">
        Don’t assume your communications are private.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Use <a href="https://www.plainlanguage.gov/" class="usa-link usa-link--external">plain language</a>.
      </td>
      <td data-label="Don't">
        Don’t use confusing or overly technical language.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Abide by the <a href="https://pra.digital.gov/" class="usa-link usa-link--external">Paperwork Reduction Act</a> when sending out a survey or other requests for feedback.
      </td>
      <td data-label="Don't">
        Don’t violate the Paperwork Reduction Act.
      </td>
    </tr>
    <tr scope="row">
      <td data-label="Do">
        Abide by <a href="https://www.usa.gov/government-works" class="usa-link usa-link--external">U.S. copyright laws</a> when using others' content.
      </td>
      <td data-label="Don't">
        Don’t violate U.S. copyright laws.
      </td>
    </tr>
  </tbody>
</table>