<p>
  The Communities of Practice are hosted by digital.gov, a service of the
  Technology Transformation Services (TTS) within the General Services
  Administration (GSA). GSA is a federal agency subject to the Freedom of
  Information Act (FOIA) and must comply with requests for records made under
  FOIA. As a result, all communications made on this Communities of Practice
  LISTSERV are subject to release under FOIA.
</p>
<p>
  When participating in this CoP, follow
  <a
    target="new"
    href="https://digital.gov/communities/manage-your-subscription/"
    >Digital.gov Community Guidelines.</a
  >
</p>
