{{/* .gh-edit-tools styles the bottom right corner button styles for displaying the .gh-edit-page__button yellow highlights
  and github report an issue red button
*/}}


<div class="gh-edit-tools">
  <button class="gh-edit-tools__button" aria-label="edit" type="button">
    <svg
      class="usa-icon dg-icon dg-icon--large margin-bottom-05"
      aria-hidden="true"
      focusable="false"
    >
      <use xlink:href="{{ "uswds/img/sprite.svg#edit" | relURL }}"></use>
    </svg>
  </button>
  <a
    class="gh-edit-tools__button gh-edit-tools__issue-link"
    role="button"
    target="_blank"
    rel="noreferrer"
    href="https://github.com/GSA/digitalgov.gov/issues/new?assignees=&labels=Bug&projects=&template=bug_report.md&title=Bug:+"
  >
    <svg
      class="usa-icon dg-icon dg-icon--large margin-bottom-05"
      aria-hidden="true"
      focusable="false"
    >
      <use xlink:href="{{ "uswds/img/sprite.svg#bug_report" | relURL }}"></use>
    </svg>
    <span class="usa-sr-only">Report an issue</span>
  </a>
</div>
