{{/* Digital.gov Communities Component
  Renders a list of Digital.gov communities on both the home page and communities page

  @param {string} community_title - Title of the community
  @param {string} community_deck - Short description of the community page.
  @param {string} community_page - Either "list" for the community page or "home" for the home page. Dictates the layout of the community cards.
*/}}

{{ $dg_communities := .data }}

{{/* TODO: remove wrapper classes for component */}}
<div class="dg-featured-communities">
  {{ range $dg_communities }}
    {{ $path := "" }}
    {{ with .File }}
      {{ $path = .Path }}
    {{ else }}
      {{ $path = .Path }}
    {{ end }}
    <div
      class="usa-card{{ if .Params.dg_acronym }}
        cop-card--{{ .Params.dg_acronym }}
      {{ end }}"
    >
      {{ $card_data := (dict "header" .Params.dg_shortname "body" .Params.summary "link" .Permalink "link_title" (printf "%s%s" "Connect with <br/>" .Params.dg_shortname) "image" .Params.dg_logo "path" $path) }}
      {{- partial "core/usa-card.html" (dict "card_data" $card_data) -}}
    </div>
  {{ end }}
</div>
