{{/* Digital.gov Communities Component
  Renders a list of Digital.gov communities on both the home page and communities page

  @param {object} context - Parent scope context object
  @param {string} layout - Optional variant setting for card styles
  - "has-media" variant displays an image, full background colors on buttons, and left justified copy
*/}}

{{ $context := .context }}
{{ $layout := .layout }}

{{/* list featured communities in alphabetical order */}}
{{ $page_header := $context.Site.GetPage "/communities" }}
{{ $communities := (where $context.Site.Pages "Section" "communities").ByTitle }}
{{ $communities = (where $communities ".Params.weight" "ge" 1) }}
{{ $dg_communities := (where $communities ".Params.dg_highlight" "eq" true) }}


<div class="page-head">
  {{ with $page_header }}
    <h1>{{- .Title | markdownify -}}</h1>
    {{- if .Params.deck -}}
      <div class="deck">{{- .Params.deck | markdownify -}}</div>
    {{- end -}}
  {{ end }}
</div>

<div
  class="dg-featured-communities {{ if $layout }}
    dg-featured-communities--{{ $layout }}
  {{ end }}"
>
  {{ range $dg_communities }}
    <div
      class="usa-card{{ if .Params.dg_acronym }}
        cop-card--{{ .Params.dg_acronym }}
      {{ end }}"
    >
      {{ $members := "" }}
      {{ range .Params.community_list }}
        {{ if .members }}
          {{ $members = .members }}
        {{ end }}
      {{ end }}

      {{ $card_data := (dict
        "header" .Params.dg_shortname
        "body" .Params.summary
        "link" .Permalink
        "link_title" (printf "%s%s" "Connect with <br/>" .Params.dg_shortname)
        "image" .Params.dg_logo
        "alt" (printf "%s%s" .Params.dg_shortname " logo")
        "layout" $layout
        "site" $context.Site
        "members" $members
        "outline" true
        )
      }}

      {{- partial "core/usa-card.html" (dict "card_data" $card_data) -}}
    </div>
  {{ end }}
</div>
