<footer id="footer">
  <div class="grid-container padding-x-2">
    <div class="grid-row">
      <div class="grid-col-12 tablet-lg:grid-col-4">
        <h3 class="logo"><a href="{{ "" | absURL }}" title="Digital.gov Home"><img src="{{ "img/digitalgov-logo-white.png" | absURL }}" alt="digital.gov"></a></h3>
        <p class="font-sans-md margin-top-1">We help the government community deliver better digital services.</p>
      </div>
      <div class="grid-col-12 tablet-lg:grid-col-2 tablet-lg:grid-offset-6">
        <ul class="add-list-reset font-sans-xs ">
          <li><i class="width-3 fab fa-twitter"></i> <a class="text-ink hover:text-ink text-no-underline hover:text-underline" href="#">Twitter</a></li>
          <li><i class="width-3 fab fa-facebook-f"></i> <a class="text-ink hover:text-ink text-no-underline hover:text-underline" href="#">Facebook</a></li>
          <li><i class="width-3 fab fa-youtube"></i> <a class="text-ink hover:text-ink text-no-underline hover:text-underline" href="#">YouTube</a></li>
          <li><i class="width-3 fas fa-rss"></i> <a class="text-ink hover:text-ink text-no-underline hover:text-underline" href="#">RSS</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-row margin-top-3">
      <div class="grid-col-12">
        <p class="font-sans-2xs"><img class="width-2 top-2px position-relative margin-right-05" src="{{ "img/gsa-logo-white-lg.png" | absURL }}" alt="GSA"> General Services Administration — This is an official site of the U.S. Government.</p>
      </div>
    </div>
  </div>
</footer>
