{{/*======================================
    Get Past Events by topics with current date
    ======================================
*/}}
<div>
    {{/* Gets the past events */}}
    {{- $past_events := where (where .Site.RegularPages.ByDate.Reverse "Section" "events") ".Date.Unix" "<" now.Unix -}}
    {{ $past_events := $past_events | intersect (where $past_events "Date" "<" now)  }} 
    {{ $total_events := where  $past_events  ".Params.topics" "intersect" .Params.topics }} 
    {{if $total_events}}  
    <h2 id="Past-meeting">Past Meeting</h2>               
    <ul>
        {{ range $element := where $past_events  ".Params.topics" "intersect" .Params.topics }}                                   
        <li><a href="{{ .Permalink }}" title="{{ .Title | markdownify }}">{{ dateFormat "2006-01-02" .Params.date }} {{ .Title | markdownify }}</a></li>
        {{ end }}
    </ul>       
    {{ end }}         
</div>  