{{/* ======================================
  Related Communities
  ======================================
*/}}

{{ $featured_communities := (where (where .Site.Pages "Section" "communities").ByTitle ".Params.dg_highlight" "eq" true) }}

{{/* If there are community pages... */}}
{{- with $featured_communities -}}
  <article class="dg-promos dg-related-communities">
    <h3 class="dg-promos__heading">Join a Community</h3>

    <ul class="dg-promos__list">
      {{- range $featured_communities -}}
        <li class="promo dg-promos__list-item">
          <a
            href="{{ .Permalink }}?promo"
            title="Visit {{ .Title }} community page"
            class="dg-promos__link"
          >
            {{ .Title }}
          </a>
        </li>
      {{- end -}}
    </ul>

    <footer class="dg-promos__footer">
      {{ $communityCount := len (where $.Site.RegularPages "Section" "communities") }}


      <a
        href="{{ "communities" | relURL }}"
        class="dg-promos__more-link dg-more-link"
      >
        <span> See all {{ $communityCount }} communities </span>
        <svg
          class="usa-icon dg-icon dg-icon--small margin-bottom-05"
          aria-hidden="true"
          focusable="false"
        >
          <use
            xlink:href="{{ "uswds/img/sprite.svg#arrow_forward" | relURL }}"
          ></use>
        </svg>
      </a>
    </footer>
  </article>
{{- end -}}
