{{/*
  ======================================
  TOPICS
  ======================================
*/}}


{{/* This outputs the topics used on a specific page.*/}}

{{/* Checks if there are topics applied to this page */}}
{{- if (not (isset .Params "topics")) | or (eq .Params.topics "") -}}
{{- else -}}
<div class="topics">
  <h5>Topics</h5>
  <p>
  {{/* Sets the taxonomy we're pulling here */}}
  {{- $taxonomy := "topics" -}}
  {{- $topics := .Param $taxonomy -}}

  {{/* Gets the number of topics that are applied */}}
  {{- $length := $topics | len -}}

  {{/* For each of the topics,... */}}
  {{- range $i, $e := sort $topics -}}
    {{- $slug := . -}}
    {{/* Gets the Topics page */}}
    {{- with $.Site.GetPage (printf "/%s/%s" $taxonomy $slug) -}}
      {{ if lt (add $i 1) $length }}
      <a href="{{ .Permalink -}}" data-topic="{{ $slug }}">{{ .Title }}</a>,
      {{- else }}
      <a href="{{ .Permalink -}}" data-topic="{{ $slug }}">{{ .Title }}</a>
      {{ end }}
    {{- end -}}

  {{- end -}}
  </p>
</div>
{{- end -}}
