{{/*
  ======================================
  Promos (for articles)
  ======================================
*/}}

{{/* Gets the get_topics associated with this post */}}
{{ $.Scratch.Set "related_topics" (slice " ") }}

{{- if .Params.topics -}}
  {{/* This appends/adds the related_topics array */}}
  {{ $.Scratch.Add "related_topics" .Params.topics }}
{{- else -}}
  {{/* This appends/adds the related_topic (via .Data.Term) to the array */}}
  {{ $.Scratch.Add "related_topics" (slice .Data.Term ) }}
{{- end -}}

{{ $post_topics := ($.Scratch.Get "related_topics") }}

{{/* {{ {{ slice "a" "b" | shuffle }}}} */}}
{{/* IMPORTANT */}}
{{/* This is an empty array (a.k.a. slice) */}}
{{ $.Scratch.Set "related_promos" (slice " ") }}

{{/* For each topic in the post... */}}
{{ range $i, $topic := $post_topics }}

  {{/* Get all the promos */}}
  {{ $promos := $.Site.GetPage "page" "promo" }}

  {{/* Get all the promos WHERE page weight == 2 */}}
  {{ $promos := where ($promos.Resources.ByType "page") ".Params.weight" 2 }}

  {{/* If there are any promos */}}
  {{ with $promos }}

    {{/* For each promo */}}
    {{ range $i, $e := . }}

      {{/* get the topic associated with the promo */}}
      {{ $promo_topics := .Params.topics }}

      {{/* If the $topic is in one of these promos,... */}}
      {{/* display the promo */}}
      {{ if in $promo_topics $topic }}

      {{/* This appends/adds the .File.LogicalName to the array */}}
      {{ $.Scratch.Add "related_promos" (slice .File.LogicalName ) }}

      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Removes the duplicate file names in the array */}}
{{ $related_promos := uniq ($.Scratch.Get "related_promos") }}

{{ if $related_promos }}
  {{/* If there are related promos... */}}
  {{ if gt (len $related_promos) 1 }}
    <section class="related_promos">

      <header>
        <h3>Related Services</h3>
      </header>

    {{/* Let's loop through the file names! */}}
    {{ range $i, $e := $related_promos }}

      {{/* Identifies the area to look for the file name */}}
      {{ $headless := $.Site.GetPage "/promo" }}

      {{/* Gathers all the files that match the file name ($e) */}}
      {{ $reusablePages := $headless.Resources.Match $e }}

      {{/* Finally we can loop through all of the promos/files */}}
      {{ range $reusablePages }}

        <article class="promo">
          {{ if .Params.icon }}
          {{ $src := (print "/logos/" .Params.icon) }}
          <img class="thumb" src="{{ $src | relURL }}" alt="{{ .Params.name }} Logo">
          {{ end }}
          <h3><a href="{{ .Params.source_url }}?dg" title="{{ .Params.name }}">{{ .Params.name }}</a></h3>
          <p>{{ .Params.summary | markdownify }}</p>
          <a href="{{ .Params.source_url }}?dg" title="{{ .Params.name }}"><span></span></a>
        </article>

      {{ end }}

    {{ end }}
    <footer>
      {{ $promos := .Site.GetPage "page" "promo" }}
      <h5><a href="{{ "/communities/" | absURL }}">See all {{ len ($promos.Resources.ByType "page") }} ways to get started <i class="fas fa-arrow-alt-circle-right"></i></a></h5>
    </footer>
    </section>
  {{ end }}
{{ end }}
