{{/*
  ======================================
  Promos (for articles)
  ======================================
*/}}

{{/* Gets the get_topics associated with this post */}}
{{ $post_topics := .Params.topics }}

{{/* IMPORTANT */}}
{{/* This is an empty array (a.k.a. slice) */}}
{{ $.Scratch.Set "related_communities" (slice " ") }}

{{/* For each topic in the post... */}}
{{ range $i, $topic := $post_topics }}

  {{/* Get all the communities */}}
  {{ $communities := $.Site.GetPage "page" "communities" }}
  {{/* {{ $communities }} */}}
  {{ $communities := (where $.Site.Pages "Section" "communities") }}
  {{/* Get all the communities WHERE page weight == 3 */}}
  {{/* {{ $communities := where ($communities.Resources.ByType "page") ".Params.weight" 3 }} */}}
  {{/* If there are any communities */}}
  {{ with $communities }}

    {{/* For each communities */}}
    {{ range $i, $e := $communities }}
      {{/* get the topic associated with the communities */}}
      {{ $community_topics := .Params.topics }}

      {{/* If the $topic is in one of these communities,... */}}
      {{/* display the communities */}}
      {{ if in $community_topics $topic }}

      {{/* This appends/adds the .File.LogicalName to the array */}}
      {{ $.Scratch.Add "related_communities" (slice .File.LogicalName ) }}

      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Removes the duplicate file names in the array */}}
{{ $related_communities := uniq ($.Scratch.Get "related_communities") }}

{{ if $related_communities }}

  <section id="related_communities">

    <header>
      <h3>Join a Community</h3>
    </header>

    {{/* Let's loop through the community pages that have similar topics! */}}
    {{ range $i, $e := $related_communities }}

      {{/* Finally we can get the communities/pages and their data */}}
      {{ with $.Site.GetPage (print "/communities/" $e) }}
        <article class="promo">
          <div class="grid-row">
            <div class="grid-col-9 display-flex flex-align-center">
              <h3><a href="{{ .Permalink }}?promo" title="{{ .Title }}">{{ .Title }}</a></h3>
            </div>
            <div class="grid-col-3 display-flex flex-align-center">
              {{- if .Params.members -}}
              <p class="members"><i class="fas fa-user"></i>&nbsp;{{- .Params.members -}}</p>
              {{- end -}}
            </div>
          </div>
          <a href="{{ .Params.src }}?dg" title="{{ .Params.head }}"><span></span></a>
        </article>
      {{ end }}

    {{ end }}

    <footer>
      <h5><a href="{{ "/communities/" | absURL }}">See all {{ len (where .Site.Pages "Section" "communities") }} communities <i class="fas fa-arrow-alt-circle-right"></i></a></h5>
    </footer>
  </section>
{{ end }}
