{{/*
  ======================================
  AUTHORS .... short
  ======================================
*/}}
<p class="authors">
{{- if (not (isset .Params "authors")) | or (eq .Params.authors "") -}}
{{- else -}}
  {{/* get the authors  */}}
  {{- $_authors := .Params.authors -}}

  {{/* Count the number of authors */}}
  {{- $length := $_authors | len -}}

  {{- range $i, $e := $_authors -}}

    {{/* If the byline was entered as a display name (i.e. - John Smith )
    then this will turn that into a UID for use in a URL. */}}
    {{- $uid := $e | urlize -}}

    {{- $data := $.Site.Data -}}
    {{/* Lets look up the author data, based on the UID. Should equal the filename */}}
    {{- $author := index $.Site.Data.people.authors $uid -}}

    <a class="author author-short" href="{{- (printf "authors/%s/" $uid) | absURL -}} " title="Posts by {{- $author.display_name | default $uid -}} " rel="author">
      {{- if $author.github -}}
      <img class="circle-5" src="https://github.com/{{- $author.github -}}.png?size=50" alt="">
      {{- else -}}
      <img class="circle-5" src="http://placekitten.com/100/100" alt="">
      {{- end -}}
      <span>{{- $author.display_name | default $uid -}}
      {{- if $author.agency }} / {{ $author.agency -}}{{- end -}}</span>
    </a>{{ if lt (add $i 1) $length }}<!--,--> {{ end }}
  {{- end -}}
{{- end -}}
</p>
