{{/* Displays the author circular image and name next to it.
  Long layout is used on events and news single.html templates.
  Short layout is used on card-*.html templates.

  @param {object} context - Parent scope context object
  @param {string} layout - layout variant to display, "short" will display image and full name while "long" will additionally display agency.
  @param {boolean} isShort - flag to toggle between short and long variant to display
*/}}
{{ $context := .context }}
{{ $layout := .layout }}

{{ $isShort := true }}
{{ if eq $layout "long" }}
  {{ $isShort = false }}
{{ end }}

{{ if $context.Params.authors }}
  <div class="authors-list {{ if $isShort }}authors-list--short{{ end }}">
    {{- $authors_count := $context.Params.authors | len -}}

    {{- range $index, $authorName := $context.Params.authors -}}
      {{/* Converts capital case author name (i.e. John Smith) to lower case hyphenated (i.e. john-smith) string
        to lookup the author page
      */}}
      {{- $uid := $authorName | urlize -}}

      {{/* Look up the author page with the $uid (i.e. john-smith) */}}
      {{- with $context.Site.GetPage (printf "/%s/%s" "authors" $uid) -}}
        {{ $displayName := .Params.display_name }}
        {{ $agency := .Params.agency }}

        {{- if $isShort -}}
          <a
            class="author"
            href="{{- (printf "authors/%s/" $uid) | absURL -}}"
            rel="author"
          >
            {{- partial "core/get_author_image.html" (dict "author" . ) -}}
            <span class="usa-sr-only">Posts by</span>
            <span class="author__name"
              >{{- $displayName | default $uid | markdownify -}}</span
            >
          </a>
        {{- else -}}
          <div class="author grid-row">
            <div class="grid-col-auto">
              <div class="author__photo">
                {{- partial "core/get_author_image.html" (dict "author" . ) -}}
              </div>
            </div>
            <div class="grid-col-9">
              <div class="author__details">
                <span class="usa-sr-only">
                  Originally posted by
                  {{ $displayName | default $uid }}
                  on
                  {{ $.Date.Format "Jan 2, 2006" }}
                </span>
                <a
                  href="{{ (printf "authors/%s/" $uid) | absURL }} "
                  title="Posts by {{ $displayName | default $uid }}"
                  rel="author"
                  aria-label="Read more articles by {{ $displayName | default $uid }}"
                >
                  {{- $displayName | default $uid -}}
                </a>
                {{- if $agency -}}
                  <p class="author__details-agency">
                    {{- $agency -}}
                  </p>
                {{- end -}}
              </div>
            </div>
          </div>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}
