{{/*
  ======================================
  Promos (for articles)
  ======================================
*/}}

{{/* Gets the tags associated with this post */}}
{{ $post_tags := .Params.tag }}

{{/* IMPORTANT */}}
{{/* This is an empty array (a.k.a. slice) */}}
{{ $.Scratch.Set "related_promos" (slice " ") }}

{{/* For each tag in the post... */}}
{{ range $i, $tag := $post_tags }}

  {{/* Get all the promos */}}
  {{ $promos := $.Site.GetPage "page" "promo" }}

  {{/* Get all the promos WHERE page weight == 3 */}}
  {{ $promos := where ($promos.Resources.ByType "page") ".Params.weight" 3 }}

  {{/* If there are any promos */}}
  {{ with $promos }}

    {{/* For each promo */}}
    {{ range $i, $e := . }}

      {{/* get the tags associated with the promo */}}
      {{ $promo_tags := .Params.tag }}

      {{/* If the $tag is in one of these promos,... */}}
      {{/* display the promo */}}
      {{ if in $promo_tags $tag }}

      {{/* This appends/adds the .File.LogicalName to the array */}}
      {{ $.Scratch.Add "related_promos" (slice .File.LogicalName ) }}

      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Removes the duplicate file names in the array */}}
{{ $related_promos := uniq ($.Scratch.Get "related_promos") }}

{{ if $related_promos }}

  <section id="related_promos">

  {{/* Let's loop through the file names! */}}
  {{ range $i, $e := $related_promos }}

    {{/* Identifies the area to look for the file name */}}
    {{ $headless := $.Site.GetPage "/promo" }}

    {{/* Gathers all the files that match the file name ($e) */}}
    {{ $reusablePages := $headless.Resources.Match $e }}

    {{/* Finally we can loop through all of the promos/files */}}
    {{ range $reusablePages }}

      <article class="promo">
        {{ if .Params.icon }}
        <img src="/img/promos/{{ .Params.icon }}" alt="{{ .Params.head }} Icon">
        {{ end }}
        <h3><a href="{{ .Params.src }}?dg" title="{{ .Params.head }}">{{ .Params.head }}</a></h3>
        <p>{{ .Params.summary | markdownify }}</p>
        <a href="{{ .Params.src }}?dg" title="{{ .Params.head }}"><span></span></a>
      </article>

    {{ end }}

  {{ end }}
  </section>
{{ end }}
