<!-- prettier-ignore-start -->
{{/*
  
    The "edit" & "last updated" on section at the bottom of content pages.
    See https://digital.gov/event/2023/08/17/uswds-monthly-call-august-2023/#page-data

    @example Edit Last updated on Jun 13, 2023 at 5:45 p.m., ET
*/}}
<!-- prettier-ignore-end -->
<div class="gh-commit-info">
  <noscript> Github commit history failed to load. </noscript>
  <!-- .edit-file div is populated with .edit-file-link and last updated at timestamp in github.js at the bottom of each page -->
  <div class="gh-commit-info__container"></div>
</div>
