{{ if .Params.guide }}
<div class="bg-accent-cool padding-x-3 padding-y-2">
  <h4 class="margin-0 font-sans-md"><a class="text-no-underline hover:text-underline" href="{{ .Parent.Permalink }}" title="{{ .Parent.Title }}">{{ .Parent.Title }}</a></h4>
</div>
<div class="guide-nav bg-accent-cool-light padding-x-3 padding-y-2">
  {{ $current_url := .Parent.URL }}
  <ul class="padding-0 add-list-reset font-sans-md">
  {{ range where .Site.Pages.ByWeight ".Params.guide" .Params.guide }}
    {{/* If $current_url is equal to the URL, then print the page and give it the title of "Overview" */}}
    {{ if eq $current_url .URL }}
    <li class="margin-bottom-05"><a class="text-no-underline hover:text-underline text-ink hover:text-ink text-semibold" href="{{ .Permalink | relURL }}" title="{{ .Title }}">Overview</a></li>
    {{ else }}
    <li class="margin-bottom-05"><a class="text-no-underline hover:text-underline text-ink hover:text-ink text-semibold" href="{{ .Permalink | relURL }}" title="{{ .Title }}">{{ .Title }}</a></li>
    {{ end }}

  {{ end }}
  </ul>
</div>
{{ end }}

<div class="toc bg-accent-cool-lighter padding-3 font-sans-2xs">
  <h4 class="margin-0 margin-bottom-1">In this page</h4>
  {{ .TableOfContents }}
</div>
