{{ range where .Site.Pages "Section" "guide" }}
{{ .Title }}
{{ end }}
{{ if .Params.guidenav }}
<div class="guide-nav bg-accent-cool-light padding-3">

  <h4 class="margin-0 font-sans-lg">{{ .Parent.Title }}</h4>
  {{ $cur := .Params.guidenav }}
  <ul class="padding-0 add-list-reset font-sans-md">
  <!-- looking for a data-file in /data/guidenav/ -->
  {{ range (index .Site.Data.guidenav .Params.guidenav).guidenav }}
    <li class=""><a href="{{ .slug | relURL }}" title="{{ .title }}">{{ .title }}</a></li>
  {{ end }}
  </ul>
</div>
{{ end }}

<div class="toc bg-accent-cool-lighter padding-3">
  <h5 class="margin-0">In this page</h5>
  {{ .TableOfContents }}
</div>
