{{/* Core */}}

<header id="header">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-3">
        <h1 class="logo"><a href="{{ "" | absURL }}" title="Digital.gov Home"><img src="{{ "img/digit-100.png" | absURL }}" alt="digital.gov"> Digital.gov</a></h1>
      </div>

      <div class="grid-col-9">

        <nav>
          <li><a href="{{ "" | absURL }}">News</a></li>
          <li><a href="{{ "tags" | absURL }}">Topics</a></li>
          <li><a href="{{ "events" | absURL }}">Events</a></li>
          <li><a href="{{ "resources" | absURL }}">Resources</a></li>
          <li><a href="{{ "communities" | absURL }}">Communities</a></li>
        </nav>

        <form accept-charset="UTF-8" action="https://find.digitalgov.gov/search" class="search_form" method="get">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input id="affiliate" name="affiliate" type="hidden" value="digitalgov" />
          <label for="query" class="display-none">Search</label>
          <input autocomplete="off" class="font-sans-5 padding-1 border-y-1px border-left-1px border-right-0 height-5 radius-left-sm width-mobile-lg search_field"  name="query" type="text" placeholder="Search Guides &amp; Topics" />
          <button type="submit" class="height-5 border-1px radius-right-sm font-sans-5"><img src="{{ "img/crystal-ball.png" | absURL }}" alt="Search"></button>
        </form>

      </div>
    </div>
  </div>
</header>
