{{/* header-stack.html partial

  Parameters:
  - Title: The title of the page.
  - Params: A dictionary of parameters which can include:
  - kicker: A short introductory text, optionally displayed above the title.
  - deck: A subtitle or summary text displayed below the title.
  - hide_kicker: Boolean to hide the kicker text (default: false).
  - append_community: Boolean to append the word "Community" to the title (default: false).
*/}}


<div class="header-stack">
  {{- if not (or (isset .Params "hide_kicker") (eq .Params.hide_kicker true)) -}}
    {{- if .Params.kicker -}}
      <p class="kicker">{{- .Params.kicker -}}</p>
    {{- end -}}
  {{- end -}}
  <h1>
    {{ .Title | markdownify }}{{ if .Params.append_community }}
      Community
    {{ end }}
  </h1>
  {{- if .Params.deck -}}
    <div class="deck">{{- .Params.deck | markdownify -}}</div>
  {{- end -}}
</div>
