<div class="usa-overlay"></div>
<header class="guide-header usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text">
          <a href="{{- "/" | relURL -}}" title="{{- .Site.Title }} Home" aria-label="{{- .Site.Title }} Home">
            <img class="logo-black" src="{{- "img/digitalgov-logo.svg" | absURL -}}" alt="{{- .Site.Title -}} Logo" />
          </a>
        </em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>

    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close">
        <img src="{{ "/uswds/img/close.svg" | relURL }}" alt="close">
      </button>

      {{- $currentNode := . -}}
      {{- $menuClasses := "usa-nav__primary-item" -}}
      <ul class="usa-nav__primary usa-accordion">
        {{- range .Site.Menus.primary -}}
          <li class="usa-nav__primary-item {{ if or ($currentNode.IsMenuCurrent "primary" .) ($currentNode.HasMenuCurrent "primary" .) }} usa-current{{ end }}">
            <a class="usa-nav__link" href="{{- .URL -}}"><span>{{- .Name -}}</span></a>
          </li>
        {{- end -}}
      </ul><!-- .nav -->

    </nav>
  </div>

</header>
