<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header id="header">
<div class="grid-container grid-container-widescreen">
  <div class="grid-row">
    <div class="grid-col-12">

      <div class="display-flex flex-justify flex-align-center">
        <a class="logo" href="{{- "" | absURL -}}" title="Digital.gov Home">
          <img src="{{- "img/digitalgov-logo-black.svg" | absURL -}}" alt="Digital.gov">
        </a>

        <nav role="navigation">
          <ul>
            {{ range .Site.Menus.primary }}
              <li><a href="{{.URL}}" title="{{ .Name }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>

        <div class="buttons">
          <a href="{{- "/join" | absURL -}}" title="Contribute to Digital.gov" class="contribute"><span>Write for us</span></a>
          <a id="explore" href="#"><i class="fas fa-bars"></i> Menu</a>
        </div>

      </div>

    </div>
  </div>
</div>
</header>

<section class="search-bar-bar" role="search">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap-2">
      <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-1">

        <form class="search_form display-flex flex-row" accept-charset="UTF-8" action="https://find.digitalgov.gov/search" class="search_form" method="get">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input id="affiliate" name="affiliate" type="hidden" value="digitalgov" />
          <label for="query" class="display-none">Search</label>
          <input autocomplete="off" class="search_field" name="query" type="text" placeholder="Search" />
          <button type="submit"><img src="{{ "img/crystal-ball.png" | absURL }}" alt="Search"></button>
        </form>

      </div>
    </div>
  </div>
</section>
