{{/* Core */}}

<header id="header">
  <div class="grid-container padding-x-2">
    <div class="grid-row">
      <div class="grid-col-12 minw-8 tablet-lg:grid-col-3">
        <h1 class="logo"><a href="{{ "" | absURL }}" title="Digital.gov Home"><img src="{{ "img/digitalgov-logo.png" | absURL }}" alt="digital.gov"></a></h1>
      </div>

      <div class="grid-col-12 tablet-lg:grid-col-9">
        <div class="grid-row flex-column flex-align-stretch">
          <div class="grid-auto">
            <nav class="display-flex">
              <ul>
                <li><a href="{{ "" | absURL }}">News</a></li>
                <li><a href="{{ "tags" | absURL }}">Topics</a></li>
                <li><a href="{{ "events" | absURL }}">Events</a></li>
                <li><a href="{{ "resources" | absURL }}">Resources</a></li>
                <li><a href="{{ "communities" | absURL }}">Communities</a></li>
              </ul>
            </nav>
          </div>
          <div class="grid-auto">
            <form class="display-flex search_form" accept-charset="UTF-8" action="https://find.digitalgov.gov/search" class="search_form" method="get">
              <input name="utf8" type="hidden" value="&#x2713;" />
              <input id="affiliate" name="affiliate" type="hidden" value="digitalgov" />
              <label for="query" class="display-none">Search</label>
              <input autocomplete="off" class="search_field" name="query" type="text" placeholder="Search Guides &amp; Topics" />
              <button type="submit"><img src="{{ "img/crystal-ball.png" | absURL }}" alt="Search"></button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
