{{/* Key Services — 
A list of the most important services tagged with the same topic */}}

{{/* Of the pages that have this topic, this returns the pages in the "Services" section */}}
{{- $services := (where .Pages "Section" "services") -}}

{{/* If there are any services at all... */}}
{{- if $services -}}

<div class="list-collection">
  <h2>Services</h2>
  <ul>
    {{- range sort $services "Title" "asc" -}}
      <li><a {{ if .Params.src -}}class="external-link"{{- end }} href="{{- .Permalink -}}" title="{{ .Title | markdownify }}"><strong>{{ .Title | markdownify }}</strong></a> {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}</li>
    {{- end -}}
  </ul>
  <p class="more"><a href="{{ "/services/" | absURL }}">See all Services <i class="fas fa-arrow-alt-circle-right"></i></a></p>
</div>
{{- end -}}
