{{/* Related Communities — 
A list of the most important resources tagged with the same topic */}}

{{/* Of the pages that have this topic, this returns the pages in the "Resources" section */}}
{{- $services := (where .Pages "Section" "services") -}}

{{/* If there are any communities at all... */}}
{{- if $services -}}
<div class="list-related list-related-services">
  <h2>Tools & Services</h2>
  <ul>
    {{- range $services -}}
      <li><a href="{{- .Permalink -}}"><strong>{{ .Title | markdownify }}</strong></a> {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}</li>
    {{- end -}}
  </ul>
</div>
{{- end -}}
