{{/* Key Resources — 
A list of the most important resources tagged with the same topic */}}

{{/* Of the pages that have this topic, this returns the pages in the "Resources" section */}}
{{- $resources := (where .Pages "Section" "resources") -}}

{{/* If there are any resources at all... */}}
{{- if $resources -}}

<div class="list-collection">
  <h2>Resources on {{ .Title }} </h2>
  <ul class="add-list-reset">
    {{- range sort $resources "Title" "asc" -}}

      {{/* If an external link  */}}
      {{- if .Params.source_url -}}
      <li class="indent" data-edit-this="{{- .File.Path -}}">
        <a class="external-link" href="{{- .Params.source_url -}}?=dg" title="{{ .Title | markdownify }}">
          {{- if .Params.icon -}}
            {{- $src := (print "/logos/" .Params.icon) -}}
            <img class="thumb" src="{{ $src | relURL }}" alt="{{ .Title }} Logo">
          {{- else -}}
            <img class="thumb" src="https://www.google.com/s2/favicons?domain={{- .Params.source_url -}}" alt="{{- .Params.source -}} logo">
          {{- end -}}
          <span>{{ .Title | markdownify }}</span>
        </a>
        {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}</li>

      {{/* If an internal link  */}}
      {{- else -}}
      <li data-edit-this="{{- .File.Path -}}">
        <a href="{{- .Permalink -}}" title="{{ .Title | markdownify }}">
          <span>{{ .Title | markdownify }}</span>
        </a>
        {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}</li>
      {{- end -}}

    {{- end -}}
  </ul>
</div>
{{- end -}}
