{{/* Key Services — 
A list of the most important services tagged with the same topic */}}

{{/* Of the pages that have this topic, this returns the pages in the "Services" section */}}
{{- $services := (where .Pages "Section" "services") -}}

{{/* If there are any services at all... */}}
{{- if $services -}}

<div class="list-collection">
  <h2>Tools and Services</h2>
  <ul class="add-list-reset">
    {{- range sort $services "Title" "asc" -}}

    {{/* If an external link  */}}
    {{- if .Params.src -}}
    <li class="indent" data-edit-this="{{- .File.Path -}}">
      <a class="external-link" href="{{- .Params.src -}}?=dg" title="{{ .Title | markdownify }}">
        {{- if .Params.icon -}}
          {{- $src := (print "/promos/" .Params.icon) -}}
          <img class="thumb" src="{{ $src | relURL }}" alt="{{ .Params.name }} Logo">
        {{- else -}}
          <img class="thumb" src="https://www.google.com/s2/favicons?domain={{- .Params.src -}}" alt="{{- .Params.source -}}">
        {{- end -}}
        <span>{{ .Title | markdownify }}</span>
      </a>
      {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}</li>

    {{/* If an internal link  */}}
    {{- else -}}
    <li data-edit-this="{{- .File.Path -}}">
      <a href="{{- .Permalink -}}" title="{{ .Title | markdownify }}">
        <span>{{ .Title | markdownify }}</span>
      </a>
      {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}</li>
    {{- end -}}

    {{- end -}}
  </ul>
  <p class="more"><a href="{{ "/services/" | absURL }}">See all Services <i class="fas fa-arrow-alt-circle-right"></i></a></p>
</div>
{{- end -}}
