{{/* Related Communities — 
A list of the most important resources tagged with the same topic */}}

{{/* Of the pages that have this topic, this returns the pages in the "Resources" section */}}
{{- $communities := (where .Pages "Section" "communities") -}}

{{/* If there are any communities at all... */}}
{{- if $communities -}}
<div class="list-collection">
  <h2>Join a Community of Practice</h2>
  <ul>
    {{- range sort $communities "Title" "asc" -}}
      <li data-edit-this="/edit/{{- .Type -}}/?page=https://digital.gov{{- (urls.Parse .Permalink).Path -}}">
        <a href="{{- .Permalink -}}">
          <span>{{ .Title | markdownify }} Community</span>
        </a>
        {{- if .Params.members -}}
          &nbsp;<span class="members">{{- lang.NumFmt 0 .Params.members -}}+ members</span>
        {{- end -}}
      </li>
    {{- end -}}
  </ul>
  {{/* <p class="more"><a href="{{ "/communities/" | absURL }}">See all Communities <i class="fas fa-arrow-alt-circle-right"></i></a></p> */}}
</div>
{{- end -}}
