{{/* Key Resources — 
A list of the most important resources tagged with the same topic */}}

{{/* Of the pages that have this topic, this returns the pages in the "Resources" section */}}
{{- $resources := (where .Pages "Section" "resources") -}}

{{/* If there are any resources at all... */}}
{{- if $resources -}}

<div class="list-collection">
  <h2>Resources on {{ .Title }} </h2>
  <ul class="add-list-reset">
    {{- range sort $resources "Title" "asc" -}}

      {{/* If an external link  */}}
      {{- if or .Params.source_url .Params.source -}}

      <li class="indent" data-edit-this="{{- .File.Path -}}">
        <a class="external-link" href="{{- .Params.source_url -}}?=dg" title="{{ .Title | markdownify }}">
          {{- if .Params.source -}}
            {{- $source := $.Site.GetPage "page" (print "source_" .Params.source ) -}}
            {{- if $source.Params.icon -}}
              {{ $source_url := (print "/logos/" $source.Params.icon) }}
              <img src="{{ $source_url | relURL }}" alt="{{- $source.Params.name -}} logo">
            {{- end -}}
          {{- else if .Params.icon -}}
            {{- $source_url := (print "/logos/" .Params.icon) -}}
            <img class="thumb" src="{{ $source_url | relURL }}" alt="{{ .Title }} Logo">
          {{- else -}}
            <img class="thumb" src="https://www.google.com/s2/favicons?domain={{- .Params.source_url -}}" alt="{{- .Params.source -}} logo">
          {{- end -}}
          <span>{{ .Title | markdownify }}</span>
        </a>
        {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}</li>

      {{/* If an internal link  */}}
      {{- else -}}
      <li data-edit-this="{{- .File.Path -}}">
        <a href="{{- .Permalink -}}" title="{{ .Title | markdownify }}">
          {{- $source_url := (print "/logos/digit-150.png") -}}
          <img class="thumb" src="{{ $source_url | relURL }}" alt="{{ .Title }} Logo">
          <span>{{ .Title | markdownify }}</span>
        </a>
        {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}</li>
      {{- end -}}

    {{- end -}}
  </ul>
</div>
{{- end -}}
