{{/* ======================================
  TOPICS
  The styles for .list-topics
  (those topics that can be found on the article and event pages).
  ======================================
*/}}

{{/* This outputs the topics used on a specific page. */}}

{{/* Checks if there are topics applied to this page */}}
{{- if .Params.topics -}}
  <article class="list-topics">
    <h3 class="dg-promos__heading">Related Topics</h3>
    {{/* Sets the taxonomy we're pulling here */}}
    {{- $taxonomy := "topics" -}}
    {{- $topics := .Param $taxonomy -}}
    {{/* Gets the number of topics that are applied */}}
    {{- $length := $topics | len -}}

    {{/* For each of the topics,... */}}

    {{/* NOTE: Many of the pages in digital.gov have duplicate topics after our last migration —— So we are running "uniq" on the array to remove duplicates */}}
    {{- range $i, $e := uniq (sort $topics) -}}
      {{- $slug := . -}}

      {{/* Gets the Topics page */}}
      {{- with $.Site.GetPage (printf "/%s/%s" $taxonomy $slug) -}}

        {{/* Show all the topics */}}

        {{/* Show all topics, regardless of weight */}}
        <a href="{{- .Permalink -}}" data-topic="{{- $slug -}}"
          >{{- .Title -}}</a
        >
      {{- end -}}
    {{- end -}}
  </article>
{{- end -}}
