{{/*
  ======================================
  Promos (for articles)
  ======================================
*/}}

{{/* Gets the topic associated with this post */}}
{{ $topic_slug := .Data.Term }}
{{/* IMPORTANT */}}
{{/* This is an empty array (a.k.a. slice) */}}
{{ $.Scratch.Set "list_related_promos" (slice " ") }}

{{/* Get all the promos */}}
{{ $promos := $.Site.GetPage "page" "promo" }}

{{/* Get all the promos WHERE page weight == 2 */}}
{{ $promos := where ($promos.Resources.ByType "page") ".Params.weight" 2 }}

{{/* If there are any promos */}}
{{ with $promos }}

  {{/* For each promo */}}
  {{ range $i, $e := . }}

    {{/* get the topic associated with the promo */}}
    {{ $promo_topics := .Params.topics }}

    {{ .Data.Term }}
    {{/* If the $topic is in one of these promos,... */}}
    {{/* display the promo */}}
    {{ if in $promo_topics $topic_slug }}

    {{/* This appends/adds the .File.LogicalName to the array */}}
    {{ $.Scratch.Add "list_related_promos" (slice .File.LogicalName ) }}

    {{ end }}
  {{ end }}
{{ end }}

{{/* Removes the duplicate file names in the array */}}
{{ $related_promos := uniq ($.Scratch.Get "list_related_promos") }}

{{ if $related_promos }}
  {{/* If there are related promos... */}}
  {{ if gt (len $related_promos) 1 }}
  <div class="list-collection">
    <ul>
    {{/* Let's loop through the file names! */}}
    {{ range $i, $e := $related_promos }}

      {{/* Identifies the area to look for the file name */}}
      {{ $headless := $.Site.GetPage "/promo" }}

      {{/* Gathers all the files that match the file name ($e) */}}
      {{ $reusablePages := $headless.Resources.Match $e }}

      {{/* Finally we can loop through all of the promos/files */}}
      {{ range $reusablePages }}
        <li>
          <a href="{{ .Params.source_url }}?dg"><strong>{{ .Params.name }}</strong> {{- if .Params.icon -}}{{- $src := (print "/logos/" .Params.icon) -}}<img class="thumb" src="{{ $src | relURL }}" alt="{{ .Params.name }} Logo">{{- end -}}</a>{{- if .Params.summary }} — {{ .Params.summary -}}{{- end -}}
        </li>
      {{- end -}}

    {{ end }}
    </ul>

    <p class="more"><a href="{{ "/services/" | absURL }}">See all Services <i class="fas fa-arrow-alt-circle-right"></i></a></p>
  </div>
  {{ end }}
{{ end }}
