<section class="mobile-nav">
  <header>
    <a href="#" class="close"><i class="fas fa-chevron-circle-right"></i></a>
    <h3 class="logo"><a href="{{ "" | absURL }}" title="Digital.gov Home"><img src="{{ "img/digitalgov-logo-white.svg" | absURL }}" alt="digital.gov"></a></h3>
  </header>

  <nav class="main_nav">
    <ul>
      {{ range .Site.Menus.primary }}
        <li><a href="{{.URL}}" title="{{ .Name }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>

  {{ partial "core/topics-sidebar.html" . }}

</section>
