<nav id="mobile-nav" class="">
  <a href="#" class="close">Close &times;</a>
  <div class="nav_head">
    <h3 class="logo"><a href="{{ "" | absURL }}" title="Digital.gov Home"><img src="{{ "img/digitalgov-logo-white.png" | absURL }}" alt="digital.gov"></a></h3>

  </div>


  <div class="nav_group nav_group_main">
    <ul class="main_nav">
      <li><a href="{{ "" | absURL }}">Home</a></li>
      <li><a href="{{ "posts" | absURL }}">News</a></li>
      <li><a href="{{ "events" | absURL }}">Events</a></li>
      <li><a href="{{ "resources" | absURL }}">Resources</a></li>
      <li><a href="{{ "communities" | absURL }}">Communities</a></li>
    </ul>
  </div>

  <div class="nav_group">
    <h4>Topics</h4>
    <ul>
      {{ range .Site.Data.topicsfeatured.topicsfeatured }}
      <li>
        <a href="{{ .url | absURL }}" title="{{ .name }}">{{ .name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>

</nav>
