{{/* Spotlight / Newsletter */}}
<section id="newsletter-signup" aria-label="Subscribe to the Digital.gov newsletter">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row tablet-lg:grid-gap-6">
      <div class="grid-col-12 tablet:grid-col-7">
        <section class="usa-sign-up">
          <p class="blurb" id="newsletter-subscribe-description"><strong>Join 60,000 others in government</strong> and subscribe to our newsletter — a round-up of the best digital news in government and across our field.</p>
        </section>
      </div>
      <div class="grid-col-12 tablet:grid-col-5">

        <section class="usa-sign-up" aria-describedby="newsletter-subscribe-description">
          <script src="https://public.govdelivery.com/assets/Signup.js" data-account-code="USGSA" data-signup-id="34948"></script>
        </section>

      </div>
    </div>
  </div>
</section>
