<div class="dg-news__section">
  <footer>
    <a class="btn" href="{{ "news" | absURL }}" title="">
      <span>See all News</span>
      <svg
        class="usa-icon dg-icon dg-icon--standard margin-bottom-05"
        aria-hidden="true"
        focusable="false"
        role="img"
      >
        <use
          xlink:href="{{ "uswds/img/sprite.svg#arrow_forward" | relURL }}"
        ></use>
      </svg>
    </a>
    <p>
      Have a case study to share? Did your team recently launch something?<br /><a
        href="mailto:digitalgov@gsa.gov"
        title=""
        ><strong>Send us an email</strong></a
      >
    </p>
  </footer>
</div>
