{{/* Spotlight / Newsletter */}}
<section id="newsletter-signup">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row tablet-lg:grid-gap-6">
      <div class="grid-col-12 tablet:grid-col-7">
        <div class="usa-sign-up">
          <p class="blurb"><strong>Join 60,000 others in government</strong> and sign-up for our newsletter — a round-up of the best digital news in government and across our field.</p>
        </div>
      </div>
      <div class="grid-col-12 tablet:grid-col-5">

        <div class="usa-sign-up">
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "1962994",
            formId: "f8c8ff73-dbc9-4242-90e4-e8cbcee02f6a"
          });
          </script>
        </div>

      </div>
    </div>
  </div>
</section>
