{{/*
Partials are really only included by page type. So at the moment, the only way to customize this component is by passing in new values through the partial and checking for them in this template:

Here are values that are passed in through the partial:

- `.email` — for specifying a different primary email address to be used in feedback emails
- `.cc` — for specifying an additional email address to be added to the feedback emails
- `.page_type` — for specifying the page type (not being used at the moment)
- `.branch` — for specifying which branch the build is on. This helps the edit button to point to the right branch when viewing a preview page.

*/}}

{{- $email_copy := (print "We value your feedback and open questions. Thank you for helping to make our pages better.") -}}

<div id="page-data" class="branch-{{- .branch -}}" name="page-data">
  <!-- Edit file on GitHub -->
  <div class="edit_file hidden"></div>
</div>

{{/* Touchpoints Form */}}
{{- partial "core/touchpoints-form.html" . -}}
