{{/* ====
  Page header component that displays the title, deck and kicker.

  @params {object} data - a dictionary object that contains the following string properties:
  - title - the required page title
  - deck - an optional summary text displayed below the title
  - kicker - an optional short introduction text displayed above the title
  - append_title_text - optional text that is appended to the title text field
*/}}

{{ $title := .title | default (and .data.Params .data.Params.title) }}
{{ $deck := .deck | default (and .data.Params .data.Params.deck) }}
{{ $kicker := .kicker | default (and .data.Params .data.Params.kicker) }}
{{ $append_title_text := .append_title_text }}


<div class="dg-page-header">
  {{ if $kicker }}
    <p class="kicker">
      {{ $kicker }}
    </p>
  {{ end }}
  {{ if $title }}
    <h1>
      {{ $title | markdownify }}
      {{ if $append_title_text }}
        {{ $append_title_text }}
      {{ end }}
    </h1>
  {{ end }}
  {{ if $deck }}
    <div class="deck">
      {{ $deck | markdownify }}
    </div>
  {{ end }}
</div>
