{{/* ======================================
  Displays a vertical list of primary CoP's on the sidebar on event pages.
  ======================================
*/}}
{{ $mainCommunities := (where .Site.Pages "Section" "communities") }}
{{ $mainCommunities = (where $mainCommunities ".Params.dg_highlight" "eq" true) }}
{{ $featuredCommunity := (where $mainCommunities ".Params.weight" "eq" 2) }}
{{ $mainCommunities = union $featuredCommunity $mainCommunities }}
{{ $mainCommunities = first 8 ($mainCommunities.ByTitle) }}

{{/* Check if there are main community pages to display */}}
{{- with $mainCommunities -}}
  <article class="dg-promos dg-related-communities">
    <h3 class="dg-promos__heading">Join a Community</h3>
    <ul class="dg-promos__list">
      {{- range . -}}
        <li class="promo dg-promos__list-item">
          <a
            href="{{ .Permalink }}?promo"
            title="Visit {{ .Title }} community page"
            class="dg-promos__link"
          >
            {{ .Title }}
          </a>
        </li>
      {{- end -}}
    </ul>
    <footer class="dg-promos__footer">
      {{ $communityCount := len (where $.Site.RegularPages "Section" "communities") }}
      <a
        href="{{ "communities" | relURL }}"
        class="dg-promos__more-link dg-more-link"
      >
        <span> See all {{ $communityCount }} communities </span>
        <svg
          class="usa-icon dg-icon dg-icon--small margin-bottom-05"
          aria-hidden="true"
          focusable="false"
        >
          <use
            xlink:href="{{ "uswds/img/sprite.svg#arrow_forward" | relURL }}"
          ></use>
        </svg>
      </a>
    </footer>
  </article>
{{- end -}}
