{{- $readTime := 0 -}}
{{- $guideData := 0 -}}
{{- if eq .Type "guides" -}}
  {{- $guideData = index $.Site.Data.guidenav (.Params.guide) -}}
{{- end -}}

{{- /* Show read time by default. Only disable read time if parameter is set explicitly in guidenav file */ -}}
{{- $showReadTime := not (and $guideData (eq $guideData.showReadTime false)) -}}

{{- if or ($showReadTime) (not $guideData) -}}
  {{ if isset .Params "readtime" }}
    {{- $readTime = .Params.readTime -}}
  {{- else -}}
    {{- $readTime = .ReadingTime -}}
  {{- end -}}

  {{ $readTimeMinutes := cond (gt $readTime 1) "minutes" "minute" }}
  <p class="dg-read-time">
    Reading time:
    {{ $readTime }}
    {{ $readTimeMinutes }}
  </p>
{{- end -}}
