{{- $guide_data := index $.Site.Data.guidenav (.Params.guide) -}}
{{- $readTime := 0 -}}

{{- /* Show read time by default. Only disable read time if parameter is set explicitly in guidenav file */ -}}

{{- if or (not (and $guide_data (eq $guide_data.showReadTime false))) (not $guide_data) -}}
  {{ if isset .Params "readtime" }}
    {{- $readTime = .Params.readTime -}}
  {{- else -}}
    {{- $readTime = .ReadingTime -}}
  {{- end -}}

  {{ $readTimeMinutes := cond (gt $readTime 1) "minutes" "minute" }}
  <p class="dg-read-time">
    Reading time:
    {{ $readTime }}
    {{ $readTimeMinutes }}
  </p>
{{- end -}}
