{{/* Get the all the resources */}}
{{- $resources := where .Site.Pages "Section" "resources" -}}
{{/* Get the all the resources with a weight 3 */}}
{{- $resources_featured := (where $resources ".Params.weight" "eq" 3) -}}
{{/* Get the all the links */}}
{{- $links := (where .Site.Pages "Section" "links") -}}
{{/* Get the all the links with a weight 3 */}}
{{- $links_featured := (where $links ".Params.weight" "eq" 3) -}}
{{/* Merges the $links_featured and the $resources_featured */}}
{{- $stream := union $resources_featured $links_featured -}}
{{/* If there are any items at all... */}}
{{- if $stream -}}

<div class="list-collection">
  <h2>Popular Guides and Resources</h2>
  <ul>

    {{- range sort $stream "Title" "asc" -}}

      {{/* If an external link  */}}
      {{- if or .Params.source_url .Params.source -}}

      <li data-edit-this="/edit/{{- .Type -}}/?page=https://digital.gov{{- (urls.Parse .Permalink).Path -}}">
        <a class="" href="{{- .Params.source_url -}}?=dg" title="{{- .Title | markdownify -}}">

          {{/* If there is a defined source for this page */}}
          {{- if .Params.source -}}
            {{- $source := $.Site.GetPage "page" (print "source_" .Params.source ) -}}

            {{- if $source.Params.icon -}}
              {{/*
              We have two folders for source icons
              - /logos/ — this is for logos to be used in the newsfeed and the icons
              - logos/icons/ — for overriding the icon image
              */}}
              {{- $icon_url := (print "/static/logos/_icons/" $source.Params.icon) -}}
              {{/* checks if an icon image exists */}}
              {{- if (fileExists $icon_url) -}}
                <img src="{{- (print "/logos/_icons/" $source.Params.icon) | relURL -}}" alt="{{- $source.Params.name -}} logo"/><span>{{- .Title | markdownify -}}</span>
              {{- else -}}
                <img src="{{- (print "/logos/" $source.Params.icon) | relURL -}}" alt="{{- $source.Params.name -}} logo"/><span>{{- .Title | markdownify -}}</span>
              {{- end -}}
            {{- end -}}

          {{/* No source? let's attempt to get the favicon for the URL */}}
          {{- else -}}
            <img src="https://www.google.com/s2/favicons?domain={{- .Params.source_url -}}" alt="{{- .Params.source -}} logo"/><span>{{- .Title | markdownify -}}</span>
          {{- end -}}

        </a>
        {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}
      </li>

      {{/* If an internal link... */}}
      {{- else -}}
      <li data-edit-this="/edit/{{- .Type -}}/?page=https://digital.gov{{- (urls.Parse .Permalink).Path -}}">
        <a href="{{- .Permalink -}}" title="{{- .Title | markdownify -}} ">

          {{/* Use the digital.gov logo */}}
          {{- $source_url := (print "/img/digit-50.png") -}}
          <img class="thumb" src="{{- $source_url | relURL -}}" alt="{{- .Title -}} Logo" /><span>{{- .Title | markdownify -}}</span>

        </a>
        {{- if .Params.deck }} — {{ .Params.deck -}}{{- end -}}
      </li>
      {{- end -}}

    {{- end -}}
  </ul>

  {{- if .IsHome -}}
  <footer>
    <div class="grid-row tablet-lg:grid-gap-2">
      <div class="grid-col-12">
        <p class="more"><a href="/resources"><span>See all guides and resources</span> <i class="fas fa-arrow-circle-right"></i></a></p>
      </div>
    </div>
  </footer>
  {{- end -}}

</div>
{{- end -}}
