{{- $resources_featured := (where .Site.Pages "Section" "resources") -}}
{{/* If there are any resources at all... */}}
{{- if $resources_featured -}}
<div class="list-collection">
  <h2>Popular Guides and Resources</h2>
  <ul>
    {{- range sort $resources_featured "Title" "asc" -}}
      {{- if eq .Params.weight 3 -}}

        {{/* If an external link  */}}
        {{- if or .Params.source_url .Params.source -}}

          {{/* If there is a defined source for this page */}}
          {{- if .Params.source -}}
            {{/* Get the source data */}}
            {{- $source := .Site.GetPage (print "source_" .Params.source ) -}}
            {{/* If there is a logo defined in the source */}}
            {{- if $source.Params.logo -}}
              {{/* get the path for the icon — e.g. 18f-icon.png */}}
              {{- $src := (printf "/logos/%s%s" $source.Params.logo "-icon.png") -}}
              {{/* Pass these vars into the list item template
              (see bottom of list_related_resources of page) */}}
              {{- template "list-item-resource" dict "item" . "href" (print .Params.source_url "?dg") "src" $src -}}

            {{- end -}}
          {{/* No source? let's attempt to get the favicon for the URL */}}
          {{- else -}}
            {{/* get the Favicon via Google Favicon service */}}
            {{- $src := (print "https://www.google.com/s2/favicons?domain=" .Params.source_url) -}}
            {{/* Pass these vars into the list item template
            (see bottom of list_related_resources of page) */}}
            {{- template "list-item-resource" dict "item" . "href" (print .Params.source_url "?dg") "src" $src -}}
          {{- end -}}

        {{/* If an internal link... */}}
        {{- else -}}

          {{/* Use the digital.gov logo */}}
          {{/* Pass these vars into the list item template
          (see bottom of list_related_resources of page) */}}
          {{- template "list-item-resource" dict "item" . "href" (print .Params.source_url "?dg") "src" (print "/img/digit-50.png") -}}

        {{- end -}}

      {{- end -}}
    {{- end -}}
  </ul>

  {{- if .IsHome -}}
  <footer>
    <div class="grid-row tablet-lg:grid-gap-2">
      <div class="grid-col-12">
        <p class="more"><a href="/resources"><span>See all guides and resources</span> <i class="fas fa-arrow-circle-right"></i></a></p>
      </div>
    </div>
  </footer>
  {{- end -}}

</div>
{{- end -}}
