<form class="display-flex search_form" accept-charset="UTF-8" action="https://find.digitalgov.gov/search" class="search_form" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input id="affiliate" name="affiliate" type="hidden" value="digitalgov" />
  <label for="query" class="display-none">Search</label>
  <input autocomplete="off" class="search_field" name="query" type="text" placeholder="Search our archive" />
  <button type="submit"><img src="{{ "img/crystal-ball.png" | absURL }}" alt="Search"></button>
</form>
