<section class="search-bar" role="search">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row tablet-lg:grid-gap-2">
      <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-1">

        <form class="search_form display-flex flex-row" accept-charset="UTF-8" action="https://find.digitalgov.gov/search" class="search_form" method="get">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input id="affiliate" name="affiliate" type="hidden" value="digitalgov" />
          <label for="query" class="display-none">Search</label>
          <input autocomplete="off" class="search_field" name="query" type="text" placeholder="Search" />
          <button type="submit"><img src="{{ "img/crystal-ball.png" | absURL }}" alt="Search"></button>
        </form>

      </div>
    </div>
  </div>
</section>
