<div class="search-bar">
  <form
    accept-charset="UTF-8"
    action="https://find.digitalgov.gov/search"
    id="search_form"
    method="get"
    class="usa-search usa-search--small"
  >
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input id="affiliate" name="affiliate" type="hidden" value="digitalgov" />

    <div role="search">
      <label class="usa-sr-only" for="query">Search small</label>
      <input class="usa-input" id="query" type="search" name="query" />
      <button class="usa-button" name="commit" type="submit">
        <img
          src="{{- "/uswds/img/usa-icons-bg/search--white.svg" | relURL -}}"
          class="usa-search__submit-icon"
          alt="Search"
          />
      </button>
    </div>
  </form>

  <p class="search-sites">
    Including content from:
    <a href="https://digital.gov" title="digital.gov">Digital.gov</a>,
    <a href="https://plainlanguage.gov" title="PlainLanguage.gov"
      >PlainLanguage.gov</a
    >, the
    <a href="https://designsystem.digital.gov" title="U.S. Web Design System"
      >U.S. Web Design System</a
    >, and more.
  </p>
</div>
