{{ range .Site.Data.sitewide_alert }}
  {{ $is_emergency := .is_emergency }}
  {{ $has_icon := .has_icon }}
  {{ if (eq .display true ) }}
    <section class="usa-site-alert {{ if $is_emergency }}usa-site-alert--emergency {{ else }}usa-site-alert--info{{ end }}{{ if not $has_icon }}usa-site-alert--no-icon {{ end }}" aria-label="Site alert">
      <div class="usa-alert">
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">{{- .header -}}</h3>
          <p class="usa-alert__text">
            <strong>Bold text emphasis text</strong>
            followed by main message text
            <a class="usa-link" href="">Hurricane Idalia</a>
          </p>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}