<section class="tag-line">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap-2">
      <div class="grid-col-12">
        <h3 class="tagline">{{ .Site.Params.dg_tagline | markdownify }}</h3>
      </div>
    </div>

    <div class="grid-row grid-gap-2">
      <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
        <div class="blurb">
          Explore the guides, resources, tools, and services for making digital better in government
        </div>
      </div>
    </div>
  </div>
</section>
