<section class="tag-line">
  <div class="grid-container grid-container-desktop">
    <div class="grid-row grid-gap-2">
      <div class="grid-col-12m= margin-4">
        <h3 class="tagline">{{ .Site.Params.dg_tagline | markdownify }}</h3>
        <div class="community">
          Written by over 539 people in civic-tech community. <a href="#"><strong>Learn more »</strong></a>
          <div class="profile-thumbs">
            {{- $default_profile := print "img/digit-" (index (shuffle (slice "light" "dark")) 0) ".png" -}}
            <img class="circle-4" src="{{- $default_profile | absURL -}}" alt="">
            <img class="circle-4" src="{{- $default_profile | absURL -}}" alt="">
            <img class="circle-4" src="{{- $default_profile | absURL -}}" alt="">
            <img class="circle-4" src="{{- $default_profile | absURL -}}" alt="">
            <img class="circle-4" src="{{- $default_profile | absURL -}}" alt="">
            <img class="circle-4" src="{{- $default_profile | absURL -}}" alt="">
            <img class="circle-4" src="{{- $default_profile | absURL -}}" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
