{{/* Display a header and list of topic links

  @param {string} .data - A list of topic strings to render a link
  @param {scope} .scope - page scope to access top level functions
*/}}

{{ $topics := .data }}
{{ $scope := .scope }}


<div class="dg-resource-topics-list">
  <h3 class="dg-resource-topics-list__header">{{ $topics.category }}</h3>
  <ul class="dg-resource-topics-list__list usa-list usa-list--unstyled">
    {{ range $topics.topics }}
      <li class="dg-resource-topics-list__list-item">
        {{ $page := $scope.GetPage (printf "/topics/%s" .name) }}
        <a class="dg-resource-topics-list__link" href="{{ $page.Permalink }}"
          >{{ $page.Title }}</a
        >
      </li>
    {{ end }}
  </ul>
</div>
