<nav class="topics-sidebar">
  <header>
    <h4><i class="fas fa-list"></i> Topics</h4>
  </header>
  <ul class="add-list-reset">
    {{- $top_topics := $.Site.Taxonomies.topics -}}
    {{- range $name, $taxonomy := $top_topics -}}
      {{- with $.Site.GetPage (printf "/topics/%s" $name) -}}
        {{- if or (eq .Params.weight 2) (eq .Params.weight 3) -}}
          <li data-edit-this="{{- .File.Path -}}">
            <a href="{{- .Permalink -}}" title="{{- $name -}}"><span>{{- .Title -}}</span></a>
          </li>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </ul>
  <footer>
    <p><a href="{{- "/topics/" | absURL -}}">See all topics »</a></p>
  </footer>
</nav>
