{{/* Topics / Featured */}}
<section id="topics">
  <div class="grid-container padding-x-2">
    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-1">
        <header>
          <h2>Explore our Depths</h2>
          <p>We've been providing guidance and how-to material for over a decade.</p>
          <p><a href="#">All Topics</a> &#8226; <a href="#">All Resources</a></p>
        </header>
      </div>
    </div>
    <div class="grid-row grid-gap-2">
      {{- range .Site.Data.topicsfeatured.toptopics -}}
      <div class="grid-col-12 tablet:grid-col-4 flex-6">
        <div class="topic topic-slim">
          <h3>
            <a class="text-no-underline text-ink" href="{{- .url | absURL -}}" title="{{- .name -}}">{{- .name -}}</a>
          </h3>
        </div>
      </div>
      {{- end -}}
    </div>
  </div>
</section>
