{{ $link := .link }}
{{ $title := .title }}
{{ $name := .name }}
{{ $tag_count := .tag_count }}
{{ $has_tag := false }}

{{ if or (eq $tag_count nil) (eq $tag_count false) }}
  {{ $has_tag = false }}
{{ else }}
  {{ $has_tag = true }}
{{ end }}


<div
  {{ if not $has_tag }}
    class="topics-button"
  {{ else }}
    class="topics-button--count"
  {{ end }}
>
  <p>
    <a href="{{- $link | absURL -}}" title="{{- $title -}}">
      {{- $title -}}
      {{ if not $has_tag }}
        <span>&#8594;</span>
      {{ end }}
    </a>
    {{ if $has_tag }}
      <span class="topics-button__number">{{- $tag_count -}}</span>
    {{ end }}
  </p>
</div>
