---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    {% include meta.html %}
    <!-- Le CSS -->
    <!-- {% include styles.html %} -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" media="screen">

    <!-- Robot Flag -->
    <meta name='robots' content='noindex,follow' />

  </head>

  <!-- All good things start here -->

  <body class="{{ layout.class }} {{ page.class }}">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    {% include components/gov-banner.html %}
    {% include components/top-bar.html %}


    {% assign header = site.data.header %}
    {% include header.html %}

    {% include components/search-area.html %}

    {{ content }}

    {% assign footer = site.data.footer %}
    {% include footer.html %}
    {% include components/scripts.html %}
  </body>
</html>
