---
layout: base
main:
  class: usa-grid usa-section usa-content usa-layout-docs foo
---

<section id="search-area">
  <div class="row">
    <div class="col-xs-9">
      <div class="box-row">
        {{ content }}
      </div>
    </div>
    {% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
    {% if sidenav %}
    <div class="col-xs-3">
      <div class="box-row">
        {% include components/sidenav.html links=sidenav %}
      </div>
    </div>
    {% endif %}
  </div>
</section>