---
layout: base
main:
  class: docs
---

<main id="main-content"{% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}"{% endfor %}>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        {{ content | emojify }}
      </div>
      {% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
      {% if sidenav %}
      <div class="col-xs-12 col-sm-3">
        {% include components/sidenav.html links=sidenav %}
      </div>
      {% endif %}
    </div>
  </div>
</main>
