{{- define "content" -}}
  <main role="main" id="main-content">
    <section class="author-profile">
      <div class="grid-container-desktop">
        <header class="margin-top-5">
          {{- if .Params.github -}}
            <img
              class="profile"
              src="https://github.com/{{- .Params.github -}}.png?size=100"
              srcset="
                https://www.github.com/{{- .Params.github -}}.png?size=200
              "
              alt="Profile image for {{- .Params.display_name -}}"
            />
          {{- else -}}
            <img
              class="profile"
              src="{{- "img/digit-light.png" | absURL -}}"
              alt="Profile image for {{- .Params.display_name -}}"
            />
          {{- end -}}


          <div>
            {{/* Name */}}
            <h1>{{- .Params.display_name | markdownify -}}</h1>

            {{/* Bio */}}
            <div class="bio">
              {{- if .Params.agency -}}
                <p>
                  {{- .Params.agency }}
                </p>
              {{- end -}}
            </div>
          </div>
        </header>
      </div>
    </section>

    <section id="news">
      <div class="grid-container-desktop">
        <div class="grid-row tablet-lg:grid-gap-4">
          <section class="stream">
            {{/* Get all events, guides, news and resources for an author */}}

            {{ $news := where .Pages "Section" "news" }}
            {{ $past_events := where (where .Pages.ByDate.Reverse "Section" "events") ".Date.Unix" "<" now.Unix }}
            {{ $past_events = where $past_events ".Params.youtube_id" "!=" nil }}
            {{ $guides := where .Pages "Section" "guides" }}
            {{ $resources := where .Pages "Section" "resources" }}
            {{ $stream := union (union (union $news $past_events) $resources) $guides }}
            {{ $stream_sorted := $stream.ByDate.Reverse }}
            {{ $stream_paginated := (.Paginate $stream_sorted).Pages }}

            {{/* If there are any blog posts at all... */}}
            {{- if $stream_paginated -}}
              <h2>Latest content by {{ .Params.display_name }}</h2>

              {{/* Loop through all the pages */}}
              {{- range $stream_paginated -}}
                {{- if eq .Type "events" -}}
                  {{- .Render "card-event" -}}
                {{- end -}}

                {{- if or (eq .Type "news") -}}
                  {{ .Render "card-news" }}
                {{- end -}}

                {{- if eq .Type "resources" -}}
                  {{ partial "partials/core/card-stream.html" . }}
                {{- end -}}

                {{- if eq .Type "guides" -}}
                  {{ partial "partials/core/card-stream.html" . }}
                {{- end -}}
              {{- end -}}
            {{- end -}}

            {{- partial "core/pagination.html" . -}}
          </section>
        </div>
        {{- partial "partials/core/see-all-footer.html" -}}
      </div>
    </section>
  </main>
{{ end }}
