{{ define "content" }}
<main role="main" id="main-content">
  <article>

    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            {{- $authors := (where .Site.Pages "Section" "authors") -}}
            <h1>{{ .Title }}</h1>
            {{/* Deck */}}
            {{- if .Params.deck -}}
            <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}
            <h4>{{ len $authors }} authors, writers, and contributors</h4>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            <div class="authors-list">
              {{- range $i, $author := $authors -}}
                {{ if .Params.slug }}
                  {{ $link := printf "authors/%s/" .Params.slug }}
                  {{ $path := "" }}{{ with .File }}{{ $path = .Path }}{{ else }}{{ $path = .Path }}{{ end }}
                  <div class="author grid-row" data-edit-this="{{- $path -}}">
                    <div class="grid-col-auto">
                      <div class="photo">
                        {{- if $author.Params.github -}}
                        <img src="https://github.com/{{- $author.Params.github -}}.png?size=50" alt="">
                        {{- else -}}
                        {{- $default_profile := print "img/digit-" (index (shuffle (slice "light" "dark")) 0) ".png" -}}
                        <img src="{{- $default_profile | absURL -}}" alt="">
                        {{- end -}}
                      </div>
                    </div>
                    <div class="grid-col-9">
                      <div class="details">
                        <h5>
                          <a href="{{- $link | absURL -}} " title="Posts by {{- $author.Params.display_name | default $i -}} " rel="author">
                            {{- $author.Params.display_name | default $i | markdownify -}}
                          </a>
                        </h5>

                        {{- if $author.Params.agency -}}
                        <p>{{- $author.Params.agency -}}{{- if $author.Params.location -}}&nbsp;|&nbsp;{{- $author.Params.location -}}{{- end -}}</p>
                        {{- end -}}

                      </div>
                    </div>
                  </div>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
{{ end }}
