{{ define "content" }}
  {{/* Stores an array of string author names */}}
  {{ $authors := (where .Site.Pages "Section" "authors") }}
  {{ $authors_data := slice }}
  {{ range $i, $e := $authors }}
    {{ $authors_data = $authors_data | append $e.Params.slug }}
  {{ end }}


  <main role="main" id="main-content" class="authors">
    <article>
      <header>
        <div class="grid-container grid-container-desktop margin-top-5">
          <div class="grid-row">
            <div class="grid-col-12">
              <h1>{{ .Title }}</h1>
              {{/* Deck */}}
              {{- if .Params.deck -}}
                <div class="deck">{{- .Params.deck | markdownify -}}</div>
              {{- end -}}
              <em>{{ len $authors }} authors, writers, and contributors</em>
            </div>
          </div>
        </div>
      </header>

      <section>
        <div class="grid-container grid-container-desktop">
          {{ partial "core/authors-list.html" (dict "scope" . "authors" $authors_data) }}
        </div>
      </section>
    </article>
  </main>
{{ end }}
