{{ define "content" }}
  {{- $authors := (where .Site.Pages "Section" "authors") -}}


  <main role="main" id="main-content">
    <article class="grid-container-desktop">
      <header class="margin-top-2">
        <div class="grid-row">
          <div class="grid-col-12">
            <h1>{{ .Title }}</h1>
            {{/* Deck */}}
            {{- if .Params.deck -}}
              <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}
            <em>{{ len $authors }} authors, writers, and contributors</em>
          </div>
        </div>
      </header>

      <section class="authors-list">
        {{- range $i, $author := $authors -}}
          {{ if .Params.slug }}
            {{ $link := printf "authors/%s/" .Params.slug }}
            <div class="author grid-row">
              <div class="grid-col-auto">
                <div class="photo">
                  {{- if $author.Params.github -}}
                    <img
                      src="https://github.com/{{- $author.Params.github -}}.png?size=50"
                      alt=""
                    />
                  {{- else -}}
                    {{- $default_profile := print "img/digit-" (cond (eq (mod $i 2) 0) "light" "dark") ".png" -}}
                    <img src="{{- $default_profile | absURL -}}" alt="" />
                  {{- end -}}
                </div>
              </div>
              <div class="grid-col-9">
                <div class="details">
                  <a
                    class="authors-list__title"
                    href="{{- $link | absURL -}} "
                    title="Posts by {{- $author.Params.display_name | default $i -}} "
                    rel="author"
                  >
                    {{- $author.Params.display_name | default $i | markdownify -}}
                  </a>

                  {{- if $author.Params.agency -}}
                    <p>
                      {{- $author.Params.agency -}}{{- if $author.Params.location -}}
                        &nbsp;|&nbsp;{{- $author.Params.location -}}
                      {{- end -}}
                    </p>
                  {{- end -}}
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </section>
    </article>
  </main>
{{ end }}
