@use "uswds-core" as *;

.quote-block {
  width: measure(6);
  margin-bottom: units(3);
  background-color: color("gold-5");
  border-radius: radius("sm");

  blockquote {
    margin: 0;
    padding: units(3) units(5) units(3) units(5);
    padding-right: units(3);
    text-indent: -units(2);
    color: color("gold-60");
    font-family: font("serif", "md");
    border-left: units(0.5) solid color("gold-30");

    @include at-media("tablet") {
      padding: units(3) units(5) units(3) units(5);
      padding-right: units(4);
    }

    &__quotation-mark {
      margin-right: units(0.5);
    }

    cite {
      display: block;
      margin-top: units(2);
      padding-right: units(4);
      text-align: right;
      font-style: italic;
      line-height: line-height("serif", 2);
      font-family: font("sans", "md");
    }
  }

  // variant to display a darker background and light text
  &--dark {
    background-color: color("gray-cool-70");

    blockquote {
      color: color("white");
      border-left: units(0.5) solid color("gray-cool-20");
    }
  }
}
