@use "uswds-core" as *;

.dg-note {
  @include u-measure(6);
  @include u-margin-bottom(2);
  @include u-padding-y(2.5);
  @include u-padding-x(3);
  @include u-text("light");
  @include u-radius("sm");
  @include u-bg("blue-5");
  @include u-text("blue-70");
  @include u-border-left("05", "solid", "blue-20");

  h4 {
    @include u-margin-bottom("105");
    @include u-margin-top(0);
    @include u-font("sans", "lg");
    @include u-text("light");

    i {
      @include u-margin-right("05");
    }
  }

  a {
    @include u-text("no-underline");
    @include u-text("blue-70");
    @include u-border-bottom("1px", "solid", "blue-70");

    &:hover {
      @include u-text("no-underline");
      @include u-text("blue-80");
    }
  }

  .highlight {
    @include u-bg("blue-10");
  }

  strong {
    @include u-text("medium");
  }

  p:last-child {
    @include u-margin-bottom(0);
  }

  blockquote {
    @include u-padding-left(0);
    @include u-border(0);
  }

  ol,
  ul {
    @include u-margin-y(0);
    @include u-padding-left("205");

    li {
      @include u-margin-bottom(2);
    }
  }
  // For notes within list items
li .note {
  @include u-padding-y("05");
  @include u-padding-x(1);
}
  // Activities  — color settings
  &--activity {
  @include u-bg("orange-warm-5");
  @include u-text("orange-warm-60");
  @include u-border-left("05", "solid", "orange-warm-30");

  a {
    @include u-text("orange-warm-60");
    @include u-border-bottom("1px", "solid", "orange-warm-60");

    &:hover {
      @include u-text("orange-warm-80");
    }
  }

  .highlight {
    @include u-bg("orange-warm-10");
  }
}
// Alert styles
&--alert {
  @include u-bg("red-5");
  @include u-text("red-60v");
  @include u-border-left("05", "solid", "red-40v");

  a {
    @include u-text("red-60v");
    @include u-border-bottom("1px", "solid", "red-60v");

    &:hover {
      @include u-text("red-80v");
    }
  }

  .highlight {
    @include u-bg("red-10");
  }
}
// Comment — color settings
&--comment {
  @include u-bg("blue-cool-10");
  @include u-text("blue-cool-70");
  @include u-border-left("05", "solid", "blue-cool-50");

  h4 {
    i {
      @include u-text("blue-cool-60");
    }
  }

  a {
    @include u-text("blue-cool-70");
    @include u-border-bottom("1px", "solid", "blue-cool-50");

    &:hover {
      @include u-text("blue-cool-80");
    }
  }

  .highlight {
    @include u-bg("white");
    @include u-bg("yellow-5");
  }

  blockquote {
    @include u-font("serif", "lg");
  }
}
&--disclaimer {
  @include u-bg("gray-cool-3");
  @include u-text("gray-warm-90");
  @include u-border-left("05", "solid", "gray-cool-20");
}
}










