@use "uswds-core" as *;

.dg-note {
  color: color("blue-70");
  background-color: color("blue-5");
  padding: units(3);
  font-size: size("ui", "sm");
  font-weight: font-weight("light");
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: color("blue-20");

  a {
    text-decoration: none;
    color: color("blue-70");
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: color("blue-70");

    &:hover {
      @include u-text("no-underline");
      color: color("blue-70");
    }
  }

  .highlight {
    background-color: color("blue-10");
  }

  strong {
    font-weight: font-weight("medium");
  }

  p:last-child {
    margin-bottom: 0;
  }

  blockquote {
    border: 0;
    padding-left: 0;
  }

  ol,
  ul {
    margin: 0, 0;
    padding-left: 205;

    li {
      margin-bottom: 2px;
    }
  }
  // For notes within list items
  li .note {
    @include u-padding-y("05");
    @include u-padding-x(1);
  }
  // Activities  — color settings
  &--activity {
    background-color: color("orange-warm-5");
    color: color("orange-warm-60");
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: color("orange-warm-30");

    a {
      color: color("orange-warm-60");
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: color("orange-warm-60");

      &:hover {
        color: color("orange-warm-80");
      }
    }

    .highlight {
      background-color: color("orange-warm-10");
    }
  }
  // Alert styles
  &--alert {
    background-color: color("red-5");
    color: color("red-60v");
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: color("red-40v");

    a {
      color: color("red-60v");
      border-left-width: 5px;
      border-left-style: solid;
      border-left-color: color("red-40v");

      &:hover {
        color: color("red-80v");
      }
    }

    .highlight {
      background-color: color("red-10");
    }
  }
  // Comment — color settings
  &--comment {
    background-color: color("blue-cool-10");
    color: color("blue-cool-80");
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: color("blue-cool-50");

    a {
      color: color("blue-cool-70");
      border-left-width: 5px;
      border-left-style: solid;
      border-left-color: color("blue-cool-50");

      &:hover {
        color: color("blue-cool-80");
      }
    }

    .highlight {
      background-color: color("white");
    }

    blockquote {
      font-family: family("serif");
      font-size: size("ui", "lg");
    }
  }
  &--disclaimer {
    background-color: color("gray-cool-3");
    color: color("gray-warm-90");
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: color("gray-cool-20");
  }
}

.dg-note__heading {
  margin-top: 0;
  font-family: family("serif");
  font-size: size("ui", "md");
  font-weight: font-weight("light");
}

.dg-note__icon {
  margin-right: 5px;
}
