.note{
	@include u-margin-bottom(2);
	@include u-padding-y(3);
	@include u-padding-x(3);
	@include u-text('light');
	@include u-radius('sm');
	h4{
		@include u-margin-bottom('105');
		@include u-font('sans', 'lg');
		@include u-text('light');
		i{
			@include u-margin-right('05');
		}
	}
	a{
		@include u-text('no-underline');
		&:hover{
			@include u-text('no-underline');
		}
	}
	strong{
		@include u-text('medium');
	}
	p:last-child{
		@include u-margin-bottom(0);
	}
}
// For notes within list items
li .note{
	@include u-padding-y('05');
	@include u-padding-x(1);
}


// Note — color settings
.note{
	@include u-bg('blue-5');
	@include u-text('blue-70');
	@include u-border-left('05', 'solid', 'blue-20');
	a{
		@include u-text('blue-70');
		@include u-border-bottom('1px', 'solid', 'blue-70');
		&:hover{
			@include u-text('blue-80');
		}
	}
}

// Activities  — color settings
.note.activity{
	@include u-bg('orange-warm-5');
	@include u-text('orange-warm-60');
	@include u-border-left('05', 'solid', 'orange-warm-30');
	a{
		@include u-text('orange-warm-60');
		@include u-border-bottom('1px', 'solid', 'orange-warm-60');
		&:hover{
			@include u-text('orange-warm-80');
		}
	}
}
