{{ define "bodyclasses" }}c-sw{{ end }}

{{ define "content" }}
<div class="singlepost post-387041 post type-post status-publish format-standard has-post-thumbnail hentry category-managing-digital category-strategy-policy tag-cloud tag-gsa tag-security tag-u-s-general-services-administration Managing Digital Strategy &amp; Policy"
  id="single-post-387041">

  <div class="entry">

    <h1 class="post-title single">
      <a href="{{ .URL }}" rel="bookmark" title="{{ .Params.Title }}">{{ .Params.Title }}</a>
    </h1>

    <div class="meta">

      <ul>
        <li class="meta-author">


          <span class="meta-author">By <a href="https://www.digitalgov.gov/author/mary-davie/" title="Posts by Mary Davie" class="author url fn" rel="author">

            {{/* ugly, but works */}}
            {{/* this uses data, but trying with taxonomies, too */}}
            {{/*
            {{ if isset .Params "post_authors" }}
              {{ range $index, $_id := .Params.post_authors }}
                {{ range $key, $value := $.Site.Data.people }}
                  {{ if eq $value.test "friend" }}
                    {{ $value._name }}
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ else }}
              Author
            {{ end }}
            */}}

            {{/* trying a similar thing with taxonomies

            {{ if eq .Params.test true }}
              {{ range $i, $_id := .Params.authors }}
                {{ range index $.Site.Taxonomies.authors $_id }}
                  {{ .name }}
                {{ end }}
              {{ end }}
            {{ end }}
            */}}

          </a></span>
        </li>

        <li class="meta-date">
          <a href="https://www.digitalgov.gov/2017/06/08/hybrid-cloud-a-key-to-phasing-in-new-technologies/" rel="nofollow" title="Permanent Link to Hybrid Cloud: A Key to Phasing in New Technologies">June 8, 2017</a>
        </li>

        <li class="meta-cats">
          <a href="https://www.digitalgov.gov/category/managing-digital/" rel="category tag">Managing Digital</a>, <a href="https://www.digitalgov.gov/category/managing-digital/strategy-policy/" rel="category tag">Strategy &amp; Policy</a> </li>

        <li class="meta-comments">
          <a href="https://www.digitalgov.gov/2017/06/08/hybrid-cloud-a-key-to-phasing-in-new-technologies/#comments" rel="bookmark" title="Comments for Hybrid Cloud: A Key to Phasing in New Technologies">1 Reply</a>
        </li>

      </ul>

    </div>

    {{ .Content }}

    <div class="yarpp-related">
      <h3>Related posts:</h3>
      <ol>
        <li><a href="https://www.digitalgov.gov/2016/09/30/vendors-and-government-strengthen-partnership-at-technology-industry-day/" rel="bookmark" title="Vendors and Government Strengthen Partnership at Technology Industry Day">Vendors and Government Strengthen Partnership at Technology Industry Day </a></li>
        <li><a href="https://www.digitalgov.gov/2016/10/28/laying-the-foundation-for-a-more-secure-modern-government/" rel="bookmark" title="Laying the Foundation for a More Secure, Modern Government">Laying the Foundation for a More Secure, Modern Government </a></li>
        <li><a href="https://www.digitalgov.gov/2016/08/31/sign-up-for-the-technology-industry-day/" rel="bookmark" title="Sign up for the Technology Industry Day">Sign up for the Technology Industry Day </a></li>
        <li><a href="https://www.digitalgov.gov/2017/01/11/digitalgov-university-in-review-2016-training-trends/" rel="bookmark" title="DigitalGov University in Review: 2016 Training Trends">DigitalGov University in Review: 2016 Training Trends </a></li>
      </ol>
    </div>

    {{ $baseurl := .Site.BaseURL }}
    {{ if .Params.Tags }}
      <p class="tags">Tags:
        {{ $_tags := .Params.tags }}
        {{ $length := $_tags | len }}
        {{ range $i, $e := $_tags }}
          {{ if lt (add $i 1) $length }}
            <a rel="tag" href="{{ $baseurl }}/tag/{{ $e | urlize }}">{{ $e }}</a>,
          {{ else }}
            <a rel="tag" href="{{ $baseurl }}/tag/{{ $e | urlize }}">{{ $e }}</a>
          {{ end }}
        {{ end }}
      </p>
    {{ end }}
  </div>

</div>

{{/* Comments section removed */}}

<div class="navigation clearfix">
  <div class="alignleft single">
    « <a href="https://www.digitalgov.gov/2017/06/07/the-data-briefing-design-driven-enterprise-architecture-creating-the-new-federal-government-agency/" rel="prev">The Data Briefing: Design-Driven Enterprise Architecture Creating the New Federal Government Agency</a>
  </div>
  <div class="alignright single">
  </div>
</div>
{{ end }}

{{ define "sidebar" }}
<div id="contentright">
  <div id="sidebar" class="clearfix">

    {{ partial "sidebar--popularPosts.html" . }}
    {{ partial "sidebar--upcomingEvents.html" . }}

  </div><!-- #sidebar -->
</div><!-- #contentright -->
{{ end }}
