{{ define "bodyclasses" }}c-sw single single-post single-format-standard post-template-default{{ end }}

{{ define "content" }}
<div class="singlepost post-387041 post type-post status-publish format-standard has-post-thumbnail hentry category-managing-digital category-strategy-policy tag-cloud tag-gsa tag-security tag-u-s-general-services-administration Managing Digital Strategy &amp; Policy"
  id="single-post-387041">

  <div class="entry">

    <h1 class="post-title single">
      <a href="{{ .URL }}" rel="bookmark" title="{{ .Params.Title }}">{{ .Params.Title }}</a>
    </h1>

    <div class="meta">

      <ul>
        <li class="meta-author">


          <span class="meta-author">By <a href="https://www.digitalgov.gov/author/mary-davie/" title="Posts by Mary Davie" class="author url fn" rel="author">

            {{/* ugly, but works */}}
            {{/* this uses data, but trying with taxonomies, too */}}
            {{/*
            {{ if isset .Params "post_authors" }}
              {{ range $index, $_id := .Params.post_authors }}
                {{ range $key, $value := $.Site.Data.people }}
                  {{ if eq $value.test "friend" }}
                    {{ $value._name }}
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ else }}
              Author
            {{ end }}
            */}}

            {{/* trying a similar thing with taxonomies

            {{ if eq .Params.test true }}
              {{ range $i, $_id := .Params.authors }}
                {{ range index $.Site.Taxonomies.authors $_id }}
                  {{ .name }}
                {{ end }}
              {{ end }}
            {{ end }}
            */}}

          </a></span>
        </li>

        <li class="meta-date">
          <a href="https://www.digitalgov.gov/2017/06/08/hybrid-cloud-a-key-to-phasing-in-new-technologies/" rel="nofollow" title="Permanent Link to Hybrid Cloud: A Key to Phasing in New Technologies">June 8, 2017</a>
        </li>

        <li class="meta-cats">
          <a href="https://www.digitalgov.gov/category/managing-digital/" rel="category tag">Managing Digital</a>, <a href="https://www.digitalgov.gov/category/managing-digital/strategy-policy/" rel="category tag">Strategy &amp; Policy</a> </li>

        <li class="meta-comments">
          <a href="https://www.digitalgov.gov/2017/06/08/hybrid-cloud-a-key-to-phasing-in-new-technologies/#comments" rel="bookmark" title="Comments for Hybrid Cloud: A Key to Phasing in New Technologies">1 Reply</a>
        </li>

      </ul>

    </div>

    {{ .Content }}

    {{/*
      ======================================
      RELATED POSTS
      ======================================
    */}}

    {{ $currentPageUrl := .URL }}
    {{ if .Params.tags }}
      {{ $name := index .Params.tags 0 }}
      {{ $name := $name | urlize }}
      {{ $tags := index .Site.Taxonomies.tags $name }}
      {{ $i := $tags | len }}
      {{ if ge $i 2 }}
      <div class="yarpp-related">
        <h3>Related posts:</h3>
        <ol>
          {{ range first 5 $tags.Pages | shuffle }}
            {{ if ne .URL $currentPageUrl }}
              <li><a href="{{ .URL }}" rel="bookmark" title="{{ .LinkTitle }}">{{ .LinkTitle | markdownify }}</a></li>
            {{ end }}
          {{end}}
        </ol>
      </div>
      {{ end }}
    {{ end }}


    {{/*
      ======================================
      TAGS
      ======================================
    */}}

    {{ $baseurl := .Site.BaseURL }}
    {{ if .Params.Tags }}
      <p class="tags">Tags:
        {{ $_tags := .Params.tags }}
        {{ $length := $_tags | len }}
        {{ range $i, $e := $_tags }}
          {{ if lt (add $i 1) $length }}
            <a rel="tag" href="{{ $baseurl }}/tag/{{ $e | urlize }}">{{ $e }}</a>,
          {{ else }}
            <a rel="tag" href="{{ $baseurl }}/tag/{{ $e | urlize }}">{{ $e }}</a>
          {{ end }}
        {{ end }}
      </p>
    {{ end }}
  </div>

</div>

{{/* Comments section removed */}}

{{/*
  ======================================
  PREVIOUS / NEXT POST
  ======================================
*/}}

<div class="navigation clearfix">
  <div class="alignleft single">
    {{ if .Prev }}
      « <a href="{{ .Prev.URL }}" rel="prev">{{ .Prev.Title }}</a>
    {{ end }}
  </div>
  <div class="alignright single">
    {{ if .Next }}
      <a href="{{ .Next.URL }}" rel="next">{{ .Next.Title }}</a> »
    {{ end }}
  </div>
</div>
{{ end }} {{/* end 'content' block */}}

{{ define "sidebar" }}
<div id="contentright">
  <div id="sidebar" class="clearfix">

    {{ partial "sidebar--popularPosts.html" . }}
    {{ partial "sidebar--upcomingEvents.html" . }}

  </div><!-- #sidebar -->
</div><!-- #contentright -->
{{ end }} {{/* end 'sidebar' block */}}
