{{/* how much of the following class soup is really necessary? */}}
<div class="notthird second post-387052 post type-post status-publish format-standard has-post-thumbnail hentry category-api category-content category-data1 category-design category-ux tag-18f tag-api tag-content tag-data tag-fec tag-federal-election-commission tag-github tag-plain-language-2 tag-responsive-web-design tag-us-web-design-standards tag-user-centered-design tag-user-experience tag-ux API Content Data Design UX">

  <div class="post-feature-image">
    <a href="https://www.digitalgov.gov/2017/06/06/the-new-fec-gov/" rel="bookmark" title="Permanent Link to The New FEC.gov">		
      <img class="thumbnail large" src="./dg-tag-page_files/featured-301-x-212-US-Federal-Election-Commission-FEC-seal.jpg" alt="The New FEC.gov" title="The New FEC.gov">
    </a>
  </div><!-- .post-feature-image -->

  <div class="entry">
    <div class="my-excerpt">
      <h2 class="post-title"><a href="{{ .URL }}" rel="bookmark" title="Permanent Link to The New FEC.gov">{{ .Title }}</a></h2>
      <div class="meta">
        <ul>
          <li class="meta-author">
            <span class="meta-author">By <a href="https://www.digitalgov.gov/author/noah-manger/" title="Posts by Noah Manger" class="author url fn" rel="author">Noah Manger</a> and <a href="https://www.digitalgov.gov/author/jennifer-thibault/" title="Posts by Jennifer Thibault" class="author url fn" rel="author">Jennifer Thibault</a></span>
          </li>

          <li class="meta-date">
            <a href="https://www.digitalgov.gov/2017/06/06/the-new-fec-gov/" rel="nofollow" title="Permanent Link to The New FEC.gov">June 6, 2017</a>
          </li>

          <li class="meta-cats">
            <a href="https://www.digitalgov.gov/category/code/api/" rel="category tag">API</a>, <a href="https://www.digitalgov.gov/category/content/" rel="category tag">Content</a>, <a href="https://www.digitalgov.gov/category/code/data1/" rel="category tag">Data</a>,
            <a href="https://www.digitalgov.gov/category/ux/design/" rel="category tag">Design</a>, <a href="https://www.digitalgov.gov/category/ux/" rel="category tag">UX</a> </li>

          <li class="meta-comments">
            <a href="https://www.digitalgov.gov/2017/06/06/the-new-fec-gov/#respond" rel="bookmark" title="Comments for The New FEC.gov">Add Reply</a>
          </li>

        </ul>

      </div>
      <p>Last week, the Federal Election Commission (FEC) unveiled their new website at FEC.gov. This new site is the result of a years-long collaboration with GSA’s 18F and features completely revamped tools for exploring campaign finance data. It provides
        user-centered content for understanding the reporting and compliance requirements for people participating in federal elections, redesigned tools […]</p>
      <p class="readmore"><a class="more-link" href="https://www.digitalgov.gov/2017/06/06/the-new-fec-gov/" rel="nofollow" title="Permanent Link to The New FEC.gov">Read More →</a></p>
    </div>

    <p class="readmore cols"><a href="https://www.digitalgov.gov/2017/06/06/the-new-fec-gov/" rel="nofollow" title="Permanent Link to The New FEC.gov">Read More →</a></p>

  </div>
  <!-- End .entry div -->

  <div style="clear:both;"></div>

</div>
<!-- End .post div -->
