{{ define "content" }}
<main role="main">
  <section class="author-profile">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row grid-gap-6">
        <div class="grid-col-12" data-edit-this="{{- .File.Path -}}">
          <header>
            {{ $slug := .Title | urlize }}
            {{ $person := index $.Site.Data.people.authors $slug }}
            {{ $person_name := $person.display_name | default .Title }}

            {{ $slug := .Title | urlize }}
            {{ $person := index $.Site.Data.people.authors $slug }}
            {{ $person_name := $person.display_name | default .Title }}

            {{- if $person.github -}}
            <img class="profile" src="https://github.com/{{- $person.github -}}.png?size=100" srcset="https://www.github.com/{{-  $person.github -}}.png?size=200" alt="Photo: {{- $person_name -}}">
            {{- else -}}
            <img class="profile" src="{{- "img/digit-light.png" | absURL -}}" alt="Photo: {{- $person_name -}}">
            {{- end -}}
            <div>
              {{/* Name */}}
              <h1>{{ $person_name }}</h1>
              {{/* Bio */}}
              <div class="bio">

                {{- if or $person.location $person.agency -}}
                <p>
                  {{- if $person.agency -}}{{- $person.agency }} | {{ end -}}
                  {{- if $person.location -}}{{- $person.location}}{{- end -}}
                  {{ if $person.email }}<br/><a href="mailto:{{- $person.email -}}" title="Email {{ $person_name -}}">{{- $person.email -}}</a>{{- end -}}
                </p>
                {{- end -}}

                {{- with $person.quote -}}
                <blockquote class="margin-x-0 text-italic font-serif-lg">&ldquo;{{- . | markdownify -}}&rdquo;</blockquote>
                {{- end -}}

                {{- with $person.bio -}}
                <p>{{- . | markdownify -}}</p>
                {{- end -}}

                {{/* Website */}}
                {{- with $person.website -}}<p><a rel="external" title="{{- $person_name -}} Website" href="{{- . -}}">{{- . -}}</a></p>{{- end -}}
                <ul class="add-list-reset">
                  {{- with $person.facebook -}}
                    <li><a class="facebook" rel="external" title="{{- $person_name -}} on Facebook" href="http://www.facebook.com/{{- $person.facebook -}}/"><i class="fab fa-facebook-square"></i></a></li>
                  {{- end -}}
                  {{- with $person.twitter -}}
                    <li><a class="twitter" rel="external" title="{{- $person_name -}} on Twitter" href="http://www.twitter.com/{{- $person.twitter -}}/"><i class="fab fa-twitter-square"></i></a></li>
                  {{- end -}}
                  {{- with $person.linkedin -}}
                    <li><a class="linkedin" rel="external" title="{{- $person_name -}} on LinkedIn" href="http://www.linkedin.com/in/{{- $person.linkedin -}}/"><i class="fab fa-linkedin"></i></a></li>
                  {{- end -}}
                  {{- with $person.youtube -}}
                    <li><a class="youtube" rel="external" title="{{- $person_name -}} on YouTube" href="http://www.youtube.com/user/{{- $person.youtube -}}"><i class="fab fa-youtube-square"></i></a></li>
                  {{- end -}}
                  {{- with $person.github -}}
                    <li><a class="github" rel="external" title="{{- $person_name -}} on GitHub" href="http://www.github.com/{{- $person.github -}}"><i class="fab fa-github-square"></i></a></li>
                  {{- end -}}
                  <li><a class="rss" title="RSS Feed for {{ $person_name }}" href="{{ .RSSLink }}"><i class="fas fa-rss-square"></i></a></li>
                  <li><a class="json" title="API for {{ $person_name }}" href="{{ .Permalink }}index.json"><i class="fab fa-js-square"></i></a></li>
                </ul>
              </div>
            </div>
          </header>
        </div>
      </div>
    </div>
  </section>

  <section id="news">
    <div class="grid-container grid-container-desktop">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12 ">
          <section class="stream">
            {{/* Blog Posts by Author —
            List all of the blog posts by this author */}}
            {{ $pages := (where .Paginator.Pages "Section" "posts") }}
            {{/* If there are any pages/posts at all... */}}
            {{ if $pages }}
              <h2>Recent blog posts from {{ $person_name }}</h2>
              {{/* Loop through all the pages */}}
              {{ range $pages }}

                {{/* External links */}}
                {{- if .Params.source -}}
                  {{/* see /layouts/posts/ for card templates */}}
                  {{ .Render "card-elsewhere"}}
                {{ else }}
                  {{/* Blog Posts — Internal links */}}
                  {{- if .Params.deck }}
                    {{/* see /layouts/posts/ for card templates */}}
                    {{ .Render "card-article"}}
                  {{ else }}
                    {{/* see /layouts/posts/ for card templates */}}
                    {{ .Render "card-article"}}
                  {{ end }}
                {{ end }}

              {{ end }}
            {{ end }}
          </section>
        </div>
      </div>

      <div class="grid-row grid-gap-4">
        <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
          <footer>
            <a class="btn" href="{{ "posts" | absURL }}" title=""><span>See all News</span> <i class="fas fa-arrow-circle-right"></i></a>
            <p>Have a case study to share? Did your team recently launch something?<br/><a href="mailto:digitalgov@gsa.gov" title=""><strong>Send us an email</strong></a></p>
          </footer>
        </div>
      </div>

    </div>
  </section>
</main>
{{ end }}
