{{ define "content" }}
<main role="main" id="author">
  <article>
    <div class="grid-container grid-container-desktop">

      {{/* header */}}
      <div class="grid-row">
        <div class="grid-col-12">
          <header>
            {{ $authors := $.Site.Data.people.authors }}
            <h1>Authors</h1>
            <h4>There are {{ len $authors }} authors</h4>
          </header>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-col-12">
          <section>
            {{ $data := $.Site.Data }}
            {{ if eq $.Data.Plural "authors" }}
            {{ $taxo := $.Data.Terms.Alphabetical  }}
              {{ range $tax := $taxo }}
                {{ $uid := $tax.Name | urlize }}
                {{ $author := index $data.people.authors $uid }}
                  {{ $link := printf "authors/%s/" $uid }}
                  <h3><a href="{{ $link | absURL }}">{{ $author.display_name | default $uid }} ({{ $tax.Count }})</a></h3>
              {{ end }}
            {{ end }}
          </section>
        </div>
      </div>


    </div>
  </article>
</main>
{{ end }}
