{{ define "content" }}
<main role="main" id="author">
  <article>

    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            {{ $authors := $.Site.Data.people.authors }}
            <h1>People</h1>
            <h4>There are {{ len $authors }} authors</h4>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            {{ $data := $.Site.Data }}
            {{ if eq $.Data.Plural "authors" }}
            {{ $taxo := $.Data.Terms.Alphabetical  }}
              {{ range $tax := $taxo }}
                {{ $uid := $tax.Name | urlize }}
                {{ $author := index $data.people.authors $uid }}
                  {{ $link := printf "authors/%s/" $uid }}
                  <h3><a href="{{ $link | absURL }}">{{ $author.display_name | default $uid }} ({{ $tax.Count }})</a></h3>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
{{ end }}
